/* CSS goes here */



/* .slider .handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  background-color: gray;
} */

.handle {
  top: -0.3em;
  margin-left: -0.6em;
}


#categoryPage{
    top:0;
    padding-top: 50px;
}
/* .slider .range {
  position: absolute;
  z-index: 1;
  display: block;
  font-size: .7em;
  background-color: #828586;
  top: 0;
  height: 100%;
} */

input[type="radio"], input[type="checkbox"] {
    margin: 4px 5px 7px;
    margin-top: 1px \9;
    line-height: normal;
}


/*      ------------------ new styles ---------------*/
	/*.alert-price.link-price-alert {
		margin: 15px 10px 15px 10px;
	}
	.alert-price.link-price-alert a {
		border: 1px solid #e6e6e6;
		padding: 5px 30px 5px 20px;
		border-bottom-right-radius: 25px;
		border-top-right-radius: 25px;
		background: #e6e6e6;
		font-weight: bold;
		color:#2c2a2a;
	}
	.alert-price.link-price-alert a:hover {
		background: #259b78;
		border: 1px solid #259b78;
		text-decoration:none;
		color: #fff;
	}
	.product_detail_content{
		border:1px solid #ddd;
		padding:0px 10px;
		width: 100%;
		float: left;
	}
	.product_detail_content h1{
		text-align:center;
		font-size:23px;
		font-weight:bold;
		border-bottom:1px solid #ddd;
		padding:0px 0px 5px 0px;
		margin-top:10px;
	}
	
	
	.yt-product-detail .product-shop .price-box {
    float: none;
}
.special-price.yousave {
    border: 1px solid #bf1622;
    background: #bf1622;
    color: #fff;
    font-weight: bold;
    padding: 1px 5px;
    text-align: center;
    margin-bottom: 10px;
    float: right;
    margin-right: 20px;
}*/

/* .price-box .price {
    padding-left: 0px;
}
.price-box .price{
    color: #008000;
    font-size: 13px;
    font-weight: bold;
    font-family: arial;
    padding-right: 5px;
}

.price-box .old-price .price {
    color: #e34a38;
    text-decoration: line-through;
}
.detail_page_price{
	margin-bottom: 10px;	
}
.availability.in-stock{
	margin-left: 10px;
}
.product_desc p{
	margin-left: 10px;
} */
/* .short-description {
   margin-left: 10px;
}
.short-description h2 {
    font-weight: bold;
    font-family: arial;
    text-transform: uppercase;
    margin-bottom: 6px;
    font-family: inherit;
}
.email-friend {
    margin-left: 9px;
    margin-top: 15px;
	margin-bottom: 20px;
}
.email-friend a {
    border: 1px solid #e6e6e6;
    padding: 7px 20px 7px 15px;
    font-weight: bold;
    background: #e6e6e6;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
	color:#2c2a2a;
}
.email-friend a:hover {
    border: 1px solid #259b78;
    background: #259b78;
	text-decoration:none;
    color: #fff;
}
.prd-spec {
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 15px 50px;
    background: #eeeeee;
}
.prudt-specifications h3 {
    font-size: 15px;
    color: #777;
    font-weight: bold;
}
.prudt-specifications p {
    padding: 5px 0 5px 10px;
    font-size: 13px;
    color: #777;
}
.spec{
	font-weight: bold;
    color: #444;
}


.ad_cart{
	border: 1px solid #ddd;
    padding: 8px;
    font-weight: bold;
    color: #7c7979;
    text-decoration: none;
}
.ad_cart:hover{
	border: 1px solid #259b78;
	background:#259b78;
    color: #fff;
    text-decoration: none;
}
.whishlist{
	border:1px solid #ddd;
	padding:10px;

}
a.whishlist{	
	width: 38px;
    height: 34px;
	margin-bottom:-12px;
    text-indent: -999em;
    background-image: url(../images/wishlist-compare-black.png);
    background-repeat: no-repeat;
    display: inline-block;
	background-position: 12px center;		
}
a.whishlist:hover{	
	width: 38px;
    height: 34px;
	margin-bottom:-12px;
    text-indent: -999em;
    background-image: url(../images/wishlist-compare.png);
    background-repeat: no-repeat;
    display: inline-block;
	background-position: 12px center;		
}
.compare{
	border:1px solid #ddd;
	padding:10px;
}
a.compare{	
	width: 38px;
    height: 34px;
	margin-bottom:-12px;	
    text-indent: -999em;
    background-image: url(../images/wishlist-compare-black.png);
    background-repeat: no-repeat;
    display: inline-block;
	background-position: -23px  center;		
}
a.compare:hover{	
	width: 38px;
    height: 34px;
	margin-bottom:-12px;	
    text-indent: -999em;
    background-image: url(../images/wishlist-compare.png);
    background-repeat: no-repeat;
    display: inline-block;
	background-position: -23px  center;		
}
.cart_items{
	margin-bottom:10px;
	    margin-top: 20px;
}
.exclude_gst{
	float:left;
	font-weight:bold;
	color:#259b78;
	font-size:11px;
} */

.col-item
{
    border: 1px solid #E1E1E1;
    /*border-radius: 5px;*/
    background: #FFF;
	height:auto;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
	    padding: 20px;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: -50px;
}

/*.col-item:hover .info {
    background-color: #F5F5DC;
}*/
.col-item .price
{
    /*width: 50%;
    float: left;
    margin-top: 5px;
	margin-bottom: 5px;*/
}


/* .price{
	
	padding-left: 30px;
	    margin-top: 30px;
} */
.col-item .price h5
{
    /*line-height: 20px;*/
}

/* h5.product_review a{
    color: #444;
	text-decoration:none;
	font-size:11px;
}
h5.product_review a:hover{
    color: #259b78;
	text-decoration:none;
}
h5.product_name a{
	font-size: 11px;
    font-weight: bold;
    color: #444;
	text-decoration:none;
}
h5.product_name a:hover{
    color: #259b78;
	text-decoration:none;
} */
.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
   /* height: 52px;*/
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    /*clear: left;*/
	    margin-top: -20px;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}


.short{
	
	margin-left: 320px;
	border-bottom: 1px solid #eee;
}

.glphi{
	
	border: 1px solid #eee;padding: 8px;float: left;background-color: #259b78;
	
}

.glphi1{
	
	border: 1px solid #eee;
	padding: 10px;
	border: 1px solid #eee;
	padding: 8px;
	/*margin-left: 317px;*/
	/*margin-right: 755px;*/
	background-color: #259b78;
	margin-bottom: 5px;
}



.head55{

	font-size: 14px;
	margin-left: 10px;
	background-color: #259b78;
	color: #fff;
	padding-left: 15px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.border1{
	
	/*border: 1px solid #eee;
	height: auto;   */
}

.heading{
	
	font-size: 14px;margin-left: 0px;background-color: #259b78;color: #fff;padding-left: 15px;margin-right: 0px;padding-top: 10px;padding-bottom: 10px;
}

.heading1{
	
	font-size: 14px;margin-left: 0px;background-color: #259b78;color: #fff;padding-left: 15px;margin-right: 0px;padding-top: 10px;padding-bottom: 10px;
}

.called{
	
	width: 70px;margin-top: 10px;border-radius: 0px;padding: 15px;
}

.search{
	
	border: 1px solid lightgrey;padding: 8px;margin-left: 20px;background-color: #259b78;
}

.branCheck{
	
	color: black;
}

.brandCheck a:hover{
	
	    color: #259b78;
}


.fa {
   /* font-size: 10px;*/
    cursor: pointer;
    user-select: none;
}

/*.fa:hover {
  color: #fff;
}*/