 object, embed, video {
	max-width: 100%;
}
.ie6 img {
	width: 100%;
}
#signup_login{
	/* border: 1px solid #ccc; */
    background: #ffffff;
	/* height:397px; */
}
.col-lg-12-whit-bg{
	margin-top: 10px;
	margin-bottom:20px;
	}
.login_img_side{
	margin-left: -12px;
	border: 1px solid #ccc;
}
.login_img_side img{
	/* max-height:395px; */
	width: 100%;
}
#user_login_main{
	margin-bottom: 10px;
}
.login_heading{
	margin-top: 0px;
    font-size: 14px;
	font-weight: bold;
	padding-left: 20px;
}
.signup {
	float: left;
	min-width: 100%;
	padding: 30px 20px;
	border-radius: 5px 0 0 5px;
}
.signup [type=text], .signup [type=password] {
	display: block;
	margin: 0 auto;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #293071;
	border-radius: 5px;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	font-size: 13px;
	color: rgba(0,0,0,.4);
	/* background:#f5f5f5; */
}
.login_acunt{
	background-color: #293071;
	font-size: 12px;
}
.login_acunt:hover{
	background-color: #be393d;
}
.login_acunt:focus{
	background-color: #be393d;
}
.signup [type=submit] {
	border: 0;
	border-radius: 3px;
	height: 30px;
	min-width: 80px;
	color: white;
}
.signup [type='text'] {
 border: 0;
 /* background-color: #be393d; */
 border-radius: 3px;
 height: 30px;
 min-width:80px;
 color: #232f3e;
 border-bottom: 1px solid #293071;
}
.signup [type='text']:focus {
	outline: none;
	/* border-color: #be393d; */
}
.signup [type='password']:focus {
	outline: none;
	/* border-color: #be393d; */
}
.signup p {
	color:#232f3e;
	font-size: 12px;
	font-weight: bold;
}
.signup p:nth-of-type(2) {
	font-size: 1em;
}

.forgot-password {
	color: #337ab7;
    font-size: 12px;
	font-weight: 600;
	cursor: pointer;
	float: right;
}
.forgot-password:hover {
	text-decoration: underline;
	color: #337ab7;
}
.text-left {
	float: left;
}
.text-right {
	padding-bottom: 10px !important;
}
.inside {
	position: absolute;
	margin-top: 7px;
	color: #666;
}
.inside:hover {
	color: #be393d;
}
.inp {
	text-indent: 20px;
}
#create-account-login {
	min-width: 100%;
	background: #293071;
	padding: 10px;
	font-size: 11px;
	line-height: 10px;
}
#create-account-login:hover {
	background: #be393d;
}
#create-account-login:focus {
	background: #be393d;
}
#or-btn {
	min-width: 0%;
	cursor: none;
	background: #be393d;
	margin-top: 15px;
	padding: 10px;
	line-height: 10px;
	border-radius: 50%;
}
.social-icons-login-page {
	text-align: center;
	margin-top:30px;
}
.social-icons-login-page img {
	cursor: pointer;
	margin-left: 5px;
}
.suplierlogin-logo-img img {
	width: 60%;
}
.suplierlogin-logo-img {
	text-align: center;
	margin: 30px 0px 0px 0px;
	float: left;
	width: 100%;
}
.sup-login-form {
	background: #be393d;
}