/* small mobile view */
@media screen and (max-width:468px) and (min-width:200px) {
  /* new mobile styles start here powertex */
  .box-head11{
    width:80% !important;
  }
  .liHover li{
    text-align: center;
  }
  .dropdown-menu>li>a{
       border-bottom: none !important; 
  }
  #nav_head_menu .nav>li>a:focus {
    padding: 5px 10px !important;
    color: #fff !important; 
  }
  .categories_name{
    display: inline-block !important;
    font-size: 18px;
    text-transform: uppercase;
    color:#232f3e;
    font-weight: 600;
    margin-top: 10px;
  }
  .products_rack{
    padding-top: 10px !important;
  }
  .ofrs_tabs{
    text-align: center !important;
  }
  .del_cat_dropdowns{
    margin-top: 15px;
  }
  .cart_menu{
    min-width: 85px !important;
  }
  .form-check-label{
    font-size: 8px;
  }
  /* new mobile styles end here powertex */

  #menu_sri_header{
    display:block !important;
  }
  h5.compare_product_name a{
    white-space: initial;
  }
  .description p {
    width: 200px; 
    white-space: initial;
    text-align:justify;

  }
  .cat_radio_checks input[type="radio"] {
    margin: 2px 5px 5px 5px !important;
  }
  #checkout_page_shipping_btn{
    margin-top: 0px !important;
  }
	.cart_btns button{
	  margin-bottom:5px !important;
  }
  .cart_btns #mywhishlistaddCart {
    float:none;
  }
  #c_page_bottom{
	margin-bottom: 10px !important;
  }
  #all_collect {
    height: 500px !important;
  }
  #reup .addreview {
    padding: 6px 6px !important;
    margin-top: 2px !important;
    margin-left: 2px !important;
  }
  #reup .addcartbtn {
    margin-top: 2px !important
  }
  #paginaView {
    clear: both;
    text-align: center !important;
  }
  #ViewLbl {
    display: block !important;
  }
  #whissshhh {
    margin-left: -32px !important;
  }
  .cancelBtn {
    margin-left: -24px !important;
  }
  .cat-link {
    margin-top: -18px !important;
  }
  #whish_compare {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 3px !important; 
    margin-bottom: 7px !important;
  }
  .data-ctrl {
    padding: 9px;
    position: absolute;
    border: 1px solid #232f3e;
    height: auto;
    width: 95%;
    z-index: 1;
  }
  #shopingCart {
    font-size: 11px;
    margin: 5px 3px 10px !important;
  }
  #compareProduct {
    font-size: 11px;
    margin: 7px -11px 11px !important;
  }
  .compareCart {
    margin-top: 0;
  }
  #wisha {
    font-size: 11px;
  }
  .dropdown .cart-dropdown-menu {
    margin-top: 38px !important;
    margin-left: -26px !important;
  }
  .dropdown:hover .cart-dropdown-menu {
    margin-top: 8px !important;
  }
  .top_whishNav {
    float: left;
  }
  #welNameee {
  text-align: center; 
	margin-top: -7px; 
  }
  #welcall {
  text-align: center;
	margin-bottom: -7px; 
  }
  #suppResell {
    width: 100% !important;
    text-align: center;
  }
  #suppResell2 {
    width: 100% !important;
    text-align: center;
	margin-left: -25px; 
  }
   #all_accounts_header {
    margin-top: 9px !important;
    text-align: center !important;
	padding-right: 0px;
  }
 .supp-reg-link{
    padding: 8px 20px !important;
  }
  #smt_top_header {
    height: 130px !important;
  	margin-bottom: -37px; 
  }
  #mlogoo {
    text-align: center;
  }
  #header_searchhh {
    text-align: center;
  }
  .top_whishNav {
    text-align: center;
  }
  #ftr_ss {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  #cards {
    text-align: left !important;
  }
  /* #header_logooo {
    width: 50% !important;
    margin-bottom: -7px;
    padding: 4px 0 !important;
  } */
  #csrt_comppp {
    margin-top: 0px !important;
  }
  .topnav a {
    padding: 0px 30px 5px 30px !important;
  }
  #id_menu_sub {
    background: #fff;
    border: 1px solid #ddd;
    color: #444;
  }
  /* .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #232f3e !important;
  } */
  #id_menu_sub {
    width: 100% !important;
  }
  #header_searchhh {
    height: 50px !important;
  }
  .carousel-indicators {
    display: none !important;
  }
  .nav-tabs>li {
    display: none;
  }
  #all_ofersNewArrivals,
  #all_ofers {
    margin-bottom: 10px !important;
  }
  #data_ctrl_search {
    display: block;
  }
  #sub_cat_dropDown_list {
    display: block !important;
  }
  a#cat_name_ul {
    color: #259b78;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  #edit_row {
    margin-left: 10px;
    margin-right: 10px;
  }
  #edit_row_login {
    margin-left: 7px;
    margin-right: -5px;
  }
  .smt_div_bord {
    width: 89% !important;
    height: 35px !important;
    font-size: 20px !important;
    padding-top: 0px !important;
  }
  .reward_points_dahbord {
    width: 89% !important;
  }
  #invoice_mbl_padd {
    margin-bottom: 10px;
  }
  #wish_Items3 {
    margin-right: 10px !important;
    margin: 8px 8px 10px;
  }
  #wish_Items2 {
    padding: 10px 9px 10px !important;
  }
  #wishUl {
    /*display:block !important;*/
    width: 271px !important;
    margin-left: -22px;
  }
  #pincode_chekot {
    margin-bottom: 50px !important;
  }
  .checkout_progress {
    margin: 15px 0px !important;
  }
  #compareUl {
    width: 285px !important;
    margin-left: -140px !important;
  }
  .collections-wrap .block-title span {
    padding-right: 2px !important;
  }
  #catwishcompdiv {
    margin-top: -3px !important;
  }
  .coupon {
    padding: 5px 3px !important;
    font-size: 10px !important;
  }
  .centered1 {
    left: 0% !important;
  }
  .centered {
    top: 30% !important;
    left: 35% !important;
    font-size: 10px !important;
  }
  #cauroselHomeBanner {
    padding-right: 1px;
    padding-left: 20px !important;
  }
  #homeimageid {
    min-height: 67px !important;
  }
  #nav_head_menu {
    height: auto !important;
  }
  #categories_menu_tab {
    height: auto !important;
  }
  .mbl_side_mar {
    margin: 0 10px;
  }
}

/* big mobile view view */
@media screen and (max-width:768px) and (min-width:469px) {
  /* new mobile styles start here powertex */
  .box-head11{
    width:80% !important;
  }
  .dropdown-menu>li>a{
    border-bottom: none !important; 
  }
  #nav_head_menu .nav>li>a:focus {
    padding: 5px 10px !important;
    color: #fff !important; 
  }
  .products_rack{
    padding-top: 10px !important;
  }
  .ofrs_tabs{
    text-align: center !important;
  }
  .categories_name{
    display: inline-block !important;
    font-size: 18px;
    text-transform: uppercase;
    color:#232f3e;
    font-weight: 600;
    margin-top: 10px;
  }
  .del_cat_dropdowns{
    margin-top: 15px;
  }
  .cart_menu{
    min-width: 85px !important;
  }
  .form-check-label{
    font-size: 8px;
  }
  /* new mobile styles end here powertex */

  #menu_sri_header{
    display:block !important;
  }
  #categories_menu_tab {
    margin-left:10px;
  }
  .cat_radio_checks input[type="radio"] {
    margin: 2px 5px 5px 5px !important;
  }
  #checkout_page_shipping_btn{
    margin-top: 0px !important;
  }
  #c_page_bottom{
	margin-bottom: 10px !important;
  }
  #compareUl {
    width: 207px !important;
    margin-left: 15px !important;
  }
  #all_collect {
    height: 700px !important;
  }
  .special-price_lak.yousave_lak {
    margin-top: 0px !important;
  }
  .cart_style_new {
    display: none !important;
  }
  #reup .addreview {
    padding: 6px 6px !important;
    margin-top: 2px !important;
    margin-left: 2px !important;
  }
  #reup .addcartbtn {
    padding: 6px 5px !important;
    margin-top: 2px !important;
  }
  #paginaView {
    clear: both;
    text-align: center !important;
  }
  #ViewLbl {
    display: block !important;
  }
  .colxs-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  #welNameee {
    text-align: center;
	margin-top: -7px; 
    margin-bottom: -17px;
  }
  #welcall {
    text-align: center;
  }
  #suppResell {
    width: 100% !important;
    text-align: center;
  }
  #suppResell2 {
    width: 100% !important;
    text-align: center;
  }
  #all_accounts_header {
    margin-top: 15px !important;
    text-align: center !important;
  }
  #smt_top_header {
	height: 130px !important;
    margin-bottom: -27px;
  }
  #mlogoo {
    text-align: center;
	margin-top: -9px; 
    margin-bottom: -14px;
  }
  #whish_compare{
	margin-top: 3px !important;
  }
  #header_searchhh {
    text-align: center;
  }
  .top_whishNav {
    text-align: center;
  }
  #ftr_ss {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  #cards {
    text-align: left !important;
  }
  #csrt_comppp {
    margin-top: 0px !important;
  }
  .topnav a {
    padding: 0px 30px 5px 30px !important;
  }
  #nav_menu_cat {
    margin-top: -36px !important;
  }
  #id_menu_sub {
    background: #fff;
    border: 1px solid #ddd;
    color: #444;
  }
  /* .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #232f3e !important;
  } */
  #id_menu_sub {
    width: 100% !important;
  }
  #header_searchhh {
    height: 50px !important;
  }
  .carousel-indicators {
    display: none !important;
  }
  .nav-tabs>li {
    display: none;
  }
  #all_ofersNewArrivals,
  #all_ofers {
    margin-bottom: 10px !important;
  }
  #data_ctrl_search {
    display: block;
  }
  #sub_cat_dropDown_list {
    display: block !important;
  }
  a#cat_name_ul {
    color: #232f3e;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  #edit_row {
    margin-left: 10px;
    margin-right: 10px;
  }
  #edit_row_login {
    margin-left: 7px;
    margin-right: -5px;
  }
  .smt_div_bord {
    width: 89% !important;
    height: 35px !important;
    font-size: 20px !important;
    padding-top: 0px !important;
  }
  .reward_points_dahbord {
    width: 89% !important;
  }
  #invoice_mbl_padd {
    margin-bottom: 10px;
  }
  #wish_Items {
    margin-right: 0px !important;
  }
  #wish_Items2 {
    text-align: inherit !important;
    padding: 10px 51px 10px !important;
  }
  #wish_Items3 {
    text-align: inherit !important;
  }
  #whissshhh {
    margin-top: -5px !important;
  }
  .checkout_progress {
    margin: 15px 0px !important;
  }
  #catwishcompdiv {
    margin-top: -3px !important;
  }
  #catwishcompdiv {
    margin-right: -11px !important;
  }
  .coupon {
    padding: 5px 3px !important;
    font-size: 13px !important;
  }
  .centered {
    top: 30% !important;
    left: 35% !important;
    font-size: 13px !important;
  }
  #cauroselHomeBanner {
    padding-right: 1px;
    padding-left: 20px !important;
  }
  #homeimageid {
	min-height: 135px !important;
  }
  #nav_head_menu {
    height: auto !important;
  }
  #categories_menu_tab {
    height: auto !important;
  }
  .mbl_side_mar {
    margin: 0 10px;
  }
}

/* i-pad view */
@media screen and (max-width:1023px) and (min-width:769px) {
  /* new mobile styles start here powertex */
  .box-head11{
    width:80% !important;
  }
  .products_rack{
    padding-top: 10px !important;
  }
  .ofrs_tabs{
    text-align: center !important;
  }
  #nav_head_menu .nav>li>a {
    padding: 10px 15px 10px 10px !important;
  }
  .form-check-label{
    font-size: 8px;
  }
  /* new mobile styles end here powertex */
  

  #c_page_bottom{
	margin-bottom: 10px !important;
  }
  #compareUl {
    width: 261px !important;
    margin-left: 15px !important;
  }
  #reup #newcart_style {
    padding: 6px 3px !important;
    margin-right: -1px !important;
  }
  #reup .addreview {
    padding: 6px 3px !important;
    margin-left: 0px !important;
  }
  #paginaView {
    clear: both;
    text-align: center !important;
  }
  #ViewLbl {
    display: block !important;
  }
  #welNameee {
    text-align: center;
  }
  #welcall {
    text-align: center;
  }
  #suppResell {
    width: 100% !important;
    text-align: center;
  }
  #suppResell2 {
    width: 100% !important;
    text-align: center;
  }
  #all_accounts_header {
    margin-top: 15px !important;
    text-align: center !important;
    margin-bottom: 15px !important;
  }
  .nav-tabs>li {
    display: none;
  }
  #all_ofersNewArrivals,
  #all_ofers {
    margin-bottom: 10px !important;
  }
  #data_ctrl_search {
    display: block;
  }
  #edit_row {
    margin-left: 10px;
    margin-right: 10px;
  }
  #edit_row_login {
    margin-left: 7px;
    margin-right: -5px;
  }
  .smt_div_bord {
    width: 150px !important;
    height: 35px !important;
    font-size: 20px !important;
    padding-top: 0px !important;
  }
  .reward_points_dahbord {
    width: 150px !important;
  }
  #invoice_mbl_padd {
    margin-bottom: 10px;
  }
  #nav_menu_cat {
    margin-top: -38px;
    height: 36px;
  }
  #catwishcompdiv {
    margin-right: -11px !important;
  }
  .centered {
    top: 30% !important;
    font-size: 13px !important;
  }
  .coupon {
    padding: 8px 10px !important;
    font-size: 13px !important;
  }
  #homeimageid {
    min-height: 146px !important;
  }
}

/* 175% view */
@media screen and (max-width:1200px) and (min-width:1024px) {
  /* new mobile styles start here powertex */
  #header_logooo {
    /* width: 100% !important;
    margin-top: 9px !important;  */
    width: 144% !important;
    margin-top: -10px !important; 
  }
  .box-head11{
    width:80% !important;
  }
  #nav_head_menu .nav>li>a {
    padding: 10px 30px 10px 30px !important;
  }
  .action_icon{
    display:none !important;
  }
  .quan_175{
    width: 90px !important;
  }
  .login_data .top_head_logins .size {
    font-size: 11px !important;
  }
  .drp_dwn_width{
    min-width:90px !important;
  }
  .drp_dwn_width.dropdown-menu>li>a {
    font-size: 7px !important;
  }
  .products_rack {
    padding-top: 40px !important;
  }
  .new_menu .column a{
    font-size: 10px !important;
  }
  .collections-wrap .block-title span{
    font-size: 11px !important;
  }
  .product-name a {
    font-size: 11px !important;
  }
  .products_rack button {
    height: 25px !important;
    width: 75px !important;
     margin-top: 0px !important; 
    font-size: 12px;
  }
  .products_rack h2 {
    font-size: 9px !important;
  }
  .pending_order thead tr th{
    font-size: 8px;
  }
  .pending_order tbody tr td{
    font-size: 8px;
  }
  a.extra-options {
    font-size: 8px !important;
  }
  .navbar-inverse .login_data .navbar-nav>li>a {
    font-size: 12px !important;
  }
  .navbar-nav>li>.dropdown-menu {
    min-width: 150px !important;
  }
  .dropdown-menu>li>a {
    font-size: 11px !important;
  }
  .new_menu #nav_head_menu .nav>li>a {
    font-size: 11px !important;
  }
  .theme_bgclr {
    font-size: 11px !important;
    padding: 3px 12px !important;
  }
  .btn-sm {
    line-height: 1 !important;
    font-size: 11px !important;
  }
  .pagination-sm li a{
    font-size: 11px !important;
  }
  .box-head11 {
    height: 30px !important;
  }
  .box-head11 div {
    font-size: 11px !important;
    line-height: 2.8 !important;
  }
  .box-head11:before {
    border-top: 15px solid transparent !important;
    border-bottom: 15px solid transparent !important;
  }
  .box-head11:after {
    border-top: 15px solid transparent !important;
    border-bottom: 15px solid transparent !important;
  }
  .footer_text{
    font-size: 11px;
  }
  h5#footer_linksss {
	font-size: 8px !important;
  }
  ul #footer_links_valuess a {
	font-size: 8px !important;
  }
  .footer_links_addere {
    font-size: 7px !important;
  }
  #enve {
    font-size: 11px !important;
  }
  .font_size{
    font-size:8px;
  }
  .completed_styles {
    font-size: 13px !important;
  }
  .pop_image {
    width: 10% !important;
  }
  .modal-header {
    padding: 0 !important;
  }
  .dlrPendingBtn h1 {
    font-size: 12px !important;
  }
  .pagination_arrows{
    margin-top:3px;
  }
  .subcatSortheaddiv {
    margin-top: 3px !important;
  }
  #pageshowsort{
    height: 30px;
  }
  .buttons-countrows {
    margin-top: 3px !important;
  }
  .countpages {
    padding: 3px 10px 4px 10px !important;
  }
  .price_latest {
    font-size: 12px !important;
  }
  .price-percentage{
    font-size: 11px !important;
  }
  .product_name_lak {
    margin-bottom: 0px !important;
  }
  #reup .slick-next.slick-arrow {
    height: 50px !important;
    width: 30px !important;
    margin-right: 0px !important;
  }
  #reup .slick-prev.slick-arrow {
    height: 50px !important;
    width: 30px !important;
    margin-left: 0px !important;
  }
  .product_detail_desc h1 {
    font-size: 14px !important;
  }
  .product_detail_desc .f-size-12 {
    font-size: 10px !important;
  }
  .price-percentage {
    font-size: 9px !important;
  }
  .product_detail_desc .btn-red {
    font-size: 9px !important;
  }
  .product_detail_desc .mar-r-10 {
    margin-right: 0px !important;
  }
  .product_detail_desc .f-size-16 {
    font-size: 10px !important;
  }
  .product_detail_desc .table td, .table th {
    padding: 2px 5px !important;
  }
  .product_detail_desc .f-size-13 {
    font-size: 9px !important;
  }
  .nav-sidebar ul.nav li a {
    font-size: 10px !important;
  }
  .spec {
    font-size: 9px !important;
  }
  .font{
    font-size: 9px !important;
  }
  /* new mobile styles end here powertex */

  #checkout_page_shipping_btn{
	margin-left:50px;
  }
  #reup .addreview {
    padding: 6px 5px !important;
  }
  .ad_cart_lak {
    padding: 8px 2px 9px 2px !important;
  }
  a.compare_lak {
    width: 26px !important;
    background-position: -29px center !important;
  }
  a.whishlist_lak {
    margin-left: 0px !important;
  }
  a.whishlist_lak {
    width: 26px !important;
    background-position: 6px center !important;
  }
  a.compare_lak {
    margin-left: 0px !important;
  }
  .review_new_lak {
    padding: 4px 3px 8px 3px !important;
    margin-left: 0 !important;
  }
  .special-price.yousave {
    margin-right: 0px !important;
  }
  #exclgstttt {
    font-size: 9px !important;
  }
  .new_exclgstttt {
    margin: 1px 0px 10px 0px !important;
  }
  .mg-image img {
    width: 100%;
  }
  .nav-tabs>li a {
    font-size: 11px !important;
  }
  .product-name a {
    font-size: 10px !important;
  }
  .price-box .price {
    font-size: 10px !important;
  }
  .product-name {
    height: 20px !important;
    margin-top: 0px !important;
    margin-bottom: 0 !important;
  }
  .product-price {
    margin-bottom: -15px !important;
  }
  #data_ctrl_search {
    display: block;
  }
  .smt_div_bord {
    width: 200px !important;
  }
  .reward_points_dahbord {
    width: 200px !important;
  }
  .price-box_lak .price_lak {
    font-size: 11px !important;
  }
  h5.product_name_lak a {
    line-height: 1.7 !important;
    font-size: 9px !important;
  }
  #adcart_span_desc {
    font-size: 10px !important;
    padding-right: 0px !important;
  }
  .exclude_gst_lak {
    font-size: 8px !important;
  }
  .special-price_lak.yousave_lak {
    padding: 1px 0px !important;
  }
  .wishcompdiv {
    margin-top: -25px !important;
    margin-right: -23px !important;
  }
  #reup .wishcompdiv {
    margin-top: -6px !important;
  }
  .ad_cart_lak {
    font-size: 8px !important;
    padding: 9px 2px 8px 2px !important;
  }
  .product-price {
    margin-bottom: 0px !important;
  }
  a.whishlist_lak {
    margin-bottom: -10px !important;
  }
  a.whishlist_lak {
    height: 29px !important;
  }
  a.compare_lak {
    height: 29px !important;
  }
  a.compare_lak {
    margin-bottom: -10px !important;
  }
  #revdeals {
    padding: 11px 6px 7px 6px !important;
  }
  #cartdeals {
    padding: 7px 2px 10px 2px !important;
  }
  #catwishcompdiv {
    margin-right: -30px !important;
  }
  #catrevdiv {
    margin-top: 3px !important;
  }
  #catwhishlist_lak {
    margin-top: 1px !important;
  }
  #detailrevdiv {
    margin-top: 2px !important;
  }
  #detailad_cart_lak {
    padding: 9px 2px 7px 2px !important;
  }
  #searchProname {
    margin-bottom: 10px !important;
  }
  #homeimageid {
    min-height: 190px !important;
  }
}

/* 150% view */
@media screen and (max-width:1300px) and (min-width:1201px) {
  /* new mobile styles start here powertex */
  #serch_btnnn {
    height: 35px !important;
  }
  .action_icon{
    display:none !important;
  }
  .login_data .top_head_logins .size {
    font-size: 13px !important;
  }
  #header_logooo {
    margin-top: -5px !important;
    width: 100% !important;
  }
  .quan-text{
    width: 35px !important;
  }
  .drp_dwn_width{
    min-width:90px !important;
  }
  .drp_dwn_width.dropdown-menu>li>a {
    font-size: 7px !important;
  }
  .products_rack {
    padding-top: 45px !important;
  }
  .new_menu .column a{
    font-size: 11px !important;
  }
  .collections-wrap .block-title span{
    font-size: 12px !important;
  }
  .product-name a {
    font-size: 11px !important;
  }
   .products_rack button {
    height: 30px !important;
    width: 90px !important;
     margin-top: 0px !important; 
    font-size: 13px;
  }
  .products_rack h2 {
    font-size: 10px !important;
  }
  .pending_order thead tr th{
    font-size: 10px;
  }
  .pending_order tbody tr td{
    font-size: 10px;
  }
  a.extra-options {
    font-size: 10px !important;
  }
  .navbar-inverse .login_data .navbar-nav>li>a {
    font-size: 12px !important;
  }
  .navbar-nav>li>.dropdown-menu {
    min-width: 150px !important;
  }
  .dropdown-menu>li>a {
    font-size: 11px !important;
  }
  .new_menu #nav_head_menu .nav>li>a {
    font-size: 11px !important;
  }
  .theme_bgclr {
    font-size: 11px !important;
    padding: 3px 12px !important;
  }
  .btn-sm {
    line-height: 1 !important;
    font-size: 11px !important;
  }
  .pagination-sm li a{
    font-size: 11px !important;
  }
  .box-head11 {
    height: 30px !important;
  }
  .box-head11 div {
    font-size: 10px !important;
    line-height: 3 !important;
  }
  .box-head11:before {
    border-top: 15px solid transparent !important;
    border-bottom: 15px solid transparent !important;
  }
  .box-head11:after {
    border-top: 15px solid transparent !important;
    border-bottom: 15px solid transparent !important;
  }
  .footer_text{
    font-size: 11px;
  }
  h5#footer_linksss {
	font-size: 9px !important;
  }
  ul #footer_links_valuess a {
	font-size: 8px !important;
  }
  .footer_links_addere {
    font-size: 8px !important;
  }
  #enve {
    font-size: 11px !important;
  }
  .font_size{
    font-size:8px;
  }
  .completed_styles {
    font-size: 13px !important;
  }
  .pop_image {
    width: 10% !important;
  }
  .modal-header {
    padding: 0 !important;
  }
  #pageshowsort select {
    padding: 0px 0px 3px 2px !important;
    font-size: 11px !important;
  }
  .btnpageprevnext {
    padding: 1px 12px !important;
    font-size: 11px !important;
  }
  .dlrPendingBtn h1 {
    font-size: 12px !important;
  }
  .subcatSortheaddiv {
    margin-top: 3px !important;
  }
  #pageshowsort{
    height: 30px;
  }
  .buttons-countrows {
    margin-top: 2px !important;
  }
  .pagination_arrows{
    margin-top:2px;
  }
  .countpages {
    padding: 1px 10px 2px 10px !important;
  }
  h5.product_name_lak a {
    font-size: 10px !important;
  }
  .price_latest {
    font-size: 13px !important;
  }
  .price-box .price{
    font-size: 12px !important;
  }
  .price_latest {
    font-size: 12px !important;
  }
  .price-percentage{
    font-size: 11px !important;
  }
  .product_name_lak {
    margin-bottom: 0px !important;
  }
  #reup .slick-next.slick-arrow {
    height: 50px !important;
    width: 30px !important;
    margin-right: 0px !important;
  }
  #reup .slick-prev.slick-arrow {
    height: 50px !important;
    width: 30px !important;
    margin-left: 0px !important;
  }
  .product_detail_desc h1 {
    font-size: 14px !important;
  }
  .product_detail_desc .f-size-12 {
    font-size: 10px !important;
  }
  .price-percentage {
    font-size: 9px !important;
  }
  .product_detail_desc .btn-red {
    font-size: 9px !important;
  }
  .product_detail_desc .mar-r-10 {
    margin-right: 0px !important;
  }
  .product_detail_desc .f-size-16 {
    font-size: 10px !important;
  }
  .product_detail_desc .table td, .table th {
    padding: 2px 5px !important;
  }
  .product_detail_desc .f-size-13 {
    font-size: 9px !important;
  }
  .nav-sidebar ul.nav li a {
    font-size: 10px !important;
  }
  .spec {
    font-size: 9px !important;
  }
  .font{
    font-size: 9px !important;
  }
  /* new mobile styles end here powertex */

  h5#footer_linksss {
	/* font-size: 11px !important; */
  }
  ul #footer_links_valuess a {
	/* font-size: 10px !important; */
  }
  .footer_links_addere {
	/* font-size: 10px !important; */
  }
  #slide_new .addcartbtn {
    padding: 6px 8px !important;
  }
  #data_ctrl_search {
    display: block;
  }
  #offresRow {
    padding-left: 0 !important;
    padding-right: 26px !important;
  }
  .wishcompdiv {
    margin-top: -26px !important;
  }
  #dealDiv {
    margin-top: -28px !important;
  }
  #homeimageid {
    min-height: 226px !important;
  }
}

/* 125% view */
@media screen and (max-width:1600px) and (min-width:1301px) {
  .box-head11 div {
    font-size: 12px !important;
    line-height: 2.4 !important;
  }
  #header_logooo {
    /* width: 100% !important; */
    width: 90% !important;
    margin-top: -10px !important;
  }
  .drp_dwn_width{
    min-width:90px !important;
  }
  .drp_dwn_width.dropdown-menu>li>a {
    font-size:7px !important;
  }
  .action_icon{
    display: none;
  }
  .product-name a {
    font-size: 12px !important;
  }
  .price_latest {
    font-size: 14px !important;
  }
  h5.product_name_lak a {
    font-size: 12px !important;
  }
  .products_rack h2 {
    font-size: 12px !important;
  }
  /*-------13-07-2018-----------*/
  .shop_add_part label {
    font-size: 12px !important;
  }
  .marg_btm_5 {
    margin-bottom: 2px !important;
  }
  .address_change {
    font-size: 11px !important;
  }
  .list-group.nav_block a {
    font-size: 12px !important;
  }
  .pro_pic {
    width: 40px !important;
    height: 45px !important;
  }
  .pro_info .pro_name {
    font-size: 12px !important;
    padding-top: 0px !important;
  }
  .new_menu .column a {
    font-size: 11px !important;
  }
  .dropdown-menu>li>a {
    font-size: 12px !important;
  }
  .navbar-inverse .login_data .navbar-nav>li>a {
    font-size: 12px !important;
  }
  .msgg{
    font-size:12px !important;
 }
 .catrt{
    font-size:16px !important;
 }
 h5#footer_linksss {
	font-size: 12px !important;
  }
  ul #footer_links_valuess a {
	font-size: 11px !important;
  }
  .footer_links_addere {
    font-size: 10px !important;
  }
}