.container1{
    max-width: 90% !important;
    margin: 0 auto !important;
}
body {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    color: #232f3e;
}
body.sm_market {
    background-color: #f5f5f5 !important;
}
.center-line
{
	width:200px;
	border-bottom:1px solid #ddd;
	height:30px;
	margin:0 auto;
}
.ttl_footer1{
    margin-top: 30px;
}
.uppercase{
    text-transform: uppercase;
}
.border_bottom{
	border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.border_right{
	border-right: 1px solid #ddd;
}
.border_right:last-child{
	border-right: none;
}
/*.glyphicon {
    font-size: 13px !important;
}*/
.collections-wrap .block-title h1.allHeaders {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    padding-bottom: 0;
    color: #444;
}
.mg-image1:hover img {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}
.mg-image1 img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    max-width: 100%;
}
.mg-image2:hover img {
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(0.7); /* Firefox */
    -ms-transform:scale(0.7); /* IE 9 */
    -o-transform:scale(0.7); /* Opera */
     transform:scale(1.2);
}
.mg-image2 img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    max-width: 100%;
}
/* top_header styles start here */
.brands_img_w img{
	width:75% !important;
}
/*.top_header{
	background:#eeeeee;
}
.wel_msg span{
	line-height: 2.3;
}
.sup_reseller {
	background:#259b78;
	border:1px solid #259b78;
	padding:5px 3px;
	text-align:center;
}
.sup_reseller a {
	color:#fff;
	text-decoration:none;
}
.user_accounts a{
	border: 1px solid #ddd;
    padding: 6px 6px;
    text-align: center;
    line-height: 2.5;
	color: #444;
}
.user_accounts a .icon-text{
	display:none;
}
.user_accounts a .icon-text:hover{
	display:block;
}
.user_accounts a:hover{
	border: 1px solid #259b78;
	background:#259b78;
    padding: 6px 15px;
	color:#fff;
}*/
/* top_header styles end here */

/* middle_header styles start here */
/*.logo{
	cursor:pointer;
}
.middle_header{
	background:#fff;
	margin: 5px 0;
}
.cart_boxes{
	text-align: right;
	margin-top:15px;
}*/
/* middle_header styles end here */

/* menu_header styles end here */
/*.menu_header{
	clear: both;
}
#nav_head_menu {
    height: 30px;
    background-color: #666;
    border-color: #666;
    border-radius: 0;
}
.navbar {
    min-height: 0 !important;
    margin-bottom: 0px !important;
}
.navbar-nav>li>a {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
.navbar-nav>li>a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    line-height: 19px !important;
	color: #fff !important;
}*/
/* menu_header styles end here */

/* banner styles start here */
/* .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
	border: 1px solid #444 !important;
    background: #444 !important;
    line-height: 2 !important;
}
.carousel-control .glyphicon-chevron-left:hover {
	border: 1px solid #259b78 !important;
    background: #259b78 !important;
}
.carousel-control .glyphicon-chevron-right:hover {
	border: 1px solid #259b78 !important;
    background: #259b78 !important;
}
.carousel-control .glyphicon-chevron-right{
	right: 10% !important;
}
.carousel-control .glyphicon-chevron-left{
	left: 10% !important;
} */
/* banner styles end here */

/*  /* collections styles start here */
.coll-gallery1{
	/* display: inline-block; */
	float: left;
	}
	.coll-gallery1 .coll-gallery_img1 img{
	width:100%;
	cursor:pointer;
	}
	.coll-gallery_img1{
	text-align:center;
	}
	.coll-gallery_img1 a{
	color:#444;
	font-size:11px;
	font-weight:500;
	cursor:pointer;
	text-transform:uppercase;
	}
	.coll-gallery_img1 a:hover{
	color:#259b78;
	text-decoration:none;
	}
	/* collections styles end here */ */

/*  offers styles start here */
a.product_name{
	color:#444;
	font-size:11px;
	font-weight:500;
	cursor:pointer;
	text-transform:uppercase;
}
.coll-gallery .product_data img{
	width:100%;
	cursor:pointer;
}
/*  offers styles end here */

/* home brands styles start here */
/* .home_brands .slick-track{
	height: 34px !important;
}
.home_brands .slick-slider{
	margin-bottom: 5px !important;
}
.home_brands .slick-next{
	right: 5px !important;
}
.home_brands .slick-prev {
    right: 30px !important;
}
.home_brands .slick-prev, .slick-next{
	top: -25% !important;
}
.home_brands .slick-prev {
    left: inherit !important;
} */
/* home brands styles end here */
.price-percentage{
	color:#df7110;
}
/* distributor page styles start here */
.prod-category{
    /* background: linear-gradient(#56687a, #ffffff); */
    padding: 5px 0;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 8px #d6d0d0;
}
.theme_bgclr{
	background:#be393d;
	color: #fff;
}
.theme_bgclr:focus{
	background:#293071;
	color: #fff;
}
.theme_bgclr:hover{
	background:#293071;
	color: #fff;
}
.theme_color{
	color: #232f3e;
}
.sub-cat-label label {
    color: #232f3e;
}
.title_proforma{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
  .quantity input {
	-webkit-appearance: none;
	border: none;
	text-align: center;
	width: 32px;
	font-size: 11px;
	color: #232f3e;
	font-weight: 300;
  }
  .quan-text{
    height: 20px;
    width: 40px !important;
    padding: 4px 0 4px 0 !important;
  }
  .quan-btn {
	width: 20px;
	height: 20px;
	border: none;
	cursor: pointer;
  }
  button:focus,
  input:focus {
	outline:0;
  }
  .pro-img-dis{
	width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .pro-img-dis img{
	width: 67%;
  }
  .txt_centr{
	  text-align: center;
  }
  .txt_left{
	text-align: left;
  }
  .txt_right{
	text-align: right;
  }
  .qty_plus_minus{
      font-size: 9px !important;
  }
/* distributor page styles end here */

/* home brands styles start hear */
.brands-slick .slick-prev {
	left: -15px;
	/* margin-top: 10px; */
	border: 1px solid #ddd;
    height: 70px;
	width: 40px;
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
	box-shadow: 3px 3px 8px #ddd;
	z-index: 1;
}
.brands-slick .slick-next {
	right: -15px;
    /* margin-top: 10px; */
    border: 1px solid #ddd;
    height: 70px;
    width: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 3px 3px 8px #ddd;
}
.brands-slick .slick-list{
	 padding-left: 15px;
    /*padding-top: 25px; */
    padding-top: 15px;
    padding-bottom: 15px;

}
/* home brands styles end hear */

/* top cart and compare buttons styles start hear */
.cart-button {
    padding: 7px 0;
    display: inline-block;
}
.compare-button{
	width: 150px;
}
/* .cart-button:hover{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
} */
.cart-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
}
.item-number{
	float: right;
    margin-right: 0px;
    background: #be393d;
    color: #fff;
    border: 1px solid #fff;
    margin-top: -10px;
    padding-top: 0px;
}
.cart_btn{
	color:#fff;
}
.cart_boxes{
	text-align: right;
	margin-top:12px;
}
/* top cart and compare buttons styles end hear */

/* menu styles start here */
/* #id_menu_sub li.dropdown-submenu{
	padding-top: 3px;
	padding-bottom: 3px;
}
#id_menu_sub>li.dropdown-submenu:hover{
	background: #259b78;
}
#id_menu_sub>li.dropdown-submenu>a:hover{
	color: #fff;
	text-decoration: none;
}
.dropdown-menu#sub_cat_dropDown_list>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #259b78;
}*/
.dropdown-submenu>.dropdown-menu{
	margin-top: 0px !important;
} 
/* menu styles end here */

/* top header styles start here */
.login_butn{
    padding: 8px;
    border: 1px solid #ddd;
    background: #fff;
}
.login_butn:hover{
    background: #259b78;
    color: #fff;
}
.dashbord_icons{
    padding: 4px 8px;
    border: 1px solid #ddd;
}
.dashbord_icons:hover{
    background: #259b78;
    color:#fff;
}
/* top header styles end here */

.side-title{
    border: 0px solid #be393d;
    height: 331px;
    /* margin-left: -40px; */
    /* width: 273px; */
    /* background-image: url(images/orange.jpg); */
    background-image: linear-gradient(to top, rgba(255, 239, 239, 0.7), rgba(255, 255, 255, 0));
    background-position: 0px bottom;
    background-repeat: no-repeat;
}
.fixed-hder-pading{
    padding-top: 10px !important;
}

/* quan-disc-table styles start here */
.quan-disc-table{
    padding: 20px 20px 0 20px;
}
.quan-disc-table .quantable th{
    text-align: center;
}
.quan-disc-table td{
    text-align: center;
}
a.extra-options{
    text-decoration: underline;
    font-size: 12px;
}
a.extra-options i{
    font-size: 15px;
    padding: 0 20px 0 0;
}
.quan-disc-table .spectbl td{
    text-align: left;
}
/* quan-disc-table styles end here */

/* distributor panel start here */
.listofproducts{
    border:1px solid #ddd;
    background:#fff;
    width:200px;
    position: absolute;
    z-index: 1;
}
.listofproducts li{
    padding-left:10px;
}
.padd_l_5{
    padding-left: 5px;
}
.mar_t_4per{
    margin-top: 4%;
}
.lineheight-2{
    line-height:2;
}
.fl-right{
    float: right;
}
.dist-table-data{
    background: #fff;
    padding: 20px;
    box-shadow: 3px 3px 8px #ddd; 
    margin-bottom: 20px;
}
/* distributor panel end here */

/* distributor registration panel start here */
/* .palel-primary
{
    border-color: #bce8f1;
}
.panel-primary>.panel-heading
{
    background:#bce8f1;
    
}
.panel-primary>.panel-body
{
    background-color: #EDEDED;
} */
.panel-primary.theme_bgclr>.panel-heading {
    color: #fff !important;
    background-color: #37475a !important;
    border-color: #37475a !important;
}
/* distributor registration panel end here */

/* Dealer Dashboard panel start here */
.dlrPendingBtn{
    border:1px solid #ddd;
    background: #384a5d;
    text-align: center;
    padding: 10px 0;
    border-radius: 3px;
    margin-top: 15px;

    /* box-shadow: 3px 3px 8px #b3b3b3; */
}
/* .dlrPendingBtn:hover{
    background: linear-gradient(#c6911a, #ffffff);
} */
.dlrPendingBtn a{
   color:#fff; 
   text-align: center;
}
.dlrPendingBtn a:hover{
    color:#fff; 
 }
 .dlrPendingBtn a:focus{
    color:#fff; 
 }
 .dlrPendingBtn h1{
     font-size: 17px;
 }
 .btn-w{
     width: 20%;
     height: 50px;
     font-size: 20px;
 }
 .dealer-btns{
     /* margin: 20px 0; */
     text-align: center;
 }
 .footerbtns{
     float: left;
     margin: 0 20px;
 }
 .footerbtns label{
    font-size: 20px;
    color:#fff;
 }
 .input-text{
    background: #949393;
    border: 2px solid #bcbbbb !important;
    height: 50px;
    color:#fff !important;
 }
 .bonus-btn{
    height: 50px;
    border: 2px solid #bcbbbb !important;
 }
/* Dealer Dashboard panel end here */

/* pending order page styles start here */
.pending_order{
    background: #fff;
    box-shadow: 3px 3px 7px #cccccc;
}
.pending_order thead th{
    background: #37475a;
    color: #fff;
}
.pen-rfq-dependent-tbl{
    margin-top: 2%;
    margin-bottom: 20px;
}
.pen-rfq-dependent-tbl h3{
    font-size: 15px;
    padding: 8px 10px;
    color: #ffffff;
    background: #444444;
    width: 15%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.rfq_mrInfo{
    border: 1px solid #be393d;
    background: #be393d;
    color: #fff;
    padding: 3px 5px;
    font-size: 10px;
    border-radius: 3px;
}
.rfq_mrInfo:hover{
    border: 1px solid #293071;
    background: #293071;
    color: #fff;
}
.rfq_mrInfo:focus{
    border: 1px solid #293071;
    background: #293071;
    color: #fff;
}
/* pending order page styles end here */
.mar-btm-10{
    margin-bottom: 10px;
}
.mar-btm-20{
    margin-bottom: 20px;
}
.mar-top-10{
    margin-top: 10px;
}
.theme-bg .panel-success>.panel-heading {
    color: #fff;
    background-color: #37475a;
    border-color: #37475a;
}
.theme-bg .panel-success {
    border-color: #37475a;
}
.align_center{
    text-align:center;
}
/* 2-5-2018 styles start here */
.pageorders h4{
    color: #fff; 
    font-weight: bold;
}
/* .box-head11 h2{
    background: #232f3e;
    border: 1px solid #232f3e;
    color: #fff;
    font-size: 15px;
    padding: 8px 10px;
    width: 15%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 3px;
} */

  .box-head11 {
    width: 20%;
    height: 30px;
    position: relative;
    background: #37475a;
    /* margin-bottom: 3px; */
  }
  .box-head11:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    /* border-left: 20px solid #f5f5f5;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; */
    border-left: 15px solid #f5f5f5;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  .box-head11:before {
    /* content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #37475a;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; */
    content: "";
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 28px solid #37475a;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  .box-head11 div{
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 30px;
    color: #fff;
    line-height: 2.2;
  }



#myViewOrders1{
    box-shadow: 3px 3px 8px #ccc !important;
}
.box-head111 h2{
    background: #37475a;
    border: 1px solid #37475a;
    color: #fff;
    font-size: 15px;
    padding: 8px 10px;
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -10px;
}
/* 2-5-2018 styles end here */
 .navbar-inverse .login_data .navbar-nav>li>a {
    color: #ffffff;
    line-height: 12px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.1px;
    font-weight: 500;
    color: #fff;
}
.m-top-2 {
    margin-top: 2px;
}

.clr_red {
    color: #be393d;
}
.clr_green{
    color:#39be69;
}
.clr_orange{
    color:#de8d0f;
}
.border_top{
    border-top: 1px solid #ddd;
}
/* 
.clr_black {
    color: #232f3e;
}
.bg_clr_black{
    background: #232f3e;
}
.clr_green {
    color: #259b78;
}
.bg_clr_green {
    background: #259b78;
} */
/* .clr_black1{
    color: #232f3e;
}
.clr_black1:hover{
    color: #232f3e;
} */

a:focus,
a:hover {
    color: #be393d;
}
.exclude_gst_lak {
    float: left;
    font-weight: bold;
    color: #232f3e;
    font-size: 11px;
  }

  .price-percentage {
    color: #388e3c;
  }

  .price_latest {
    font-size: 18px;
    font-weight: 600;
    padding-top: 4px;
    color: #293071;
  }

  .product-price {
    line-height: 1.5;
    height: 65px;
    text-align: center;
  }
  .modal-content{
    border: 20px solid #37475a;
    border-radius: 8px;
  }

  .ttl_footer{
      position: fixed;
      bottom: 0;
      width:100%;
      
  }
  ul.liHover>li{
    margin-right: 12px;
  }
  .panel_theme{
    border: 1px solid #37475a;
}
.panel_theme>.panel-heading{
    background:#37475a;
    color: #fff;
}
.dis_address{
    border:1px solid #ddd;
    padding: 15px;
}
.dis_address input[type="text"]{
    border: none !important;
    border-bottom: 1px solid #ddd !important;
    padding: 0 !important;
    background: #fdfdfd !important;
}
.dis_address span{
    margin-right: 40px;
}
.theme_btn{
    background: #293071;
    border: 1px solid #293071;
    color:#fff;
}
.theme_btn:hover{
    background: #be393d;
    border: 1px solid #be393d;
}
.rfq_pop-up_img{
    border:1px solid #ddd;
    padding:10px;
    box-shadow: 3px 3px 8px #dfdfdf;
}
.rfq_pop-up_img img{
    width: 100%;
}
.mar_btm_10{
    margin-bottom: 10px;
}
/* #table_data_specifications{
    box-shadow: 3px 3px 8px #dfdfdf;
} */
.split_click{
    text-decoration: underline;
    /* color: #22b1dc; */
    color:#3695e9;
    font-weight: 600;
}
.form-check-label{
        background: #b9b9b9;
        color:#fff;
        height: 25px;
        line-height: 12px;
    }
     .form-check-label:hover{
        background:#293071;
        color:#fff;
    }
    .form-check-label:focus{
        background: #293071;
        color:#fff;
    }
    .form-check-label.active{
        background: #293071;
        color:#fff;
    }
    tbody tr td.ver_center {
		vertical-align: middle
    }
    .bg_black_white{
        background: #37475a !important;
        color: #fff !important;
        border: 1px solid #37475a !important;
    }
      .upload-drop-zone {
        height: 200px;
        border-width: 2px;
        margin-bottom: 20px;
    }
    .upload-drop-zone {
        color: #ccc;
        border-style: dashed;
        border-color: #ccc;
        line-height: 200px;
        text-align: center
    }
    .upload-drop-zone.drop {
        color: #222;
        border-color: #222;
    }
    .image-preview-input {
        position: relative;
        overflow: hidden;
        margin: 0px;
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }
    .image-preview-input input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    .image-preview-input-title {
        margin-left: 2px;
    }
    .ofr_products_lbl{
        color: #be393d;
        margin-right: 30px;
        font-size: 17px;
        font-weight: 700;
    }
    .categories_name{
        display:none;
    }
    .sr_icon_img{
        border:1px solid #37475a;
        background: #37475a;
        color:#fff;
    }
    .products_rack{
        padding-top: 70px;
        text-align:center;
    }
    .products_rack h2{
        font-size:15px;
        font-weight: 600;
        text-align: center;
        color:#232f3e;
        text-transform:uppercase;
    }
    .products_rack button{
        height: 35px;
        width: 100px;
        margin-top: 10px;
        background: #293071;
        color: #fff;
        box-shadow: 4px 4px 10px #ddd;
        border: none;
    }
    .ofrs_tabs{
        text-align: right;
    }
    .status_dropdown{
        margin-top: -10px;
        margin-bottom: -10px;
    }
    .cart .number{
        background: #be393d;
        color: #fff;
        padding: 14px 20px 11px 20px;
    }
    .qtylist{
        font-size: 15px;
        color: #fff;
        border: 1px solid #37475a;
        background: #37475a;
        padding: 10px 20px;
    }
     #dealer_addr {
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 10px;
        background: #f7f7f7;
        margin-bottom: 10px;
        height: 280px;
        width:24%;
        margin-right: 1%;
        float:left;
        box-shadow: 3px 3px 8px #ddd;
    }
    #dealer_shp_name {
        color: #293071;
        font-size: 15px;
        font-weight: bold;
    }
    .shop_add_part {
        margin-left: 25px;
    }
    .panel-info>.panel-heading {
        color: #fff;
        background-color: #37475a;
        border-color: #37475a;
    }
    .panel-info{
       border-color: #37475a; 
    }
    #radio_clrs .funkyradio input[type="radio"]:empty ~ label:before{
        background: #293071  !important;
        border-radius: 3px 0 0 3px;
    }
    #radio_clrs .funkyradio input[type="radio"]:hover:not(:checked) ~ label{
        color: #293071  !important;
    }
    #radio_clrs .funkyradio input[type="radio"]:hover:not(:checked) ~ label:before{
        color: #293071  !important;
    }
    #radio_clrs .funkyradio input[type="radio"]:checked ~ label:before{
        color: #fff !important;
        background-color: #be393d !important;
    }
    #radio_clrs .funkyradio label {
        border: 1px solid #293071  !important;
    }
    .form-control{
        background: #f7f7f7 !important;
    }
    #radio_clrs .form-group {
        margin-bottom: 10px !important;
    }
    .packing_list{
        /* border:2px solid #37475a; */
        /* margin-top: 20px; */
        background: #fff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
        padding: 20px;
    }
    .p_list_info{
        padding-bottom: 20px;
        overflow: hidden;
        clear: both;
    }
    .print_packing_list_btn{
        text-align: center;
        padding-top: 20px;
    }
    .no_det{
        text-align: right;
    }
    .packing_list h3{
        text-align: center;
        text-transform: uppercase;
        color:#232f3e;
        font-weight: 600;
    }
    .list_det{
         padding: 0 30px;
    }
    .top_head_logins{
        float: right;
    }
    .drp_dwn_width{
        min-width:130px !important;
    }
    .drp_dwn_width.dropdown-menu>li>a {
        font-size: 12px;
    }
    .completed_styles{
        font-size: 20px;
        font-weight: 700;
    }
    .pop_image{
        width: 12%;
    }
    .address_change{
        padding-top: 5px;
    }
    .padd_t_15{
        padding-top: 15px;
    }
    .address_change a{
        padding: 0 5px;
    }
    .del_details{
        /* padding-left: 25px; */
        margin-bottom: 10px;
        font-size: 15px;
        color: #293071;      
        font-weight: bold;
    }
    .font_20{
        font-size: 20px;
    }
    .font_12{
        font-size: 12px;
    }
    .font_13{
        font-size: 13px;
    }
    .font_14{
        font-size: 14px;
    }
    .font_15{
        font-size: 15px;
    }
    .font_16{
        font-size: 16px;
    }
    .font_18{
        font-size: 18px;
    }
    .font_22{
        font-size: 22px;
    }
    .add_address{
        text-align: center;
        margin-top: 10%;
    }
    .m_top_2perc{
        margin-top: 2%;
    }
    .a-color-tertiary {
        color: #767676!important;
    }
    .f_weight_700{
        font-weight: 700;
    }
    .f_weight_600{
        font-weight:600;
    }
    .f_size_14{
        font-size: 14px;
    }
    .shop_add_part label{
        font-size: 15px;
    }
    .shop_add_part b{
        color:#232f3e;
    }
    .marg_btm_5{
        margin-bottom: 5px;
    }
     .marg_btm_10{
        margin-bottom: 10px;
    }
    .theme_violet{
        color:#293071;
    }
    .edit_styles{
        color: #be393d;
        padding-left:5px;
    }
    .ovrfle_hidn{
        overflow: hidden;
    }
    .theme_blue{
        color: #22b1dc;
    }
    .mar_btm_10per{
        margin-bottom: 10%;
    }
    .padd_l_r{
        padding: 0 20px;
    }
    .f_left{
        float:left;
    }
    .f_right{
        float:right;
    }
    .padd_t_b_20{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .padd_t_20{
        padding-top: 20px;
    }
    .clr_white{
        color:#fff;
    }
    .countpages{
        padding: 8px 10px 10px 10px;
        background: #fff;
    }
    .company_address{
        font-weight: 700;
        font-size: 12px;
        padding-right: 5px;
        color: #232f3e;
        text-align: center;
    }
    .hr_line{
        border-bottom: 1px dashed #37475a;
        border-top: 1px dashed #37475a;
    }
    .hr_line_botm{
        border-bottom: 1px dashed #37475a;
    }
    .marg_t_b_15{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .marg_t_15{
        margin-top: 15px;
    }
    .total_invoice_page {
        background: #fff;
        padding: 20px;
        box-shadow: 0px 3px 12px 0px #cccccc;
    }
    .invoce_address {
        padding: 0 30px;
        border: 1px dashed #37475a;
    }
    .fnt_size_18{
        font-size: 18px;
    }
    .fnt_size_14{
        font-size: 14px;
    }
    .fnt_size_12{
        font-size: 12px;
    }
    .capitalize{
        text-transform: capitalize;
    }
    .pagination_arrows{
        margin-right: 13px;
        margin-bottom:5px;
    }
    #pageshowsort{
        background: #37475a;
        box-shadow: 3px 3px 8px #ddd;
        margin-left: 0px;
    }
    .font{
        font-size: 14px;
    }
    .margin_top_10{
        margin-top: 10px;
    }
    .margin_top_20 {
        margin-top: 20px;
    }
    .margin_tb_20{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .item_number_wishlist{
        float: right;
        margin-right: 0px;
        background: #be393d;
        color: #fff;
        border: 1px solid #f5f5f5;
        margin-top: 0px;
        padding-top: 3px;
    }
    .modal-title{
        font-size: 16px !important;
        font-weight: 600 !important;
    }
    .wishlist_styles{
        margin-right: 0px;
        float: right;
        color: #c2c2c2;
    }

    /*loading styles start here */

    #overlay {
        position: fixed;
        z-index: 1040;
        top: 0px;
        left: 0px;
        background-color: #f5f5f5;
        width: 100%;
        height: 100%;
        filter: alpha(Opacity=85);
        opacity: 0.85;
        -moz-opacity: 0.85;
    }

    #overlay{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
 
    
    

    /* wishlist_page styles start here */
    .my_wishlist {
		border-bottom: 1px solid #e0e0e0;
		background: #fff;
	}

	.my_wishlist_data {
		padding: 24px;
		line-height: 1;
		padding-right: 0;
		padding-bottom: 30px;
		display: block;
		overflow: hidden;
	}

	.my_wishlist_data .m_w_img_blk {
		position: relative;
		width: 120px;
		float: left;
		margin-right: 30px;
	}

	.my_wishlist_data .m_w_img_blk1 {
		position: relative;
		display: block;
	}

	.m_w_img_blk2 {
		position: relative;
		margin: 0 auto;
	}

	.m_w_img_blk2 .m_w_img {
		opacity: 1;
	}

	.m_w_img_blk2 .m_w_img {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		margin: auto;
		max-width: 100%;
		max-height: 100%;
	}

	.my_wishlist_data .m_w_data_blk {
		float: none;
		width: auto;
		padding-left: 10%;
	}

	.col-10-12 {
		margin-top: 10px;
	}

	.m_w_icons_list_blk {
		margin-top: 20px;
	}

	.my_wishlist_data .m_w_p_name {
		font-weight: 600;
		font-size: 14px;
		display: block;
		cursor: pointer;
		margin-bottom: px;
		color: #232f3e;
	}

	.my_wishlist_data .m_w_p_name:hover {
		color: #be393d;
	}

	.m_w_rating_blk {
		margin-top: 10px;
		display: inline-block;
		padding-right: 10px;
	}

	.m_w_ratng {
		position: relative;
	}

	.m_w_ratng_star {
		background-color: #388e3c;
	}

	.m_w_ratng_star {
		line-height: normal;
		display: inline-block;
		color: #fff;
		padding: 2px 4px 2px 4px;
		border-radius: 3px;
		font-weight: 500;
		font-size: 12px;
		vertical-align: middle;
	}

	.m_w_rating_blk .m_w_ratng_users {
		padding-left: 8px;
		font-weight: 500;
		color: #878787;
	}

	.my_wishlist_data .m_w_price_blk {
		display: block;
		margin-top: 5px;
		padding-right: 10px;
	}

	.my_wishlist_data .m_w_price_blk .m_w_ofr_price {
        font-size: 18px;
        font-weight: 600;
		display: inline-block;
		vertical-align: middle;
	}

	.m_w_price_list .m_w_ofr_price {
		display: inline-block;
		font-size: 16px;
		font-weight: 500;
		color: #293071;
	}

	.my_wishlist_data .m_w_price_blk .m_w_mrp_price {
		padding-top: 10px;
		margin-left: 10px;
	}

	.m_w_price_list .m_w_mrp_price {
		text-decoration: line-through;
		display: inline-block;
		font-size: 16px;
		color: #878787;
	}

	.m_w_price_list .m_w_percentage_price {
		display: inline-block;
		margin-left: 8px;
		color: #388e3c;
		font-size: 14px;
		letter-spacing: -0.2px;
		font-weight: 600;
	}

	.m_w_icons_list {
		display: inline-block;
		position: relative;
	}

	.m_w_icons {
		cursor: pointer;
		font-size: 18px;
		color: #b1aeae;
    }
    .cursor{
        cursor: pointer;
    }

	.m_w_icons:hover {
		color: #be393d;
    }
    .pad_l_32 {
        padding-left: 32px;
    }
    .pad_l_25 {
        padding-left: 25px;
    }
    .pad_l_5 {
        padding-left: 5px;
    }
     /* wishlist_page styles end here */


     .post_address {
        border: 1px dashed #ddd;
        padding: 10px;
        background: #f7f7f7;
    }

    .vehicale_courier_details {
        /* margin-top: 20px; */
        margin-left: 20px;
    }

    .invoice_details {
        font-size: 24px;
        font-weight: 600;
        color: #232f3e;
        text-align: center;
    }

    .invoice_info {
        float: right;
        text-align: right;
    }

    .invoice_info p {
        font-size: 14px;
        font-weight: 600;
        color: #232f3e;
    }

    .ship_bill_address {
        font-size: 18px;
        font-weight: 600;
        color: #232f3e;
    }

    .invoice_details {
        border-bottom: 1px dashed #828282;
        padding-bottom: 20px;
    }

    .inv {
        border-bottom: 1px dashed #828282;
    }

    .border_line {
        border: 1px dashed #37475a;
    }

    .del_type {
        font-size: 16px;
        font-weight: 600;
        color: #232f3e;
        padding: 10px 0;
    }

    .op_color {
        color: #22b1dc;
    }

    .veh_courier {
        padding: 20px 0px 20px 20px;
    }
	.m_w_icons {
		cursor: pointer;
		font-size: 18px;
		color: #b1aeae;
	}

	.m_w_icons:hover {
		color: #be393d;
    }
    .slash_bc{
        padding: 0 2px;
        color: #be393d;
    }
    .pen_req_pagi{
        text-align: right;
    }
    .inv_pre{
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .mar_l_15{
        margin-left:15px;
    }
    .boder{
        margin-top: 10px;
        border-top: 5px solid #ddd;
        padding-top: 10px;
    }
    /* checkout view styles start here */
    .steps_view{
        background: #fff;
        /* padding: 20px; */
        box-shadow: 3px 3px 8px #ddd;
        margin-bottom: 10px;
    }
    .padd_20{
        padding: 20px;
    }
    .steps_count{
        background: #c7c7c7;
        padding: 7px 20px;
        color: #fff;
    }
    .m_t_20_m_b_10{
        margin: 20px 0 10px 0;
    }
    .steps_count ul li{
        display: inline-block;
        padding: 0 8%;
    }
    .adrs_type{
        font-size: 16px;
        font-weight: 600;
        color: #383767;
        margin-bottom: 15px;
        text-decoration: underline;
    }
    .funkyradio input[type="radio"]:empty~label{
        margin-top: 10px !important;
    }
    .steps_count ul li i.active{
       color: #be393d;
    }
     /* checkout view styles end here */

     .msgg{
        color:#fff !important;
        font-size:14px;
        cursor: auto;
     }
     .catrt{
        color:#fff !important;
        font-size:20px;
     }
     .home_ofrs{
        font-size: 14px;
        font-weight: 700;
        padding: 15px 0 10px 0;
        margin-left: 20px;
        color: #be393d;
     }

    .orders_tabs .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }
    .orders_tabs .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 5px 20px;
        transition: 0.3s;
        font-size: 13px;
    }
    .orders_tabs .tab button:hover {
        background-color: #ddd;
    }
    .orders_tabs .tab button.active {
        background-color: #ccc;
    }
    .orders_tabs .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
    .serch_title {
        font-size: 13px;
        font-weight: 600;
        color: #293071;
        padding: 5px 30px;
    }
    .serch_blocks {
        margin-bottom: 5px;
    }
    .hover_div_table {
        background: #efefef;
    }
    .marq{
        color: #be393d;
        font-size: 16px;
        font-weight: 700;
    }
    .welcome_msg1{
        /* text-decoration: underline;
        color: #3b6ca6; */
        font-size: 16px;
        color: #3b6ca6;
        margin-top: 3px;
        font-weight: 550;
        padding: 5px 0px 5px 0px;
        background: #fff;
        box-shadow: 3px 3px 8px #ddd;
        width: 100%;
        float: left;
    }
    .del_branch{
        /* margin-top: 10px; */
    } 
    .prod_rel_up{
        font-size: 16px;
        font-weight: 600;
        color: #293071;
        padding-left: 20px;
        padding-bottom: 15px;
        border-bottom: 3px solid #f4f4f4;
    }
    .extraDetails{
        font-size: 14px;
        color: #293071;
        font-weight: 600;
        padding-bottom: 5px;
    }
    .box_block{
        height: 220px;
        background: #f8f8f8;
        border-radius: 5px;
    }
    .box_block input[type="text"]{
        background: #f8f8f8 !important;
    }
    #new_ftr{
        position: fixed;
        width: 100%;
        bottom: 0;
        margin-top: 50px;
    }
    
    #footertest{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        background: #6cf;
    }
    .mar_b_30{
        margin-bottom: 30px;
    }

    .hide_btn_default .active{
        display:none !important;
    }
	
	 .corporate-txt{
        box-shadow: 0 2px 2px 0 #46494e, 0 0 1px 3px #999, 0 1px 0px 0 #999;
        color: white;
        background: #259b78;
        padding-bottom: 5px;
        text-align: center;
        padding: 3px 4px;
    }

    /* for header last button and 125 view start here */
    /* @media screen and (max-width: 1600px) and (min-width: 1301px){
            .nodashboardmenu{
                width: 37.33333333% !important;
             }
        }
     .dbrightmenu{
        width: 47.333333% !important;
        float: right !important;
     }
     .nodashboardmenu{
        width: 38.33333333% !important;
     } */
     /* for header last button and 125 view end here */


     .all_prods ul li{
         display: inline-block;
     }
     .checked_prod_names{
        border: 1px solid #d7d7d7;
        padding: 3px 5px;
        border-radius: 2px;
        background: #e9e9e9;
        margin-right: 5px;
     }
     .plus_more {
        color: #3695e9;
        font-weight: 600;
        margin-left: 5px;
     }

    .dropdown_more {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content_more {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        padding: 5px;
        border: 2px solid #e7e6e6;
        border-radius: 3px;
    }
    
    .dropdown-content_more span {
        color: black;
        padding: 5px 7px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content_more span:hover {color: #293071;}
    
    .dropdown_more:hover .dropdown-content_more {display: block;}
    
     .cursor_nodrop{
         cursor:no-drop;
     }

     .lbl_block{
         display: block !important;
     }
     .dis_none{
         display:none !important;
     }

     .mar_l_r_15{
        margin-left: 15px;
        margin-right: 15px;
     }
     .pad_r_15{
         padding-right: 15px;
     }
     .pad_l_15{
        padding-left: 15px;
    }
