#navbar-brand-centered .navbar-nav>li>a {
     padding-top: 4px; 
    padding-bottom: 0; 
	
}
#menu_sri_header{
	background-color:#666;
  border-color:#666;
  margin-top: 43px;
  /* box-shadow: 3px 3px 8px #9f9f9f; */
}
.cat-link a {    
    padding-bottom: 0; 
	padding-top: 5px !important;
}
/*.srinavbarmenu{
	background-color:#666;
	border-color:#666;border-radius:0;
	margin-bottom: 1px;
	min-height:30px !important;
}*/

.cat-link{
	background-color: #444;
	width: 300px;
	height: 30px;
}

.navlinks li a{
	color:#fff !important;
}
.navmenu .nav>li>a{
	color:#fff;
}
.navmenu .nav>li>a:hover{
	background-color:transparent !important;
}

 
.dropdown-menu > li.kopie > a {
    padding-left:5px;
}
 
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:-6px;margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
 }
  
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
 
.dropdown-submenu:hover>a:after {
    border-left-color:#555;
 }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  text-decoration: none;
}  
  
@media (max-width: 767px) {

  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: #be393d;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #ccc;
   }

   .navbar-nav .open .dropdown-menu {
     /* border-bottom: 1px solid white;  */
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid #be393d;
   }

}
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
}  





/***   4-1-208   category styles start here ***/

 .listitem-inner {
    border: 1px solid #dddddd;
    float: left;
    width: 100%;
    /* border-bottom: 3px solid #eee; */
    padding-bottom: 13px;
    padding: 11px;
}
.col-item {
    border: 1px solid #E1E1E1;
    border-radius: 1px;
    background: #FFF;
    height: auto;
    padding: 7px 0px;
}
/***   4-1-208   category styles end here ***/
