
/* Carousel Styles */
.carousel-indicators .active {
    background-color: #293071;
}

.carousel-inner img {
    width: 100%;
    max-height: 460px;
	cursor: pointer;
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
	cursor:pointer;
}

.carousel-control.left span {
	padding: 6px;
	margin-left: 50px;
	font-size: 18px;
}

.carousel-control.right span {
	padding: 6px;
	margin-right: 50px !important;
	font-size: 18px;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 0;
}

.carousel-control.left span,
.carousel-control.right span {
	/* background-color: #66666661; */
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
    /*	opacity: .7;  */
	filter: alpha(opacity=70);
	/* background-color:#232f3e; */
	color:#293071;
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
    background-color: #2980b9;
	padding: 10px;
}

.header-text h3 span {
	background-color: #000;
	padding: 15px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

/* -- image heights -- */
.image-height{
 height:229px !important;
}


/* home page css */
    * {
      box-sizing: border-box;
    }
    

    .prod-modelNo {
       font-size: 13px;
       font-weight: 600;
      margin-bottom: 10px;
    }
    .slick-slide {
      margin: 0px 3px;
    }
    
    .slick-slide img {
      width: 100%;
    }
    
    .slick-prev:before,
    .slick-next:before {
      color: black;
    }
    
    a.view_collection {
      float: left;
      width: 174px;
      font-size: 12px;
      color: #5d5d5d;
      padding: 5px 0;
      background: #d1d2d1;
      margin-left: -9px;
      margin-bottom: -4px;
      /* margin-top: -3px; */
    }
    
    a.view_collection-top {
      margin-top: 3px;
    }
    
    .top-brandbox {
      padding-left: 1px;
      padding-right: 1px;
    }
    /* tabs css*/
    
    .col-item {
      border: 1px solid #E1E1E1;
      border-radius: 5px;
      background: #FFF;
    }
    
    .col-item .photo img {
      margin: 0 auto;
      width: 100%;
    }
    
    .col-item .info {
      padding: 10px;
      border-radius: 0 0 5px 5px;
      margin-top: 1px;
    }
    
   /* .col-item:hover .info {
      background-color: #F5F5DC;
    }*/
    
    .col-item .price {
      /*width: 50%;*/
      float: left;
      margin-top: 5px;
    }
    
    .col-item .price h5 {
      line-height: 20px;
      margin: 0;
    }
    
    .price-text-color {
      color: #219FD1;
    }
    
    .col-item .info .rating {
      color: #777;
    }
    
    .col-item .rating {
      /*width: 50%;*/
      float: left;
      font-size: 17px;
      text-align: right;
      line-height: 52px;
      margin-bottom: 10px;
      height: 52px;
    }
    
    .col-item .separator {
      border-top: 1px solid #E1E1E1;
    }
    
    .clear-left {
      clear: left;
    }
    
    .col-item .separator p {
      line-height: 20px;
      margin-bottom: 0;
      margin-top: 10px;
      text-align: center;
    }
    
    .col-item .separator p i {
      margin-right: 5px;
    }
    
    .col-item .btn-add {
      width: 50%;
      float: left;
    }
    
    .col-item .btn-add {
      border-right: 1px solid #E1E1E1;
    }
    
    .col-item .btn-details {
      width: 50%;
      float: left;
      padding-left: 10px;
    }
    
    .controls {
      margin-top: 20px;
    }
    
    [data-slide="prev"] {
      margin-right: 10px;
    }
    
    .btn-prev-next {
      display: inline-block;
      padding: 1px 3px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 1px;
      margin-top: -13px;
	  color:#666666;
    }
    
    .brand-directory {
      margin-top: 15px;
      background-color: #f5f5f5;
    }
    /* offers css */
    
    .item-inner {
      /* border: 1px solid #dddddd; */
      float: left;
      width: 100%;
      /* border-bottom: 3px solid #eee; */
	    margin-bottom:10px;
      /* padding: 11px; */
    }
    
    .products-grid .item-inner:hover {
      /* border-bottom: 3px solid #259b78;
      -ms-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
      -o-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3); */
    }
    
    .product-name a {
      color: #444444;
     /* text-transform: uppercase;*/
      font-size: 14px;
      line-height: 1.9;
      font-size: 12px;
      font-weight: 700;
	    color:#666666;
    }
    
    .product-name a:hover {
      color: #259b78;
    }
    
    .no-rating a {
      color: #666666;
      font-size: 11px;
	  color:#666666;
    }
    
    .btncart {
      text-transform: uppercase;
      background-color: #fff;
      border: 1px solid #dddddd;
      border-radius: 0;
      float: left;
      position: relative;
      margin-left: 0px;
      font-weight: bold;
      font-family: arial;
      padding: 6px 9px;
	  color:#666666;
    }
    
    .btnwishlist {
      text-transform: uppercase;
      background-color: #fff;
      border: 1px solid #dddddd;
      border-radius: 0;
      float: left;
      position: relative;
      margin-left: 0px;
      font-weight: bold;
      font-family: arial;
      padding: 6px 9px;
	  color:#666666;
    }
    
    .btnwishlist:hover {
      color: #259b78;
      background-color: #fff;
      border-color: #259b78;
    }
  
  .productaddcart {
    margin-top: 12px;
  }
  .btncart:hover {
    background-color: #259b78;
    border-color: #259b78;
    color: #fff;
  }
  .nav-tabs>li a {
    border-radius: 0;
  }
  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:focus,
  .nav-tabs>li.active>a:hover {
    border-top: 2px solid #be393d;
  }
 
.item-inner:hover {
    /* border-bottom: 3px solid #259b78;
    -ms-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3); */
}
.brandDiretcory{
  margin-bottom: 20px !important;

}
.cartdiv{
	margin-top:-6px !important;
}
.addcartbtn{
	padding:6px 4px !important;
	border-radius:0px !important;
}
.addcartbtn span{
	font-weight:normal !important;
}
.addreview span{
	font-weight:normal !important;
}
.addreview{
  padding: 6px 8px;
    border-radius: 0px !important;
    /* margin-top: -6px; */
    border: 0px solid #ddd;
    font-size: 10px;
}
.wishbtn{
	margin-bottom: -10px !important;
	height:30px !important;
}
#homecarts .wishbtn{
	margin-bottom: -11px !important;
	height:30px !important;
}
.categoryaddcart{
padding: 8px 19px 9px 8px !important;
}
.reviewDiv{
	margin-top:3px !important;
}