<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>

    <!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- <meta name="fragment" content="!">
    <title>ShopMyTools</title>
    <meta name="description" content="{{ seo.metaDescription }}"> -->
    <script src="./js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <title>Home</title>
    <meta charset="UTF-8">
    <!-- for zooming in mobile view start-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="viewport" content="width=1000, initial-scale=1, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=.5, maximum-scale=12.0, minimum-scale=.25, user-scalable=yes"/>  for ios and android but in android view is not exactly correct -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- for zooming in mobile view end -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <link rel="icon" href="https://shopmytools-tifk2ao.netdna-ssl.com/media/smtlogo.png" type="image/png"> -->
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./bower_components/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="./bower_components/slick-carousel/slick/slick-theme.css">
    <!-- <script src="./bower_components/jquery/dist/jquery.js"></script> -->
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/slick-carousel/slick/slick.js"></script>
    <script src="./bower_components/angular-slick-carousel/dist/angular-slick.min.js"></script>

    <!-- <link rel="stylesheet" href="http://vasyabigi.github.io/angular-slick/bower_components/slick-carousel/slick/slick.css" />
    <script src="http://vasyabigi.github.io/angular-slick/bower_components/slick-carousel/slick/slick.js"></script> -->
    <!-- <script src="./js/angular-slick.js"></script> -->

    <!--  angular links -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-messages.js"></script>
    <script src="http://www.elevateweb.co.uk/wp-content/themes/radial/jquery.elevatezoom.min.js" type="text/javascript"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angular-messages/1.6.4/angular-messages.min.js"></script>  -->

    <!-- Bootstrap core CSS -->
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="./css/site/home-page.css" rel="stylesheet">
    <link href="./css/smtCommonStyles.css" rel="stylesheet">
    <link href="./css/smtStyles.css" rel="stylesheet">
    <link href="./css/site/home-page1.css" rel="stylesheet">
    <link href="./css/site/media-queries-style.css" rel="stylesheet">
    <link href="./css/site/collections.css" rel="stylesheet">
    <link href="./css/site/all-top-brands.css" rel="stylesheet">
    <link href="./css/site/smt-theme.css" rel="stylesheet">
    <link href="./css/site/smt-theme1.css" rel="stylesheet">
    <link href="./css/site/emerging-brand.css" rel="stylesheet">
    <link href="./css/site/top-brand-style.css" rel="stylesheet">
    <link href="./css/site/header-menu-style.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    <link href="./css/loginpage.css" rel="stylesheet">
    <!-- zoom css files start here 16-1-2018  -->
    <link href="./css/cloud-zoom-styles.css" rel="stylesheet">
    <link href="./css/thumbelina.css" rel="stylesheet">
    <!-- zoom css files end here 16-1-2018  -->

    <!-- <link rel="stylesheet" href="./bower_components/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="./bower_components/slick-carousel/slick/slick-theme.css">
    <script src="./bower_components/jquery/jquery.js"></script>
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/slick-carousel/slick/slick.js"></script>
    <script src="./bower_components/angular-slick-carousel/dist/angular-slick.min.js"></script> -->

    <link href="./css/dashboard.css" rel="stylesheet">
    <link href="./css/view.css" rel="stylesheet">
    <link href="./css/magiczoomplus.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="./css/brand_Detail_Page_Styles.css" type="text/css" media="all" />
    <link rel="stylesheet" href="./css/top_header_styles_page.css" type="text/css" media="all" />
    <link rel="stylesheet" href="./css/categoryPage.css" type="text/css" media="all" />
    <script src="./js/angular_app.js"></script>
    <script src="./js/brand_Detail_Page_app.js" type="text/javascript"></script>
    <!-- <script src="./js/angular-breadcrumb.js"></script>  -->
    <script src="./js/angular_loading.js"></script>
    <script src="./js/sha512.min.js"></script>
    <!-- zoom js files start here 16-1-2018  -->
    <script src="./js/cloud-zoom-app.js"></script>
    <script src="./js/cloudzoom.js"></script>
    <script src="./js/thumbelina.js"></script>
    <!-- zoom js files end here 16-1-2018  -->

    <script src="./js/config/config.js"></script>
    <script src="./js/magiczoomplus.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.26/angular-route.min.js"></script>

    <script src="./js/controllers/searchController.js" type="text/javascript"></script>
    <script src="./js/controllers/homeController.js" type="text/javascript"></script>
    <script src="./js/controllers/headercontroller.js" type="text/javascript"></script>
    <script src="./js/controllers/myordersCtrl.js" type="text/javascript"></script>
    <script src="./js/controllers/logincontroller.js" type="text/javascript"></script>
    <script src="./js/controllers/categoryPageCtrl.js" type="text/javascript"></script>
    <script src="./js/controllers/cartcontroller.js" type="text/javascript"></script>
    <script src="./js/controllers/checkoutCtrl.js" type="text/javascript"></script>
    <script src="./js/controllers/dashboardctrl.js" type="text/javascript"></script>
    <script src="./js/controllers/distributorPanelCtrl.js" type="text/javascript"></script>
    <script src="./js/controllers/pogenerationCtrl.js" type="text/javascript"></script>
    <script src="./js/controllers/dealerdashboardctrl.js" type="text/javascript"></script>
    <script src="./js/controllers/smdashboardctrl.js" type="text/javascript"></script>

    <script src="./js/controllers/dealerRegistrationController.js" type="text/javascript"></script>
    <script src="./js/controllers/dealerLoginController.js" type="text/javascript"></script>
    <script src="./js/controllers/adminpanelController.js" type="text/javascript"></script>
    <script src="./js/controllers/product_detail_page_controller.js" type="text/javascript"></script>

    <script src="./js/services/loginservice.js" type="text/javascript"></script>
    <script src="./js/services/categoryService.js" type="text/javascript"></script>
    <script src="./js/services/service.js" type="text/javascript"></script>
    <script src="./js/services/adminPanelService.js" type="text/javascript"></script>
    <script src="./js/services/product_detail_page_service.js" type="text/javascript"></script>
    <script src="./js/services/dealerLoginsService.js" type="text/javascript"></script>
    <script src="./js/services/smLoginService.js" type="text/javascript"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgd9IE_rsGr_bR0LADm48V282JQOSKpSM"></script>

    <style>
        .pointer {
            cursor: pointer;
        }
    </style>

    <style type="text/css">
        /* menu styles start here 9-2-2018 */

        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu>.dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px;
            border-radius: 0 6px 6px 6px;
        }

        .dropdown-submenu:hover>.dropdown-menu {
            display: block;
        }

        .dropdown-submenu>a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #ccc;
            margin-top: 5px;
            margin-right: -10px;
        }

        .dropdown-submenu:hover>a:after {
            border-left-color: #fff;
        }

        .dropdown-submenu.pull-left {
            float: none;
        }

        .dropdown-submenu.pull-left>.dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

        #menu_cat {
            margin-left: -30px;
        }

        /* menu styles end here 9-2-2018 */

        .yt-menu-nav>#nav>li>a>span,
        .language-currency ul li a,
        .sm-serachbox-pro .sm-searbox-content,
        .sm-serachbox-pro .jqTransformInputWrapper input.input-text,
        #custom_popular_search .sm-searchbox-popular-title,
        .banner-policy a,
        .yt-header-bottom .more-wrap .more-view,
        .toolbar .select-inner ul li a.selected,
        .category-products .item .product-name a,
        .yt-product-detail .tab-product-detail .yt-tab-navi>li>a,
        .yt-product-detail .tab-product-detail .yt-tab-navi>li>a:hover,
        .sm_quickview_handler,
        .yt-tab-listing .respl-tabs-wrap ul li.respl-tab .respl-tab-label,
        .yt-tab-listing .title-text,
        .block-title span,
        .spotlight .block-title,
        .spotlight4,
        .footer-links-w,
        .toolbar,
        .sm-categories .cat-title,
        .breadcrumbs,
        #narrow-by-list dt,
        .yt-product-detail .product-name h1,
        .yt-product-detail .short-description h2,
        .postTitle h2 a,
        #yt_wrapper h1.page-title,
        #yt_wrapper .page-title h1 {
            color: #444444;
        }

        body.sm_market {
            color: #666666;
        }

        body.sm_market {
            background-color: #FFFFFF;
        }

        a {
            color: #666666;
        }

        a:focus,
        a:hover {
            color: #259b78;
        }

        .more-wrap .more-view:hover,
        .postTitle h2 a:hover,
        .category-products .item .product-name a:hover,
        .yt-tab-listing .respl-tabs-wrap ul li.respl-tab .respl-tab-label:hover,
        .yt-product-detail .tab-product-detail .yt-tab-navi>li>a:hover {
            color: #259b78;
        }

        #yt_header .head-quicklink_links .inner {
            float: right;
        }

        .cloud-zoom-big {
            top: 0 !important;
            left: 0 !important;
            width: 100% !important;
            height: 100% !important;
        }

        #yttotop {
            background: url(images/backtotop.png) no-repeat scroll center center;
            -moz-transition: all .3s;
            -webkit-transition: all .3s;
            bottom: 15px;
            color: #fff;
            height: 9px;
            padding: 53px 0 35px;
            position: fixed;
            text-align: center;
            text-decoration: none;
            transition: all .3s;
            width: 49px;
            z-index: 1040;
            right: 0px;
        }

        #img_effects {
            height: 50px;
            margin: 0 5px;
        }

        #img_effects img {
            height: 100%;
        }

        #main_img_effects {
            height: 200px !important;
        }

        #main_img_effects img {
            height: 100%;
        }

        .dropdown-menu>li>a {
            display: inherit !important;
            white-space: initial !important;
        }
    </style>
</head>

<body ng-app="shopMyTools" class="sm_market    cms-index-index cms-toolsduniya " id="categoryPage" ng-cloak>

    <!--     Header part start here -->
    <header ng-controller="homeController">

        <div id="smt-navbar">

            <div class="navbar-fixed-top">
                <!--   Top Header styles start here -->
                <div class="container-fluid" id="smt_top_header">
                    <div class="container1">
                        <div class="row">

                            <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 tph" id="welNameee">
                                <span class="welcome-msg_top" ng-if="!user_name">
                                    <!-- {{headerArray.headername}} -->
                                    Welcome To Powertex
                                </span>
                                <span class="welcome-msg_top" ng-if="user_name">
                                    Welcome, {{user_name}}!
                                </span>
                            </div>

                            <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 tph" id="welcall">
                                <div class="phone-contact">
                                    <div class="">
                                        <!-- <span>Support : {{phonenumber.phone_nbr}}</span> -->
                                        <span>Support : +91-8885080111</span>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 all_accounts_header suppreseller tph">
                <div class="inner sup-inner-link" id="suppResell" ng-if="!user_name" ng-click=supplierfun()>
                  <span class="">
                    <a href="" class="" title="Redirect to SMT-HUB" onclick=" window.open('http://hub.shopmytools.com/','_blank')">
                      Supplier/Reseller </a>
                  </span>
                </div>
                <div class="inner" id="suppResell2" ng-if="user_name" ng-click=supplierfun()>
                  <span class="">
                    <a href="" class="" title="Redirect to SMT-HUB" onclick=" window.open('http://hub.shopmytools.com/','_blank')"> Supplier/Reseller </a>
                  </span>
                </div>
              </div> -->

                            <!-- <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
                  <div class="dropdown">
                    <span class="supplier-reg-link" style="margin: 0 0 2px;">
                      <a class="supp-reg-link" ng-style="set_top_box_clr('Powertex')" style="color:#fff;">Select Theme</a>
                    </span>
                    <div class="dropdown-content" style="background-color:white;">
                      From:
                      <input type=""> To:
                      <input type="">
                      <button>Submit</button>
                    </div>
                  </div>
                </div> -->

                            <!-- <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
                  <div class="dropdown">
                    <span class="supplier-reg-link" style="margin: 0 0 2px;">
                      <a ng-click="getNewHeaderData('Smt')" ng-class="{'active': isActive}" ng-style="set_top_box_clr('Powertex')" class="supp-reg-link"
                        style="color:#fff;"> Smt</a>
                    </span>
                    <span class="supplier-reg-link" style="margin: 0 0 2px;">
                      <a ng-click="getNewHeaderData('Powertex')" ng-style="set_top_box_clr('Powertex')" class="supp-reg-link" style="color:#fff;">Powertex</a>
                    </span>
                  </div>
                </div> -->

                            <!-- <a ng-controller="distributorController" ng-click="distributor()" ng-class="{'active': isActive}" ng-style="set_top_box_clr('Powertex')"
                  class="supp-reg-link" style="color:#fff;">
                  <i class="fa fa-user" ng-style="set_top_icons_clr('Powertex')" aria-hidden="true"></i>
                </a> -->


                            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 all_accounts_header tph">

                                <a ng-controller="distributorController" ng-show="dealerdashboardShow" ng-click="dealerDashbord()" ng-if="token" ng-class="{'active': isActive}"
                                    class="dashbord_icons" title="Dealer Dashboard">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </a>

                                <a ng-controller="distributorController" ng-click="rfqQuote()" ng-show="dealerdashboardShow" ng-if="token" ng-class="{'active': isActive}"
                                    class="dashbord_icons" title="RFQ Quote">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </a>

                                <a ng-controller="distributorController" ng-click="distributor()" ng-show="dealerdashboardShow" ng-if="token" ng-class="{'active': isActive}"
                                    class="dashbord_icons" title="Distributor">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </a>

                                <!-- <a ng-click="getNewHeaderData('Smt')" ng-class="{'active': isActive}" ng-show="customerdashboardShow" class="dashbord_icons" ng-if="token" title="smt">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a>

                <a ng-click="getNewHeaderData('Powertex')" class="dashbord_icons" ng-if="token" ng-show="customerdashboardShow" title="Powertex">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a> -->



                                <a href="" ng-click="goToDashboard()" class="dashbord_icons" ng-if="token" title="My Account" ng-show="customerdashboardShow">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </a>
                                <a class="dashbord_icons" ng-if="token" title="My Wishlist" ng-click="goToWishList()">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                </a>
                                <a href="" class="dashbord_icons" ng-click="goToCheckout()" ng-if="token" title="Checkout">
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                </a>
                                <a href="login.html" class="login_butn" ng-if="!token" title="Login">
                                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Login / Signup</a>
                                <a href="" ng-click="goToLogout()" class="dashbord_icons" ng-if="token" title="Logout">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--   Top Header styles end here -->

                <!--   middle Header styles start here -->
                <div class="container-fluid" id="middle_logo_headr">
                    <div class="container1">
                        <div class="row">

                            <!-- logo strat here -->
                            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12" id="mlogoo">
                                <div class="row pointer">
                                    <img ng-src="{{headerLogoData.image_url}}" ng-click="goToHome()" id="header_logooo">
                                </div>
                            </div>
                            <!--  logo end here -->

                            <!--  search strat here -->
                            <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12" id="header_searchhh">
                                <input class="smt-navbar-input col-xs-11" type="text" ng-model="searchKey" placeholder="Search for Products, Brands and more"
                                    id="srach_textt" ng-change="showHint(searchKey)" my-enter="test(searchKey)">
                                <button class="smt-navbar-button col-xs-1 pull-right" ng-click="test(searchKey)" ng-style="set_header_color('Powertex')"
                                    id="serch_btnnn">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                                <ul class="data-ctrl" id="data_ctrl_search1" outside-click="hideDiv();" ng-if="showHintFlag == 'true' && searchedProducts.length == 0">
                                    <li>
                                        <div class="col-md-12">No Results Found</div>
                                        <br>
                                    </li>
                                </ul>
                                <ul class="data-ctrl" id="data_ctrl_search" outside-click="hideDiv();" style="margin-top:92px !important;" ng-if="showHintFlag == 'true'  && searchedProducts.length >= 1 && searchedProducts.length < 4">
                                    <li ng-repeat="product in searchedProducts | filter:searchKey " id="search_top_box">
                                        <div class="col-md-12" ng-click="getProductDetails(product)">{{product.upload_name}}</div>
                                        <br>
                                    </li>
                                    <li align="right" ng-click="test(searchKey)" class="text-right">
                                        <div>
                                            <b style="color:#259b78;cursor:pointer;">More</b>
                                        </div>
                                    </li>
                                    <li style="background-color: #ccc;padding: 3px 10px;font-size: 12px;color: #4c4b4b;" ng-if="searchedProducts.length > 0">
                                        <b>Recommended</b>
                                        <br>
                                    </li>
                                    <li ng-repeat="recommended in recommendedList" ng-click="categoryBasedProducts(recommended.upload_category)">
                                        <div class="col-md-12">{{recommended.upload_category | titleCase}}</div>
                                        <br>
                                    </li>
                                </ul>
                                <ul class="data-ctrl" id="data_ctrl_search" outside-click="hideDiv();" ng-if="showHintFlag == 'true'  && searchedProducts.length > 4">
                                    <li ng-repeat="product in searchedProducts | filter:searchKey | limitTo:6" id="search_top_box">
                                        <div class="col-md-12" ng-click="getProductDetails(product)">{{product.upload_name}}</div>
                                        <br>
                                    </li>
                                    <li align="right" ng-click="test(searchKey)" class="text-right">
                                        <div>
                                            <b style="color:#259b78;cursor:pointer;">More</b>
                                        </div>
                                    </li>
                                    <li style="background-color: #ccc;padding: 3px 10px;font-size: 12px;color: #4c4b4b;" ng-if="searchedProducts.length > 0">
                                        <b>Recommended</b>
                                        <br>
                                    </li>
                                    <li ng-repeat="recommended in recommendedList" ng-click="categoryBasedProducts(recommended.upload_category)">
                                        <div class="col-md-12">{{recommended.upload_category | titleCase}}</div>
                                        <br>
                                    </li>
                                </ul>
                            </div>
                            <!--  search end here -->

                            <!--  cart buttons strat here -->
                            <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 cart_boxes" ng-click="viewCart()">
                                <div class="cart largenav">
                                    <a class="cart-button" ng-style="set_menu_color('Powertex')">
                                        <span class="glyphicon glyphicon-shopping-cart" style="padding-right: 10px;color:#fff;"></span>
                                        <span class="cart_btn">
                                            <b>Cart</b>
                                        </span>
                                        <!-- <span class="item-number badge" >{{noOfcartItems}}</span> -->
                                        <span class="item-number badge">{{totalItems}}</span>

                                    </a>
                                </div>
                            </div>

                            <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 cart_boxes">
                                <div class="cart largenav">
                                    <a class="cart-button compare-button" ng-style="set_menu_color('Powertex')">
                                        <span class="glyphicon glyphicon-th-list" style="padding-right: 10px;color:#fff;"></span>
                                        <span class="cart_btn">
                                            <b>Compare</b>
                                        </span>
                                        <span class="item-number badge">0</span>
                                    </a>
                                </div>
                            </div>
                            <ul>
                                <li></li>
                            </ul>
                            <!--  cart buttons end here -->

                            <!-- <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" id="whish_compare">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" id="cart-padding">
                  <div class="form-group col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <div class="col-md-3 col-xs-3 padding-col">
                      <div class="dropdown">
                        <a class="btn  dropdown-toggle cancelBtn" ng-style="set_header_color('Powertex')" type="button" data-toggle="dropdown" id="#whissshhh"
                          style="margin-left: -15px;">
                          <span>
                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                          </span>
                        </a>
                        <div class="dropdown-menu" style="width: 250px !important;margin-left: -15px !important;" ng-if="cartArray.length == 0" id="wishUl"
                          aria-labelledby="compareProductsDiv">
                          <ul>
                            <li class="dropdown button" id="wishLl" align="middle" style="padding:0 !important">
                              <p class="text-center emptycart"> No Products in Shopping Cart</p>
                            </li>
                          </ul>
                        </div>
                        <ul class="dropdown-menu" ng-if="cartArray.length > 0" id="wishUl">
                          <li class="dropdown button" ng-repeat="category in cartArray" id="wishLl">
                            <a class="dropdown-toggle" ng-if="category.productdescription" title="{{category.productdescription}}" ng-init="limit = 32"
                              data-toggle="dropdown" id="wisha" ng-click="getProductDetailsFromCart(category)">{{category.productdescription | limitTo: limit}}{{category.productdescription.length > limit
                              ? ' . . .' : ''}}
                            </a>
                            <span class="glyphicon glyphicon-remove" ng-click="removeCartItem(category)" id="wishspan"></span>
                          </li>
                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-bottom:10px;margin-top: 10px;">
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                              <button class="btn cancelBtn btn-sm" ng-style="set_header_color('Powertex')" ng-click="clearCart()">CLEAR ALL</button>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                              <button class="btn cancelBtn btn-sm pull-right" ng-style="set_header_color('Powertex')" ng-click="gotoCartPage()">VIEW</button>
                            </div>
                          </div>
                        </ul>
                        <ul class="dropdown-menu" ng-if="localCartArray.length > 0 && !token">
                          <li class="dropdown button" ng-repeat="category in localCartArray">
                            <a class="dropdown-toggle" ng-if="category.upload_name" data-toggle="dropdown">{{category.upload_name}}
                            </a>
                            <span class="glyphicon glyphicon-remove" ng-click="removeCartItem(category)"></span>
                            <br>
                          </li>
                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-bottom:10px;margin-top: 10px;">
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                              <button class="btn cancelBtn btn-sm" ng-style="set_header_color('Powertex')" ng-click="clearCart()">CANCEL</button>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                              <button class="btn cancelBtn btn-sm pull-right" ng-style="set_header_color('Powertex')" ng-click="gotoCartPage()">VIEW</button>
                            </div>
                          </div>
                        </ul>
                      </div>
                    </div>
                    <div class="padding-col">
                      <a class="dropdown-toggle" data-toggle="dropdown" id="whishlist_blck">
                        <p style="font-weight:bold;" id="shopingCart">Shopping Cart</p>
                        <br/>
                        <p ng-if="cartArray.length == 0" id="wish_Items"> 0 Items</p>
                        <p ng-if="cartArray.length > 0" id="wish_Items2"> {{cartArray.length}} Items</p>
                      </a>
                    </div>
                  </div>
                  <div class="form-group col-md-6 col-lg-6 col-sm-6 col-xs-6 padding-col">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="dropdown">
                          <div class="col-md-3 col-xs-3">
                            <button class="btn btn-secondary dropdown-toggle cancelBtn" type="button" ng-style="set_header_color('Powertex')" id="compareProductsDiv"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: -15px;">
                              <span>
                                <i class="fa fa-list" aria-hidden="true"></i>
                              </span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="compareProductsDiv" ng-if="compareProducts.length > 0" id="compareUl">
                              <ul>
                                <li class="dropdown button" ng-repeat="category in compareProducts" id="compareLl">
                                  <a class="dropdown-toggle" ng-init="limit = 32" data-toggle="dropdown" id="comparea" ng-click="getProductDetailsFromCompare(category)">{{category | limitTo: limit}}{{category .length > limit ? ' . . .' : ''}}
                                  </a>
                                  <span class="glyphicon glyphicon-remove wishspanCompare" ng-click="removeCompareItem(category)" id="wishspan" style="margin-top: -2px;"></span>
                                  <br>
                                </li>
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-bottom:10px;margin-top: 10px;">
                                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <button class="btn cancelBtn btn-sm" ng-style="set_header_color('Powertex')" ng-click="clearCompareProducts()">CLEAR ALL</button>
                                  </div>
                                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <button class="btn viewBtn btn-sm pull-right" ng-style="set_header_color('Powertex')" ng-click="compareProductsMethod()">VIEW</button>
                                  </div>
                                </div>
                              </ul>
                            </div>
                            <div class="dropdown-menu" style="width: 250px !important;margin-left: -44px !important;" aria-labelledby="compareProductsDiv"
                              ng-if="compareProducts.length == 0" id="compareUl">
                              <ul>
                                <li class="dropdown button" id="compareLl" align="middle">
                                  Please add products to compare
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-9 col-xs-9">
                          <a class="dropdown-toggle" data-toggle="dropdown" id="whishlist_blck">
                            <p id="compareProduct">Compare Products</p>
                            <br/>
                            <p ng-if="compareProducts.length == 0" id="wish_Items3"> 0 Items</p>
                            <p ng-if="compareProducts.length > 0" id="wish_Items3"> {{compareProducts.length}} Items</p>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->

                        </div>
                    </div>
                </div>
                <!--   middle Header styles end here -->
            </div>

            <!--   header Menu part start here   -->
            <div class="" id="menu_sri_header">
                <nav class="navbar navbar-inverse srinavbarmenu" ng-style="set_menu_color('Powertex')" role="navigation" id="nav_head_menu">
                    <div class="container1">
                        <div class="navbar-header" style="margin-left: -15px;">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="menu_cat">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a class="dropdown-toggle" data-toggle="dropdown" id="categories_menu_tab">
                                        <span>
                                            <i class="glyphicon glyphicon-list" aria-hidden="true" style="color: white;"></i>
                                        </span>
                                        <span style="margin-left: 30px;color:#fff;"> CATEGORIES </span>
                                        <b class="caret" style="color: #fff;margin-left: 40px;"></b>
                                    </a>

                                    <ul class="dropdown-menu multi-level" id="id_menu_sub">
                                        <li class="dropdown dropdown-submenu main-cat" ng-repeat="category in categoryData">
                                            <a href="" ng-click="categoryBasedProducts(category.categoryname)" id="cat_name_ul" class="dropdown-toggle" data-toggle="dropdown"
                                                title="{{category.categoryname | titleCase}}">
                                                <span>
                                                    <img ng-src="{{category.cat_icon}}">
                                                </span>
                                                <span>{{category.categoryname | titleCase}}</span>
                                            </a>
                                            <ul class="dropdown-menu" ng-if="category.subcategoryname.length > 0" id="sub_cat_dropDown_list">
                                                <li class="kopie" ng-repeat="subCategory in category.subcategoryname" ng-click="subCategoryMethod(subCategory.subcategory,category.categoryname)">
                                                    <a href="" title="{{subCategory.subcategory | titleCase }}">{{subCategory.subcategory | titleCase }}</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>

                                    <!-- <ul class="dropdown-menu multi-level" id="id_menu_sub">
                        <li class="dropdown dropdown-submenu main-cat" ng-repeat="category in categoryData">
                          <a href="" ng-click="categoryBasedProducts(category.categoryname)" id="cat_name_ul" class="dropdown-toggle" data-toggle="dropdown"
                            title="{{category.categoryname | titleCase}}">
                            <span>
                              <img ng-src="{{category.cat_icon}}">
                            </span>
                            <span>{{category.categoryname | titleCase}}</span>
                          </a>
                          <ul class="dropdown-menu" ng-if="category.subcategoryname.length > 0" id="sub_cat_dropDown_list">
                            <li class="kopie" ng-repeat="subCategory in category.subcategoryname" ng-click="subCategoryMethod(subCategory.subcategory,category.categoryname)">
                              <a href="" title="{{subCategory.subcategory | titleCase }}">{{subCategory.subcategory | titleCase }}</a>
                            </li>
                          </ul>
                        </li>
                      </ul> -->


                                </li>
                                <li>
                                    <a href="" ng-click="coupons()" id="couponLink">Coupons</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!--   header Menu part end here   -->


            <!--     Header part old start here -->
            <!--<div class="container-fluid" id="menu_sri_header">   
	
        <nav class="navbar navbar-inverse srinavbarmenu" role="navigation">
			<div class="container">      
				<div class="navbar-header" style="margin-left: -15px;">
					
					<div class="navbar-brand navbar-brand-centered" id="nav_menu_cat">
						<ul class="nav navbar-nav">
							<li class="dropdown cat-link">
								<a  class="dropdown-toggle" data-toggle="dropdown">
									<span><i class="glyphicon glyphicon-list" aria-hidden="true" style="color: white;"></i></span>
									<span style="margin-left: 30px;color:#fff;"> CATEGORIES</span> <b class="caret" style="float: right;margin-top: 8px;color:#fff;"></b>
								</a>       
								<ul class="dropdown-menu" id="id_menu_sub">
									<li class="dropdown dropdown-submenu" ng-repeat="category in categoryArray">
										<a href="" ng-click="categoryBasedProducts(category.categoryname)" id="cat_name_ul" class="dropdown-toggle" data-toggle="dropdown" title="{{category.categoryname | titleCase}}">{{category.categoryname | titleCase}}</a>
										<ul class="dropdown-menu" ng-if="category.subcategoryname.length > 0" id="sub_cat_dropDown_list">
											<li class="kopie" ng-repeat="subCategory in category.subcategoryname" ng-click="subCategoryMethod(subCategory.subcategory,category.categoryname)">
												<a href="" title="{{subCategory.subcategory | titleCase }}">{{subCategory.subcategory | titleCase }}</a>
											</li>                
										</ul>               
									</li>            
								</ul>
							</li>
							<li><a href="" ng-click="coupons()" id="couponLink">Coupons</a></li>
						</ul>
					</div>
					
				</div>      
			</div>
        </nav>
		
    </div>-->
            <!--     Header part old end here -->


        </div>
    </header>

    <div class="container1">

        <div class="">
            <div class="fullpagewrapper">

                <p id="back-top" style="display: none;">&nbsp;</p>

                <div class="mainContainer">

                    <div class="topHeading">

                        <h1>ABOUT US</h1>

                    </div>

                    <div class="InnerPage">

                        <div class="listedContent">

                            <div class="marginTop10">&nbsp;</div>

                            <div class="about-us">

                                <p>The Comprehensive range of POWERTEX tools includes 111 power tools, 33 welding tools, and
                                    1000s of spares, accessories & abrasives which are widely used in the fields of activation,
                                    building construction and interior Designing, Manufacturing, Oil & Gas, Mining, automobile,
                                    Ship Building, and even the stone industry.</p>




                                <br />
                                <span><b>OUR NETWORK</b></span><br>
                                <p> We have reached more than 5,00,000 skilled & unskilled workers in every state
                                    of India, with our wide range of products, for every professional. this feat was achievable
                                    only with the support of our close to seven hundred distributors and thousands of their
                                    dealers across the country. Our business associations are steadfast and marked for durability.</p>

                            </div>

                        </div>

                    </div>

                </div>

            </div>



        </div>

    </div>

    <!-- footer1 start here -->
    <footer  class="footerbar footer">
        <div class="container1">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
                        <div class="row row1" id="ftr_ss">
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                <ul>
                                    <h5 id="footer_linksss">
                                        <b>POWERTEX TOOLS</b>
                                    </h5>
                                    <!-- <li ng-repeat="smtData in shopMyToolsArray" id="footer_links_valuess"><a href="#/smtData.footerimagelink" class="footerText"> {{smtData.footername}}</a></li> -->
                                    <li id="footer_links_valuess">
                                        <a href="aboutus2.html" class="footerText"> ABOUT US</a>
                                    </li>
                                    <!-- <li id="footer_links_valuess">
                    <a href="contact.html" class="footerText"> CONTACT US</a>
                  </li> -->
                                    <!--<li  id="footer_links_valuess"><a href="dealer.html" class="footerText"> DEALERS LIST</a></li> -->
                                    <!-- <li id="footer_links_valuess">
                    <a href="http://care.shopmytools.com" class="footerText"> SUPPORT</a>
                  </li> -->
                                </ul>
                            </div>
                            <!-- <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                <ul>
                  <h5 id="footer_linksss">
                    <b>CUSTOMER SERVICE</b>
                  </h5>
                  <li id="footer_links_valuess">
                    <a href="termsofuse.html" class="footerText"> TERMS OF USE</a>
                  </li>
                  <li id="footer_links_valuess">
                    <a href="returnpolicy.html" class="footerText"> RETURN POLICY</a>
                  </li>
                  <li id="footer_links_valuess">
                    <a href="privacypolicy.html" class="footerText"> PRIVACY POLICY</a>
                  </li>
                  <li id="footer_links_valuess">
                    <a href="shipping.html" class="footerText"> SHIPPING</a>
                  </li>
                </ul>
              </div> -->
                            <!-- <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                <ul>
                  <h5 id="footer_linksss">
                    <b>PAYMENT METHODS</b>
                  </h5>
                  <li id="footer_links_valuess">
                    <a href="netbanking.html" class="footerText"> NETBANKING</a>
                  </li>
                  <li id="footer_links_valuess">
                    <a href="emi.html" class="footerText"> EMI CONVERSION</a>
                  </li>
                </ul>
              </div> -->
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                <ul>
                                    <h5 id="footer_linksss">
                                        <b>CONTACT US</b>
                                    </h5>
                                    <li id="footer_links_valuess">
                                        <span style="margin-left: 5px;">
                                            <i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <!-- <span class="footerText1 footer_links_addere">
                      <span style="margin-left: 10px;">{{addressArray.plotno}}&nbsp;&nbsp;{{addressArray.building_name}}, </span>
                      <span>{{addressArray.near_by}},</span>
                      <br/>
                      <span style="margin-left: 25px;">{{addressArray.pincode}},</span>
                      <br/>
                      <span style="margin-left: 25px;">{{addressArray.city}},</span>
                      <br/>
                      <span style="margin-left: 25px;">{{addressArray.state}}.</span>
                      <br/>
                    </span> -->
                                        <span class="footerText1 footer_links_addere">
                                            <span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
                                            <span style="margin-left: 25px;"> Bahadurpura,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">500064,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">Hyderabad,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">Telangana.</span>
                                            <br/>
                                        </span>
                                    </li>
                                    <li id="footer_links_valuess">
                                        <span style="padding-right:5px;">
                                            <i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span>
                                            <b>EMAIL: </b>
                                            <a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
                                                info@powertextools.com </a>
                                        </span>
                                    </li>
                                    <li id="footer_links_valuess">
                                        <span style="padding-right:5px;">
                                            <i class="fa fa-phone" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span>
                                            <b>PHONE: </b>
                                            <a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer1 end here -->

    <!-- footer2 start here -->
    <footer  class="footerbar1 footer" id="new_ftr">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            © 2018 ShopMyTools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer2 end here -->

    <script>
        var amountScrolled = 300;
        $(window).scroll(function () {
            if ($(window).scrollTop() > amountScrolled) {
                $('#yttotop').fadeIn('slow');
            } else {
                $('#yttotop').fadeOut('slow');
            }
        });

        $('#yttotop').click(function () {
            $('html, body').animate({
                scrollTop: 0
            }, 700);
            return false;
        });
    </script>

</body>

</html>