
<div class="container">
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<!--  account dashboard page start here -->
			<div class="block_account_dashboard">
				<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
					<div class="account_left_content_title">
						<h1>My Account</h1>
						<hr/ style="margin-top:5px;margin-bottom:10px;border: 0;border-top: 0px solid #eee;">
					</div>
					<div class="block_account_right_content">
						<ul>
							<li><a href="#">Account Dashboard</a></li>
							 <li><a href="#">Account Information</a></li>
                            <li class="current"><strong>Address Book</strong></li>
							<li><a href="#">My Orders</a></li>
							<li><a href="#">My Product Reviews</a></li>
							<li><a href="#">My Tags</a></li>
							<li class="last"><a href="#">My Wishlist</a></li>
						</ul>
					</div>
				</div>
				
				<!-- edit account information start here -->
				
				<div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
					<div class="basic_dashboard">					
						<div class="block_title_dashboard">
							<h1>Add New Address</h1>
							
						</div>	
						<div class="add_newAdress_information_page_block">
							
							<form action="">
								<div class="add_newAdres_info_haeding"><h2>CONTACT INFORMATION</h2></div>
								
								<div class="row">
								<div class="form-group col-md-6 col-xs-12 col-lg-6 col-sm-12">
									<label for="anai_firstNmae">First Name</label>
									<input type="text" class="form-control" id="anai_firstNmae" placeholder="Enter First Name" name="anai_firstNmae">
								</div>
								<div class="form-group col-md-6 col-xs-12 col-lg-6 col-sm-12">
									<label for="anai_lastNmae">Last Name</label>
									<input type="text" class="form-control" id="anai_lastNmae" placeholder="Enter Last Name" name="anai_lastNmae">
								</div>
								</div>
								
								<div class="form-group">
									<label for="anai_company">Company</label>
									<input type="text" class="form-control" id="anai_company" placeholder="Enter Company Name" name="anai_company">
								</div>
								
								<div class="row">
								<div class="form-group col-md-6 col-xs-12 col-lg-6 col-sm-12">
									<label for="anai_mobile">Mobile</label>
									<input type="text" class="form-control" id="anai_mobile" placeholder="Enter Mobile Number" name="anai_mobile">
								</div>
								<div class="form-group col-md-6 col-xs-12 col-lg-6 col-sm-12">
									<label for="anai_fax">Fax</label>
									<input type="password" class="form-control" id="anai_fax" placeholder="Enter Fax" name="anai_fax">
								</div>
								</div>
								
								<div class="acunt_info_haeding"><h2>ADDRESS</h2></div>
								
								<div class="form-group">
									<label for="anai_address">Street Address</label>
									<input type="email" class="form-control" id="anai_address" placeholder="Enter Address" name="anai_address"><br>
									<input type="email" class="form-control" id="anai_address" placeholder="Enter Address" name="anai_address">
								</div>
								
								<div class="row">
								<div class="form-group col-md-6 col-xs-12 col-lg-6 col-sm-12">
									<label for="anai_city">City</label>
									<input type="text" class="form-control" id="anai_city" placeholder="Enter City" name="anai_city">
								</div>
								<div class="form-group col-md-6 col-xs-12 col-lg-6 col-sm-12">
									<label for="anai_state">State/Province</label>
									  <select class="form-control" id="anai_state">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
									  </select>
								</div>
								</div>
								
								<div class="row">
								<div class="form-group col-md-6 col-xs-12 col-lg-6 col-sm-12">
									<label for="anai_zip">Zip/Postal Code</label>
									<input type="text" class="form-control" id="anai_zip" placeholder="Enter Zipcode" name="anai_zip">
								</div>
								<div class="form-group col-md-6 col-xs-12 col-lg-6 col-sm-12">
									<label for="anai_country">Country</label>
									  <select class="form-control" id="anai_country">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
									  </select>
								</div>
								</div>
								
								<div class="checkbox">
									<label id="default_billing_haeding"><input type="checkbox" name="remember"><span>Use as my default billing address</span></label>
								</div>
								<div class="checkbox">
									<label id="default_shipping_haeding"><input type="checkbox" name="remember"><span>Use as my default shipping address</span></label>
								</div>

									<button type="submit" class="btn btn-default" id="back_edit_info">&lt;&lt; Back</button>
									<button type="submit" class="btn btn-default" id="save_edit_info">SAVE ADDRESS</button>
								
							</form>
						</div>
					</div>
				</div>
				<!-- edit account information start here -->
			</div>
			<!--  account dashboard page end here -->
			
		</div>
	</div>