<div class="container1" ng-controller="adminPanelCntrl">
    <div class="row mar-top-10 theme-bg">
        
        <div class="panel panel-success">
            <div class="panel-heading">Dealer Profile</div>
            <div class="panel-body">
                <!-- dealer details start-->
                 <div class="col-md-12">
                    <div class="product_based_list">
                        <table class="table table-bordered pending_order table-striped">
                            <thead class="">
                                <tr>
                                    <th class="txt_centr">S.No</th>
                                    <th class="txt_centr">Name</th>
                                     <th class="txt_left">Shop Name</th>
                                    <th class="txt_left">Email</th>
                                    <th class="txt_left">Mobile</th>
                                   
                                    <th class="txt_centr">Status</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="dealer in delVerifyDetails track by $index">
                                <tr>
                                    <td class="txt_centr">{{$index+1}}</td>
                                    <td class="txt_centr">{{dealer.dealer_name}}</td>
                                    <td class="txt_left">{{dealer.reg_shopname}}</td>
                                    <td class="txt_left">{{dealer.dealer_mail}}</td>
                                    <td class="txt_left">{{dealer.dealer_mobile}}</td>
                                    <td class="txt_centr" style="width: 10%;"><a href="" ng-click="dealer_details(dealer)">View more</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- dealer details end-->
                
            </div>
        </div>
    </div>


    <!-- Quantity Discount Table Modal start here -->
<div class="modal fade" id="dealer_shop_details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 130%;">

            <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="clr_black" aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title theme_color" id="myModalLabel">Dealer Profile</h4>
            </div>

            <div class="col-md-12">
            <!-- Admin Shop Details start here-->
                 <div class="edit_information_page_block" style="margin-top: 10px;box-shadow: 3px 3px 8px #d0cfcf;">
                    <form name="myform" >
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dlrCode">Dealer Code
                                    <span style="color:#be393d;">*</span>
                                </label>
                                <input  name="dlrCode" class="form-control" type="text"  data-validation="required">
                                <span id="error_name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="dlcity">City
                                    <span style="color:#be393d;">*</span>
                                </label>
                                <input  name="dlcity" class="form-control" type="text" ng-model="dealerdata.dealer_city" data-validation="required">
                                <span id="error_name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="dcash">Cash/ Credit
                                    <span style="color:#be393d;">*</span>
                                </label>
                                <input  name="dcash" class="form-control" type="text" data-validation="required">
                                <span id="error_name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="dsales">Sales Person
                                    <span style="color:#be393d;">*</span>
                                </label>
                                <input  name="dsales" class="form-control" type="text" data-validation="required">
                                <span id="error_name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="ddocument">Document Verified
                                    <span style="color:#be393d;">*</span>
                                </label>
                                <input id="ddocument" name="ddocument" class="form-control" type="text" data-validation="required">
                                <span id="error_name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="dturnovr">Billing Address
                                    <span style="color:#be393d;">*</span>
                                </label>
                                <div class="dis_address" ng-repeat ="addr in dealerdata.billing_addr">
                                    <p>
                                        <span>
                                            <b>D/No: </b>
                                        </span>
                                        <input type="text" name="dNo" ng-model="addr.d_no">
                                    </p>
                                    <p>
                                        <span>
                                            <b>Street: </b>
                                        </span>
                                        <input type="text" name="street" ng-model="addr.street">
                                    </p>
                                    <p>
                                        <span>
                                            <b>City: </b>
                                        </span>
                                        <input type="text" name="city" ng-model="addr.city">
                                    </p>
                                    <p>
                                        <span>
                                            <b>State: </b>
                                        </span>
                                        <input type="text" name="state" ng-model="addr.state">
                                    </p>
                                    <p>
                                        <span>
                                            <b>Zip Code: </b>
                                        </span>
                                        <input type="text" name="zip" ng-model="addr.zipcode">
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="adname">Name
                                    <span style="color:#be393d;">*</span>
                                </label>
                                <input id="dexp" name="adname" class="form-control" type="text" ng-model="dealerdata.dealer_name" data-validation="required">
                                <span id="error_name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="dlcat">Dealer Category
                                    <span style="color:#be393d;">*</span>
                                </label>
                                <input id="dlcat" name="dlcat" class="form-control" type="text" data-validation="required">
                                <span id="error_name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="dlcreditdays">Credit Days
                                    <span style="color:#be393d;">*</span>
                                </label>
                                <input id="dlcreditdays" name="dlcreditdays" class="form-control" type="text"  data-validation="required">
                                <span id="error_name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="dlslsperson">Sales Person
                                    <span style="color:#be393d;">*</span>
                                </label>
                                <input id="dlslsperson" name="dlslsperson" class="form-control" type="text"  data-validation="required">
                                <span id="error_name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="dlrem">Remarks
                                    <span style="color:#be393d;">*</span>
                                </label>
                                <input id="dlrem" name="dlrem" class="form-control" type="text" ng-model="dealerxdata.pan" data-validation="required">
                                <span id="error_name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="dturnovr">Shipping Address
                                    <span style="color:#be393d;">*</span>
                                </label>
                                <div class="dis_address" ng-repeat ="addr in dealerdata.shipping_addr">
                                    <p>
                                        <span>
                                            <b>D/No: </b>
                                        </span>
                                        <input type="text" name="dNo" ng-model="addr.d_no">
                                    </p>
                                    <p>
                                        <span>
                                            <b>Street: </b>
                                        </span>
                                        <input type="text" name="street" ng-model="addr.street">
                                    </p>
                                    <p>
                                        <span>
                                            <b>City: </b>
                                        </span>
                                        <input type="text" name="city" ng-model="addr.city">
                                    </p>
                                    <p>
                                        <span>
                                            <b>State: </b>
                                        </span>
                                        <input type="text" name="state" ng-model="addr.state">
                                    </p>
                                    <p>
                                        <span>
                                            <b>Zip Code: </b>
                                        </span>
                                        <input type="text" name="zip" ng-model="addr.zipcode">
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="period_target">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="target">Target
                                        <span style="color:#be393d;">*</span>
                                    </label>
                                    <div class="dis_address" style="border:0px solid red;">
                                        <p>
                                            <span>
                                                <b>From Period: </b>
                                            </span>
                                            <input type="text" name="frmprd">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="target">&nbsp;
                                        <span style="color:#be393d;"></span>
                                    </label>
                                    <div class="dis_address" style="border:0px solid red;">
                                        <p>
                                            <span>
                                                <b>To Period: </b>
                                            </span>
                                            <input type="text" name="toprd">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="target">&nbsp;
                                        <span style="color:#be393d;"></span>
                                    </label>
                                    <div class="dis_address" style="border:0px solid red;">
                                        <p>
                                            <span>
                                                <b>Amount: </b>
                                            </span>
                                            <input type="text" name="amount">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="extra_details">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="extraDetails">Extra Details
                                        <span style="color:#be393d;">*</span>
                                    </label>
                                    <div class="dis_address">
                                        <p>
                                            <span>
                                                <b>Turn Over: </b>
                                            </span>
                                            <input type="text" name="turnover" ng-model="dealerdata.turn_over">
                                        </p>
                                        <p>
                                            <span>
                                                <b>PAN: </b>
                                            </span>
                                            <input type="text" name="panno" ng-model="dealerdata.pan">
                                        </p>
                                        <p>
                                            <span>
                                                <b>GST No: </b>
                                            </span>
                                            <input type="text" name="gstno" ng-model="dealerdata.dealer_gstin">
                                        </p>
                                        <p>
                                            <span>
                                                <b>Phone No: </b>
                                            </span>
                                            <input type="text" name="phone" ng-model="dealerdata.dealer_phone">
                                        </p>
                                        <p>
                                            <span>
                                                <b>Email-Id1: </b>
                                            </span>
                                            <input type="text" name="email1" ng-model="dealerdata.dealer_mail">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>&nbsp;
                                        <span style="color:#be393d;"></span>
                                    </label>
                                    <div class="dis_address">
                                        <p>
                                            <span>
                                                <b>Experience(in years): </b>
                                            </span>
                                            <input type="text" name="exp" ng-model="dealerdata.year_exp_field">
                                        </p>
                                        <p>
                                            <span>
                                                <b>Aadhar No: </b>
                                            </span>
                                            <input type="text" name="aadhar" ng-model="dealerdata.adhar_num">
                                        </p>
                                        <p>
                                            <span>
                                                <b>Mobile No: </b>
                                            </span>
                                            <input type="text" name="mobile" ng-model="dealerdata.dealer_mobile">
                                        </p>
                                        <p>
                                            <span>
                                                <b>Email-Id2: </b>
                                            </span>
                                            <input type="text" name="email2" ng-model="dealerdata.dealer_mail">
                                        </p>
                                        <p>
                                            <span>
                                                <b></b>
                                            </span>
                                            <p></p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-12">
                            <button type="submit" value="submit" class="btn btn-primary pull-right theme_btn" ng-click="">Submit</button>
                        </div> -->
                    </form>
                </div> 
                <!-- Admin Shop Details end here-->
            </div>

            <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
                 <button type="submit" value="submit" class="btn btn-primary pull-right theme_btn" ng-click="">Submit</button>
                <button type="button" class="btn theme_bgclr pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Quantity Discount Table Modal end here -->
</div>

 <!-- Total footer start here-->
 <div class="ttl_footer1">
    <!-- footer1 start here -->
    <!-- <footer ng-controller="homeController" class="footerbar footer">
        <div class="container1">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
                        <div class="row row1" id="ftr_ss">
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                <ul>
                                    <h5 id="footer_linksss">
                                        <b>POWERTEX TOOLS</b>
                                    </h5>
                                    <li id="footer_links_valuess">
                                        <a href="aboutus.html" class="footerText"> ABOUT US</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                <ul>
                                    <h5 id="footer_linksss">
                                        <b>CONTACT US</b>
                                    </h5>
                                    <li id="footer_links_valuess">
                                        <span style="margin-left: 5px;">
                                            <i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span class="footerText1 footer_links_addere">
                                            <span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
                                            <span style="margin-left: 25px;"> Bahadurpura,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">500064,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">Hyderabad,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">Telangana.</span>
                                            <br/>
                                        </span>
                                    </li>
                                    <li id="footer_links_valuess">
                                        <span style="padding-right:5px;">
                                            <i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span>
                                            <b class="font_size">EMAIL: </b>
                                            <a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
                                                info@powertextools.com </a>
                                        </span>
                                    </li>
                                    <li id="footer_links_valuess">
                                        <span style="padding-right:5px;">
                                            <i class="fa fa-phone" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span>
                                            <b class="font_size">PHONE: </b>
                                            <a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer> -->
    <!-- footer1 end here -->

    <!-- footer2 start here -->
    <footer  class="footerbar1 footer" id="new_ftr">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer2 end here -->
</div>
<!-- Total footer end here-->