<style>
    .btn-minus {
        cursor: pointer;
        font-size: 7px;
        display: flex;
        align-items: center;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid gray;
        border-radius: 2px;
        border-right: 0;
    }

    .btn-plus {
        cursor: pointer;
        font-size: 7px;
        display: flex;
        align-items: center;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid gray;
        border-radius: 2px;
        border-left: 0;
    }

    div.section>div {
        width: 100%;
        display: inline-flex;
    }

    div.section>div>input {
        margin: 0;
        font-size: 10px;
        text-align: center;
        border: 1px solid gray;
    }

    .barcode_view {
        background: #fff;
        border: 1px solid #ddd;
        box-shadow: 3px 3px 8px #ddd;
        overflow: hidden;
        padding: 15px 10px;
    }
</style>
<div class="container1" ng-controller="barcodecnt">
    <!-- bradcrumbs start here -->
    <div class="row">
        <ul class="bredcrumb_ul margin_left">
            <li class="bredcrumb_li" ng-click="B2BDashboard()">
                <a>Dashboard</a>
            </li>
            <li class="bredcrumb_li">
                <a>POS</a>
            </li>
        </ul>
    </div>
    <!-- bradcrumbs end here -->
    <div class="barcode_view">
        <form>
            <div class="col-md-3">
                <label>Mobile No</label>
                <input type="text" class="" ng-model="mobileno" name="mobileno" placeholder="Enter Mobile No" />
            </div>
            <div class="col-md-3">
                <label>Card No</label>
                <input type="text" class="" name="barcode" placeholder="Enter Card No" />
            </div>
            <div class="col-md-3">
                <label>Scan Card</label>
                <input type="text" class="" name="barcode" placeholder="Enter Scan card" />
            </div>
            <div class="col-md-3">
                <div class="section">
                    <button class="btn btn-success" ng-click="getmobile(mobileno)"> Get </button>
                    <span> (OR) </span>
                    <button class="btn btn-success" data-toggle="modal" ng-click="barcodeUserReg()"> New Customer </button>
                </div>
            </div>
        </form>
    </div>
    <br/>

    <div class="dist-table-data" ng-if="getDetailsShow">

        <div class="marg_t_b_15">
            <div class="row">
                <div class="col-md-12" style="width:100%;">

                    <div class="" style="width:40%;float:left;">
                        <address>
                            <h4 style="font-size: 12px;">
                                <strong>Billed To:</strong>
                            </h4>
                            <div class="">
                                <div ng-repeat="billed in billedTo">
                                    {{billed.full_name}}, {{billed.mobile}}, {{billed.street}},{{billed.city}} {{billed.zipcode}}
                                </div>
                            </div>
                        </address>
                    </div>

                    <div class="" style="width:30%;float:left;">
                        <address>
                            <h4 style="font-size: 12px;">
                                <strong></strong>
                            </h4>
                            <div class="">
                                <div> &nbsp; &nbsp;</div>
                            </div>
                        </address>
                    </div>

                    <div class="">
                        <address class="pull-right111">
                            <h4 style="font-size: 12px;">
                                <strong>Shipped To:</strong>
                            </h4>
                            <div class="">
                                <div ng-repeat="shipped in shippedTo">
                                    {{shipped.full_name}}, {{shipped.mobile}}, {{shipped.street}},{{shipped.city}} {{shipped.zipcode}}
                                </div>
                            </div>
                        </address>
                    </div>

                </div>
            </div>
        </div>

        <div class="marg_btm_10">
            <div class="row">
                <div class="col-md-12">
                    <label>Barcode : </label>
                    <input type="text" name="bar" ng-model="bar">
                    <button class="btn btn-success" ng-click="getdetails(bar)">Get</button>
                </div>
            </div>
        </div>

        <div class="product_based_list" ng-if="productsShow">
            <div class="table-responsive">
                <table class="table table-bordered pending_order table-striped">
                    <thead>
                        <tr>
                            <th class="txt_centr">S.No</th>
                            <th class="txt_left">Bar Code</th>
                            <!-- <th class="txt_left">Product Code </th> -->
                            <th class="txt_left">Product Name</th>
                            <th class="txt_centr">Qty</th>
                            <th class="txt_right">MRP (₹)</th>
                            <th class="txt_right">Disc(%)</th>
                            <!-- <th class="txt_right">Spl Disc(%)</th>
                            <th class="txt_right">Vol Disc(%)</th> -->
                            <th class="txt_right">Total (₹)</th>
                            <!-- <th class="txt_right">Savings(%)</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <div>
                            <tr ng-repeat="productdetaldata in productdetal track by $index">
                                <td class="txt_centr">{{$index+1}}</td>
                                <td class="txt_left">{{productdetaldata.upload_hsncode}}</td>
                                <!-- <td class="txt_left">{{productdetaldata}}</td> -->
                                <td class="txt_left">{{productdetaldata.proddescription}}</td>
                                <td class="txt_centr">
                                    <div class="quantity quan_175">
                                        <button class="plus-btn quan-btn" type="button" ng-click="desc(productdetaldata)" name="button">
                                            <span class="glyphicon glyphicon-minus qty_plus_minus"></span>
                                        </button>
                                        <input type="number" min="0" name="qty" ng-model="productdetaldata.qty" max="4" value="{{productdetaldata.qty}}" class="quan-text">
                                        <button class="minus-btn quan-btn" ng-click="insc(productdetaldata)" type="button" name="button">
                                            <span class="glyphicon glyphicon-plus qty_plus_minus"></span>
                                        </button>
                                    </div>
                                </td>
                                <td class="txt_right">{{productdetaldata.MRP}}</td>
                                <td class="txt_right">{{productdetaldata.upload_discount}}</td>
                                <!-- <td class="txt_right">58</td>
                                <td class="txt_right">45</td> -->
                                <td class="txt_right">{{productdetaldata.qty * productdetaldata.MRP }}</td>
                                <!-- <td class="txt_right">29</td> -->
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>

        <div ng-if="productsShow">
            <button ng-click="invgenerate()">Generate Final Invoice</button>
            <!-- <pagination total-items="totalItems" page="currentPage" class="pagination-sm" items-per-page="itemsPerPage"></pagination> -->
        </div>

    </div>
    <!--otp enter-->
    <div class="modal fade" id="otpmodel" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">

                    <input type="text" name="otp" required id="eai_firstNmae" class="form-control" id="top" ng-model="otp" placeholder="Enter First Name"
                        autofocus="true">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="sendotp(otp)" data-dismiss="modal">send</button>
                </div>
            </div>

        </div>
    </div>

    <!--close otp enter-->
 

</div>