   <!-- Barcode new user registration start here -->


            <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
                <button type="button" class="close" ng-click="close();" aria-label="Close">
                    <span class="clr_black" aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title theme_color" id="myModalLabel">New Customer</h4>
            </div>

            <div class="quan-disc-table">
                <form name="myform">
                    <div class="form-group ">
                        <label class="clr_black" for="firstname">First Name
                            <span style="color:#be393d;">*</span>
                        </label>
                        <input type="text" name="firstname" required id="eai_firstNmae" class="form-control" id="firstname" ng-model="registrationData.firstname"
                            placeholder="Enter First Name" ng-minlength="3" ng-maxlength="50" maxlength="50" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,50}$/"
                            autofocus="true">
                        <!-- <p class="validationError errorMsg" ng-show="submitted && registerForm.firstname.$error.required">Enter First Name</p> -->
                        <div ng-messages="registerForm.firstname.$error ">
                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid First Name</p>
                            <p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
                            <p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50 Characters</p>
                        </div>
                        <br>
                    </div>
                    <div class="form-group ">
                        <label class="clr_black" for="lastname">Last Name
                            <span style="color:#be393d;">*</span>
                        </label>
                        <input type="text" name="lastname" required="" id="eai_lastNmae" class="form-control" id="lastname" ng-model="registrationData.lastname"
                            placeholder="Enter Last Name" ng-minlength="3" ng-maxlength="50" maxlength="50" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,50}$/">
                        <!-- <p class="validationError errorMsg" ng-show="submitted && registerForm.lastname.$error.required">Enter Last Name</p> -->
                        <div ng-messages="registerForm.lastname.$error ">
                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid Last Name</p>
                            <p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
                            <p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50 Characters</p>
                        </div>
                        <br>
                    </div>
                    <div class="form-group">
                        <label class="clr_black" for="user_mobile">Mobile Number
                            <span style="color:#be393d;">*</span>
                        </label>
                        <input type="number" name="user_mobile" class="form-control" id="user_mobile" id="eai_Mobileno" ng-model="registrationData.user_mobile"
                            placeholder="Enter Mobile Number" ng-minlength="10" ng-maxlength="10" maxlength="10" required
                            ng-pattern="/^[6-9][0-9]{9}$/">
                        <!-- <p class="validationError errorMsg" ng-show="submitted && registerForm.user_mobile.$error.required">Enter Mobile Number</p> -->
                        <div ng-messages="registerForm.user_mobile.$error ">
                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid Mobile Number</p>
                            <p class="validationError errorMsg" ng-message="minlength">Mobile Number should be 10 digits</p>
                            <p class="validationError errorMsg" ng-message="maxlength">Mobile Number should be 10 digits</p>
                        </div>
                        <br>
                    </div>
                    <div class="form-group ">
                        <label class="clr_black" for="gstnumber">GST Number</label>
                        <input type="text" name="gstnumber" class="form-control" id="gstnumber" id="eai_gst" ng-model="registrationData.gstnumber"
                            placeholder="Enter GST Number">
                        <div ng-messages="registerForm.gstnumber.$error ">
                            <p class="validationError errorMsg" ng-message="minlength"> </p>
                            <p class="validationError errorMsg" ng-message="maxlength"></p>

                        </div>
                        <br>
                    </div>
                    <div class="form-group ">
                        <label class="clr_black" for="email">Email Address
                            <span style="color:#be393d;">*</span>
                        </label>
                        <input type="email" name="email" class="form-control" id="eai_email" id="email" ng-model="registrationData.email" placeholder="Enter Email ID"
                            required ng-pattern="/^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/">
                        <div ng-messages="registerForm.email.$error ">
                            <p class="validationError errorMsg" ng-show="submitted" ng-message="required">Enter Email Id</p>
                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid Email</p>
                        </div>
                        <br>
                    </div>
                    <div class="form-group ">
                        <label class="clr_black" for="email">street
                            <span style="color:#be393d;">*</span>
                        </label>
                        <input type="text" name="street" class="form-control" id="street" ng-model="registrationData.street" placeholder="Enter Email ID"
                            required>
                        <!-- <div ng-messages="registerForm.email.$error ">
                            <p class="validationError errorMsg" ng-show="submitted" ng-message="required">Enter Email Id</p>
                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid Email</p>
                        </div> -->
                        <br>
                    </div>

                    <div class="form-group ">
                        <label class="clr_black" for="email">city
                            <span style="color:#be393d;">*</span>
                        </label>
                        <input type="text" name="city" class="form-control" id="city" ng-model="registrationData.city" placeholder="Enter city" required>
                        <!-- <div ng-messages="registerForm.email.$error ">
                            <p class="validationError errorMsg" ng-show="submitted" ng-message="required">Enter Email Id</p>
                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid Email</p>
                        </div> -->
                        <br>
                    </div>
                    <div class="form-group ">
                        <label class="clr_black" for="email">state
                            <span style="color:#be393d;">*</span>
                        </label>
                        <input type="text" name="state" class="form-control" id="state" ng-model="registrationData.state" placeholder="Enter state"
                            required>
                        <!-- <div ng-messages="registerForm.email.$error ">
                            <p class="validationError errorMsg" ng-show="submitted" ng-message="required">Enter Email Id</p>
                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid Email</p>
                        </div> -->
                        <br>
                    </div>

                    <div class="form-group ">
                        <label class="clr_black" for="email">pincode
                            <span style="color:#be393d;">*</span>
                        </label>
                        <input type="text" name="pincode" class="form-control" id="pincode" ng-model="registrationData.pincode" placeholder="Enter pincode"
                            required>
                        <!-- <div ng-messages="registerForm.email.$error ">
                            <p class="validationError errorMsg" ng-show="submitted" ng-message="required">Enter Email Id</p>
                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid Email</p>
                        </div> -->
                        <br>
                    </div>

                    <div class="form-group " ng-hide="true">
                        <label class="clr_black" for="password">Password
                            <span style="color:#be393d;">*</span>
                        </label>
                        <input type="password" name="password" class="form-control" id="eai_password" id="password" ng-model="registrationData.password"
                            placeholder="Enter Password" required>
                        <p ng-click="toggleShowPassword()" ng-class="{'fa fa-eye': showPassword,'fa fa-eye-slash': !showPassword}" style="cursor: pointer;margin-left: 85%;margin-top:-25px;position:absolute;"></p>
                        <div ng-messages="registerForm.password.$error ">
                            <p class="validationError errorMsg" ng-show="submitted" ng-message="required">Enter Password</p>
                        </div>
                        <br>
                        <!--<input type="password" class="form-control" id="eai_new_pwd" placeholder="Enter New Password" name="eai_new_pwd">-->
                    </div>
                    <div class="form-group " ng-hide="true">
                        <label class="clr_black" for="password">Confirm New Password
                            <span style="color:#be393d;">*</span>
                        </label>
                        <input type="{{inputType}}" name="confirm_password" class="form-control" id="eai_confirmpasswd" id="confirm_password" data-ng-match="registrationData.password"
                            ng-model="registrationData.confirm_password" placeholder="Enter Password" required>
                        <p ng-click="toggleShowPassword()" ng-class="{'fa fa-eye': showPassword,'fa fa-eye-slash': !showPassword}" style="cursor: pointer;margin-left:85%;margin-top:-25px;position:absolute;"></p>
                        <div ng-messages="registerForm.confirm_password.$error ">
                            <p class="validationError errorMsg" ng-show="submitted" ng-message="required">Enter Confirm Password</p>
                            <p class="validationError errorMsg" ng-message="match">Password should match</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
                <button type="button" class="btn theme_bgclr pull-left" ng-click="close();">Close</button>
                <button type="button" class="btn theme_bgclr" ng-click="adduser(registrationData)">Save</button>
            </div>
     
<!-- Barcode new user registration end here -->