<script>
  var amountScrolled = 300;
  $(window).scroll(function () {
      if ($(window).scrollTop() > amountScrolled) {
          $('#yttotop').fadeIn('slow');
      } else {
          $('#yttotop').fadeOut('slow');
      }
  });

  $('#yttotop').click(function () {
      $('html, body').animate({
          scrollTop: 0
      }, 700);
      return false;
  });


</script>


<div ng-controller="product_detailed_controller" class="fixed-hder-pading" id="edit_row" >

  <!--   Product Detail & zoom effect start here -->
  <div loading></div>
  <div class="container1" id="product_detailes_page">

    <div class="row" style="margin-bottom: 10px;">
      <ul class="bredcrumb_ul">
        <li class="bredcrumb_li">
          <a ng-click="goToHome()"> Home</a>
        </li>
        <li ng-if="breadCrumb" class="bredcrumb_li">
          <a ng-click="pageNavigate(breadCrumb)">{{breadCrumb}}</a>
        </li>
        <li ng-if="breadCrumb1" class="bredcrumb_li">
          <a ng-click="subcat(breadCrumb1)">{{breadCrumb1}}</a>
        </li>
        <li class="bredcrumb_li">
          <a>{{breadCrumb2}}</a>
        </li>
      </ul>
    </div>

    <div ng-if="brandDetailProductData.length == 0 && relatedProducts.length == 0 && upsellProducts.length == 0" style="color: #7d7575;text-align: center;margin-top: 25px;font-size: 37px;">
      <img src="images/noproducts.png">
      <br>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="preview col">
            <div class="col-md-5">
              <div class="row">
                <div class="app-figure1" style="box-shadow: 3px 3px 8px #ddd;background:#fff;">
                  <a title="{{brandDetailProductData.upload_name}}" id="main_img_effects">
                    <img ng-elevate-zoom zoom-image={{zoomImg}}  err-src="images/noproducts.png" ng-click="openImg(brandDetailProductData)" ng-src="{{productFirstImg}}"
                      class="img-responsive" alt="{{brandDetailProductData.upload_name}}" />
                  </a>
                  <div class="selectors">
                    <a ng-repeat="zimages in productImagesLow | limitTo : 2" id="img_effects">
                      <img ng-elevate-zoom ng-if="zimages != ''" ng-src="{{zimages}}" err-src="images/noproducts.png" class="img-responsive" ng-click="replaceSelected(zimages)"
                        alt="image" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div id="openImg" class="modal fade" align="middle">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">X</span>
                    </button>
                  </div>
                  <div class="modal-body" align="middle">
                    <img ng-src="{{openimage}}" style="width:95%;height:50%;">
                  </div>
                </div>
              </div>
            </div>
            <!--  detail description part strat here -->
            <div class="col-md-7">
              <div class="row">
                <div class="product_detail_desc">

                  <h1>{{brandDetailProductData.upload_name}}</h1>
                  <div class="prod_review">
                    <span class="rating_box" id="showAllRatings">4.7
                      <span class="glyphicon glyphicon-star"></span>

                    </span>
                  </div>

                  <div class="row pad-tb-10">
                    <div class="col-md-12 col-sm-8 pad-lr-xs-0">
                      <div class="prod_price_block o-hidden pad-tb-5">
                        <span class="f-left inline-block text-green pad-r-10 f-size-17 text-600">{{brandDetailProductData.enduser_price | currency:'&#8377;'}}</span>
                        <span class="f-left inline-block f-size-17 text-500 text-red" style="text-decoration: line-through;">{{brandDetailProductData.upload_mrp | currency:'&#8377;'}}</span>
                        <span class="f-left inline-block f-size-17 text-500 pad-l-25 price-percentage">[ {{brandDetailProductData.percentage}}% OFF ]</span>
                      </div>
                      <p class="f-size-12 text-400 mar-b-xs-15 theme_clr">( Excluding-GST) </p>

                      <!-- <div class="attribute_fieldset tablecombz-quantity-wanted clearfix" id="quantity_wanted_p">
                        <label class="inline-block f-left pad-r-5 pad-t-5 pad-t-xs-15 text-500">Update Qty:
                        </label>
                        <div class="quantity_wanted_input mar-lr-10 mar-lr-xs-0 inline-block f-left mar-t-xs-10">
                          <div class="new_quantity_add f-left mar-r-10 border-r-3 o-hidden">
                            <span class="action-qty add" ng-click="increaseValue(qty)">+</span>
                            <input class="cart_quantity_input text inline-block mar-lr-10 h-30 no-border pad-lr-5 text-center mar-l-xs-0 mar-r-xs-10 w-80 mar-r-xs-10"
                              id="product_quantity" maxlength="3" min="1" name="qty" style="border-radius: 3px !important;"
                              type="text" value="{{qty}}" min="1" ng-model="qty">
                            <span class="action-qty remove" ng-click="decreaseValue(qty)">-</span>
                          </div>
                        </div>
                      </div> -->


                    </div>
                  </div>

                  <div class="col-sm-12 col-md-12 o-hidden mob_fix text-left" ng-if="!dashboard">
                    <button class="btn inline-block mar-r-10 mar-lr-xs-5 btn-red text-white wp-xs-46 text-500" ng-controller="customercartController"
                      ng-click="addTocart(brandDetailProductData,qty)">ADD TO CART</button>
                    <button class="btn inline-block mar-r-10 mar-lr-xs-5 btn-red text-white wp-xs-46 text-500" ng-click="addToWishList(brandDetailProductData.upload_name)">WISH LIST</button>
                    <!-- <button class="btn inline-block mar-r-10 mar-lr-xs-5 btn-red text-white wp-xs-46 text-500">COMPARE</button>
                    <button class="btn inline-block btn-red text-white wp-xs-46 mar-lr-xs-5 text-500" ng-click="checkIsCustomer()">Email to a Friend</button> -->
                    <div>
                      <div ng-show="showReferalEmail">
                        <form>
                          <label for="referalEmail">
                            <sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>Referral Email Address</label>

                          <input type="email" name="referalEmail" class="form-control" id="referalEmail" ng-model="referalEmail" placeholder="Enter Email ID"
                            required ng-pattern="/^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/"
                            style="width: 60% !important;">

                          <button type="submit" class="email-friend" ng-click="emailtoFriend(referalEmail,brandDetailDescArray.description,brandDetailDescArray.upload_photo)">Send</button>
                        </form>
                      </div>
                      <div ng-show="showPlzLogin">
                        <p> Only registered users can refer friends. Please,
                          <a href="" ng-click="gotoLogin()" id="review_login">Login</a> or
                          <a href="" ng-click="gotoLogin()" id="review_reg">Register</a>
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 pad-lr-xs-0 pad-t-15 ">
                    <h3 class="f-size-16 text-uppercase no-margin mar-t-20 text-500 text-d-black" id="product-spec">Product Specifications</h3>
                    <div class="row center-block-xs pad-t-15 wp-xs-99">
                      <div class="col-sm-12 pad-lr-xs-0">
                        <table class="table f-size-12 no-margin border-t-d border-b-d">
                          <tbody>
                            <tr>
                              <td class="text-grey f-size-13 lh-22">Brand</td>
                              <td class="f-size-13 lh-22">
                                <div class="mar-b-0">
                                  <a href="/brands/microtek">{{brandDetailProductData.upload_brand}}</a>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="text-grey f-size-13 lh-22">Model No</td>
                              <td class="f-size-13 lh-22">
                                <div class="mar-b-0">
                                  <p> {{brandDetailProductData.upload_modelno}} </p>
                                </div>
                              </td>
                            </tr>
                            <!-- <tr>
                              <td class="text-grey f-size-13 lh-22">Net Weight</td>
                              <td class="f-size-13 lh-22">
                                <div class="mar-b-0">
                                  <p> {{brandDetailProductData.upload_netWeight}} </p>
                                </div>
                              </td>
                            </tr> -->
                            <tr ng-repeat="productSpec in productattributes">
                              <td class="text-grey f-size-13 lh-22">{{productSpec.atrname}}</td>
                              <td class="f-size-13 lh-22">
                                <div class="mar-b-0">
                                  <p>{{productSpec.atrvalue}} </p>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 pad-lr-xs-0 pad-t-15">
                    <!---->
                    <h3 class="f-size-16 text-500 text-uppercase no-margin pad-lr-xs-15 text-d-black ng-star-inserted">Key Features
                    </h3>
                    <!---->
                    <div class="row center-block-xs pad-tb-10 wp-xs-99 key_feature ng-star-inserted">
                      <div class="col-sm-12">
                        <ul class="no-padding no-margin pad-l-20">
                          <!---->
                          <li class="f-size-13 ng-star-inserted">
                            {{brandDetailProductData.key_features}}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 pad-lr-xs-0 pad-t-15">
                    <!---->
                    <h3 class="f-size-16 text-500 text-uppercase no-margin pad-lr-xs-15 text-d-black ng-star-inserted">Product Functions
                    </h3>
                    <!---->
                    <div class="row center-block-xs pad-tb-10 wp-xs-99 key_feature ng-star-inserted">
                      <div class="col-sm-12">
                        <ul class="no-padding no-margin pad-l-20">
                          <!---->
                          <li class="f-size-13 ng-star-inserted">
                            {{brandDetailProductData.prod_functions}}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  detail description part end here -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="code-to-copy"></div>
  <!--   Product Detail & zoom effect end here -->

  <!--   Product Detail specifications  start here -->
  <div class="container1" id="reviewTabOpen">
    <div class="row">
      <div class="product_detail_spec" style="box-shadow: 3px 3px 8px #ddd;background:#fff;">
        <div class="row">
          <div class="col-sm-3">
            <nav class="nav-sidebar">
              <ul class="nav tabs productDetailPageNav">
                <li class="" ng-class="isReview == undefined ? 'active' : ''">
                  <a data-target="#tab1" data-toggle="tab">Description</a>
                </li>
                <li class="second" ng-class="isReview == 'review' ? 'active' : ''">
                  <a data-target="#tab2" data-toggle="tab">Reviews</a>
                </li>
                <li class="">
                  <a data-target="#tab3" data-toggle="tab">Specifications</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-sm-9">
            <div class="row1" style="padding:10px;">
              <!-- tab content -->
              <div class="tab-content">
                <div class="tab-pane  text-style" id="tab1" ng-class="isReview == undefined ? 'active' : ''">
                  <p>{{brandDetailProductData.description}}</p>
                </div>
                <div class="tab-pane text-style" id="tab2" ng-class="isReview == 'review' ? 'active' : ''">
                  <div ng-if="!token">
                    <p class="font"> Only registered users can write reviews. Please,
                      <a href="" ng-click="gotoLogin()" id="review_login" ng-model="review_login">Login</a> or
                      <a href="" ng-click="gotoLogin()" id="review_reg">Register</a>
                    </p>
                  </div>
                  <div class="reviws_header" ng-if="token">
                    <form name="productpageForm">
                      <div class="rating_riview_table">
                        <h5 class="rate_this_product">HOW DO YOU RATE THIS PRODUCT?</h5>
                        <table class="table table-stripped table-bordered" id="product-review-table">
                          <thead>
                            <tr class="first last">
                              <th class="rev">&nbsp;</th>
                              <th class="rev">
                                <span class="nobr">1 star</span>
                              </th>
                              <th class="rev">
                                <span class="nobr">2 stars</span>
                              </th>
                              <th class="rev">
                                <span class="nobr">3 stars</span>
                              </th>
                              <th class="rev">
                                <span class="nobr">4 stars</span>
                              </th>
                              <th class="rev">
                                <span class="nobr">5 stars</span>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="first last odd tdfirst">
                              <th class="rev">
                                <sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>Quality</th>
                              <td class="value">
                                <input type="radio" value="1" class="radio re" id="reviewRating1" name="reviewRating" required ng-model="reviewData.reviewRating">
                              </td>
                              <td class="value">
                                <input type="radio" value="2" class="radio re" id="reviewRating2" name="reviewRating" required ng-model="reviewData.reviewRating">
                              </td>
                              <td class="value">
                                <input type="radio" value="3" class="radio re" id="reviewRating3" name="reviewRating" required ng-model="reviewData.reviewRating">
                              </td>
                              <td class="value">
                                <input type="radio" value="4" class="radio re" id="reviewRating4" name="reviewRating" required ng-model="reviewData.reviewRating">
                              </td>
                              <td class="value">
                                <input type="radio" value="5" class="radio re" id="reviewRating5" name="reviewRating" required ng-model="reviewData.reviewRating">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div class="login_create_review_tbl">
                        <h5 class="rate_this_product">WRITE YOUR OWN REVIEW</h5>
                        <div class="login_rev">
                          <div class="form-group frm_grppp">
                            <label for="reviewUserName">
                              <sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>Name:
                            </label>
                            <input type="text" class="form-control frm_ctrlll" id="reviewUserName" required name="reviewUserName" ng-model="reviewData.reviewUserName"
                              ng-minlength="3" ng-maxlength="50" maxlength="50" placeholder="Enter Name" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,50}$/">
                            <div ng-messages="productpageForm.reviewUserName.$error " class="validation_msgs">
                              <span class="validationError errorMsg" ng-show="submitted && productpageForm.reviewUserName.$error.required">Please Enter Name.</span>
                              <p class="validationError errorMsg" ng-message="pattern">Please Enter Valid Name. </p>
                              <p class="validationError errorMsg" ng-message="minlength">Name should be min 3 digits</p>
                              <p class="validationError errorMsg" ng-message="maxlength">Name should be max 50 digits</p>
                            </div>
                          </div>
                          <br>
                          <div class="form-group frm_grppp">
                            <label for="reviewUserSummery">
                              <sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>Summary of Your Review :</label>
                            <input type="text" class="form-control frm_ctrlll" id="reviewUserSummery" required name="reviewUserSummery" ng-model="reviewData.reviewUserSummery"
                              ng-minlength="3" ng-maxlength="100" maxlength="100" placeholder="Enter Summary of Your Review"
                              ng-pattern="/^[a-zA-Z ]{1,100}$/">
                            <div ng-messages="productpageForm.reviewUserSummery.$error " class="validation_msgs">
                              <span class="validationError errorMsg" ng-show="submitted && productpageForm.reviewUserSummery.$error.required">Please Enter Summary.</span>
                              <p class="validationError errorMsg" ng-message="pattern">Please Enter Valid Summary.</p>
                              <p class="validationError errorMsg" ng-message="minlength">Summary should be min 3 digits</p>
                              <p class="validationError errorMsg" ng-message="maxlength">Summary should be max 100 digits</p>
                            </div>
                          </div>
                          <br>
                          <div class="form-group frm_grppp">
                            <label for="reviewUserMobile">
                              <sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>Mobile Number :</label>
                            <input type="text" class="form-control frm_ctrlll" id="reviewUserMobile" required name="reviewUserMobile" ng-model="reviewData.reviewUserMobile"
                              ng-minlength="10" ng-maxlength="10" maxlength="10" placeholder="Enter Mobile Number" ng-pattern="/^[7-9][0-9]{9}$/">
                            <div ng-messages="productpageForm.reviewUserMobile.$error " class="validation_msgs">
                              <span class="validationError errorMsg" ng-show="submitted && productpageForm.reviewUserMobile.$error.required">Enter Mobile Number</span>
                              <p class="validationError errorMsg" ng-message="pattern">Enter Valid Mobile Number</p>
                              <p class="validationError errorMsg" ng-message="minlength">Mobile Number should be 10 digits</p>
                              <p class="validationError errorMsg" ng-message="maxlength">Mobile Number should be 10 digits</p>
                            </div>
                          </div>
                          <br>
                          <div class="form-group frm_grppp">
                            <label for="reviewUserComment">
                              <sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>Review:</label>
                            <textarea class="form-control frm_ctrlll" rows="5" id="reviewUserComment" required name="reviewUserComment" ng-model="reviewData.reviewUserComment"
                              ng-minlength="3" ng-maxlength="300" maxlength="300" placeholder="Enter Review"></textarea>
                            <div ng-messages="productpageForm.reviewUserComment.$error " class="validation_msgs">
                              <span class="validationError errorMsg" ng-show="submitted && productpageForm.reviewUserComment.$error.required">Please Enter Comments.</span>
                              <p class="validationError errorMsg" ng-message="pattern">Please Enter Valid Comments. </p>
                              <p class="validationError errorMsg" ng-message="minlength">Comments should be min 3 digits</p>
                              <p class="validationError errorMsg" ng-message="maxlength">Comments should be max 300 digits</p>
                            </div>
                          </div>
                          <div class="form-group frm_grppp pull-right">
                            <button class="btn btn_sub_review" type="submit" ng-click="submitted=true;productpageForm.$valid && reviews(reviewData,brandDetailProductData.upload_name);">SUBMIT</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="productDetailedReviewBlock1" ng-if="productDetailedReviewBlock.length>0 && token">
                    <div class="myOrdersAccount_star" style="margin-top:65px;">
                      <div class="myAcuntpager_star">
                        <p class="myAcuntAmount_star">
                          <strong>
                            <span>{{productDetailedReviewBlock.length}}</span> Item(s)</strong>
                        </p>
                        <div class="myAcountlimiter_star" style="text-align:right;">
                        </div>
                      </div>
                    </div>
                    <div class="rateReviewBlock" ng-repeat="proReviewBlock in productDetailedReviewBlock">
                      <p>
                        <span>{{proReviewBlock.review}}</span>
                        <strong> Review by
                          <span>{{proReviewBlock.user}}</span>
                        </strong>
                      </p>
                      <p>
                        <b>Quality
                          <span> Rating: {{proReviewBlock.rating}}</span>
                        </b>
                        <div ng-repeat="n in [] | range:5" style="float:left;">
                          <div ng-if="n<proReviewBlock.rating">
                            <i class="fa fa-star" aria-hidden="true" style="padding-right:5px;font-size:15px;color:#efb30b;"></i>
                          </div>
                          <div ng-if="n>=proReviewBlock.rating">
                            <i class="fa fa-star-o" aria-hidden="true" style="padding-right:5px;font-size:15px;color:#e9e9e9;"></i>
                          </div>
                        </div>
                      </p>
                      <br/>
                      <p>
                        <span>{{proReviewBlock.rating_comments}}</span>
                      </p>
                      <p style="font-style:italic;">(Posted On
                        <span>
                          <b>{{proReviewBlock.created_date}}</b>
                        </span>)</p>
                    </div>
                  </div>
                </div>
                <div class="tab-pane text-style" id="tab3">
                  <div class="table-responsive">
                    <table class="table-striped" id="table_data_specifications" border=1 ng-if="showMultipleProducts">
                      <tr>
                        <td class="spec_smt">
                          <span class="spec">Brand</span>
                        </td>
                        <td class="spec_smt">
                          <span class="spec">{{brandDetailProductData.upload_brand}}</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="spec_smt">
                          <span class="spec">Price</span>
                        </td>
                        <td class="spec_smt">
                          <span class="spec">{{brandDetailProductData.enduser_price | currency:'&#8377;'}}</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="spec_smt">
                          <span class="spec">Special Price</span>
                        </td>
                        <td class="spec_smt">
                          <span class="spec">{{brandDetailProductData.upload_mrp | currency:'&#8377;'}}</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="spec_smt">
                          <span class="spec">Model No</span>
                        </td>
                        <td class="spec_smt">
                          <span class="spec">{{brandDetailProductData.upload_modelno}}</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="spec_smt">
                          <b style="color:#444;">Specifications</b>
                        </td>
                        <td class="spec_smt" ng-repeat="productSpec in productattributes">
                          <div style="margin-bottom:5px;">
                            <span class="spec">
                              <b>{{productSpec.atrname}}</b>
                            </span> :
                            <span class="spec">
                              {{productSpec.atrvalue}}
                            </span>
                          </div>
                        </td>
                      </tr>
                    </table>
                    <table class="table-striped" id="table_data_specifications" border=1 ng-if="!showMultipleProducts">
                      <tr>
                        <td class="spec_smt">
                          <span class="spec">Brand</span>
                        </td>
                        <td class="spec_smt">
                          <span class="spec">{{brandDetailProductData.upload_brand}}</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="spec_smt">
                          <span class="spec">Price</span>
                        </td>
                        <td class="spec_smt">
                          <span class="spec">{{brandDetailProductData.enduser_price | currency:'&#8377;'}}</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="spec_smt">
                          <span class="spec">Special Price</span>
                        </td>
                        <td class="spec_smt">
                          <span class="spec"> {{brandDetailProductData.upload_mrp | currency:'&#8377;'}}</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="spec_smt">
                          <span class="spec">Model No</span>
                        </td>
                        <td class="spec_smt">
                          <span class="spec">{{brandDetailProductData.upload_modelno}}</span>
                        </td>
                      </tr>
                      <tr ng-repeat="productSpec in productattributes">
                        <td class="spec_smt">
                          <span class="spec">{{productSpec.atrname}}</span>
                        </td>
                        <td class="spec_smt">
                          <span class="spectd">
                            <b>{{productSpec.atrvalue}}</b>
                          </span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   Product Detail specifications  end here -->

  <!--  Related Product Cart Slider Start here -->
  <div class="container1" ng-if="relatedProducts.length>0">
    <div class="row">
      <div class="col-md-12" style="margin-top: 20px;background: #ffffff;box-shadow: 3px 3px 8px #ddd;padding: 20px 0;" id="slide_new">
        <!-- <div class="col-md-2 side-title_bkp" style="margin-left: -15px;"> -->
        <!-- <div class="products_rack111"> -->
        <div class="prod_rel_up">Related Products</div>
        <!-- <button class="">View All</button> -->
        <!-- </div> -->
        <!-- </div>
        <div class="col-md-12"> -->
        <div id="reup" class="padd_t_20">
          <slick settings="slickConfig" slides-to-show="6" ng-if="relatedProducts" slides-to-scroll="1">
            <div ng-repeat="RelatedProductArray in relatedProducts">
              <div class="col-item_lak">
                <div class="photo_lak">
                  <i ng-if="!dashboard" class="fa fa-heart wishlist_styles" aria-hidden="true" style="margin-right: 30px;"></i>
                  <img ng-src="{{RelatedProductArray.image}}" ng-click="getnewProductDetails(RelatedProductArray)" err-src="images/noproducts.png"
                    ng-click="getProductDetailsaa(RelatedProductArray)" class="img-responsive" title="{{RelatedProductArray.upload_name}}"
                  />
                  <!-- <div ng-if="RelatedProductArray.avgrating!=0">
                      <p style="margin-top:-130px;">
                        <div ng-repeat="n in [] | range:5" style="text-align: right;">
                          <div ng-if="n<RelatedProductArray.avgrating">
                            <i class="fa fa-star" aria-hidden="true" style="padding-right:5px;font-size:15px;color:#efb30b;"></i>
                          </div>
                          <div ng-if="n>=RelatedProductArray.avgrating">
                            <i class="fa fa-star-o" aria-hidden="true" style="padding-right:5px;font-size:15px;color:#e9e9e9"></i>
                          </div>
                        </div>
                      </p>
                    </div> -->
                </div>
                <div class="info_lak">
                  <div class="row">
                    <div class="price_lak col-md-12 col-lg-12 col-sm-12 col-xs-122">
                      <div ng-init="limit = 25">
                        <h5 class="product_name_lak">
                          <a ng-click="getProductDetailsaa(RelatedProductArray)" ng-click="getnewProductDetails(RelatedProductArray)" title="{{RelatedProductArray.upload_name}}">{{RelatedProductArray.upload_name | limitTo: limit}}{{RelatedProductArray.upload_name .length >
                            limit ? ' . . .' : ''}}</a>
                        </h5>
                      </div>
                      <div class="product-price">
                        <div class="price-box">
                          <div class="offer">
                            <span class="old-price">
                              <span class="price" id="old-price-507_b">
                                {{RelatedProductArray.upload_mrp | currency:'&#8377;'}}
                              </span>
                              <span class="price-percentage">{{RelatedProductArray.percentage}}% Off</span>
                            </span>
                            <br/>
                            <span class="price_latest">{{RelatedProductArray.enduser_price | currency:'&#8377;'}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix">
                  </div>
                </div>
              </div>
            </div>
          </slick>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <!--  Related Product Cart Slider end here -->

  <!--  upsell Product Cart Slider start here -->
  <div class="container1" ng-if="upsellProducts.length>0">
    <div class="row">
      <div class="col-md-12" style="margin-top: 20px;background: #ffffff;box-shadow: 3px 3px 8px #ddd;padding: 20px 0;" id="slide_new">
        <!-- <div class="col-md-2 side-title_bkp" style="margin-left: -15px;"> -->
        <!-- <div class="products_rack"> -->
        <div class="prod_rel_up">Upsell Products</div>
        <!-- <button class="">View All</button> -->
        <!-- </div> -->
        <!-- </div>
        <div class="col-md-10"> -->
        <div id="reup" class="padd_t_20">
          <slick settings="slickConfig" slides-to-show="6" ng-if="upsellProducts" slides-to-scroll="1">
            <div ng-repeat="upsellProductArray in upsellProducts">
              <div class="col-item_lak">
                <div class="photo_lak">
                  <i ng-if="!dashboard" class="fa fa-heart wishlist_styles" aria-hidden="true" style="margin-right: 30px;"></i>
                  <img ng-src="{{upsellProductArray.image}}" ng-click="getnewProductDetails(upsellProductArray)" err-src="images/noproducts.png"
                    class="img-responsive" ng-click="getProductDetailsaa(upsellProductArray)" title="{{upsellProductArray.upload_name}}"
                  />
                  <!--  product Rating starts here -->
                  <!-- <div ng-if="upsellProductArray.avgrating!=0">
                      <p style="margin-top:-130px;">
                        <div ng-repeat="n in [] | range:5" style="text-align: right;">
                          <div ng-if="n<upsellProductArray.avgrating">
                            <i class="fa fa-star" aria-hidden="true" style="padding-right:5px;font-size:15px;color:#efb30b;"></i>
                          </div>
                          <div ng-if="n>=upsellProductArray.avgrating">
                            <i class="fa fa-star-o" aria-hidden="true" style="padding-right:5px;font-size:15px;color:#e9e9e9"></i>
                          </div>
                        </div>
                      </p>
                    </div> -->
                  <!--  product Rating end here -->
                </div>
                <div class="info_lak">
                  <div class="row">
                    <div class="price_lak col-md-12 col-lg-12 col-sm-12 col-xs-12">
                      <div ng-init="limit = 25">
                        <h5 class="product_name_lak">
                          <a title="{{upsellProductArray.upload_name}}" ng-click="getnewProductDetails(upsellProductArray)">{{upsellProductArray.upload_name | limitTo: limit}}{{upsellProductArray.upload_name .length > limit
                            ? ' . . .' : ''}}</a>
                        </h5>
                      </div>
                      <div class="product-price">
                        <div class="price-box">
                          <div class="offer">
                            <span class="old-price">
                              <span class="price" id="old-price-507_b">
                                {{upsellProductArray.upload_mrp | currency:'&#8377;'}}
                              </span>
                              <span class="price-percentage">{{upsellProductArray.percentage}}% Off</span>
                            </span>
                            <br/>
                            <span class="price_latest">{{upsellProductArray.enduser_price | currency:'&#8377;'}}</span>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="price-box_lak">
                          <div class="offer_lak">
                            <div class="detail_page_price">
                              <span class="special-price_lak">
                                <span class="price_lak" style="padding-left: 0px;">{{upsellProductArray.offer_price | currency:'&#8377;'}}</span>
                              </span>
                              <span class="old-price_lak">
                                <span class="price_lak">{{upsellProductArray.enduser_price | currency:'&#8377;'}}</span>
                              </span>
                              <div>
                                <span class="exclude_gst_lak">(Excluding-GST)</span>
                                <br/>
                                <span class="price-percentage">{{upsellProductArray.percentage}}%</span>
                              </div>
                            </div>
                          </div>
                        </div> -->
                    </div>
                  </div>
                </div>
          </slick>
          </div>
          </div>
        </div>
      </div>
    </div>
    <!--  upsell Product Cart Slider end here -->

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prettify/188.0.0/prettify.min.js"></script>

    <script>
      try {
        prettyPrint();
      } catch (e) { }
    </script>


    <div id="addedToWishList" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header align_center">
            <img src="images/powertex_logo.png" />
          </div>
          <div class="modal-body" align="middle">
            <!-- RFQ No. {{rfq_no}} Generated Successfully! -->
            <div>
              <img src="images/completed_icon.png" class="pop_image" />
              <br/>

              <span class="completed_styles theme_color"> Added to Wish List Successfully!</span>
              <br/>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn theme_bgclr" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>

    <div id="addedToCart" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header align_center">
            <img src="images/powertex_logo.png" />
          </div>
          <div class="modal-body" align="middle">
            <!-- RFQ No. {{rfq_no}} Generated Successfully! -->
            <div>
              <img src="images/completed_icon.png" class="pop_image" />
              <br/>

              <span class="completed_styles theme_color"> Added to Cart Successfully!</span>
              <br/>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn theme_bgclr" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Total footer start here-->
  <div class="ttl_footer1">
    <!-- footer1 start here -->
    <footer class="footerbar footer">
      <div class="container1">
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="row">
              <a id="yttotop" href="#" data-target="carousel-example-generic" title="Go to Top" style="display: block;"></a>
              <div class="row row1" id="ftr_ss">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                  <ul>
                    <h5 id="footer_linksss">
                      <b>POWERTEX TOOLS</b>
                    </h5>
                    <li id="footer_links_valuess">
                      <a href="aboutus.html" class="footerText"> ABOUT US</a>
                    </li>
                  </ul>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                  <ul>
                    <h5 id="footer_linksss">
                      <b>CONTACT US</b>
                    </h5>
                    <li id="footer_links_valuess">
                      <span style="margin-left: 5px;">
                        <i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
                      </span>
                      <span class="footerText1 footer_links_addere">
                        <span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate,</span>
                        <span style="margin-left: 25px;"> Bahadurpura,</span>
                        <br/>
                        <span style="margin-left: 25px;">500064, Hyderabad, Telangana.</span>
                        <!-- <br/>
                                          <span style="margin-left: 25px;">Hyderabad,</span>
                                          <br/>
                                          <span style="margin-left: 25px;">Telangana.</span>
                                          <br/> -->
                      </span>
                    </li>
                    <li id="footer_links_valuess">
                      <span style="padding-right:5px;">
                        <i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
                      </span>
                      <span>
                        <b class="font_size">EMAIL: </b>
                        <a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
                          info@powertextools.com </a>
                      </span>
                    </li>
                    <li id="footer_links_valuess">
                      <span style="padding-right:5px;">
                        <i class="fa fa-phone" aria-hidden="true" id="enve"></i>
                      </span>
                      <span>
                        <b class="font_size">PHONE: </b>
                        <a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer1 end here -->

    <!-- footer2 start here -->
    <footer class="footerbar1 footer">
      <div class="container1">
        <div class="row row1" style="padding:10px 0;color:white;">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer2 end here -->
  </div>
  <!-- Total footer end here-->