<style>
.product-image a{
cursor:pointer;
}
.mg-image a{
cursor:pointer;
}

</style>

<!--<meta http-equiv="refresh" content= "0" />-->

<div class="container" id="categoryPage" ng-controller="brandProductsCtrl">

   <ul class="bredcrumb_ul" style="margin-top: 10px;">
    	<li class="bredcrumb_li">
	<a  ng-click="goToHome()">	Home</a>
		</li>
		<li class="bredcrumb_li">
		<a >{{brandBreadCrumb}}</a>
    </li>
    
	</ul>
 
<div ng-if="products.length == 0" style="color: #7d7575;text-align: center;margin-top: 25px;font-size: 37px;">
<img src="images/noproducts.png">
<br></div>
  <div ng-switch="x" ng-if="products.length != 0">

    <div style="margin-top:10px;">

      <div class="row">

        <!-- <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"> -->

        

          <!--start of body grid-->

          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top: 10px;">

            <div class="row" id="pageshowsort">

              <div>

                <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6" style="margin-top:5px;">

                  <select ng-model="x">

                    <option>Grid</option>

                    <option>List</option>

                  </select>

                </div>

                <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6" style="margin-top: 5px;margin-bottom:10px;">

                  <label for="name" class="col-lg-4 col-xs-4 col-sm-2 pageshowlabel">Show</label>

                  <div class="col-lg-5 col-xs-5 col-sm-5">

                    <select ng-model="viewby" ng-change="setpage(viewby)">

                      <option value="12">12</option>

                      <option value="24">24</option>

                      <option value="36">36</option>	

                     </select>

					<!-- <select name="type" ng-model="viewby" ng-dropdown required ng-change="setpage(viewby)" ng-options="option for option in show_by_list">
                </select>-->



                  </div>

                </div>

                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6" style="margin-top: 5px;margin-bottom:10px;">

                  <div class="form-group">

                    <label for="name" class="col-lg-2 col-xs-3 pagesortlabel">Sort</label>

                    <div class="col-lg-8 col-xs-8">

                      <select ng-model="sort_by" ng-change="sortby(sort_by)">

                        <option value="popularty">Popularity</option>

                        <option value="topselling">Topselling</option>

                        <option value="namefilter">Name</option>

                        <option value="price_low_high">Price:Low to High</option>

                        <option value="price_high_low">Price:High to Low</option>

                      </select>

                    </div>

                  </div>

                </div>

                <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12 pull-right" style="margin-bottom: -10px;margin-bottom:10px;">

                  <div class="form-group">

                    <div class="buttons-countrows">

                      <button type="button" class="btn-prev btn   flat-box-btn waves-effect waves-button btnpageprevnext" ng-disabled="currentPageNumber == 1"

                        ng-click="previousPageMethod(fromVal,toVal,viewby)">

                         Prev </button>

                      <span class="countpages" ng-cloak>	{{currentPageNumber}}</span>

                      <button type="button" class="btn-next btn   flat-box-btn waves-effect waves-button btnpageprevnext" ng-disabled="nextBtn == 'false'"

                        ng-click="nextPageMethod(fromVal,toVal,viewby)">

                            Next 

                          </button>





                    </div>

                  </div>



                </div>

              </div>

            </div>

            <!-- grid row -->

            <div class="row">

              <div ng-switch-when="Grid">

                <!-- Wrapper for slides -->

                <div class="carousel-inner ">
					
                  <div id="{{productsdata}}" class="col-sm-3 col-xs-12 col-lg-3 col-sm-6" ng-repeat="productsdata in products track by $index"

                    style="margin-top:10px;">
				
                    <div class="sub-item respl-item" style="opacity: 1;">

                      <div class="item-inner">

                        <div class="prod-modelNo prod-modelNo-warrt-list prod-modelNo-list">

                        </div>

                        <div class="product-image">

                          <a style="padding:10px 0;" ng-click="getProductDetails(productsdata)" class="product-img" title="{{productsdata.brand_name}}">

                            <img class="small-image pdt-img-small" ng-src="{{productsdata.upload_photo}}" alt="{{productsdata.brand_name}}">

                          </a>

                        </div>

                        <div class="product-info">

                          <div class="product-name" ng-init="limit = 32;" style="margin-bottom: -15px;">

                            <a ng-click="getProductDetails(productsdata)" href="" ng-right-click="newTab(productsdata)" title="{{productsdata.upload_name}}">

                                                           {{productsdata.upload_name | limitTo: limit}}{{productsdata.upload_name .length > limit ? ' . . .' : ''}} <!-- <span ng-repeat="attribute in product.attributes|limitTo:2" style="padding-left:1px;color:#666666;"> {{attribute.atrname}}{{attribute.atrvalue}} </span>  -->

                                                                    </a>

                          </div>

                          <div class="product-price productpricediv" style="margin-bottom: 18px;">



                            <div class="price-box" ng-repeat="price in productsdata.prices">

                              <div class="offer">

                                <!--<div style="padding-bottom: 10px;"><span style="float:left;font-weight:bold;color:#259b78;font-size:11px;">(Excluding-GST)</span></div>-->

                                <br>

                                <p class="special-price yousave" id="spyousave">

                                  {{price.percentage}} %

                                </p>

                                <span class="special-price">

                                                                            <span class="special-price" id="product-price-507_b">

                                                                                <span class="price" style="padding-left: 0px;padding-right: 3px;">{{price.offer_price  | currency:'&#8377;' }}</span>

                                </span>

                                </span>

                                <span class="old-price">

                                                                            <span class="price" id="old-price-507_b">

                                                                              {{price.enduser_price | currency:'&#8377;'  }}

                                                                            </span>

                                </span>

                                 <p id="exclgstttt">(Excluding-GST)</p>

                              </div>

                            </div>

                          </div>

                          <div class="clear-left_detailed">

                            <div class="cart_items" id="cart_items_cat">

                              <a href="" class="ad_cart_lak" id="ad_cart_cat" title="Add To Cart" ng-click="addToCart(productsdata)"><span class="glyphicon glyphicon-shopping-cart" style="padding-right:5px;font-size: 13px"></span> ADD TO CART</a>

                              <a href="" class="whishlist_lak" id="whishlist_cat" title="Add To Whishlist" ng-click="addToWishList(productsdata)" style="margin-bottom: 0px;height: 36px;margin-right: 0px;"></a>

                              <a href="" class="compare_lak" id="compare_cat" title="Add To Compare" ng-click="addToCompare(productsdata)" style="margin-bottom: 0;height: 36px;"></a>

                              <a href="" class="review_new_lak" id="review_new_cat" title="Write Your Review" ng-click="productReview(productsdata, 'review')" title="Add To Review" style="padding: 8px 6px 9px 6px;"><span class="glyphicon glyphicon-star" style="padding-right:5px;font-size: 13px;top:3px !important;right:-3px !important;"></span> Review</a>


                            </div>

                          </div>

                        </div>

                      </div>

                    </div>

                  </div>



                </div>

                <br/>

              </div>

            </div>

            <!-- /grid row -->

            <!-- list row -->

            <div class="row">

              <div style="margin-top: 10px;" ng-switch-when="List" class="col-md-12 col-lg-12 col-sm-12 col-xs-12 list">

                <div ng-repeat="productsdata in products" style="margin-bottom:10px;">

                  <div class="col-item carousel-inner">

                    <div class="col-md-4">

                      <div class="listitem-inner">

                        <div class="product-image">

                          <a style="padding:10px 0;" ng-click="getProductDetails(productsdata)" class="product-img" title="{{productsdata.brand_name}}">

                            <img class="small-image pdt-img-small" ng-src="{{productsdata.upload_photo}}" alt="{{productsdata.brand_name}}">

                          </a>

                        </div>

                      </div>

                    </div>

                    <div class="price col-md-8">

                      <div class="product-info">

                        <div class="product-name" ng-init="limit = 35;">

                          <a ng-click="getProductDetails(productsdata)" href="" ng-right-click="newTab(productsdata)" title="{{productsdata.brand_name}}">

                                                                {{productsdata.upload_name | limitTo: limit}}{{productsdata.upload_name .length > limit ? ' . . .' : ''}} <!-- <span ng-repeat="attribute in product.attributes|limitTo:2" style="padding-left:1px;color:#666666;"> {{attribute.atrname}}{{attribute.atrvalue}} </span>  -->

                                                                    </a>

                        </div>

                        <div class="product-price" style="margin-bottom: 18px;">



                          <div class="price-box" ng-repeat="price in productsdata.prices">

                            <div class="offer">

                              <!--<div style="padding-bottom: 10px;"><span style="float:left;font-weight:bold;color:#259b78;font-size:11px;">(Excluding-GST)</span></div>-->

                              <br>

                              <p class="special-price yousave">

                                {{price.percentage}} %

                              </p>



                              <span class="special-price">

                                                                            <span class="special-price" id="product-price-507_b">

                                                                                <span class="price">{{price.offer_price | currency:'&#8377;' }}</span>

                              </span>

                              </span>

                              <span class="old-price">

                                                                            <span class="price" id="old-price-507_b">

                                                                              {{price.enduser_price | currency:'&#8377;' }}

                                                                            </span>

                              </span><br/>

                              <p id="exclgstttt">(Excluding-GST)</p>

                            </div>

                          </div>

                        </div>

                        <div class="clear-left_detailed">

                          <div class="cart_items">

                            <a href="" class="ad_cart_lak" title="Add To Cart" ng-click="addToCart(productsdata)"><span class="glyphicon glyphicon-shopping-cart" style="padding-right:5px;font-size: 13px"></span> ADD TO CART</a>

                            <a href="" class="whishlist_lak" title="Add To Whishlist" ng-click="addToWishList(productsdata)" style="margin-bottom: 0px;height: 36px;margin-right: 0px;"></a>

                            <a href="" class="compare_lak" title="Add To Compare" ng-click="addToCompare(productsdata)" style="margin-bottom: 0;height: 36px;"></a>

                             <a href="" class="review_new_lak" id="review_new_cat" title="Write Your Review" ng-click="productReview(productsdata, 'review')" title="Add To Review" style="padding: 8px 6px 9px 6px;"><span class="glyphicon glyphicon-star" style="padding-right:5px;font-size: 13px;top:3px !important;right:-3px !important;"></span> Review</a>


                          </div>

                        </div>







                      </div>

                    </div>



                  </div>

                </div>

                <br/>

              </div>



            </div>



          </div>

        <!-- </div> -->



      </div>

    </div>

  </div>

</div>



<div id="addedToCart" class="modal fade" ng-controller="homeController">

  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header"></div>

      <div class="modal-body" align="middle">

        Added to Cart Successfully!

      </div>



      <div class="modal-footer">

        <button class="btn btn-primary modalBtn" ng-click="closeModal()">OK</button>

      </div>

    </div>

  </div>

</div>

 <!-- Total footer start here-->
 <div class="ttl_footer1">
  <!-- footer1 start here -->
  <footer  class="footerbar footer">
      <div class="container1">
          <div class="row">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                  <div class="row">
                      <a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
                      <div class="row row1" id="ftr_ss">
                          <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                              <ul>
                                  <h5 id="footer_linksss">
                                      <b>POWERTEX TOOLS</b>
                                  </h5>
                                  <li id="footer_links_valuess">
                                      <a href="aboutus.html" class="footerText"> ABOUT US</a>
                                  </li>
                              </ul>
                          </div>

                          <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                              <ul>
                                  <h5 id="footer_linksss">
                                      <b>CONTACT US</b>
                                  </h5>
                                  <li id="footer_links_valuess">
                                      <span style="margin-left: 5px;">
                                          <i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
                                      </span>
                                      <span class="footerText1 footer_links_addere">
                                          <span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
                                          <span style="margin-left: 25px;"> Bahadurpura,</span>
                                          <br/>
                                          <span style="margin-left: 25px;">500064,</span>
                                          <br/>
                                          <span style="margin-left: 25px;">Hyderabad,</span>
                                          <br/>
                                          <span style="margin-left: 25px;">Telangana.</span>
                                          <br/>
                                      </span>
                                  </li>
                                  <li id="footer_links_valuess">
                                      <span style="padding-right:5px;">
                                          <i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
                                      </span>
                                      <span>
                                          <b class="font_size">EMAIL: </b>
                                          <a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
                                              info@powertextools.com </a>
                                      </span>
                                  </li>
                                  <li id="footer_links_valuess">
                                      <span style="padding-right:5px;">
                                          <i class="fa fa-phone" aria-hidden="true" id="enve"></i>
                                      </span>
                                      <span>
                                          <b class="font_size">PHONE: </b>
                                          <a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
                                      </span>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <!-- footer1 end here -->

  <!-- footer2 start here -->
  <footer  class="footerbar1 footer">
      <div class="container1">
          <div class="row row1" style="padding:10px 0;color:white;">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                  <div class="row">
                      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                          <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
                      </div>
                      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                          <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                          <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                          <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                          <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                          <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <!-- footer2 end here -->
</div>
<!-- Total footer end here-->

<div id="addedToWishList" class="modal fade" ng-controller="homeController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div class="modal-body" align="middle">
        Added to Wish List Successfully!
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary modalBtn" ng-click="closeModal()">OK</button>
      </div>
    </div>
  </div>
</div>

<div id="addedToCompareProducts" class="modal fade" ng-controller="homeController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div class="modal-body" align="middle">
        Added to Compare Products Successfully!
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary modalBtn" ng-click="closeModal()">OK</button>
      </div>
    </div>
  </div>
</div>

<div id="outOfQty" class="modal fade" ng-controller="homeController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div class="modal-body" align="middle">
      Only {{avlQty}} are left!
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary modalBtn" ng-click="closeModal()">OK</button>
      </div>
    </div>
  </div>
</div>

<script>

  function myFunction(x) {

    x.classList.toggle("fa-chevron-down");

  }



</script>