<style>
  .product-image a {

    cursor: pointer;
  }

  .mg-image a {

    cursor: pointer;
  }
</style>
<script>
  var amountScrolled = 300;
  $(window).scroll(function () {
      if ($(window).scrollTop() > amountScrolled) {
          $('#yttotop').fadeIn('slow');
      } else {
          $('#yttotop').fadeOut('slow');
      }
  });

  $('#yttotop').click(function () {
      $('html, body').animate({
          scrollTop: 0
      }, 700);
      return false;
  });


</script>

<div class="container1 mbl_side_mar" id="categoryPage" ng-controller="productCategoriesCtrl" style="padding-top:0px;">
  <!-- breadcrumbs start here -->
  <div class="row">
    <ul class="bredcrumb_ul" style="margin-top: 10px;">
      <li class="bredcrumb_li">
        <a ng-click="goToHome()"> Home</a>
      </li>
      <li class="bredcrumb_li">
        <a ng-click="pageNavigate(breadCrumb)">{{breadCrumb}}</a>
      </li>
      <li ng-if="breadCrumb1" class="bredcrumb_li">
        <a>{{breadCrumb1}}</a>
      </li>
    </ul>
  </div>
  <!-- breadcrumbs end here -->

  <div class="row">
    <div ng-switch="x">
      <div style="margin-top:10px;">
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <!--start of side filter-->
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 subcatdiv" style="background: #fff;box-shadow: 3px 3px 8px #ddd;">
              <div class="bg_clr_black" style="border: 1px solid #eee;padding: 5px;margin-top: 15px;color: #fff;background: #37475a;">
                <b>SUB-CATEGORY</b>
              </div>
              <div style="margin-top: 8px;border-bottom: 1px solid #eee;" class="subcatcheck">
                <div ng-repeat="subCat in subcatArray">
                  <label>
                    <input type="checkbox" class="branCheck checkbox" name="category">{{subCat}}</label>
                </div>
              </div>
              <div class="bg_clr_black" style="border: 1px solid #eee;padding: 5px;margin-top: 15px;color: #fff;background: #37475a;margin-bottom:10px;">
                <b>PRICE</b>
              </div>
              <div class="cat_radio_checks" style="line-height: 1.8;">
                <input type="radio" ng-model="price" ng-value="'0-1000'" ng-change="getCategorywiseProductcheck('price','0-1000')">
                <span>₹0 - ₹1,000</span>
                <br>
                <input type="radio" ng-model="price" ng-value="'1000-10000'" ng-change="getCategorywiseProductcheck('price','1000-10000')">
                <span>₹1,000 - ₹10,000</span>
                <br>
                <input type="radio" ng-model="price" ng-value="'10000-30000'" ng-change="getCategorywiseProductcheck('price','10000-30000')">
                <span>₹10,000 - ₹30,000</span>
                <br>
                <input type="radio" ng-model="price" ng-value="'30000-50000'" ng-change="getCategorywiseProductcheck('price','30000-50000')">
                <span>₹30,000 - ₹50,000</span>
                <br>
                <input type="radio" ng-model="price" ng-value="'50000'" ng-change="getCategorywiseProductcheck('price','50000-100000000')">
                <span>₹50,000 and above</span>
              </div>

              <div class="bg_clr_black" style="border: 1px solid #eee;padding: 5px;margin-top: 15px;color: #fff;background: #37475a;">
                <b>BRAND</b>
              </div>
              <div style="margin-top: 8px;border-bottom: 1px solid #eee;">
                <div>
                  <label>
                    <input type="checkbox" class="branCheck checkbox">Powertex
                  </label>
                </div>
              </div>
            </div>
            <!--end of side filter -->
            <!--start of body grid-->
            <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
              <div class="row" id="pageshowsort" style="background: #37475a;box-shadow: 3px 3px 8px #ddd;margin-left: 0px;">
                <div>
                  <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6 subcatSortheaddiv">
                    <select ng-model="View" ng-change="selectedView(View)">
                      <option value="grid">Grid</option>
                      <!-- <option valu="list" >List</option> -->
                    </select>
                  </div>
                  <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6 subcatSortheaddiv">
                    <label for="name" class="col-lg-4 col-xs-4 col-sm-2 pageshowlabel clr_white">Show</label>
                    <div class="col-lg-5 col-xs-5 col-sm-5">
                      <select ng-model="viewby" ng-change="setpage(viewby)">
                        <option value="12">12</option>
                        <option value="24">24</option>
                        <option value="36">36</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6 subcatSortheaddiv">
                    <div class="form-group">
                      <label for="name" class="col-lg-2 col-xs-3 pagesortlabel clr_white">Sort</label>
                      <div class="col-lg-8 col-xs-8">
                        <select ng-model="sort_by" ng-change="sortby(sort_by)">
                          <option value="popularty">Popularity</option>
                          <option value="topselling">Topselling</option>
                          <option value="namefilter">Name</option>
                          <option value="price_low_high">Price:Low to High</option>
                          <option value="price_high_low">Price:High to Low</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="pull-right pagination_arrows">
                    <div class="form-group">
                      <div class="buttons-countrows">
                        <button type="button" class="btn-prev btn btnpageprevnext" style="border-radius:0px;background: #be393d;color: #fff;">
                          Prev </button>
                        <span class="countpages"> 1</span>
                        <button type="button" class="btn-next btn btnpageprevnext" style="border-radius:0px;background: #be393d;color: #fff;">
                          Next </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div style="color: #7d7575;text-align: center;margin-top: 25px;font-size: 37px;">
                <img src="images/noproducts.png">
                <br>
              </div> -->
              <!-- grid row start here-->
              <div loading></div>
              <div ng-show="gridview">
                <div class="row" style="background: #fff;box-shadow: 3px 3px 8px #ddd;margin-left: 0px;padding: 0px 0 25px 0;">
                  <div ng-if="getCategorylist.length==0">
                    <div align="middle">
                      <h2 style="font-size: 20px;font-weight: 700;color: #be393d;">No Products Available</h2>
                      <i class="fa fa-file-text" aria-hidden="true" style="font-size: 100px;color: #e4e4e4;"></i>
                      <h4 style="color:#232f3e;">Your Products List is Empty</h4>
                      <p>Products are not available now.</p>
                      <button type="submit" class="btn btn-default" href="#createRFQ" id="back_edit_info" ng-click="goToHomeFromCart()">
                        <i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:10px;"></i>Back</button>
                    </div>
                  </div>


                  <div>

                    <div class="carousel-inner padd_t_15" style="overflow:initial;">
                      <div id="" ng-repeat="products in getCategorylist" class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                        <div class="sub-item respl-item" style="opacity: 1;">
                          <div class="item-inner">
                            <div class="product-image">
                              <a style="padding:10px 0;" class="product-img" title="{{products.product.upload_name}}">
                                <i class="fa fa-heart wishlist_styles" aria-hidden="true"></i>
                                <img class="small-image pdt-img-small" ng-click="getnewProductDetails(products.product)" ng-src="{{products.image}}"
                                  alt="" err-src="images/noproducts.png"  style="padding: 0px 30px 0 30px !important;height:100%;">
                              </a>
                            </div>
                            <div class="product-info">
                              <div class="product-name" ng-init="limit = 25">
                                <a href="" title="{{products.product.upload_name}}" ng-click="getnewProductDetails(products.product)">
                                  {{products.product.upload_name | limitTo: limit}}{{products.product.upload_name .length > limit ? ' . . .' : ''}}
                                </a>
                              </div>
                              <div class="product-price">
                                <div class="price-box">
                                  <div class="offer">
                                    <span class="old-price">
                                      <span class="price" id="old-price-507_b">{{products.product.upload_mrp | currency:'&#8377;'}}</span>
                                      <span class="price-percentage">{{products.product.end_user_disc}}% </span>
                                    </span>
                                    <br/>
                                    <span class="price_latest">{{products.enduser_price | currency:'&#8377;'}}</span>
                                  </div>
                                </div>
                              </div>
                              <div class="clear-left_detailed homecrt" id="homecarts">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <br/>
                  </div>
                </div>
              </div>
              <!-- /grid row end here-->

              <!-- list row start here-->
              <!-- <div class="row" ng-show="!gridview" >
                <div style="margin-top: 10px;" ng-switch-when="List" class="col-md-12 col-lg-12 col-sm-12 col-xs-12 list">
                  <div ng-repeat="products in getCategorylist track by $index" style="margin-bottom:10px;">
                    <div class="col-item carousel-inner">
                      <div class="col-md-4">
                        <div class="listitem-inner">
                          <div class="product-image">
                            <a style="padding:10px 0;" ng-click="getProductDetailsCat(productsdata)" class="product-img" title="{{productsdata.brand_name}}">
                              <img class="small-image pdt-img-small" ng-click="getnewProductDetails(products.product)" ng-src="images/ProductImages/{{products.image}}"
                              alt="" err-src="images/ProductImages/noproducts.jpg" style="padding: 0px 30px 0 30px !important;height:100%;">
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="price col-md-8">
                        <div class="product-info">
                            <div class="product-name" ng-init="limit = 25">
                                <a href="" title="{{products.product.upload_name}}" ng-click="getnewProductDetails(products.product)">
                                  {{products.product.upload_name | limitTo: limit}}{{products.product.upload_name .length > limit ? ' . . .' : ''}}
                                </a>
                              </div>
                          <div class="product-price" style="margin-bottom: 18px;">
                            <div class="price-box" ng-repeat="price in productsdata.prices">
                              <div class="offer">
                                <br>
                                <p class="special-price yousave">
                                  {{price.percentage}} %
                                </p>
                                <span class="special-price">
                                  <span class="special-price" id="product-price-507_b">
                                    <span class="price">{{price.offer_price | currency:'&#8377;' }}</span>
                                  </span>
                                </span>
                                <span class="old-price">
                                  <span class="price" id="old-price-507_b">
                                    {{price.enduser_price | currency:'&#8377;' }}
                                  </span>
                                </span>
                                <br/>
                                <p id="exclgstttt">(Excluding-GST)</p>
                              </div>
                            </div>
                          </div>
                          <div class="cartdiv" style="margin-top: 1px !important;">
                            <a href="" class="ad_cart_lak categoryaddcart" title="Add To Cart" ng-click="addToCart(productsdata)">
                              <span>
                                <i class="glyphicon glyphicon-shopping-cart" style="padding-right:5px;font-size:13px"></i>ADD TO CART</span>
                            </a>
                          </div>
                          <div class="wishcompdiv" id="catwishcompdiv" style="margin-top: 0 !important;">
                            <a href="" class="whishlist_lak" id="catwhishlist_lak" title="Add To Whishlist" ng-click="addToWishList(productsdata)"></a>
                            <a href="" class="compare_lak" id="catwhishlist_lak" title="Add To Compare" ng-click="addToCompare(productsdata)"></a>
                            <div class="revdiv reviewDiv" id="catrevdiv">
                              <a href="" class="ad_cart_lak" title="Write Your Review" ng-if="productsdata.avgrating == 0" ng-click="productReview(productsdata, 'review')">
                                <span>
                                  <i class="glyphicon glyphicon-star" style="padding-right:5px;font-size: 13px;top: 3px;">
                                  </i> REVIEW</span>
                              </a>
                              <a ng-click="productReview(productsdata, 'review')" title="Write Your Review" ng-if="productsdata.avgrating != 0">
                                <star-rating ng-model="productsdata.avgrating" readonly="isReadonly"></star-rating>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br/>
                </div>
              </div> -->
              <!-- list row end here-->


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


 <!-- Total footer start here-->
 <div class="ttl_footer1">
  <!-- footer1 start here -->
  <footer  class="footerbar footer">
      <div class="container1">
          <div class="row">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                  <div class="row">
                    <a id="yttotop" href="#" data-target="carousel-example-generic" title="Go to Top" style="display: block;"></a>
                      <div class="row row1" id="ftr_ss">
                          <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                              <ul>
                                  <h5 id="footer_linksss">
                                      <b>POWERTEX TOOLS</b>
                                  </h5>
                                  <li id="footer_links_valuess">
                                      <a href="aboutus.html" class="footerText"> ABOUT US</a>
                                  </li>
                              </ul>
                          </div>

                          <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                              <ul>
                                  <h5 id="footer_linksss">
                                      <b>CONTACT US</b>
                                  </h5>
                                  <li id="footer_links_valuess">
                                      <span style="margin-left: 5px;">
                                          <i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
                                      </span>
                                      <span class="footerText1 footer_links_addere">
                                        <span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate,</span>
                                        <span style="margin-left: 25px;"> Bahadurpura,</span>
                                          <br/>
                                          <span style="margin-left: 25px;">500064, Hyderabad, Telangana.</span>
                                          <!-- <br/>
                                          <span style="margin-left: 25px;">Hyderabad,</span>
                                          <br/>
                                          <span style="margin-left: 25px;">Telangana.</span>
                                          <br/> -->
                                      </span>
                                  </li>
                                  <li id="footer_links_valuess">
                                      <span style="padding-right:5px;">
                                          <i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
                                      </span>
                                      <span>
                                          <b class="font_size">EMAIL: </b>
                                          <a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
                                              info@powertextools.com </a>
                                      </span>
                                  </li>
                                  <li id="footer_links_valuess">
                                      <span style="padding-right:5px;">
                                          <i class="fa fa-phone" aria-hidden="true" id="enve"></i>
                                      </span>
                                      <span>
                                          <b class="font_size">PHONE: </b>
                                          <a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
                                      </span>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <!-- footer1 end here -->

  <!-- footer2 start here -->
  <footer  class="footerbar1 footer">
      <div class="container1">
          <div class="row row1" style="padding:10px 0;color:white;">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                  <div class="row">
                      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                          <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
                      </div>
                      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                          <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                          <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                          <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                          <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                          <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <!-- footer2 end here -->
</div>
<!-- Total footer end here-->



<script>
  function myFunction(x) {
    x.classList.toggle("fa-chevron-down");
  }

</script>