<div ng-controller="challanCompletedController">
    <div ng-if="welcome_msg != 'undefined' && welcome_msg!= ''" class="del_branch">
        <span class="text-center welcome_msg1">{{welcome_msg}}</span>
    </div>
    <div class="container1">
        <!-- bradcrumbs start here -->
        <div class="row">
            <ul class="bredcrumb_ul margin_left" style="margin-left: 30px;">
                <li class="bredcrumb_li" ng-click="B2BDashboard()">
                    <a>Dashboard</a>
                    <!-- <span class="slash_bc">/</span> -->
                </li>
                <!-- <li class="bredcrumb_li" ng-if="wishlistBreadCrumbFlag == 'true'" ng-click="pageNavigate()">
                <a>Dashboard</a>
                <span class="slash_bc">/</span>
            </li> -->
                <li class="bredcrumb_li">
                    <a>Dealer-panel</a>
                </li>
            </ul>
        </div>
        <!-- bradcrumbs end here -->

        <div class="myaccount_section12_goToCart ovrfle_hidn">

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="box-head11" ng-if="challanList.length>0" style="margin-bottom:5px;">
                    <div>Challan Details</div>
                </div>

                <div ng-if="challanList.length == 0" align="middle" style="background: #fff;box-shadow: 3px 3px 8px #ddd;margin:20px 0;">
                    <div class="" style="padding: 30px 0;">
                        <div style="font-size: 20px;font-weight: 700;color: #be393d;">No Records Found</div>
                        <i class="fa fa-file-text" aria-hidden="true" style="font-size: 120px;color: #e4e4e4;"></i>
                        <div style="color:#232f3e;font-size: 18px;font-weight: 600;">Your Challan Generation Records
                            are Empty</div>
                        <!-- <p>You have no Records in your Challan Generation.</p>
                    <button type="submit" class="btn btn-default" href="#createRFQ" id="back_edit_info">
                        <i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:10px;"></i>Continue Shopping</button> -->
                    </div>
                </div>

                <div class="dist-table-data" ng-if="challanList.length > 0">
                    <div class="myvieworders-tbl-new1 table-responsive">
                        <table class="table table-bordered table-striped pending_order" id="myViewOrders1">
                            <thead>
                                <tr>
                                    <th class="txt_centr">S.No</th>
                                    <th class="txt_left">Challan No</th>
                                    <th class="txt_left">Invoice No</th>
                                    <th class="txt_left">PO No</th>
                                    <th class="txt_left">RFQ No</th>
                                    <th class="txt_left">Dealer Name</th>
                                    <th class="txt_left">Dealer City</th>
                                    <th class="txt_left">Dealer Mobile</th>
                                    <th class="txt_centr">Challan Info</th>
                                </tr>
                            </thead>
                            <tbody id="myViewOrdersData" ng-repeat="challan in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) track by $index">
                                <tr>
                                    <td class="txt_centr">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                    <td class="txt_left">{{challan.chalan_num}}</td>
                                    <td class="txt_left">{{challan.f_inv_num}}</td>
                                    <td class="txt_left">{{challan.po_num}}</td>
                                    <td class="txt_left">{{challan.rfq_num}}</td>
                                    <td class="txt_left">{{challan.dealer_name}}</td>
                                    <td class="txt_left">{{challan.dealer_city}}</td>
                                    <td class="txt_left">{{challan.dealer_mobile}}</td>
                                    <td class="txt_centr">
                                        <a href="" class="rfq_mrInfo" ng-click="showChalanInfo(challan)">More Info</a>
                                    </td>
                                    <!-- <td class="txt_centr">
                                    <a href="" class="rfq_mrInfo" ng-click="showChalanInfo(challan)">Print</a>
                                </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div style="text-align: right;" ng-show="challanList.length>0">
                        <pagination total-items="totalItems" page="currentPage" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
                    </div>
                </div>
            </div>

            <!--Challan Details -->
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 m_top_2perc" ng-show="showChallanDetails">


                <div class="box-head11" style="margin-bottom:5px;">
                    <div>Challan No : {{challan_num}}</div>
                </div>

                <div class="dist-table-data ovrfle_hidn mar-btm-10">
                    <div class="">

                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                            <div class="font_14 f_weight_600 theme_violet">Shipping Address</div>
                            <div class="post_address" ng-repeat="item in challanList  | filter:challan_num track by $index">
                                <div ng-repeat="addr in item.billing_address">{{addr}}</div>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                            <div class="font_14 f_weight_600 theme_violet">Billing Address</div>
                            <div class="post_address" ng-repeat="item in challanList  | filter:challan_num track by $index">
                                <div ng-repeat="addr in item.shipping_address">{{addr}}</div>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                            <div class="" ng-repeat="item in challanList | filter:challan_num track by $index">
                                <!-- vehical  start here -->
                                <div class="vehical" ng-if="item.delivery_type == 'Vehicle'">
                                    <div class="font_14 f_weight_600 theme_violet">Vehicle Details</div>
                                    <div class="post_address">
                                        <label>Driver Name</label> : {{item.driver_name}}
                                        <br>
                                        <label>Contact Number</label> : {{item.driver_contact}}
                                        <br>
                                        <label>Driver Licence</label> : {{item.dl_num}}
                                        <br>
                                        <label>Vehicle Number</label> : {{item.vehicle_num}}
                                        <br>
                                        <!-- <label>Remarks</label> : {{item.remarks}}
                                    <br> -->
                                    </div>
                                </div>
                            </div>
                            <!-- vehical end here -->

                            <!-- courier start here -->
                            <div class="courier" ng-if="item.delivery_type == 'Courier'">
                                <div class="font_14 f_weight_600 theme_violet">Courier Details</div>

                                <div class="post_address">
                                    <label>Courier No</label> : {{item.courier_num}}
                                    <br>
                                    <label>Courier Name</label> : {{item.courier_name}}
                                    <br>
                                    <label>Courier Boy</label> : {{item.courier_boy}}
                                    <br>
                                    <label>Approx Wt</label> : {{item.weight}}
                                    <br>
                                    <!-- <label>Remarks</label> : {{item.remarks}}
                                    <br> -->
                                </div>
                            </div>
                            <!-- courier end here -->
                        </div>
                    </div>
                </div>



                <div class="mar-btm-20 pen-rfq-dependent-tbl">
                    <div class="myvieworders-tbl-new1 table-responsive">
                        <table class="table table-bordered table-striped pending_order" id="myViewOrders1">
                            <thead>
                                <tr>
                                    <th class="txt_centr">S.No</th>
                                    <th class="txt_left">Product Name</th>
                                    <th class="txt_right">Qty</th>
                                    <th class="txt_right">Carton</th>
                                </tr>
                            </thead>
                            <tbody id="myViewOrdersData" ng-repeat="item in challanList | filter:challan_num">
                                <tr ng-repeat="data in item.moreinv_info | filter:challan_num">
                                    <td class="txt_centr">{{$index+1}}</td>
                                    <td class="txt_left">{{data.productname}}</td>
                                    <td class="txt_right">{{data.f_inv_qty}}</td>
                                    <td class="txt_right">{{data.avl_carton}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Total footer start here-->
<div class="ttl_footer1">
    <footer class="footerbar1 footer" id="new_ftr">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp;
                                Golden Sun Technology.</span>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- Total footer end here-->