<div class="container1" ng-controller="challanPrintController">

    <!-- bradcrumbs start here -->
    <div class="row">
        <ul class="bredcrumb_ul margin_left">
            <li class="bredcrumb_li" ng-click="B2BDashboard()">
                <a>Dashboard</a>
                <!-- <span class="slash_bc">/</span> -->
            </li>
            <li class="bredcrumb_li" ng-click="gotoChallanGen()">
                <a>Challan-Generation</a>
                <!-- <span class="slash_bc">/</span> -->
            </li>
            <li class="bredcrumb_li">
                <a>Challan-Print</a>
            </li>

        </ul>
    </div>
    <!-- bradcrumbs end here -->

    <div class="box-head11" style="margin-bottom:5px;">
        <div>Delivery Challan</div>
    </div>

    <div class="total_invoice_page" id="printSectionId">
        <div class="invoce_address">
            <div class="">

                <div class="invoice-title">
                    <div class="row">
                        <div class="col-xs-12" ng-repeat="item in delaerData">
                            <h2 class="txt_centr theme_color f_weight_700 font_22">
                                {{item.company_details.shopee_name}}
                            </h2>
                        </div>
                    </div>
                    <div class="row" ng-repeat="item in delaerData">
                        <div class="col-xs-12" style="text-align:center;">
                            <span class="company_address" ng-repeat="data in item.company_details.company_address">
                                {{data}},
                            </span>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-6 company_address" style="text-align: right;">
                                <span>Mobile : </span>
                                <span>{{item.dealer_mobile}}</span>
                            </div>
                            <div class="col-xs-6 company_address" style="text-align: left;">
                                <span>Email : </span>
                                <span>{{item.dealer_mail}}</span>
                            </div>
                        </div>
                        <div class="col-xs-12 company_address">
                            <span>City : </span>
                            <span>{{item.company_details.city}}</span>,
                            <span>State : </span>
                            <span>{{item.company_details.state}}</span>,
                            <span>PAN : </span>
                            <span>{{item.company_details.pan}}</span>,
                            <span>GST-IN : </span>
                            <span>{{item.company_details.gst_num}}</span>
                        </div>
                    </div>
                </div>

                <div class="hr_line marg_t_b_15">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="company_address" style="font-size: 18px;">
                                <span>Delivery Challan</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hr_line_botm">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="company_address" style="font-size: 16px;">
                                <span class="f_left fnt_size_14">
                                    <span>Challan No : </span>
                                    <span>{{rfqData.chalan_num}}</span>
                                </span>
                                <span class="f_right fnt_size_14">
                                    <span>Challan Date : </span>
                                    <span>{{rfqData.chalan_date}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hr_line_botm">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="company_address" style="font-size: 16px;">
                                <span class="f_left fnt_size_14">
                                    <span>PO No
                                        <span class="pad_l_32">:</span>
                                    </span>
                                    <span>{{rfqData.po_num}}</span>
                                </span>
                                <span class="f_right fnt_size_14">
                                    <span>Order Date : </span>
                                    <span>{{rfqData.order_date}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hr_line_botm marg_t_b_15">
                    <div class="row">
                        <div class="col-md-12" style="width:100%;">

                            <div class="" style="width:40%;float:left;">
                                <address>
                                    <h4 style="font-size: 16px;">
                                        <strong>Billed To:</strong>
                                    </h4>
                                    <div class="" ng-repeat="item in delaerData">
                                        <div ng-repeat="addr in item.billing_address">{{addr}}</div>
                                    </div>
                                </address>
                            </div>

                            <div class="" style="width:40%;float:left;">
                                <address class="">
                                    <h4 style="font-size: 16px;">
                                        <strong>Shipped To:</strong>
                                    </h4>
                                    <div class="" ng-repeat="item in delaerData">
                                        <div ng-repeat="addr in item.shipping_address">{{addr}}</div>
                                    </div>
                                </address>
                            </div>

                            <div class="">
                                <address class="pull-right" ng-repeat="item in challanList">
                                    <h4 style="font-size: 16px;">
                                        <strong ng-if="item.delivery_type == 'Vehicle'">Vehicle Details:</strong>
                                        <strong ng-if="item.delivery_type == 'Courier'">Courier Details:</strong>
                                    </h4>
                                    <div class="">
                                        <div class="" ng-if="item.delivery_type == 'Vehicle'">
                                            <!-- <h3>Vehicle Details</h3> -->
                                            <div class="">
                                                <label>Driver Name</label> : {{item.driver_name}}
                                                <br>
                                                <label>Contact Number</label> : {{item.driver_contact}}
                                                <br>
                                                <label>Driver Licence</label> : {{item.dl_num}}
                                                <br>
                                                <label>Vehicle Number</label> : {{item.vehicle_num}}
                                                <br>
                                                <!-- <label>Remarks</label> : {{item.remarks}}
                                                <br> -->
                                            </div>
                                        </div>
                                        <!-- vehical end here -->

                                        <!-- courier start here -->
                                        <div class="" ng-if="item.delivery_type == 'Courier'">
                                            <!-- <h3>Courier Details</h3> -->

                                            <div class="">
                                                <label>Courier No</label> : {{item.courier_num}}
                                                <br>
                                                <label>Courier Name</label> : {{item.courier_name}}
                                                <br>
                                                <label>Courier Boy</label> : {{item.courier_boy}}
                                                <br>
                                                <label>Approx Wt</label> : {{item.weight}}
                                                <br>
                                                <!-- <label>Remarks</label> : {{item.remarks}}
                                                <br> -->
                                            </div>
                                        </div>
                                    </div>
                                </address>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="myvieworders-tbl-new1">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped pending_order">
                                <thead>
                                    <tr>
                                        <th class="txt_centr" style="width: 1px;font-size:12px;">SNo</th>
                                        <th class="txt_left" style="font-size:12px;">Product Name</th>
                                        <th class="txt_left" style="font-size:12px;">Brand</th>
                                        <!-- <th class="txt_right" style="font-size:12px;">MRP</th> -->
                                        <th class="txt_right" style="font-size:12px;">Qty</th>
                                        <th class="txt_right" style="font-size:12px;">Carton</th>
                                        <!-- <th class="txt_right" style="font-size:12px;">Disc(%)</th>
                                        <th class="txt_right" style="font-size:12px;">Vol. Disc(%)</th>
                                        <th class="txt_right" style="font-size:12px;">Spcl. Disc(%)</th>
                                        <th class="txt_right" style="font-size:12px;">Amount</th> -->
                                        <!-- <th class="txt_right">TAX(%)</th>
                                    <th class="txt_right">Total</th> -->
                                        <!-- <th class="txt_right">Savings(%)</th> -->
                                    </tr>
                                </thead>
                                <tbody ng-repeat="data in challanList | filter:po_num track by $index">
                                    <tr ng-repeat="item in data.moreinv_info">
                                        <td class="txt_centr" style="font-size:12px;">{{$index+1}}</td>
                                        <td class="txt_left" style="font-size:12px;">{{item.productname}}</td>
                                        <td class="txt_left" style="font-size:12px;">{{item.brand}}</td>
                                        <!-- <td class="txt_right" style="font-size:12px;">{{item.mrp}}</td> -->
                                        <td class="txt_right" style="font-size:12px;">{{item.f_inv_qty}}</td>
                                        <td class="txt_right" style="font-size:12px;">{{item.acpt_carton}}</td>
                                        <!-- <td class="txt_right" style="font-size:12px;">{{item.discount}}</td>
                                        <td class="txt_right" style="font-size:12px;">{{item.volume_disc}}</td>
                                        <td class="txt_right" style="font-size:12px;">{{item.spcl_disc}}</td>
                                        <td class="txt_right" style="font-size:12px;">{{item.product_amt}}</td> -->
                                        <!-- <td class="txt_right">{{item.tax}}</td>
                                    <td class="txt_right">{{item.total_amt}}</td> -->
                                        <!-- <td class="txt_right">{{item.savings}}</td> -->
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <h5>
                            <strong class="theme_color fnt_size_14">Terms & Conditions :</strong>
                        </h5>
                        <p style="font-size:12px;">1. This is Electronic generated order and so doesn't require any signature.</p>
                        <p style="font-size:12px;">2. We are not responsible for any Breakage/Damage/Shortage/Leakage in transit.</p>
                        <p style="font-size:12px;">3. Our responsibility ceases when the goods are delivered to the carrier.</p>
                        <p style="font-size:12px;">4. Goods once sold will not be accepted back.</p>
                        <p style="font-size:12px;">5. Interest @12% p.a. will be charged, if invoice is not paid on or before due date.</p>
                        <p style="font-size:12px;">6. Subject to Hyderabad Jurisdiction.</p>
                        <p style="font-size:12px;">7. Please read all Terms and Policies on www.powertex.com for Orders and other related issues.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mar_b_30 txt_centr marg_t_15">
            <button type="submit" class="btn theme_bgclr" ng-click="printInvoiceList(printSectionId)">Print Invoice</button>
        </div>
    </div>

</div>

<!-- Total footer start here-->
<div class="ttl_footer1">
    <!-- footer1 start here -->
    <!-- <footer ng-controller="homeController" class="footerbar footer">
        <div class="container1">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
                        <div class="row row1" id="ftr_ss">
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                <ul>
                                    <h5 id="footer_linksss">
                                        <b>POWERTEX TOOLS</b>
                                    </h5>
                                    <li id="footer_links_valuess">
                                        <a href="aboutus.html" class="footerText"> ABOUT US</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                <ul>
                                    <h5 id="footer_linksss">
                                        <b>CONTACT US</b>
                                    </h5>
                                    <li id="footer_links_valuess">
                                        <span style="margin-left: 5px;">
                                            <i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span class="footerText1 footer_links_addere">
                                            <span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
                                            <span style="margin-left: 25px;"> Bahadurpura,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">500064,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">Hyderabad,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">Telangana.</span>
                                            <br/>
                                        </span>
                                    </li>
                                    <li id="footer_links_valuess">
                                        <span style="padding-right:5px;">
                                            <i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span>
                                            <b class="font_size">EMAIL: </b>
                                            <a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
                                                info@powertextools.com </a>
                                        </span>
                                    </li>
                                    <li id="footer_links_valuess">
                                        <span style="padding-right:5px;">
                                            <i class="fa fa-phone" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span>
                                            <b class="font_size">PHONE: </b>
                                            <a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer> -->
    <!-- footer1 end here -->

    <!-- footer2 start here -->
    <footer  class="footerbar1 footer" id="new_ftr">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer2 end here -->
</div>
<!-- Total footer end here-->