<div ng-controller="challanGenerationController">
    <div ng-if="welcome_msg != 'undefined' && welcome_msg!= ''" class="del_branch">
        <span class="text-center welcome_msg1">{{welcome_msg}}</span>
    </div>

    <div class="container1">
        <!-- bradcrumbs start here -->
        <div class="row">
            <ul class="bredcrumb_ul margin_left" style="margin-left:30px;">
                <li class="bredcrumb_li" ng-click="B2BDashboard()">
                    <a>Dashboard</a>
                    <!-- <span class="slash_bc">/</span> -->
                </li>
                <!-- <li class="bredcrumb_li" ng-if="wishlistBreadCrumbFlag == 'true'" ng-click="pageNavigate()">
                    <a>Dashboard</a>
                    <span class="slash_bc">/</span>
                </li> -->
                <li class="bredcrumb_li">
                    <a>Challan Generation</a>
                </li>

            </ul>
        </div>
        <!-- bradcrumbs end here -->
        <!-- <marquee behavior="alternate" class="marq">{{welcome_msg}}</marquee> -->
        <div class="myaccount_section12_goToCart">

            <div class="">
                <div class="box-head11" ng-if="challanList.length>0" style="margin-bottom:5px;">
                    <div>Challan Generation</div>
                </div>

                <div ng-if="challanList.length == 0" align="middle" style="background: #fff;box-shadow: 3px 3px 8px #ddd;margin:20px 0;">
                    <div class="" style="padding: 30px 0;">
                        <div style="font-size: 20px;font-weight: 700;color: #be393d;">No Records Found</div>
                        <i class="fa fa-file-text" aria-hidden="true" style="font-size: 120px;color: #e4e4e4;"></i>
                        <div style="color:#232f3e;font-size: 18px;font-weight: 600;">Your Challan Records are Empty</div>
                        <!-- <p>You have no records in your PO.</p>
                    <button type="submit" class="btn btn-default" href="#createRFQ" id="back_edit_info">
                        <i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:10px;"></i>Continue Shopping</button> -->
                    </div>
                </div>

                <loading></loading>

                <div class="dist-table-data" ng-if="challanList.length > 0">
                    <div class="myvieworders-tbl-new1 table-responsive">
                        <table class="table table-bordered table-striped pending_order" id="myViewOrders1">
                            <thead>
                                <tr>
                                    <th class="txt_centr">S.No</th>
                                    <th class="txt_left">Inv Number</th>
                                    <th class="txt_left">Inv Date</th>
                                    <th class="txt_left">PO Number</th>
                                    <!-- <th class="txt_right">PO Date</th> -->
                                    <th class="txt_left">RFQ Number</th>
                                    <th class="txt_left">Dealer Name</th>
                                    <th class="txt_left">Dealer City</th>
                                    <th class="txt_left">Sales Manager Name</th>
                                    <th class="txt_left">Sales Manager Mobile</th>
                                    <!-- <th class="txt_right">Invoice value</th> -->
                                    <!-- <th class="txt_right">Inv Line</th> -->
                                    <th class="txt_centr">Status</th>
                                    <!-- <th class="txt_centr">Challan Status</th> -->
                                    <th class="txt_centr">Challan Generation</th>
                                </tr>
                            </thead>
                            <tbody id="myViewOrdersData" ng-repeat="invdata in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))  track by $index">
                                <!-- challanList-->
                                <tr>
                                    <td class="txt_centr">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                    <td class="txt_left">{{invdata.f_inv_num}}</td>
                                    <td class="txt_left">{{invdata.invoice_date}}</td>
                                    <td class="txt_left">{{invdata.po_num}}</td>
                                    <!-- <td class="txt_right">{{invdata.po_gen_date}}</td> -->
                                    <td class="txt_left">{{invdata.rfq_num}}</td>
                                    <td class="txt_left">{{invdata.dealer_name}}</td>
                                    <td class="txt_left">{{invdata.dealer_city}}</td>
                                    <td class="txt_left">{{invdata.sm_name}}</td>
                                    <td class="txt_left">{{invdata.sm_mobile}}</td>
                                    <!-- <td class="txt_right">{{invdata.total_amt}}</td> -->
                                    <!-- <td class="txt_right">{{invdata.inv_qty}}</td> -->
                                    <td class="txt_centr">{{invdata.invoice_status}}</td>
                                    <!-- <td class="txt_centr">
                                <a href="" class="rfq_mrInfo">{{invdata.chalan_status}}</a>
                                </td> -->
                                    <td class="txt_centr">
                                        <a href="" ng-click="showInvoiceData(invdata)">
                                            <i class="fa fa-pencil" aria-hidden="true" style="color:#be393d;"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="" ng-show="data.length>0">
                        <pagination total-items="totalItems" page="currentPage" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
                    </div>
                </div>
            </div>

            <div class="dist-table-data pen-rfq-dependent-tbl" ng-show="showMoreInvInfo">
                <div class="table-responsive">
                    <div class="box-head11" style="margin-bottom: 5px;">
                        <div>PO No : {{po_num}}</div>
                    </div>
                    <div class="myvieworders-tbl-new1 table-responsive" ng-if="challanList.length > 0">
                        <table class="table table-bordered table-striped pending_order" id="myViewOrders1">
                            <thead>
                                <tr>
                                    <th class="txt_centr">S.No</th>
                                    <th class="txt_left">Product Name</th>
                                    <!-- <th class="txt_right">Delivery Date</th> -->
                                    <th class="txt_right">Qty</th>
                                    <!-- <th class="txt_right">Piece per Carton</th> -->

                                    <!-- <th class="txt_right">Amount</th> -->
                                </tr>
                            </thead>
                            <tbody id="myViewOrdersData" ng-repeat="item in challanList  | filter:inv_no track by $index">
                                <tr ng-repeat="data in item.moreinv_info">
                                    <td class="txt_centr">{{$index+1}}</td>
                                    <td class="txt_left">{{data.productname}}</td>
                                    <!-- <td class="txt_right">{{data.delivery_date}}</td> -->
                                    <td class="txt_right">{{data.f_inv_qty}}</td>
                                    <!-- <td class="txt_right">{{data.pieceperCorton}}</td> -->

                                    <!-- <td class="txt_right">{{data.total_amount}}</td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>


            <!--Challan Details -->
            <div class="" ng-show="showDeliverDetails">
                <!-- ng-show="showDeliverDetails" -->
                <div class="dist-table-data">
                    <div class="border_line">

                        <div class="">
                            <h2 class="invoice_details">Challan Generation</h2>
                        </div>

                        <div class="ovrfle_hidn mar-btm-10">
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                    <div class="font_14 f_weight_600 theme_violet">Invoice Details</div>
                                    <div class="post_address">
                                        <p>
                                            <span>
                                                <b>Invoice No : </b>
                                            </span>
                                            <span class="op_color">{{inv_no}}</span>
                                        </p>
                                        <p>
                                            <span>
                                                <b>Invoice Gen Date : </b>
                                            </span>
                                            <span class="op_color">{{invDate}}</span>
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                    <div class="font_14 f_weight_600 theme_violet">Shipping Address</div>
                                    <div class="post_address">
                                        <div class="" ng-repeat="item in shipingAddress.shipping_address">
                                            <div>{{item}}</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                    <div class="font_14 f_weight_600 theme_violet">Billing Address</div>
                                    <div class="post_address">
                                        <div class="" ng-repeat="item in billingAddress.billing_address ">
                                            <div>{{item}}</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- vehicale courier start here -->
                        <div class="mar-btm-20">
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                <div class="vehicale_courier_details">
                                    <div class="del_type">Check Your Delivery Type</div>
                                    <form>
                                        <label class="radio-inline">
                                            <input type="radio" value="Vehicle" ng-model="deliverDetails.delivery_type">Vehicle
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" value="Courier" ng-model="deliverDetails.delivery_type">Courier
                                        </label>
                                    </form>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <form name="deliveryForm">
                                        <!-- vehical  start here -->
                                        <div class="vehical veh_courier" ng-if="deliverDetails.delivery_type=='Vehicle'">
                                            <div class="col-md-12">
                                                <div class="col-md-2">
                                                    <label>Driver Name</label>
                                                    <span style="color:#be393d;">*</span>
                                                    <input type="text" ng-model="deliverDetails.driver_name" required
                                                        name="driver_name" ng-model="deliverDetails.driver_name"
                                                        placeholder="Enter Driver Name" ng-minlength="3" ng-maxlength="50"
                                                        maxlength="50" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,50}$/"
                                                        autofocus="true">
                                                    <div ng-messages="deliveryForm.driver_name.$error ">
                                                        <p class="validationError errorMsg" ng-message="pattern">Enter
                                                            Valid Driver Name</p>
                                                        <p class="validationError errorMsg" ng-message="minlength">Enter
                                                            Minimum 3 Characters</p>
                                                        <p class="validationError errorMsg" ng-message="maxlength">Enter
                                                            Maximum 50 Characters</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Contact Number </label>
                                                    <span style="color:#be393d;">*</span>
                                                    <input type="number" ng-model="deliverDetails.driver_contact" name="driver_contact"
                                                        placeholder="Enter Mobile Number" ng-minlength="10"
                                                        ng-maxlength="10" maxlength="10" required ng-pattern="/^[6-9][0-9]{9}$/">
                                                    <div ng-messages="deliveryForm.driver_contact.$error ">
                                                        <p class="validationError errorMsg" ng-message="pattern">Enter
                                                            Valid Mobile Number</p>
                                                        <p class="validationError errorMsg" ng-message="minlength">Mobile
                                                            Number should be 10 digits</p>
                                                        <p class="validationError errorMsg" ng-message="maxlength">Mobile
                                                            Number should be 10 digits</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Driver Licence</label>
                                                    <span style="color:#be393d;">*</span>
                                                    <input type="text" ng-model="deliverDetails.dl_num" required name="dl_num"
                                                        placeholder="Enter Licence" ng-minlength="3" ng-maxlength="20"
                                                        maxlength="20" ng-pattern="/^[a-zA-Z0-9 ]+$/">
                                                    <div ng-messages="deliveryForm.dl_num.$error ">
                                                        <p class="validationError errorMsg" ng-message="pattern">Enter
                                                            Valid Licence</p>
                                                        <p class="validationError errorMsg" ng-message="minlength">Enter
                                                            Minimum 3 Characters</p>
                                                        <p class="validationError errorMsg" ng-message="maxlength">Enter
                                                            Valid Licence</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Vehicle Number</label>
                                                    <span style="color:#be393d;">*</span>
                                                    <input id="vehicle_num" type="text" ng-model="deliverDetails.vehicle_num"
                                                        name="vehicle_num" placeholder="Enter Vehicle Number"
                                                        ng-minlength="3" ng-maxlength="15" maxlength="15" ng-pattern="/^[a-zA-Z0-9 ]+$/">
                                                    <div ng-messages="deliveryForm.vehicle_num.$error ">
                                                        <p class="validationError errorMsg" ng-message="pattern">Enter
                                                            Vehicle Number</p>
                                                        <p class="validationError errorMsg" ng-message="minlength">Enter
                                                            Minimum 3 Characters</p>
                                                        <p class="validationError errorMsg" ng-message="maxlength">Enter
                                                            Valid Vehicle Number</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Remarks </label>
                                                    <span style="color:#be393d;">*</span>
                                                    <br>
                                                    <textarea ng-model="deliverDetails.remarks" required name="remarks"
                                                        style="width:100%;" placeholder="Enter Remarks" ng-minlength="3"
                                                        ng-maxlength="150" maxlength="150" ng-pattern="/^[a-zA-Z0-9 ]+$/"></textarea>
                                                    <div ng-messages="deliveryForm.remarks.$error ">
                                                        <p class="validationError errorMsg" ng-message="pattern">Enter
                                                            Remarks</p>
                                                        <p class="validationError errorMsg" ng-message="minlength">Enter
                                                            Minimum 3 Characters</p>
                                                        <p class="validationError errorMsg" ng-message="maxlength">Enter
                                                            Maximum 150 Characters</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="txt_centr mar-btm-20" ng-if="deliverDetails.delivery_type!=undefined"
                                                        style="margin-top: 30px;">
                                                        <button type="submit" ng-disabled="deliveryForm.$invalid" class="btn btn-default theme_bgclr"
                                                            ng-click="prepareChallan(deliverDetails)">
                                                            Generate Challan</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- vehical end here -->

                                        <!-- courier start here -->
                                        <div class="courier veh_courier" ng-if="deliverDetails.delivery_type=='Courier'">
                                            <div class="col-md-12">
                                                <div class="col-md-2">
                                                    <label>Courier No</label>
                                                    <span style="color:#be393d;">*</span>
                                                    <input type="text" ng-model="deliverDetails.courier_num" required
                                                        name="courier_num" placeholder="Enter Courier Number"
                                                        ng-minlength="3" ng-maxlength="15" maxlength="15" ng-pattern="/^[a-zA-Z0-9 ]+$/">
                                                    <div ng-messages="deliveryForm.courier_num.$error ">
                                                        <p class="validationError errorMsg" ng-message="pattern">Enter
                                                            Courier Number</p>
                                                        <p class="validationError errorMsg" ng-message="minlength">Enter
                                                            Valid Courier Number</p>
                                                        <p class="validationError errorMsg" ng-message="maxlength">Enter
                                                            Valid Courier Number</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Courier Name </label>
                                                    <span style="color:#be393d;">*</span>
                                                    <input type="text" ng-model="deliverDetails.courier_name" required
                                                        name="courier_name" placeholder="Enter Courier Name"
                                                        ng-minlength="3" ng-maxlength="15" maxlength="15" ng-pattern="/^[a-zA-Z0-9 ]+$/">
                                                    <div ng-messages="deliveryForm.courier_name.$error ">
                                                        <p class="validationError errorMsg" ng-message="pattern">Enter
                                                            Courier Name</p>
                                                        <p class="validationError errorMsg" ng-message="minlength">Enter
                                                            Minimum 3 Characters</p>
                                                        <p class="validationError errorMsg" ng-message="maxlength">Enter
                                                            Maximum 50 Characters</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Courier Boy Name </label>
                                                    <span style="color:#be393d;">*</span>
                                                    <input type="text" ng-model="deliverDetails.courier_boy" required
                                                        placeholder="Enter Courier Boy Name" name="courier_boy"
                                                        ng-minlength="3" ng-maxlength="50" maxlength="50" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,50}$/">
                                                    <div ng-messages="deliveryForm.courier_boy.$error ">
                                                        <p class="validationError errorMsg" ng-message="pattern">Enter
                                                            Courier Boy Name</p>
                                                        <p class="validationError errorMsg" ng-message="minlength">Enter
                                                            Minimum 3 Characters</p>
                                                        <p class="validationError errorMsg" ng-message="maxlength">Enter
                                                            Maximum 50 Characters</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Approx Wt  </label>
                                                    <span style="color:#be393d;">*</span>
                                                    <br>
                                                    <input type="number" ng-model="deliverDetails.weight" required name="weight"
                                                        placeholder="Enter Approx Wt" ng-minlength="1"
                                                        ng-maxlength="50" maxlength="4" ng-pattern="/^[a-zA-Z0-9 ]+$/">
                                                    <div ng-messages="deliveryForm.weight.$error ">
                                                        <p class="validationError errorMsg" ng-message="pattern">Enter
                                                            Courier Approx Wt</p>
                                                        <p class="validationError errorMsg" ng-message="minlength">Enter
                                                            Valid Courier Approx Wt</p>
                                                        <p class="validationError errorMsg" ng-message="maxlength">Enter
                                                            Valid Courier Approx Wt</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Remarks </label>
                                                    <span style="color:#be393d;">*</span>
                                                    <br>
                                                    <textarea ng-model="deliverDetails.remarks" required name="remarks"
                                                        style="width:100%;" placeholder="Enter Remarks" ng-minlength="3"
                                                        ng-maxlength="150" maxlength="150" ng-pattern="/^[a-zA-Z0-9 ]+$/"></textarea>
                                                    <div ng-messages="deliveryForm.remarks.$error ">
                                                        <p class="validationError errorMsg" ng-message="pattern">Enter
                                                            Remarks</p>
                                                        <p class="validationError errorMsg" ng-message="minlength">Enter
                                                            Minimum 3 Characters</p>
                                                        <p class="validationError errorMsg" ng-message="maxlength">Enter
                                                            Maximum 150 Characters</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="txt_centr mar-btm-20" ng-if="deliverDetails.delivery_type!=undefined"
                                                        style="margin-top: 30px;">
                                                        <button type="submit" ng-disabled="deliveryForm.$invalid" class="btn btn-default theme_bgclr"
                                                            ng-click="prepareChallan(deliverDetails)">
                                                            Generate Challan</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- courier end here -->
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-- vehicale courier end here -->

                    </div>
                </div>
            </div>
        </div>

        <!-- Challan No Generated Successfully modal start here -->
        <!-- <div class="modal fade1" id="challanGenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header align_center">
                    <img src="images/powertex_logo.png" />
                </div>
                <div class="modal-body" align="middle">
                    <div>
                        <img src="images/completed_icon.png" class="pop_image" />
                        <br/>
                        <span class="completed_styles clr_orange">{{challan_num}}</span>
                        <br/>
                        <span class="completed_styles theme_color">Challan No Generated Successfully!</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn theme_bgclr" ng-click="closeChalanModal()">OK</button>
                </div>
            </div>
        </div>
    </div> -->
        <!-- Challan No Generated Successfully modal end here -->

    </div>

</div>
<!-- Total footer start here-->
<div class="ttl_footer1">
    <!-- footer1 start here -->
    <!-- <footer ng-controller="homeController" class="footerbar footer">
        <div class="container1">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
                        <div class="row row1" id="ftr_ss">
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                <ul>
                                    <h5 id="footer_linksss">
                                        <b>POWERTEX TOOLS</b>
                                    </h5>
                                    <li id="footer_links_valuess">
                                        <a href="aboutus.html" class="footerText"> ABOUT US</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                <ul>
                                    <h5 id="footer_linksss">
                                        <b>CONTACT US</b>
                                    </h5>
                                    <li id="footer_links_valuess">
                                        <span style="margin-left: 5px;">
                                            <i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span class="footerText1 footer_links_addere">
                                            <span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
                                            <span style="margin-left: 25px;"> Bahadurpura,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">500064,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">Hyderabad,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">Telangana.</span>
                                            <br/>
                                        </span>
                                    </li>
                                    <li id="footer_links_valuess">
                                        <span style="padding-right:5px;">
                                            <i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span>
                                            <b class="font_size">EMAIL: </b>
                                            <a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
                                                info@powertextools.com </a>
                                        </span>
                                    </li>
                                    <li id="footer_links_valuess">
                                        <span style="padding-right:5px;">
                                            <i class="fa fa-phone" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span>
                                            <b class="font_size">PHONE: </b>
                                            <a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer> -->
    <!-- footer1 end here -->

    <!-- footer2 start here -->
    <footer class="footerbar1 footer" id="new_ftr">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp;
                                Golden Sun Technology.</span>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer2 end here -->
</div>
<!-- Total footer end here-->