<!-- <style>
    .panel.with-nav-tabs .panel-heading {
        padding: 5px 5px 0 5px;
    }

    .panel.with-nav-tabs .nav-tabs {
        border-bottom: none;
    }

    .panel.with-nav-tabs .nav-justified {
        margin-bottom: -1px;
    }

    .with-nav-tabs.panel-default .nav-tabs>li>a,
    .with-nav-tabs.panel-default .nav-tabs>li>a:hover,
    .with-nav-tabs.panel-default .nav-tabs>li>a:focus {
        color: #777;
    }

    .with-nav-tabs.panel-default .nav-tabs>.open>a,
    .with-nav-tabs.panel-default .nav-tabs>.open>a:hover,
    .with-nav-tabs.panel-default .nav-tabs>.open>a:focus,
    .with-nav-tabs.panel-default .nav-tabs>li>a:hover,
    .with-nav-tabs.panel-default .nav-tabs>li>a:focus {
        color: #777;
        background-color: #ddd;
        border-color: transparent;
    }

    .with-nav-tabs.panel-default .nav-tabs>li.active>a,
    .with-nav-tabs.panel-default .nav-tabs>li.active>a:hover,
    .with-nav-tabs.panel-default .nav-tabs>li.active>a:focus {
        color: #555;
        background-color: #fff;
        border-color: #ddd;
        border-bottom-color: transparent;
    }

    .with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu {
        background-color: #f5f5f5;
        border-color: #ddd;
    }

    .with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a {
        color: #777;
    }

    .with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a:hover,
    .with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a:focus {
        background-color: #ddd;
    }

    .with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a,
    .with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a:hover,
    .with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a:focus {
        color: #fff;
        background-color: #555;
    }
</style> -->
<!-- <div class="container1" ng-controller="customercartController">
    <div class="page-header">
        <h1>Panels with nav tabs.<span class="pull-right label label-default">:)</span></h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-target="#tab1default" data-toggle="tab">Default 1</a></li>
                        <li><a data-target="#tab2default" data-toggle="tab">Default 2</a></li>
                        <li><a data-target="#tab3default" data-toggle="tab">Default 3</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                            <form class="" novalidate>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label for="validationCustom01">First name</label>
                                            <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="validationCustom02">Middle name</label>
                                            <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="validationCustom02">Last name</label>
                                            <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
                                        </div>
                                    </div>
                                </div><br/>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label for="validationCustom03">House No</label>
                                            <input type="text" class="form-control" id="validationCustom03" placeholder="City" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="validationCustom04">Street</label>
                                            <input type="text" class="form-control" id="validationCustom04" placeholder="State" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="validationCustom05">Land Mark</label>
                                            <input type="text" class="form-control" id="validationCustom05" placeholder="Zip" required>
                                        </div>
                                    </div>
                                </div><br/>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3 mb-3">
                                            <label for="validationCustom03">City</label>
                                            <input type="text" class="form-control" id="validationCustom03" placeholder="City" required>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="validationCustom04">State</label>
                                            <input type="text" class="form-control" id="validationCustom04" placeholder="State" required>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="validationCustom05">Country</label>
                                            <input type="text" class="form-control" id="validationCustom05" placeholder="Zip" required>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="validationCustom05">Zip code</label>
                                            <input type="text" class="form-control" id="validationCustom05" placeholder="Zip" required>
                                        </div>
                                    </div>
                                </div>
                                </br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4 mb-3">
                                            <label for="validationCustom03">Mobile No</label>
                                            <input type="text" class="form-control" id="validationCustom03" placeholder="City" required>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="validationCustom04">Alt Mobile No</label>
                                            <input type="text" class="form-control" id="validationCustom04" placeholder="State" required>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="validationCustom05">GST No</label>
                                            <input type="text" class="form-control" id="validationCustom05" placeholder="Zip" required>
                                        </div>
                                    </div>
                                </div>
                                </br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                                    <label class="form-check-label1" for="invalidCheck">Use as my Default billing address</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="text-align: right;">
                                            <button type="button" title="Next" class="btn theme_bgclr del_cat_dropdowns">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="tab2default">Default 2</div>
                        <div class="tab-pane fade" id="tab3default">Default 3</div>
                        <div class="tab-pane fade" id="tab4default">Default 4</div>
                        <div class="tab-pane fade" id="tab5default">Default 5</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container1" ng-controller="checkoutCntrl">

    <!-- bradcrumbs start here -->
    <div class="row" style="margin-left: 0px;">
        <ul class="bredcrumb_ul margin_left">
            <li class="bredcrumb_li" ng-click="B2BDashboard()">
                <a>Dashboard</a>
                <!-- <span class="slash_bc">/</span> -->
            </li>
            <!-- <li class="bredcrumb_li" ng-if="wishlistBreadCrumbFlag == 'true'" ng-click="pageNavigate()">
                <a>Dashboard</a>
                <span class="slash_bc">/</span>
            </li> -->
            <li class="bredcrumb_li">
                <a>Checkout</a>
            </li>
        </ul>
    </div>
    <!-- bradcrumbs end here -->

    <div class="ovrfle_hidn">
        <steps class="col-sm-12" id="radio_clrs">

            <loading></loading>
            <!-- <div class="box-head11" style="margin-bottom:5px;">
                <div>Checkout</div>
            </div> -->

            <div class="steps_view">
                <!-- step-1 shipping address start here -->
                <step class="step1" name="first">
                    <div class="steps_count">
                        <ul>
                            <li class="">
                                <i class="fa fa-circle active" aria-hidden="true">1</i>
                            </li>
                            <li>step-2</li>
                            <li>step-3</li>
                            <li>step-4</li>
                            <li>step-5</li>
                        </ul>
                    </div>
                    <div class="panel111 panel-info111 padd_20">

                        <div class="panel-body111">
                            <div class="">
                                <!-- pick up form start here -->
                                <form class="" novalidate>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3 mb-3">
                                                <label for="Mbl_No">Mobile No</label>
                                                <input type="text" class="form-control" ng-model="altmobile" ng-change="changePindetails(altmobile)" id="Mbl_No" placeholder="Enter Mobile No"
                                                    required>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <label for="pincode">Pincode</label>
                                                <input type="text" class="form-control" ng-model="pincode" ng-change="changePindetails(pincode)" id="pincode" placeholder="Enter Pincode"
                                                    required>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <button type="button" class="btn theme_bgclr" style="margin-top:25px;" ng-show="getbtn" ng-click=getshoplist(pincode,altmobile,gstno)>Get</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- pick up form end here -->

                                <!-- pick up shops form start here -->
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 m_t_20_m_b_10">
                                    <div class="" id="dealer_addr" ng-repeat="dealer in dealersList">
                                        <span id="dealer_shp_name" class="ng-binding">
                                            <input type="radio" name="address" ng-model="selected" ng-value="'{{dealer}}'" ng-change="saveDealerAddress(dealer)">{{dealer.shop_name}}
                                        </span>
                                        <br>
                                        <div class="margin_top_10" id="shop_add_part" class="ng-binding">
                                            <b class="theme_color">Shop Name</b>: {{dealer.shop_name}}
                                            <br>
                                            <b class="theme_color">Address</b>: {{dealer.shop_address}}
                                            <br>
                                            <b class="theme_color">Contact Person</b>: {{dealer.dealer_name}}
                                            <br>
                                            <b class="theme_color">Contact Number</b>: {{dealer.phone}}
                                            <br>
                                            <b class="theme_color">Postal Code</b>: {{dealer.pincode}}
                                            <br>
                                            <b class="theme_color">Distance</b>: {{dealer.distance}}
                                            <br>
                                        </div>
                                    </div>
                                    <div ng-show="disableShippingbtn">
                                        <span style="color: #293071"> >> If you don't proceed for payment click on Send Enquiry, your details will send
                                            to dealer. Dealer will contact you soon </span>
                                        <button class="btn theme_bgclr pull-right" ng-click="sendEnquiry()">Send For Enquiry
                                            <i class="glyphicon glyphicon-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- pick up shops form end here -->
                                <!-- pick up shops form start here -->
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" ng-show="inShow">
                                    <h5>
                                        <strong class="clr_red">Instructions</strong>
                                    </h5>
                                    <p class="f_weight_600">1. Select your nearest Dealer.</p>
                                    <p class="f_weight_600">2. Dealer will contact you soon.</p>
                                    <p class="f_weight_600">3. You can also contact given number
                                        <b>Mobile: 8978041215</b>
                                    </p>
                                </div>
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" ng-show="enquiryinst">
                                    <h5>
                                        <strong class="clr_red">Instructions</strong>
                                    </h5>
                                    <p class="f_weight_600">1.There is no Powertex dealer and Shopee in your pincode area.</p>

                                    <p class="f_weight_600">2.Kindly click next for delivery address/Payment</p>
                                </div>
                                <!-- pick up shops form end here -->

                            </div>

                        </div>
                        <br/>
                        <div class="clearfix panel-footer111">
                            <!-- <div class="padd_t_15"> -->
                            <!-- <button ng-if="sendEnquiry" class="btn theme_bgclr pull-right" ng-click=saveaddress(shipping,billingAddress) step-next>Next
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </button> -->
                            <button ng-show="nxtbtn" class="btn theme_bgclr pull-right" ng-click=saveaddress(shipping,billingAddress) step-next>Next
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </button>
                            <!-- </div> -->
                        </div>


                    </div>
                </step>
                <!-- step-1 shipping address end here -->

                <!-- step-2 Billing address start here -->
                <step class="step2" name="second">
                    <div class="steps_count">
                        <ul>
                            <li class="">
                                <i class="fa fa-circle active" aria-hidden="true">1</i>
                            </li>
                            <li class="">
                                <i class="fa fa-circle active" aria-hidden="true">2</i>
                            </li>
                            <li>step-3</li>
                            <li>step-4</li>
                            <li>step-5</li>
                        </ul>
                    </div>
                    <div class="panel111 panel-info111 padd_20" ng-show="delivery_addrShow">
                        <div class="panel-heading111">
                            <div class="panel-title111 adrs_type">Delivery Address</div>
                        </div>
                        <div class="panel-body111">
                            <!-- Delivery form start here -->
                            <form class="" novalidate>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label for="first_name_deli">Full name</label>
                                            <input type="text" class="form-control" id="first_name_deli" ng-model="shipping.fullname" placeholder="Enter Full name" required>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="last_name_deli">Mobile No</label>
                                            <input type="text" class="form-control" id="last_name_deli" ng-model="shipping.mobile" placeholder="Enter Mobile No" required>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="house_no_deli">House No</label>
                                            <input type="text" class="form-control" id="house_no_deli" ng-model="shipping.dno" placeholder="Enter Flat/Door No" required>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="street_deli">Street</label>
                                            <input type="text" class="form-control" id="street_deli" ng-model="shipping.street" placeholder="Enter Street Name" required>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label for="land_mark_deli">City</label>
                                            <input type="text" class="form-control" id="land_mark_deli" ng-model="shipping.city" placeholder="Enter City" required>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="mobile_no_deli">State</label>
                                            <input type="text" class="form-control" id="mobile_no_deli" ng-model="shipping.state" placeholder="Enter State" required>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="alt_mobile_no_deli">Zipcode</label>
                                            <input type="text" class="form-control" id="alt_mobile_no_deli" ng-model="shipping.zipcode" placeholder="Enter Zipcode" required>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="{{checkvalue}}" ng-model="checkvalue" ng-change="shippingAddress(shipping,checkvalue)"
                                                    required>
                                                <label class="form-check-label1" for="invalidCheck_deli">Use as my Default billing address</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- Delivery form end here -->
                        </div>
                        <div class="panel-heading111">
                            <div class="panel-title111 adrs_type">Billing Address</div>
                        </div>
                        <div class="panel-body111">
                            <!-- Billing form start here -->
                            <form class="" novalidate>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label for="first_name">Full name</label>
                                            <input type="text" class="form-control" ng-model="billingAddress.fullname" placeholder="Enter Full name" required>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="last_name">Mobile No</label>
                                            <input type="text" class="form-control" id="last_name" ng-model="billingAddress.mobile" placeholder="Enter Mobile No" required>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="house_no">House No</label>
                                            <input type="text" class="form-control" id="house_no" ng-model="billingAddress.dno" placeholder="Enter Flat/Door No" required>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="street">Street</label>
                                            <input type="text" class="form-control" id="street" ng-model="billingAddress.street" placeholder="Enter Street Name" required>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label for="land_mark">City</label>
                                            <input type="text" class="form-control" ng-model="billingAddress.city" id="land_mark" placeholder="Enter City" required>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="mobile_no">State</label>
                                            <input type="text" class="form-control" ng-model="billingAddress.state" id="mobile_no" placeholder="Enter State" required>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="alt_mobile_no">Zipcode</label>
                                            <input type="text" class="form-control" ng-model="billingAddress.zipcode" id="alt_mobile_no" placeholder="Enter Zipcode"
                                                required>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                            </form>
                            <!-- Billing form end here -->
                        </div>

                        <div class="clearfix panel-footer111 border_top">
                            <div class="padd_t_15">
                                <button class="btn theme_bgclr pull-left" step-previous>
                                    <i class="glyphicon glyphicon-chevron-left"></i> Prev
                                </button>
                                <button class="btn theme_bgclr pull-right" ng-click=saveaddress(shipping,billingAddress) ng-disabled="disableShippingbtn"
                                    step-next>Next
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="panel111 panel-info111 padd_20" ng-show="!delivery_addrShow">
                        <div class="panel-heading111">
                            <div class="panel-title111 adrs_type">Order Review</div>
                        </div>
                        <div class="panel-body111">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <div class="block_account_dashboard">
                                        <div class="basic_dashboard" ng-controller="customercartController">
                                            <div class="myaccount_section12_goToCart">
                                                <div class="myvieworders-tbl-new1">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-striped pending_order">
                                                            <thead>
                                                                <tr>
                                                                    <th class="txt_centr">S.No</th>
                                                                    <th class="txt_centr">Product Image</th>
                                                                    <th class="txt_left">Product Name</th>
                                                                    <th class="txt_right">Unit Price</th>
                                                                    <th class="txt_centr">Qty</th>
                                                                    <th class="txt_right">Total Price</th>
                                                                    <th class="txt_right">Tax (%)</th>
                                                                    <th class="txt_right">Tax-Amount</th>
                                                                    <th class="txt_right">Subtotal</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="myViewOrdersData">
                                                                <tr ng-repeat="cartItem in cartArrayItems track by $index">
                                                                    <td class="txt_centr ver_center">{{$index+1}}</td>
                                                                    <td class="txt_centr ver_center">
                                                                        <img ng-src="images/ProductImages/{{cartItem.imageid}}" title="{{cartItem.upload_name}}" style="width: 25%;">
                                                                    </td>
                                                                    <td class="txt_left ver_center" style="cursor:pointer;">{{cartItem.upload_name}}</td>
                                                                    <td class="txt_right ver_center">{{cartItem.mrp | currency:'&#8377;'}}</td>
                                                                    <td class="txt_centr ver_center">
                                                                        <div class="quantity">
                                                                            <button class="plus-btn quan-btn" type="button" name="button" ng-click="decreaseValue(cartItem,$index,currentPage)">
                                                                                <span class="glyphicon glyphicon-minus qty_plus_minus"></span>
                                                                            </button>
                                                                            <input type="text" name="qty" max="4" class="quan-text" value="{{qty}}" ng-model="cartItem.qty" ng-change="getQuantity(cartItem.qty,cartItem,$index,currentPage)">
                                                                            <button class="minus-btn quan-btn" type="button" name="button" ng-click="increaseValue(cartItem,$index,currentPage)">
                                                                                <span class="glyphicon glyphicon-plus qty_plus_minus"></span>
                                                                            </button>
                                                                        </div>
                                                                    </td>
                                                                    <td class="txt_right ver_center">{{((cartItem.mrp*cartItem.tax)/100*cartItem.qty)+(cartItem.mrp*cartItem.qty)|
                                                                        currency:'&#8377;'}}
                                                                    </td>
                                                                    <td class="txt_right ver_center">{{cartItem.tax}}</td>
                                                                    <td class="txt_right ver_center">{{(cartItem.mrp*cartItem.tax)/100*cartItem.qty | currency:'&#8377;'}}</td>
                                                                    <td class="txt_right ver_center">{{cartItem.mrp*cartItem.qty |currency:'&#8377;'}}</td>

                                                                </tr>
                                                                <tr>
                                                                    <td colspan="8" class="cart_head tft_head">Shipping Charges</td>
                                                                    <td class="cart_des tft_head">₹ 0.00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="8" class="cart_head tft_head">Grand Total</td>
                                                                    <td class="cart_des tft_head">{{grandtotal|currency:'&#8377;'}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix panel-footer111 border_top" ng-controller="checkoutCntrl">
                            <div class="padd_t_15">
                                <button class="btn theme_bgclr pull-left" step-previous>
                                    <i class="glyphicon glyphicon-chevron-left"></i> Prev</button>
                                <button class="btn theme_bgclr pull-right" ng-click="orderItems(cartArrayItems)" step-next>Next
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </step>
                <!-- step-2 Billing address start here -->

                <!-- step-3 Payment method start here -->
                <step class="step3" name="third">
                    <div class="steps_count">
                        <ul>
                            <li class="">
                                <i class="fa fa-circle active" aria-hidden="true">1</i>
                            </li>
                            <li class="">
                                <i class="fa fa-circle active" aria-hidden="true">2</i>
                            </li>
                            <li class="">
                                <i class="fa fa-circle active" aria-hidden="true">3</i>
                            </li>
                            <li>step-4</li>
                            <li>step-5</li>
                        </ul>
                    </div>
                    <div class="panel111 panel-info111 padd_20" ng-show="!delivery_addrShow">
                        <div class="panel-heading111">
                            <div class="panel-title111 adrs_type">Payment Method</div>
                        </div>
                        <div class="panel-body111">
                            <div class="col-md-12">
                                <div class="funkyradio mar-btm-20">
                                    <div class="funkyradio-primary">
                                        <input type="radio" name="radio" id="radio_online" ng-change="checkPaymentType(payment)" ng-model="payment" ng-value="'payu'"
                                            checked/>
                                        <label for="radio_online" style="width:15%;">
                                            <span style="font-size:14px;color:#232f3e;font-weight:600;">Pay Online</span>
                                        </label>
                                    </div>
                                    <div class="funkyradio-success">
                                        <input type="radio" name="radio" id="radio_cod" ng-change="checkPaymentType(payment)" ng-model="payment" ng-value="'cashondelivery'"
                                        />
                                        <label for="radio_cod" style="width:15%;">
                                            <span style="font-size:14px;color:#232f3e;font-weight:600;">Cash On Delivery</span>
                                        </label>
                                    </div>
                                </div>
                                <div ng-show="payuShow" ng-include='"payu.html"'></div>
                            </div>
                            <!-- <div ng-show="payuShow" ng-include='"payu_biz.html"'></div> -->
                        </div>

                        <div class="clearfix panel-footer111">
                            <!-- <div class="padd_t_15"> -->
                            <button class="btn theme_bgclr pull-left" step-previous>
                                <i class="glyphicon glyphicon-chevron-left"></i> Prev</button>
                            <button type="submit" class="btn theme_bgclr fl-right" ng-click="proceed()" ng-show="!payuShow" step-next>Proceed to Checkout</button>
                            <!-- </div> -->
                        </div>
                    </div>
                    <div class="panel111 panel-info111 padd_20" ng-show="delivery_addrShow">
                        <div class="panel-heading111">
                            <div class="panel-title111 adrs_type">Order Review</div>
                        </div>
                        <div class="panel-body111">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <div class="block_account_dashboard">
                                        <div class="basic_dashboard" ng-controller="customercartController">
                                            <div class="myaccount_section12_goToCart">
                                                <div class="myvieworders-tbl-new1">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-striped pending_order">
                                                            <thead>
                                                                <tr>
                                                                    <th class="txt_centr">S.No</th>
                                                                    <th class="txt_centr">Product Image</th>
                                                                    <th class="txt_left">Product Name</th>
                                                                    <th class="txt_right">Unit Price</th>
                                                                    <th class="txt_centr">Qty</th>
                                                                    <th class="txt_right">Total Price</th>
                                                                    <th class="txt_right">Tax (%)</th>
                                                                    <th class="txt_right">Tax-Amount</th>
                                                                    <th class="txt_right">Subtotal</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="myViewOrdersData">
                                                                <tr ng-repeat="cartItem in cartArrayItems track by $index">
                                                                    <td class="txt_centr ver_center">{{$index+1}}</td>
                                                                    <td class="txt_centr ver_center">
                                                                        <img ng-src="images/ProductImages/{{cartItem.imageid}}" title="{{cartItem.upload_name}}" style="width: 25%;">
                                                                    </td>
                                                                    <td class="txt_left ver_center" style="cursor:pointer;">{{cartItem.upload_name}}</td>
                                                                    <td class="txt_right ver_center">{{cartItem.mrp | currency:'&#8377;'}}</td>
                                                                    <td class="txt_centr ver_center">
                                                                        <div class="quantity">
                                                                            <button class="plus-btn quan-btn" type="button" name="button" ng-click="decreaseValue(cartItem,$index,currentPage)">
                                                                                <span class="glyphicon glyphicon-minus qty_plus_minus"></span>
                                                                            </button>
                                                                            <input type="text" name="qty" max="4" class="quan-text" value="{{qty}}" ng-model="cartItem.qty" ng-change="getQuantity(cartItem.qty,cartItem,$index,currentPage)">
                                                                            <button class="minus-btn quan-btn" type="button" name="button" ng-click="increaseValue(cartItem,$index,currentPage)">
                                                                                <span class="glyphicon glyphicon-plus qty_plus_minus"></span>
                                                                            </button>
                                                                        </div>
                                                                    </td>
                                                                    <td class="txt_right ver_center">{{((cartItem.mrp*cartItem.tax)/100*cartItem.qty)+(cartItem.mrp*cartItem.qty)|
                                                                        currency:'&#8377;'}}
                                                                    </td>
                                                                    <td class="txt_right ver_center">{{cartItem.tax}}</td>
                                                                    <td class="txt_right ver_center">{{(cartItem.mrp*cartItem.tax)/100*cartItem.qty | currency:'&#8377;'}}</td>
                                                                    <td class="txt_right ver_center">{{cartItem.mrp*cartItem.qty |currency:'&#8377;'}}</td>

                                                                </tr>
                                                                <tr>
                                                                    <td colspan="8" class="cart_head tft_head">Shipping Charges</td>
                                                                    <td class="cart_des tft_head">₹ 0.00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="8" class="cart_head tft_head">Grand Total</td>
                                                                    <td class="cart_des tft_head">{{grandtotal|currency:'&#8377;'}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix panel-footer111 border_top" ng-controller="checkoutCntrl">
                            <div class="padd_t_15">
                                <button class="btn theme_bgclr pull-left" step-previous>
                                    <i class="glyphicon glyphicon-chevron-left"></i> Prev</button>
                                <button class="btn theme_bgclr pull-right" ng-click="orderItems(cartArrayItems)" step-next>Next
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </step>
                <!-- step-3 Payment method end here -->

                <!-- step-4 Payment option start here -->
                <step class="step4" name="four">
                    <div class="steps_count">
                        <ul>
                            <li class="">
                                <i class="fa fa-circle active" aria-hidden="true">1</i>
                            </li>
                            <li class="">
                                <i class="fa fa-circle active" aria-hidden="true">2</i>
                            </li>
                            <li class="">
                                <i class="fa fa-circle active" aria-hidden="true">3</i>
                            </li>
                            <li class="">
                                <i class="fa fa-circle active" aria-hidden="true">4</i>
                            </li>
                            <li>step-5</li>
                        </ul>
                    </div>
                    <div class="panel111 panel-info111 padd_20" ng-show="delivery_addrShow">
                        <div class="panel-heading111">
                            <div class="panel-title111 adrs_type">Payment Method</div>
                        </div>

                        <div class="panel-body111">
                            <div class="col-md-12">
                                <div class="funkyradio">
                                    <div class="funkyradio-primary">
                                        <input type="radio" name="radio" id="radio_online" ng-change="checkPaymentType(payment)" ng-model="payment" ng-value="'payu'"
                                            checked/>
                                        <label for="radio_online" style="width:15%;">
                                            <span style="font-size:14px;color:#232f3e;font-weight:600;">Pay Online</span>
                                        </label>
                                    </div>
                                    <div class="funkyradio-success">
                                        <input type="radio" name="radio" id="radio_cod" ng-change="checkPaymentType(payment)" ng-model="payment" ng-value="'cashondelivery'"
                                        />
                                        <label for="radio_cod" style="width:15%;">
                                            <span style="font-size:14px;color:#232f3e;font-weight:600;">Cash On Delivery</span>
                                        </label>
                                    </div>
                                </div>
                                <div ng-show="payuShow" ng-include='"payu.html"'></div>
                            </div>
                            <!-- <div ng-show="payuShow" ng-include='"payu_biz.html"'></div> -->
                        </div>

                        <div class="clearfix panel-footer111">
                            <!-- <div class="padd_t_15"> -->
                            <button class="btn theme_bgclr pull-left" step-previous>
                                <i class="glyphicon glyphicon-chevron-left"></i> Prev</button>
                            <button type="submit" class="btn theme_bgclr fl-right" ng-click="proceed()" step-next>Proceed to Checkout</button>
                            <!-- </div> -->
                        </div>
                    </div>

                    <div class="panel111 panel-info111 padd_20" ng-show="!delivery_addrShow">
                        <div class="panel-heading111">
                            <!-- <div class="panel-title111 adrs_type">Completed</div> -->
                        </div>
                        <div class="panel-body111">
                            <div align="middle" style="margin: 10px 0 20px 0;">
                                <div class="" style="padding: 10px 0;">
                                    <div style="font-size: 20px;font-weight: 700;color: #be393d;">Completed</div>
                                    <img src="images/completed_icon.png" class="pop_image" style="width:5%;" />
                                    <!-- <i class="fa fa-file-text" aria-hidden="true" style="font-size: 120px;color: #e4e4e4;"></i> -->
                                    <div style="color:#232f3e;font-size: 18px;font-weight: 600;">Your Order ID is
                                        <b class="theme_violet">123456789</b>
                                    </div>
                                    <p>If you want another item go to shopping cart</p>
                                    <button type="submit" class="btn btn-default" ng-click="gotoShopping()" id="back_edit_info">
                                        <i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:10px;"></i>Continue Shopping</button>
                                    <!-- <button type="submit" class="btn btn-default" href="#createRFQ" id="back_edit_info">
                                        <i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:10px;"></i>Print</button> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </step>
                <!-- step-4 Payment option end here -->

                <!-- step-5 completed option start here -->
                <step class="step5" name="five">
                    <div class="steps_count">
                        <ul>
                            <li class="">
                                <i class="fa fa-circle active" aria-hidden="true">1</i>
                            </li>
                            <li class="">
                                <i class="fa fa-circle active" aria-hidden="true">2</i>
                            </li>
                            <li class="">
                                <i class="fa fa-circle active" aria-hidden="true">3</i>
                            </li>
                            <li class="">
                                <i class="fa fa-circle active" aria-hidden="true">4</i>
                            </li>
                            <li class="">
                                <i class="fa fa-circle active" aria-hidden="true">5</i>
                            </li>
                        </ul>
                    </div>

                    <div class="panel111 panel-info111 padd_20">
                        <div class="panel-heading111">
                            <!-- <div class="panel-title111 adrs_type">Completed</div> -->
                        </div>
                        <div class="panel-body111">
                            <div align="middle" style="margin: 10px 0 20px 0;">
                                <div class="" style="padding: 10px 0;">
                                    <div style="font-size: 20px;font-weight: 700;color: #be393d;">Completed</div>
                                    <img src="images/completed_icon.png" class="pop_image" style="width:5%;" />
                                    <!-- <i class="fa fa-file-text" aria-hidden="true" style="font-size: 120px;color: #e4e4e4;"></i> -->
                                    <div style="color:#232f3e;font-size: 18px;font-weight: 600;">Your Order ID is
                                        <b class="theme_violet">123456789</b>
                                    </div>
                                    <p>If you want another item go to shopping cart</p>
                                    <button type="submit" class="btn btn-default" ng-click="gotoShopping()" id="back_edit_info">
                                        <i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:10px;"></i>Continue Shopping</button>
                                    <!-- <button type="submit" class="btn btn-default" href="#createRFQ" id="back_edit_info">
                                        <i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:10px;"></i>Print</button> -->
                                </div>
                            </div>
                        </div>
                        <!-- <div class="clearfix panel-footer111 border_top">
                            <div class="padd_t_15">
                                <button class="btn theme_bgclr pull-left" step-previous>
                                    <i class="glyphicon glyphicon-chevron-left"></i> Prev</button>
                                <button type="submit" class="btn theme_bgclr fl-right" step-next>
                                    Completed <i class="fa fa-check" aria-hidden="true" style="font-size: 120px;color: #e4e4e4;"></i>
                                </button>
                            </div>
                        </div> -->
                    </div>


                </step>
                <!-- step-5 completed option end here -->
            </div>

        </steps>
    </div>

</div>

<!-- Total footer start here-->
<div class="ttl_footer1">
    <!-- footer1 start here -->
    <!-- <footer ng-controller="homeController" class="footerbar footer">
        <div class="container1">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
                        <div class="row row1" id="ftr_ss">
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                <ul>
                                    <h5 id="footer_linksss">
                                        <b>POWERTEX TOOLS</b>
                                    </h5>
                                    <li id="footer_links_valuess">
                                        <a href="aboutus.html" class="footerText"> ABOUT US</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                <ul>
                                    <h5 id="footer_linksss">
                                        <b>CONTACT US</b>
                                    </h5>
                                    <li id="footer_links_valuess">
                                        <span style="margin-left: 5px;">
                                            <i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span class="footerText1 footer_links_addere">
                                            <span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
                                            <span style="margin-left: 25px;"> Bahadurpura,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">500064,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">Hyderabad,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">Telangana.</span>
                                            <br/>
                                        </span>
                                    </li>
                                    <li id="footer_links_valuess">
                                        <span style="padding-right:5px;">
                                            <i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span>
                                            <b class="font_size">EMAIL: </b>
                                            <a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
                                                info@powertextools.com </a>
                                        </span>
                                    </li>
                                    <li id="footer_links_valuess">
                                        <span style="padding-right:5px;">
                                            <i class="fa fa-phone" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span>
                                            <b class="font_size">PHONE: </b>
                                            <a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer> -->
    <!-- footer1 end here -->

    <!-- footer2 start here -->
    <footer class="footerbar1 footer" id="new_ftr">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer2 end here -->
</div>
<!-- Total footer end here-->