<div class="container-fulid" ng-controller="homeController" id="categoryPage">
  
    <div class="container" style="height: 348px;">
     
      <div class="row">
        <div class="main-collections-wrap collections-wrap">
          <div class="block-title">
            <h1 class="allHeaders">Collections</h1>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 collection-page-temp" ng-repeat="collection in collections">
          <div class="coll-gallery">
            <div class="coll-gallery_img img mg-image">
              <a >
                <img  ng-src="{{collection.imagelink}}" ng-click="gotoCategory(collection)" title="{{collection.name}}" alt="{{collection.name}}">
              </a>
            </div>
            <div class="coll-gallery_text">
              <a class="coll-view_collection coll-view-collection-moreinfo" ng-click="gotoCategory(collection)" href="javascript:void(0)">{{collection.name}}</a>
            </div>
          </div>
        </div>
  </div>
     <br />
    <br />
</div>
