<div class="container1" ng-controller="adminPanelCompanyProfileCntrl">

    <!-- bradcrumbs start here -->
    <div class="row">
        <ul class="bredcrumb_ul margin_left">
            <li class="bredcrumb_li" ng-click="B2BDashboard()">
                <a>Dashboard</a>
                <!-- <span class="slash_bc">/</span> -->
            </li>
            <li class="bredcrumb_li">
                <a>Company-Profile</a>
            </li>
        </ul>
    </div>
    <!-- bradcrumbs end here -->

    <div class="box-head11" style="margin-bottom:5px;">
        <div>Company Profile</div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="edit_information_page_block" style="box-shadow: 3px 3px 8px #d0cfcf;">
                <form name="myform">

                    <div class="extra_details">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="extraDetails">Shop Details
                                    <span style="color:#be393d;">*</span>
                                </label>
                                <div class="dis_address box_block">
                                    <p>
                                        <span>
                                            <b>Shopee Code: </b>
                                        </span>
                                        <input type="text" required name="shopeecode" ng-model="companyProfile.shpcode"
                                            placeholder="Enter Shopee Code" ng-minlength="2" ng-maxlength="50"
                                            maxlength="50" ng-pattern="/^[a-zA-Z0-9 ]+$/">
                                        <div ng-messages="myform.shopeecode.$error ">
                                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid
                                                Shopee Code</p>
                                            <p class="validationError errorMsg" ng-message="minlength">Enter Minimum 2
                                                Characters</p>
                                            <p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50
                                                Characters</p>
                                        </div>
                                    </p>
                                    <p>
                                        <span>
                                            <b>Shopee Name: </b>
                                        </span>
                                        <input type="text" required name="shopeename" ng-model="companyProfile.shpname"
                                            placeholder="Enter Shopee Name" ng-minlength="2" ng-maxlength="50"
                                            maxlength="50" ng-pattern="/^[a-zA-Z0-9 ]+$/">
                                        <div ng-messages="myform.shopeename.$error ">
                                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid
                                                Shopee Name</p>
                                            <p class="validationError errorMsg" ng-message="minlength">Enter Minimum 2
                                                Characters</p>
                                            <p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50
                                                Characters</p>
                                        </div>
                                    </p>
                                    <p>
                                        <span>
                                            <b>Display Name: </b>
                                        </span>
                                        <input type="text" required name="disname" ng-model="companyProfile.displayname"
                                            placeholder="Enter Display Name" ng-minlength="2" ng-maxlength="50"
                                            maxlength="50" ng-pattern="/^[a-zA-Z0-9 ]+$/">
                                        <div ng-messages="myform.disname.$error ">
                                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid
                                                Display Name</p>
                                            <p class="validationError errorMsg" ng-message="minlength">Enter Minimum 2
                                                Characters</p>
                                            <p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50
                                                Characters</p>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="extraDetails">Shopee Details
                                    <span style="color:#be393d;">*</span>
                                </label>
                                <div class="dis_address box_block">
                                    <p>
                                        <span>
                                            <b>Shopee Type: </b>
                                        </span>
                                        <select required ng-model="companyProfile.shptype" ng-change="shopee_type(companyProfile.shptype)">
                                            <option value="">--Select--</option>
                                            <option value="branch">Branch Code</option>
                                            <option value="Dealer">Dealer Code</option>
                                            <option value="SubDealer">Sub Dealer Code</option>
                                        </select>
                                    </p>

                                    <p ng-if="companyProfile.shptype=='Dealer' || companyProfile.shptype=='SubDealer'">
                                        <span>
                                            <b>Branch Code: </b>
                                        </span>
                                        <select required ng-model="companyProfile.branch_code" ng-options="branch as branch.branch_code for branch in branches"
                                            ng-change="getDealers(companyProfile.branch_code)">
                                            <option value="">--Select--</option>
                                        </select>

                                    </p>
                                    <p ng-if="companyProfile.shptype=='branch'">
                                        <span>
                                            <b>Branch Code: </b>
                                        </span>
                                        <input required type="text" name="branch_code1" ng-model="companyProfile.branch_code"
                                            placeholder="Enter Branch Code" ng-minlength="2" ng-maxlength="15"
                                            maxlength="15" ng-pattern="/^[a-zA-Z0-9 ]+$/">
                                        <div ng-messages="myform.branch_code1.$error ">
                                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid
                                                Branch Code</p>
                                            <p class="validationError errorMsg" ng-message="minlength">Enter Minimum 2
                                                Characters</p>
                                            <p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 15
                                                Characters</p>
                                        </div>
                                    </p>
                                    <p ng-if="companyProfile.shptype=='Dealer'">
                                        <span>
                                            <b>Dealer Code: </b>
                                        </span>
                                        <input required type="text" name="dealer_code1" ng-model="companyProfile.dealer_code"
                                            placeholder="Enter Branch Code" ng-minlength="2" ng-maxlength="15"
                                            maxlength="15" ng-pattern="/^[a-zA-Z0-9 ]+$/">
                                        <div ng-messages="myform.dealer_code1.$error ">
                                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid
                                                Dealer Code</p>
                                            <p class="validationError errorMsg" ng-message="minlength">Enter Minimum 2
                                                Characters</p>
                                            <p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 15
                                                Characters</p>
                                        </div>
                                    </p>
                                    <p ng-if="companyProfile.shptype=='SubDealer'">
                                        <span>
                                            <b>Dealer Code: </b>
                                        </span>
                                        <select required ng-model="companyProfile.dealer_code" ng-options="dealer as dealer.dealer_code for dealer in branch_dealers">
                                            <option value="">--Select--</option>
                                        </select>
                                    </p>
                                    <p ng-if="companyProfile.shptype=='SubDealer'">
                                        <span>
                                            <b>Sub Dealer Code: </b>
                                        </span>
                                        <input required type="text" name="s_dealercode" ng-model="companyProfile.s_dealercode"
                                            placeholder="Enter Sub Dealer Code" ng-minlength="2" ng-maxlength="15"
                                            maxlength="15" ng-pattern="/^[a-zA-Z0-9 ]+$/">
                                        <div ng-messages="myform.s_dealercode.$error ">
                                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid
                                                Sub Dealer Code</p>
                                            <p class="validationError errorMsg" ng-message="minlength">Enter Minimum 2
                                                Characters</p>
                                            <p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 15
                                                Characters</p>
                                        </div>
                                    </p>

                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="extraDetails">TAX Details
                                    <span style="color:#be393d;">*</span>
                                </label>
                                <div class="dis_address box_block">
                                    <p>
                                        <span>
                                            <b>PAN No: </b>
                                        </span>
                                        <input required type="text" name="panno" ng-model="companyProfile.pan" required
                                            placeholder="Enter PAN No." ng-pattern="/^[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}$/">
                                        <div ng-messages="myform.panno.$error ">
                                            <p class="validationError errorMsg" ng-message="pattern">Enter
                                                Valid PAN</p>
                                        </div>
                                    </p>
                                    <p>
                                        <span>
                                            <b>GST No: </b>
                                        </span>
                                        <input required type="text" name="gstno" ng-model="companyProfile.gst"
                                            placeholder="Enter GST No." ng-pattern="/^[0-9]{2}[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}[0-9]{1}[a-zA-Z]{1}[0-9]{1}$/">
                                        <div ng-messages="myform.gstno.$error ">
                                            <p class="validationError errorMsg" ng-message="pattern">Enter
                                                Valid GST</p>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="extraDetails">Address Details
                                    <span style="color:#be393d;">*</span>
                                </label>
                                <div class="dis_address box_block">
                                    <p>
                                        <span>
                                            <b>Address: </b>
                                        </span>
                                        <textarea required name="address" ng-model="companyProfile.address" placeholder="Enter Address"
                                            ng-minlength="3" ng-maxlength="50" maxlength="50" ng-pattern="/^[a-zA-Z0-9 ]+$/"></textarea>
                                        <div ng-messages="myform.address.$error ">
                                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid
                                                Address</p>
                                            <p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3
                                                Characters</p>
                                            <p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50
                                                Characters</p>
                                        </div>
                                    </p>
                                    <p>
                                        <span>
                                            <b>City: </b>
                                        </span>
                                        <input required type="text" name="city" ng-model="companyProfile.city"
                                            placeholder="Enter City" ng-minlength="3" ng-maxlength="30" maxlength="30"
                                            ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,30}$/">
                                        <div ng-messages="myform.city.$error ">
                                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid
                                                City</p>
                                            <p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3
                                                Characters</p>
                                            <p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 30
                                                Characters</p>
                                        </div>
                                    </p>
                                    <p>
                                        <span>
                                            <b>State: </b>
                                        </span>
                                        <input required type="text" name="state" ng-model="companyProfile.state"
                                            placeholder="Enter State" ng-minlength="3" ng-maxlength="50" maxlength="50"
                                            ng-pattern="/^[a-zA-Z0-9 ]+$/">
                                        <div ng-messages="myform.state.$error ">
                                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid
                                                State</p>
                                            <p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3
                                                Characters</p>
                                            <p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50
                                                Characters</p>
                                        </div>
                                    </p>
                                    <p>
                                        <span>
                                            <b>Country: </b>
                                        </span>
                                        <input type="text" name="country" required ng-model="companyProfile.country"
                                            placeholder="Enter State" ng-minlength="3" ng-maxlength="30" maxlength="30"
                                            ng-pattern="/^[a-zA-Z0-9 ]+$/">
                                        <div ng-messages="myform.country.$error ">
                                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid
                                                country</p>
                                            <p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3
                                                Characters</p>
                                            <p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 30
                                                Characters</p>
                                        </div>
                                    </p>
                                    <p>
                                        <span>
                                            <b>Pincode: </b>
                                        </span>
                                        <input type="text" name="pincode" required ng-model="companyProfile.pincode"
                                            placeholder="Enter Pincode" ng-minlength="6" ng-maxlength="6" maxlength="6"
                                            required ng-pattern="/^[0-9]{6}$/">
                                        <div ng-messages="myform.pincode.$error ">
                                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid
                                                Pincode</p>
                                            <p class="validationError errorMsg" ng-message="minlength">Pincode should
                                                be 6 digits</p>
                                            <p class="validationError errorMsg" ng-message="maxlength">Pincode should
                                                be 6 digits</p>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <button type="submit" value="submit" class="btn btn-primary pull-right theme_btn" ng-disabled="myform.$invalid"
                        ng-click="CompanyProfile(companyProfile)">Submit</button>

                </form>
            </div>

        </div>
    </div>

</div>