<div ng-controller="distributorController">
    <div ng-if="welcome_msg != 'undefined' && welcome_msg!= ''" class="del_branch">
        <span class="text-center welcome_msg1">{{welcome_msg}}</span>
    </div>
    <!-- main body part start here -->
    <div class="container1">
        <!-- bradcrumbs start here -->
        <div class="row" ng-if="getCategoryData.length>0">
            <ul class="bredcrumb_ul margin_left">
                <li class="bredcrumb_li" ng-click="B2BDashboard()">
                    <a>Dashboard</a>
                    <!-- <span class="slash_bc">/</span> -->
                </li>
                <!-- <li class="bredcrumb_li" ng-if="wishlistBreadCrumbFlag == 'true'" ng-click="pageNavigate()">
                <a>Dashboard</a>
                <span class="slash_bc">/</span>
            </li> -->
                <li class="bredcrumb_li">
                    <a>Create RFQ</a>
                </li>
            </ul>
        </div>
        <!-- bradcrumbs end here -->

        <!-- <marquee behavior="alternate" class="marq">{{welcome_msg}}</marquee> -->
        <div class="prod-category" style="background:#fff;margin-bottom:10px;">
            <div class="row">
                <div class="serch_title">Search for Products</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 serch_blocks">

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="button-group">
                            <label>Categories :</label>
                            <button type="button" title="Categories" class="btn btn-default btn-sm del_cat_dropdowns" ng-click="categorylist=!categorylist">
                                SELECT
                                <span class="caret"></span>
                            </button>
                            <ul class="listofproducts" style="height: 150px;overflow-y: scroll;margin-left:20%;" ng-if="categorylist">
                                <li>
                                    <input type="checkbox" id="check" ng-model="allCatigory.Checked" ng-click="checkAllCategories(allCatigory.Checked)" />
                                    <label for="check" class="lineheight-2 pad_l_5 lbl_block">Check All</label>
                                </li>
                                <li ng-repeat="category in CategoryArray">
                                    <div>
                                        <label class="lbl_block">
                                            <span>
                                                <input name="category" type="checkbox" ng-model="category.Checked" ng-change="getcategory(category,category.Checked)" />&nbsp;</span>
                                            <span class="lineheight-2">{{category.categoryname}}</span>
                                        </label>
                                    </div>

                                </li>
                            </ul>
                        </div>

                        <div class="all_prods mar-top-10">
                            <ul>
                                <li ng-repeat="cat in multiCategoriesList | limitTo:3" ng-init="limit = 10">
                                    <span class="checked_prod_names">{{cat | limitTo: limit}}{{cat .length > limit ? '...' : ''}}
                                        <!-- <i class="fa fa-times" ng-click="getcategory(cat,false)"></i> -->
                                    </span>
                                </li>
                                <li id="more_names">
                                    <!-- <span class="plus_more">+2 more...</span> -->
                                    <div class="dropdown_more">
                                        <span class="plus_more" ng-if="multiCategoriesList.length>3">more...</span>
                                        <ul class="dropdown-content_more">
                                            <li>
                                                <span ng-repeat="cat in multiCategoriesList">{{cat}}</span>
                                                <!-- <span>Link 2</span>
                                        <span>Link 3</span> -->
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="button-group">
                            <label>Sub Categories :</label>
                            <button type="button" ng-disabled="SubCategoryArray.length==0" title="Sub Categories" class="btn btn-default btn-sm del_cat_dropdowns"
                                ng-click="subcategoryList=!subcategoryList">
                                SELECT
                                <span class="caret"></span>
                            </button>
                            <ul class="listofproducts" style="height: 250px;overflow-y: scroll;margin-left:27%;" ng-if="subcategoryList && SubCategoryArray.length>0">
                                <li>
                                    <input type="checkbox" id="subcheck" ng-model="allSubCatigory.Checked" ng-click="checkAllSubCategories(allSubCatigory.Checked)"
                                    />
                                    <label for="subcheck" class="lineheight-2 pad_l_5 lbl_block">Check All</label>
                                </li>
                                <li ng-repeat="subcategory in SubCategoryArray">
                                    <label class="lbl_block">
                                        <span>
                                            <input type="checkbox" ng-model="subcategory.Checked" ng-change="getsubcategory(subcategory,subcategory.Checked)" />&nbsp;</span>
                                        <span class="lineheight-2">{{subcategory.subcategory}}</span>
                                    </label>
                                </li>
                            </ul>
                        </div>

                        <div class="all_prods mar-top-10">
                            <ul>
                                <li ng-repeat="cat in multiSubcatList | limitTo:3" ng-init="limit = 10">
                                    <span class="checked_prod_names">{{cat | limitTo: limit}}{{cat .length > limit ? '...' : ''}}
                                    </span>
                                </li>
                                <li id="more_names">
                                    <!-- <span class="plus_more">+2 more...</span> -->
                                    <div class="dropdown_more">
                                        <span class="plus_more" ng-if="multiSubcatList.length>3">more...</span>
                                        <ul class="dropdown-content_more">
                                            <li>
                                                <span ng-repeat="cat in multiSubcatList">{{cat}}</span>
                                                <!-- <span>Link 2</span>
                                            <span>Link 3</span> -->
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>

               

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="button-group">
                            <label>Brand :</label>
                            <button type="button" title="Brand" ng-disabled="brandsArray.length==0" class="btn btn-default btn-sm del_cat_dropdowns"
                                ng-click="brandList=!brandList">
                                SELECT
                                <span class="caret"></span>
                            </button>
                            <ul class="listofproducts" ng-if="brandList && brandsArray.length>0" style="margin-left:17%;">
                                <li ng-repeat="brand in brandsArray">
                                    <label class="lbl_block">
                                        <span>
                                            <input type="checkbox" name="brand" ng-model="brand.Checked" ng-change="getbrand(brand,brand.Checked)" />&nbsp;</span>
                                        <span class="lineheight-2">{{brand.brand}}</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div ng-show="purchase">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6.">
                            <div class="button-group">
                                <label>Vendors :</label>
                                <button type="button" title="Vendors" class="btn btn-default btn-sm del_cat_dropdowns" ng-click="vendorList=!vendorList">
                                    Vendors
                                    <span class="caret"></span>
                                </button>
                                <ul class="listofproducts" ng-if="vendorList">
                                    <li ng-repeat="vendor in vendorsList">
                                        <span>
                                            <input type="checkbox" name="vendor" ng-model="vendor.Checked" ng-change="getVendor(vendor,vendor.Checked)" />&nbsp;</span>
                                        <span class="lineheight-2">{{vendor.Id}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <div class="button-group">
                            <button type="button" title="Get" class="btn theme_bgclr del_cat_dropdowns" ng-click="getdistributorcatgetdata()">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="getCategoryData.length == 0" align="middle" style="background: #fff;box-shadow: 3px 3px 8px #ddd;margin:20px 0;">
            <div class="" style="padding: 30px 0;">
                <div style="font-size: 20px;font-weight: 700;color: #be393d;">No Records Found</div>
                <i class="fa fa-file-text" aria-hidden="true" style="font-size: 120px;color: #e4e4e4;"></i>
                <div style="color:#232f3e;font-size: 18px;font-weight: 600;">Records are Empty</div>
                <p>You have no records in your Invoice.</p>
                <button type="submit" class="btn btn-default" href="#createRFQ" id="back_edit_info">
                    <i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:10px;"></i>Continue Shopping</button>
            </div>
        </div>

        <div class="box-head11" ng-if="getCategoryData.length>0" style="margin: 20px 0 5px 0;">
            <div>Create RFQ</div>
        </div>
        <loading></loading>
        <div class="dist-table-data" ng-if="getCategoryData.length>0" style="margin-bottom:6%;">
            <div class="product_based_list">
                <div class="table-responsive">
                    <table class="table table-bordered pending_order table-striped">
                        <thead>
                            <tr>
                                <th class="txt_centr">S.No</th>
                                <th class="txt_centr" ng-if="purchase">Vendor Code</th>
                                <th class="txt_centr">Image </th>
                                <th class="txt_left">Name</th>
                                <th class="txt_left">Brand</th>
                                <th class="txt_right">Piece per Carton</th>
                                <th class="txt_centr">Choose Quantity</th>
                                <th class="txt_right">MRP (₹)</th>
                                <th class="txt_right">Disc (%)</th>
                                <th class="txt_right">Spl Disc (%)</th>
                                <th class="txt_right">Vol Disc (%)</th>
                                <th class="txt_right">Total (₹)</th>
                                <th class="txt_right">Savings (%)</th>
                                <th class="txt_centr">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <div>
                                <tr ng-repeat="item in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                    <td class="txt_centr ver_center">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                    <td class="txt_centr ver_center" ng-if="purchase">{{item.vendor_code}}</td>
                                    <td class="pro-img-dis txt_centr ver_center" title="{{item.upload_name}}">
                                        <img ng-src="{{item.image}}" class="extra-options" href="" ng-click="specificationsTable(item)">
                                    </td>
                                    <td class="txt_left ver_center" ng-if="item.upload_name!='undefined'">{{item.upload_name}}</td>
                                    <td class="txt_left ver_center" ng-if="item.upload_name=='undefined'">-----</td>
                                    <td class="txt_left ver_center" ng-if="item.brand!='undefined'">{{item.brand}}</td>
                                    <td class="txt_left ver_center" ng-if="item.brand=='undefined'">-----</td>
                                    <td class="txt_right ver_center" ng-if="item.pieceperCarton!='undefined'">{{item.pieceperCarton}}</td>
                                    <td class="txt_centr ver_center" ng-if="item.pieceperCarton=='undefined'">-----</td>
                                    <td class="txt_centr ver_center">
                                        <div class="quantity quan_175">
                                            <button class="plus-btn quan-btn" type="button" name="button" ng-click="decreaseValue(item,$index,currentPage)">
                                                <span class="glyphicon glyphicon-minus qty_plus_minus"></span>
                                            </button>
                                            <input type="text" name="qty" max="4" class="quan-text" value="{{qty}}" readonly ng-model="item.qty" ng-change="getQuantity(item.qty,item.upload_name,$index,currentPage)">
                                            <button class="minus-btn quan-btn" type="button" name="button" ng-click="increaseValue(item,$index,currentPage)">
                                                <span class="glyphicon glyphicon-plus qty_plus_minus"></span>
                                            </button>
                                        </div>
                                    </td>
                                    <td class="txt_right ver_center" ng-if="item.mrp!='undefined'">{{item.mrp}}</td>
                                    <td class="txt_left ver_center" ng-if="item.mrp=='undefined'">-----</td>
                                    <td class="txt_right ver_center" ng-if="item.discount!='undefined'">{{item.discount}}</td>
                                    <td class="txt_left ver_center" ng-if="item.discount=='undefined'">-----</td>
                                    <td class="txt_right ver_center" >{{item.special_discount}}</td>
                                    <td class="txt_left ver_center" ng-if="item.special_discount=='undefined'">-----</td>
                                    <td class="txt_right ver_center">
                                        <span ng-if="item.volume_discount!='undefined'">{{item.volume_discount}}</span>
                                        <span ng-if="item.volume_discount=='undefined'">-----</span>
                                        <br/>
                                        <span>
                                            <a class="extra-options" href="" data-toggle="modal" ng-click="getdistributorVoldiscount(item.qty,item.upload_name)" data-target="#addTable">Offers</a>
                                        </span>
                                    </td>
                                    <td class="txt_right ver_center">
                                        <span ng-if="item.total!='undefined'">{{item.total}}</span>
                                        <span ng-if="item.total=='undefined'">-----</span>
                                    </td>
                                    <td class="txt_right ver_center" ng-if="item.saving_percentage!='undefined'">{{item.saving_percentage}} </td>
                                    <span ng-if="item.total=='undefined'">-----</span>
                                    <td class="txt_centr ver_center">
                                        <a class="extra-options split_click" href="" title="Add To Cart" ng-click="addToCartIndividual(item,$index)">
                                            <i class="fa fa-shopping-cart fa-fw"></i>
                                            <span class="hidden-xs">Add To Cart</span>
                                        </a>
                                    </td>
                                </tr>
                            </div>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ovrfle_hidn">
                <div class="pull-left">
                    <pagination total-items="totalItems" page="currentPage" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn theme_bgclr" ng-click="gotoViewCart()">
                        <i class="fa fa-shopping-cart fa-fw"></i>&nbsp;&nbsp; VIEW CART</button>
                    <button type="button" class="btn theme_bgclr" ng-click="addToCartAll(getCategoryData)">
                        <i class="fa fa-shopping-cart fa-fw"></i>&nbsp;&nbsp; ADD TO CART IN BULK</button>
                </div>
            </div>
          
        </div>
        <!-- main body part end here -->

        <!-- Quantity Discount Table Modal start here -->
        <div class="modal fade" id="addTable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="clr_black" aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title theme_color" id="myModalLabel">Volume Discount</h4>
                    </div>

                    <div class="quan-disc-table">
                        <p>Buy in bulk quantities & save more!!</p>
                        <table class="table table-bordered pending_order table-striped">
                            <thead>
                                <tr class="quantable">
                                    <th>S.No</th>
                                    <th>Qty in Carton</th>
                                    <th>Discount (%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="percentage in voldiscpercentage">
                                    <td>{{$index+1}}</td>
                                    <td>
                                        <span>{{percentage.low}}</span>-
                                        <span>{{percentage.high}}</span>
                                    </td>
                                    <td ng-if="percentage.percentage!='undefined'">{{percentage.percentage}}</td>
                                    <td ng-if="percentage.percentage=='undefined'">{{percentage.percentage}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
                        <button type="button" class="btn theme_bgclr" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
      
    </div>

    <!-- Total footer start here-->
    <div class="ttl_footer1">
       
        <!-- footer2 start here -->
        <footer class="footerbar1 footer" id="new_ftr">
            <div class="container1">
                <div class="row row1" style="padding:10px 0;color:white;">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                                <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                                <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                                <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                                <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                                <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer2 end here -->
    </div>
    <!-- Total footer end here-->

</div>