<div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
    <button type="button" class="close" ng-click="close();" aria-label="Close">
        <span class="clr_black" aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title theme_color f_weight_700" id="myModalLabel">Dealer More Information
    </h4>
</div>

<div class="ovrfle_hidn">
    <div class="panel panel-info">
        <div class="panel-body">
            <form name="myform">
                <div class="extra_details">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="extraDetails">Shopee Details
                                <span style="color:#be393d;">*</span>
                            </label>
                            <div class="dis_address box_block" style="height: 250px;">
                                <p>
                                    <span>
                                        <b>Shopee Type: </b>
                                    </span>
                                    <select ng-model="companyProfile.shopee_type" ng-change="shopee_type(companyProfile.shopee_type)">
                                        <option value="">--Select--</option>
                                        <option value="branch">Branch Code</option>
                                        <option value="Dealer">Dealer Code</option>
                                        <option value="SubDealer">Sub Dealer Code</option>
                                    </select>
                                </p>

                                <p ng-show="companyProfile.shopee_type=='Dealer' || companyProfile.shopee_type=='SubDealer'">
                                    <span>
                                        <b>Branch Code: </b>
                                    </span>
                                    <select ng-model="companyProfile.branch_code1" ng-options="branch as branch.branch_code for branch in branches" ng-change="getBranch(companyProfile.branch_code1)">
                                        <option value="">--Select--</option>
                                    </select>

                                </p>
                                <p ng-show="companyProfile.shopee_type=='branch'">
                                    <span>
                                        <b>Branch Code: </b>
                                    </span>
                                    <input type="text" name="shopeename" ng-model="companyProfile.branch_code">
                                </p>
                                <p ng-show="companyProfile.shopee_type=='Dealer'">
                                    <span>
                                        <b>Dealer Code: </b>
                                    </span>
                                    <input type="text" name="shopeename" ng-model="companyProfile.dealer_code">
                                </p>
                                <p ng-show="companyProfile.shopee_type=='SubDealer'">
                                    <span>
                                        <b>Dealer Code: </b>`
                                    </span>
                                    <select ng-model="companyProfile.dealer_code1" ng-options="dealer as dealer.dealer_code for dealer in branch_dealers" ng-click="getDealerCode(companyProfile.dealer_code1)">
                                        <option value="">--Select--</option>
                                    </select>
                                </p>
                                <p ng-show="companyProfile.shopee_type=='SubDealer'">
                                    <span>
                                        <b>Sub Dealer Code: </b>
                                    </span>
                                    <input type="text" name="disname" ng-model="companyProfile.subdealer_code">
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="extraDetails">Shop Details
                                <span style="color:#be393d;">*</span>
                            </label>
                            <div class="dis_address box_block" style="height: 250px;">
                                <p>
                                    <span>
                                        <b>Shopee Code: </b>
                                    </span>
                                    <input type="text" name="shopeecode" required ng-model="companyProfile.shopee_code">
                                </p>
                                <p>
                                    <span>
                                        <b>Shopee Name: </b>
                                    </span>
                                    <input type="text" name="shopeename" required ng-model="companyProfile.shopee_name">
                                </p>
                                <p>
                                    <span>
                                        <b>Display Name: </b>
                                    </span>
                                    <input type="text" name="disname" required ng-model="companyProfile.display_name">
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="extraDetails">TAX Details
                                <span style="color:#be393d;">*</span>
                            </label>
                            <div class="dis_address box_block">
                                <p>
                                    <span>
                                        <b>PAN No: </b>
                                    </span>
                                    <input type="text" name="panno" required ng-model="companyProfile.pan">
                                </p>
                                <p>
                                    <span>
                                        <b>GST No: </b>
                                    </span>
                                    <input type="text" name="gstno" required ng-model="companyProfile.gst_num">
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="extraDetails">Address Details
                                <span style="color:#be393d;">*</span>
                            </label>
                            <div class="dis_address box_block" style="height: 305px;">
                                <p>
                                    <span>
                                        <b>Address: </b>
                                    </span>
                                    <textarea name="address" required ng-model="companyProfile.company_address"></textarea>
                                </p>
                                <p>
                                    <span>
                                        <b>City: </b>
                                    </span>
                                    <input type="text" required name="city" ng-model="companyProfile.shope_city">
                                </p>
                                <p>
                                    <span>
                                        <b>State: </b>
                                    </span>
                                    <input type="text" name="state" required ng-model="companyProfile.shope_state">
                                </p>
                                <p>
                                    <span>
                                        <b>Pincode: </b>
                                    </span>
                                    <input type="text" name="pincode" required ng-model="companyProfile.shope_pincode">
                                </p>
                                <p>
                                    <span>
                                        <b>Country: </b>
                                    </span>
                                    <input type="text" name="country" required ng-model="companyProfile.shope_country">
                                </p>

                            </div>
                        </div>
                    </div>

                </div>

            </form>
        </div>

    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn theme_bgclr" ng-click="close();">Close
    </button>
</div>