<div class="container1" id="dashboardBody" ng-controller="dashboardController">

	<ul class="bredcrumb_ul margin_left">
		<li class="bredcrumb_li">
			<a ng-click="goToHome()"> Home</a>
		</li>
		<li class="bredcrumb_li">
			<a>Dashboard</a>
		</li>
	</ul>
	
	<!--  account dashboard page start here -->
	<div class="block_account_dashboard">
		<div class="row" id="edit_row">
			<div class="">
				<!-- <div class="box-head" style="margin-top:30px;">
					<h2>Account Information</h2>
				</div> -->
				<div class="box-head11" style="margin-top: 30px;">
					<h2>Account Information</h2>
				</div>
				
				
				
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="background: #ffffff;">
					<div class="row">
						<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
							<div class="row">
								<div class="dashboard_billing_addr" id="dashbord_Address">
									<p>
										<span>Name : </span>
										<span> {{customerData.first_name}} {{customerData.last_name}} </span>
									</p>
									<p>
										<span>Mobile : </span>
										<span>{{customerData.mobile}} </span>
									</p>
									<p>
										<span>Email : </span>
										<span> {{customerData.email}} </span>
									</p>
									<!-- <p><span>Address : </span><span> {{addressInfo.street_address}} </span>,<br>
												<span style="margin-left:24%;"> {{addressInfo.city}}</span>,<br>
												<span style="margin-left:24%;">{{addressInfo.state}}</span>,<br>
												<span style="margin-left:24%;">{{addressInfo.country}}</span>,<br>
												<span style="margin-left:24%;">{{addressInfo.postal_code}} </span>. </span></p> -->
									<button type="submit" style="float:left !important;" id="change_pwd" ng-click="changePassword()">Change Password</button>
									<button type="submit" id="edit_add" ng-click="goToEdit()">Edit</button>
								</div>

							</div>
						</div>
						<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
							<div class="dashboard_billing_addr" id="your_orders_dashbord" ng-click="getOrders()">
								<div class="ord">
									<p style="margin-top:50px;">{{yourOrdersCountItems}}</p>
									<p>Your Orders</p>
								</div>
							</div>
							<div class="dashboard_billing_addr" id="pending_orders_dashbord" ng-click="gotoPendingOrders()">
								<div class="ord">
									<p style="margin-top:50px;">{{pendingOrderCountItems}}</p>
									<p>Pending Orders</p>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
							<div class="dashboard_billing_addr" id="invoices_dashbord" ng-click="gotoInvoice()">
								<div class="ord">
									<p style="margin-top:50px;">{{invoiceCountItems}}</p>
									<p>Invoices</p>
								</div>
							</div>
							<div class="dashboard_billing_addr" id="whishlist_dashbord" ng-click="gotoWishList()">
								<div class="ord">
									<p style="margin-top:50px;">{{wishListCountItems}}</p>
									<p>Wishlist</p>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
							<div class="row">
								<div class="dashboard_billing_addr" id="offer_reward">
									<div class="reward_points_dahbord">
										<p style="margin-bottom:0px;margin-top:35px;">{{rewardPoints}}</p>
										<p>Reward Points</p>
									</div>
									<h3> Offer only for you </h3>
									<div class="smt_div_bord" ng-if="couponCode != ''">
										{{couponCode}}
									</div>
									<div class="smt_div_bord" ng-if="couponCode == ''">
										<p>...</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--  account dashboard page end here -->
</div>

 <!-- Total footer start here-->
 <div class="ttl_footer1">
	<!-- footer1 start here -->
	<!-- <footer ng-controller="homeController" class="footerbar footer">
		<div class="container1">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
						<div class="row row1" id="ftr_ss">
							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>POWERTEX TOOLS</b>
									</h5>
									<li id="footer_links_valuess">
										<a href="aboutus.html" class="footerText"> ABOUT US</a>
									</li>
								</ul>
							</div>

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>CONTACT US</b>
									</h5>
									<li id="footer_links_valuess">
										<span style="margin-left: 5px;">
											<i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
										</span>
										<span class="footerText1 footer_links_addere">
											<span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
											<span style="margin-left: 25px;"> Bahadurpura,</span>
											<br/>
											<span style="margin-left: 25px;">500064,</span>
											<br/>
											<span style="margin-left: 25px;">Hyderabad,</span>
											<br/>
											<span style="margin-left: 25px;">Telangana.</span>
											<br/>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">EMAIL: </b>
											<a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
												info@powertextools.com </a>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-phone" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">PHONE: </b>
											<a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer> -->
	<!-- footer1 end here -->

	<!-- footer2 start here -->
	<footer  class="footerbar1 footer" id="new_ftr">
		<div class="container1">
			<div class="row row1" style="padding:10px 0;color:white;">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
							<span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
						</div>
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
							<i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer2 end here -->
</div>
<!-- Total footer end here-->