<div class="container1" ng-controller="adminPanelDealerVeificationCntrl">


    <div class="row">
        <ul class="bredcrumb_ul margin_left">
            <li class="bredcrumb_li" ng-click="B2BDashboard()">
                <a>Dashboard</a>
                <!-- <span class="slash_bc">/</span> -->
            </li>
            <li class="bredcrumb_li">
                <a>Dealers Verification</a>
            </li>
        </ul>
    </div>
    <!-- bradcrumbs end here -->

    <div class="box-head11" style="margin-bottom:5px;">
        <div>Dealers Verification</div>
    </div>

    <div ng-if="delVerifyDetails.length == 0" align="middle" style="background: #fff;box-shadow: 3px 3px 8px #ddd;">
        <div class="" style="padding: 30px 0;">
            <div style="font-size: 20px;font-weight: 700;color: #be393d;">No Records Found</div>
            <i class="fa fa-file-text" aria-hidden="true" style="font-size: 120px;color: #e4e4e4;"></i>
            <div style="color:#232f3e;font-size: 18px;font-weight: 600;">Your Dealer Verifiy Details are Empty</div>
            <p>You have no records in your Dealer Verification.</p>
            <!-- <button type="submit" class="btn btn-default" href="#createRFQ" id="back_edit_info">
                <i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:10px;"></i>Continue Shopping</button> -->
        </div>
    </div>

    <div class="row theme-bg" ng-if="delVerifyDetails.length>0">
        <div class="col-md-12">
            <div class="dist-table-data">
                <div class="table-responsive">
                    <div class="product_based_list">

                        <table class="table table-bordered pending_order table-striped">
                            <thead class="">
                                <tr>
                                    <th class="txt_centr">S.No</th>
                                    <!-- <th class="txt_centr">Name</th> -->
                                    <th class="txt_left">Name-Email-Mobile</th>
                                    <!-- <th class="txt_left">Mobile</th> -->
                                    <th class="txt_left">Address</th>
                                    <th class="txt_left">User Type</th>
                                    <th class="txt_left">Branch Code</th>
                                    <th class="txt_left">Dealer Code / PPT(Own Shoppe)</th>
                                    <th class="txt_left">Sub Dealer Code / (Dealer Shoppe)</th>
                                    <!-- <th class="txt_centr">Assign Sales Manager</th>-->
                                    <th class="txt_centr">Category</th>
                                    <th class="txt_centr">Assign SM</th>
                                    <th class="txt_centr">Status</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="dealerUser in delVerifyDetails track by $index">
                                <tr>
                                    <td class="txt_centr">{{$index+1}}</td>
                                    <!-- <td class="txt_centr">{{dealerUser.dealer_name}}</td> -->
                                    <td class="txt_left">
                                        {{dealerUser.dealer_name}} <br /> {{dealerUser.dealer_mail}}
                                        <br /> {{dealerUser.dealer_mobile}}
                                    </td>
                                    <!-- <td class="txt_left">{{dealerUser.dealer_mobile}}</td> -->
                                    <td class="txt_left">
                                        {{dealerUser.dealer_city}},<br /> {{dealerUser.dealer_state}},
                                        <br /> {{dealerUser.dealer_pin}}.
                                    </td>
                                    <td class="txt_left">{{dealerUser.user_type}}</td>
                                    <td class="txt_left">{{dealerUser.branch_code}}</td>
                                    <!-- <td class="txt_left" ng-if="dealerUser.dealer_code!=''">{{dealerUser.dealer_code}}</td>
                                    <td class="txt_left" ng-if="dealerUser.subdealer_code!=''">{{dealerUser.subdealer_code}}</td>
                                    <td class="txt_left" ng-if="dealerUser.dealer_code==''">---------</td>
                                    <td class="txt_left" ng-if="dealerUser.subdealer_code==''">---------</td> -->

                                    <td>
                                        <select required ng-model="verifaction_details.dealer_code" ng-options="dealer_code for dealer_code in dealer_codes"
                                            ng-change="getDealerCode(verifaction_details.dealer_code)">
                                            <option value=""> -- Select -- </option>
                                        </select>
                                    </td>
                                    <td>
                                        <select ng-model="verifaction_details.subdealer_code" ng-options="subdealer_code for subdealer_code in subdealer_codes"
                                            ng-change="getSubdealerCode(verifaction_details.subdealer_code)">
                                            <option value=""> -- Select -- </option>
                                        </select>
                                    </td>

                                    <td>
                                        <select required ng-model="verifaction_details.dealer_category" ng-options="category for category in categorylist"
                                            ng-change="getCategory(verifaction_details.dealer_category)">
                                            <option value=""> -- Select -- </option>
                                        </select>
                                    </td>
                                    <td>
                                        <select required ng-model="verifaction_details.assignSM" style="width:100px;"
                                            ng-options="sales.username for sales in salesManagers_list" ng-change="getSM(verifaction_details.assignSM)">
                                            <option value=""> -- Select -- </option>
                                        </select>
                                    </td>

                                    <td class="txt_centr" style="width: 10%;">

                                        <select ng-model="dealer_statustt.status" ng-change="acceptreg(dealer_statustt.status,dealerUser)">
                                            <option value=""> -- Select -- </option>
                                            <option value="Active">Accept</option>
                                            <option value="Reject">Reject</option>
                                        </select>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Total footer start here-->
<div class="ttl_footer1">

    <!-- footer2 start here -->
    <footer class="footerbar1 footer" id="new_ftr">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp;
                                Golden
                                Sun Technology.</span>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer2 end here -->
</div>
<!-- Total footer end here-->