<!-- Dealers Information  Modal start here -->
<div class="modal-body" align="middle">

    <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="clr_black1" aria-hidden="true" ng-click="close();">×</span>
        </button>
        <h4 class="modal-title theme_color uppercase" id="myModalLabel">Dealer More Information</h4>
    </div>


    <div class="quan-disc-table ovrfle_hidn">
        <form name="myform">
            <div class="row">
                <table class="table-striped" id="table_data_specifications" border="1">
                    <tr>
                        <td class="spec_smt" ng-if="showData">
                            <span class="theme_violet f_size_14 f_weight_700 f_left">Sales Manager</span>
                        </td>
                        <td class="spec_smt" ng-if="showData">

                            <a href="" title="edit" ng-click="openEdit=!openEdit">
                                <!-- <i ng-class="{'fa fa-pencil': !openEdit,'fa fa-edit': openEdit}" aria-hidden="true"
                                    style="color:#2983d0;"></i> -->
                                <span ng-if="!openEdit">
                                    <i class="fa fa-pencil" aria-hidden="true" style="color:#2983d0;"></i>
                                </span>

                                <button ng-if="openEdit" type="button" ng-disabled="enablebtn" class="btn theme_bgclr" ng-click="updateSalesManager()">Update</button>
                            </a>

                            <select ng-if="openEdit" class="theme_blue f_weight_700 f_left" name="accountant" style="width:147px"
                                ng-model="sales_maill" ng-options="x.user_mail for x in salesManagers_list" required
                                ng-change="getSalesManager(sales_maill)">
                                <option value="">--Select--</option>
                            </select>



                            <span ng-if="!openEdit" class="theme_blue f_weight_700 f_left">{{delr_info.sales_contact_person}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="spec_smt">
                            <span class="theme_violet f_size_14 f_weight_700 f_left">Dealer Name</span>
                        </td>
                        <td class="spec_smt">
                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_name}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="spec_smt">
                            <span class="theme_violet f_size_14 f_weight_700 f_left">Shop Name</span>
                        </td>
                        <td class="spec_smt">
                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_shopname}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="spec_smt">
                            <span class="theme_violet f_size_14 f_weight_700 f_left">Reg Shop Name</span>
                        </td>
                        <td class="spec_smt">
                            <span class="theme_blue f_weight_700 f_left">{{delr_info.reg_shopname}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="spec_smt">
                            <span class="theme_violet f_size_14 f_weight_700 f_left">CIN No</span>
                        </td>
                        <td class="spec_smt">
                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_cin}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="spec_smt">
                            <span class="theme_violet f_size_14 f_weight_700 f_left">Mobile No</span>
                        </td>
                        <td class="spec_smt">
                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_mobile}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="spec_smt">
                            <span class="theme_violet f_size_14 f_weight_700 f_left">Phone</span>
                        </td>
                        <td class="spec_smt">
                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_phone}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="spec_smt">
                            <span class="theme_violet f_size_14 f_weight_700 f_left">Email Id</span>
                        </td>
                        <td class="spec_smt">
                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_mail}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="spec_smt">
                            <span class="theme_violet f_size_14 f_weight_700 f_left">GST No</span>
                        </td>
                        <td class="spec_smt">
                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_gstin}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="spec_smt">
                            <span class="theme_violet f_size_14 f_weight_700 f_left">Country</span>
                        </td>
                        <td class="spec_smt">
                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_country}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="spec_smt">
                            <span class="theme_violet f_size_14 f_weight_700 f_left">State</span>
                        </td>
                        <td class="spec_smt">
                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_state}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="spec_smt">
                            <span class="theme_violet f_size_14 f_weight_700 f_left">City</span>
                        </td>
                        <td class="spec_smt">
                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_city}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="spec_smt">
                            <span class="theme_violet f_size_14 f_weight_700 f_left">Street</span>
                        </td>
                        <td class="spec_smt">
                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_town}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="spec_smt">
                            <span class="theme_violet f_size_14 f_weight_700 f_left">Pincode</span>
                        </td>
                        <td class="spec_smt">
                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_pin}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="spec_smt">
                            <span class="theme_violet f_size_14 f_weight_700 f_left">Country Code</span>
                        </td>
                        <td class="spec_smt">
                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_isd}}</span>
                        </td>
                    </tr>
                </table>

            </div>
        </form>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn theme_bgclr" ng-click="close();">Close
        </button>
    </div>

</div>
<!-- Dealers Information Modal end here -->