<style>
    #exTab2 h3 {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }
</style>

<!-- Tabs code start here -->

<!-- Tabs code start here -->
<div class="container1" ng-controller="adminPanelDealerSegerigationCntrl">

    <div class="mar_t_4per">
        <div id="exTab2" class="">
            <ul class="nav nav-tabs">
                <li ng-if="branch_code==0000" class="active" ng-click="gotoPage('1')">
                    <a> Dealers Segregation</a>
                </li>
                <li ng-click="gotoPage('2')">
                    <a>Dealers Shop Info</a>
                </li>
                <!-- <li ng-click="gotoPage('3')">
                <a>Shopee Creation</a>
            </li> -->
            </ul>
        </div>

        <div class="">
            <div class="row">
                <ul class="bredcrumb_ul margin_left">
                    <li class="bredcrumb_li" ng-click="B2BDashboard()">
                        <a>Dashboard</a>
                        <!-- <span class="slash_bc">/</span> -->
                    </li>
                    <li class="bredcrumb_li">
                        <a>Dealers Segregation</a>
                    </li>
                </ul>
            </div>
            <!-- bradcrumbs end here -->

            <div class="box-head11" style="margin-bottom:5px;">
                <div>Dealers Segregation</div>
            </div>

            <div ng-if="delVerifyDetails.length == 0" align="middle" style="background: #fff;box-shadow: 3px 3px 8px #ddd;">
                <div class="" style="padding: 30px 0;">
                    <div style="font-size: 20px;font-weight: 700;color: #be393d;">No Records Found</div>
                    <i class="fa fa-file-text" aria-hidden="true" style="font-size: 120px;color: #e4e4e4;"></i>
                    <div style="color:#232f3e;font-size: 18px;font-weight: 600;">Your Dealer Verifiy Details are Empty
                    </div>
                    <p>You have no records in your Dealer Verification.</p>
                    <!-- <button type="submit" class="btn btn-default" href="#createRFQ" id="back_edit_info">
                                            <i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:10px;"></i>Continue Shopping</button> -->
                </div>
            </div>

            <div class="row theme-bg" ng-if="delVerifyDetails.length>0">
                <div class="col-md-12">
                    <div class="dist-table-data">
                        <div class="table-responsive">
                            <div class="product_based_list">
                                <table class="table table-bordered pending_order table-striped">
                                    <thead class="">
                                        <tr>
                                            <th class="txt_centr">S.No</th>
                                            <th class="txt_centr">Name</th>
                                            <th class="txt_left">Email</th>
                                            <th class="txt_left">Mobile</th>
                                            <th class="txt_left">Address</th>
                                            <th class="txt_left">User Type</th>
                                            <th class="txt_left">Branch Assignment</th>
                                            <th class="txt_centr">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="dealerUser in delVerifyDetails.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                        <tr>
                                            <td class="txt_centr">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                            <td class="txt_centr">{{dealerUser.dealer_name}}</td>
                                            <td class="txt_left">
                                                {{dealerUser.dealer_mail}}

                                            </td>
                                            <td class="txt_left">{{dealerUser.dealer_mobile}}</td>
                                            <td class="txt_left">
                                                {{dealerUser.dealer_city}},
                                                <br /> {{dealerUser.dealer_state}},
                                                <br /> {{dealerUser.dealer_pin}}.
                                            </td>
                                            <td class="txt_left">{{dealerUser.user_type}}</td>
                                            <td>
                                                <select ng-model="selectBranch" ng-options="selectedBranch.branch for selectedBranch in branches" ng-change="getBranch(selectBranch)">
                                                    <option value=""> -- Select -- </option>
                                                </select>

                                            </td>
                                            <td class="txt_centr" style="width: 10%;">

                                                <select ng-model="verifaction_details.status" ng-change="moveToBranch(verifaction_details.status, dealerUser)">
                                                    <option value=""> -- Select -- </option>
                                                    <option value="Accept">Move to Branch</option>
                                                    <option value="Reject">Reject</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <pagination total-items="totalItems" page="currentPage" class="pagination-sm" items-per-page="itemsPerPage" ng-show="delVerifyDetails.length>0"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>











<!-- Total footer start here-->
<div class="ttl_footer1">


    <!-- footer2 start here -->
    <footer class="footerbar1 footer" id="new_ftr">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer2 end here -->
</div>
<!-- Total footer end here-->