<!-- main body part start here -->

<div ng-controller="dashboardViewController">
    <div ng-if="welcome_msg != 'undefined' && welcome_msg!= ''" class="del_branch">
        <span class="text-center welcome_msg1">{{welcome_msg}}</span>
    </div>

    <div class="container1">
        <!-- <div ng-if="welcome_msg != 'undefined' && welcome_msg!= ''" class="del_branch">
        <span class="text-center welcome_msg1">{{welcome_msg}}</span>
    </div> -->
        <!-- bradcrumbs start here -->
        <div class="row">
            <ul class="bredcrumb_ul margin_left">
                <li class="bredcrumb_li">
                    <a>Dashboard</a>
                </li>
            </ul>
        </div>
        <!-- bradcrumbs end here -->
        <!-- <marquee behavior="alternate" class="marq">{{welcome_msg}}</marquee> -->
        <div class="box-head11" style="margin-bottom:3px;" ng-switch="user_type">
            <div style="width:100%;margin-left: 0px;">
                <div ng-switch-when="Dealer">Dealer Dashboard</div>
            </div>
            <div style="width:100%;margin-left: 0px;">
                <div ng-switch-when="salesManager">Sales Manager Dashboard</div>
            </div>
            <div style="width:100%;margin-left: 0px;">
                <div ng-switch-when="accountant">Account Manager Dashboard</div>
            </div>
            <div style="width:100%;margin-left: 0px;">
                <div ng-switch-when="whManager">WareHouse Manager Dashboard</div>
            </div>
            <div style="width:100%;margin-left: 0px;">
                <div ng-switch-when="Admin">Admin Dashboard</div>
            </div>
            <div style="width:100%;margin-left: 0px;">
                <div ng-switch-when="Purchase-Manager">Purchase Dashboard</div>
            </div>
        </div>

        <!-- <div >
        <div><b>DIV1</b>: You Selected value one</div>
        <div ng-switch-when="two"><b>DIV2</b>: You Selected value two</div>
        <div ng-switch-when="three"><b>DIV3</b>: You Selected value three</div>
        <div ng-switch-default>You are in default switch case.</div>
    </div> -->

        <div class="prod-category" style=" background:#232f3e;">
            <div class="row" style="margin: 0px 0 20px 0;">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dealer-btns" hidden>
                    <div class="ofrs_tabs">
                        <button class="btn btn-warning btn-w11">Today's Best Offer</button>
                        <button class="btn btn-success btn-w11">Dealer Price List</button>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-if="dealer || purchase">
                        <div class="dlrPendingBtn" ng-controller="distributorController">
                            <a href="" class="" ng-click="distributor()">
                                <img src="images/web_icons/create_RFQ.png">
                                <h1>Create RFQ &nbsp;&nbsp;&nbsp;
                                    <!-- <i class="fa fa-pencil-square-o" aria-hidden="true"></i> -->
                                </h1>
                                <!-- <div class="pageorders">
                                <h4><i class="fa fa-pencil-square-o" aria-hidden="true"></i></h4>
                            </div> -->
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-click="pendingrfq()" ng-if="dealer || sales || purchase">
                        <div class="dlrPendingBtn">
                            <a href="" class="">
                                <img src="images/web_icons/Pending_RFQ.png">
                                <h1>Pending RFQ</h1>
                                <div class="pageorders">
                                    <!-- <h4>(25)</h4> -->
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-click="pendingpo()" ng-if="!admin && !whmanger && !accountant">
                        <div class="dlrPendingBtn">
                            <a href="" class="">
                                <img src="images/web_icons/Pending_PO.png">
                                <h1>Pending PO</h1>
                                <div class="pageorders">
                                    <!-- <h4>(25)</h4> -->
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-click="proformaInvoice()" ng-if="accountant">
                        <div class="dlrPendingBtn">
                            <a href="" class="">
                                <img src="images/web_icons/Proforma_Invoice.png">
                                <h1>Proforma Invoice</h1>
                                <div class="pageorders">
                                    <!-- <h4>(25)</h4> -->
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-if="admin" ng-click="dealerSegregation()">
                        <div class="dlrPendingBtn">
                            <a href="" class="">
                                <img src="images/web_icons/DealerVerification.png">
                                <h1>Dealer Verification</h1>
                                <div class="pageorders">
                                    <!-- <h4>(25)</h4> -->
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-if="admin" ng-click="dealerverification()">
                        <div class="dlrPendingBtn">
                            <a href="" class="">
                                <img src="images/web_icons/DealerVerification.png">
                                <h1>Dealer Activation</h1>
                                <div class="pageorders">
                                    <!-- <h4>(25)</h4> -->
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-if="admin" ng-click="internalUsers()">
                        <div class="dlrPendingBtn">
                            <a href="" class="">
                                <img src="images/web_icons/InternalUsers.png">
                                <h1>Internal Users</h1>
                                <div class="pageorders">
                                    <!-- <h4>(25)</h4> -->
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-click="adminNewPanel()" ng-if="admin">
                        <div class="dlrPendingBtn">
                            <a href="" class="">
                                <img src="images/web_icons/AdminNewPanel.png">
                                <h1>Admin New Panel</h1>
                                <div class="pageorders">
                                </div>
                            </a>
                        </div>
                    </div> -->


                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-click="companyprofile()" ng-if="admin && branch_code=='0000'">
                        <div class="dlrPendingBtn">
                            <a href="" class="">
                                <img src="images/web_icons/CompanyProfile.png">
                                <h1>Company Profile</h1>
                                <div class="pageorders">
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-click="activeDealersInfo()" ng-if="admin">
                        <div class="dlrPendingBtn">
                            <a href="" class="">
                                <img src="images/web_icons/AdminNewPanel.png">
                                <h1>Active Dealers Info</h1>
                                <div class="pageorders">
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-if="whmanger" ng-click="wharehouseInvoicePreparation()">
                        <div class="dlrPendingBtn">
                            <a href="" class="">
                                <img src="images/web_icons/PackingListPreparation.png">
                                <h1>Packing List Preparation</h1>
                                <div class="pageorders">
                                    <!-- <h4>(25)</h4> -->
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-if="accountant" ng-click="finalInvoice()">
                        <div class="dlrPendingBtn">
                            <a href="" class="">
                                <img src="images/web_icons/Final_Invoice_Generation.png">
                                <h1>Final Invoice</h1>
                                <div class="pageorders">
                                    <!-- <h4>(25)</h4> -->
                                </div>
                            </a>
                        </div>
                    </div>



                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-if="accountant || whmanger" ng-click="packingList()">
                        <div class="dlrPendingBtn">
                            <a href="" class="">
                                <img src="images/web_icons/PackingList.png">
                                <h1>Packing List</h1>
                                <div class="pageorders">
                                    <!-- <h4>(25)</h4> -->
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-if="whmanger" ng-click="challanGeneration()">
                        <div class="dlrPendingBtn">
                            <a href="" class="">
                                <img src="images/web_icons/Challan_Generation.png">
                                <h1>Challan Generation </h1>
                                <div class="pageorders">
                                    <!-- <h4>(25)</h4> -->
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-click="challanCompleted()" ng-if="!admin && !purchase && !dealer">
                        <div class="dlrPendingBtn">
                            <a href="" class="">
                                <img src="images/web_icons/Challan_Completed.png">
                                <h1>Challan Complted</h1>
                                <div class="pageorders">
                                  
                                </div>
                            </a>
                        </div>
                    </div> -->

                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-click="inwardGeneration()" ng-if="dealer">
                        <div class="dlrPendingBtn">
                            <a href="" class="">
                                <img src="images/web_icons/Inward_Generation.png">
                                <h1>Inward Generation</h1>
                                <div class="pageorders">
                                    <!-- <h4>(25)</h4> -->
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-click="grnPrepartion()" ng-if="dealer">
                        <div class="dlrPendingBtn">
                            <a href="" class="">
                                <img src="images/web_icons/GRNPreparation.png">
                                <h1>GRN Generation</h1>
                                <div class="pageorders">
                                    <!-- <h4>(25)</h4> -->
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-click="getDealerOrders()" ng-if="dealer">
                        <div class="dlrPendingBtn">
                            <a href="" class="">
                                <img src="images/web_icons/GRNPreparation.png">
                                <h1>Dealer Orders</h1>
                                <div class="pageorders">
                                    <!-- <h4>(25)</h4> -->
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px;">
                    <div class="footerbtns">
                        <label>Target (2018)</label>
                        <br/>
                        <input type="text" class="input-text" name="" />
                    </div>
                    <div class="footerbtns">
                        <label>Acheived</label>
                        <br/>
                        <input type="text" class="input-text" name="" />
                    </div>
                    <div class="footerbtns">
                        <label>Bonus</label>
                        <br/>
                        <button class="btn btn-success bonus-btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    </div>
                </div>
            </div> -->
            </div>
        </div>

        <div class="prod-category" style=" background:#232f3e;margin-top: -8px;">
            <div class="row" style="margin: 0px 0 20px 0;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- extra part start here -->
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-click="getPoRecords()" ng-if="dealer || sales">
                        <div class="dlrPendingBtn">
                            <a href="" class="">
                                <img src="images/web_icons/po.png">
                                <h1>PO</h1>
                                <div class="pageorders">
                                    <!-- <h4>(25)</h4> -->
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-click="" ng-if="!admin">
                        <div class="dlrPendingBtn">
                            <a href="" class="">
                                <img src="images/web_icons/invoice.png">
                                <h1>Invoice</h1>
                                <div class="pageorders">
                                    <!-- <h4>(25)</h4> -->
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-click="challanCompleted()" ng-if="!admin && !purchase">
                        <div class="dlrPendingBtn">
                            <a href="" class="">
                                <img src="images/web_icons/Challan_Completed.png">
                                <h1>Challan Completed</h1>
                                <div class="pageorders">
                                    <!-- <h4>(25)</h4> -->
                                </div>
                            </a>
                        </div>
                        <!-- extra part end here -->
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-if="dealer" ng-click="barcode_page()">
                        <div class="dlrPendingBtn">
                            <a href="" class="">
                                <img src="images/web_icons/Final_Invoice_Generation.png">
                                <h1>POS</h1>
                                <div class="pageorders">
                                    <!-- <h4>(25)</h4> -->
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-if="admin" ng-click="dealerHistory()">
                        <div class="dlrPendingBtn">
                            <a href="" class="">
                                <img src="images/web_icons/DealersHistory.png">
                                <h1>Dealers History</h1>
                                <div class="pageorders">
                                    <!-- <h4>(25)</h4> -->
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-click="masterdataUpload()" ng-if="admin">
                        <div class="dlrPendingBtn">
                            <a href="" class="">
                                <img src="images/web_icons/MasterDataUpload.png">
                                <h1>Master Data upload</h1>
                                <div class="pageorders">
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="prod-category" style=" background:#232f3e;margin-top: -8px;" hidden>
                <div class="row" style="margin: 0px 0 20px 0;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px;">
                            <div class="footerbtns">
                                <label>Target (2018)</label>
                                <br />
                                <input type="text" class="input-text" name="" />
                            </div>
                            <div class="footerbtns">
                                <label>Achieved</label>
                                <br />
                                <input type="text" class="input-text" name="" />
                            </div>
                            <div class="footerbtns">
                                <label>Bonus</label>
                                <br />
                                <button class="btn btn-success bonus-btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" hidden>
                <div class="col-md-12 mar_b_30 txt_centr">
                    <button type="submit" class="btn btn-default" id="back_edit_info">Track your Order</button>
                </div>
            </div>






        </div>
    </div>
    <!-- main body part end here -->

    <!-- Total footer start here-->
    <div class="ttl_footer1">
        <footer class="footerbar1 footer" id="new_ftr">
            <div class="container1">
                <div class="row row1" style="padding:10px 0;color:white;">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by
                                    &nbsp; Golden Sun Technology.</span>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                                <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                                <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                                <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                                <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                                <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Total footer end here-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>