<div class="container1" ng-controller="adminPanelDealerHistoryCntrl">

    <!-- bradcrumbs start here -->
    <div class="row">
        <ul class="bredcrumb_ul margin_left">
            <li class="bredcrumb_li" ng-click="B2BDashboard()">
                <a>Dashboard</a>
                <!-- <span class="slash_bc">/</span> -->
            </li>
            <!-- <li class="bredcrumb_li" ng-if="wishlistBreadCrumbFlag == 'true'" ng-click="pageNavigate()">
                        <a>Dashboard</a>
                        <span class="slash_bc">/</span>
                    </li> -->
            <li class="bredcrumb_li">
                <a>Dealers history</a>
            </li>
        </ul>
    </div>
    <!-- bradcrumbs end here -->

    <div class="box-head11" style="margin-bottom:5px;" ng-if="delr_history.length>0">
        <div>Dealers History</div>
    </div>

    <div ng-if="delr_history.length == 0" align="middle" style="background: #fff;box-shadow: 3px 3px 8px #ddd;">
        <div class="" style="padding: 30px 0;">
            <div style="font-size: 20px;font-weight: 700;color: #be393d;">No Records Found</div>
            <i class="fa fa-file-text" aria-hidden="true" style="font-size: 120px;color: #e4e4e4;"></i>
            <div style="color:#232f3e;font-size: 18px;font-weight: 600;">Your Dealers History is Empty</div>
            <p>You have no records in your Dealers History.</p>
            <button type="submit" class="btn btn-default" href="#createRFQ" id="back_edit_info">
                <i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:10px;"></i>Continue Shopping</button>
        </div>
    </div>

    <div class="row theme-bg">
        <div class="col-md-12">
            <div class="dist-table-data" ng-if="delr_history.length>0">
                <div class="product_based_list">
                    <table class="table table-bordered pending_order table-striped">
                        <thead class="">
                            <tr>
                                <th class="txt_centr">S.No</th>
                                <th class="txt_left">Name</th>
                                <th class="txt_left">Email</th>
                                <th class="txt_left">Mobile</th>
                                <th class="txt_centr">Status</th>
                                <th class="txt_centr">View More</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="history in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                <td class="txt_centr ver_center">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                <td class="txt_left">{{history.dealer_name}}</td>
                                <td class="txt_left">{{history.dealer_mail}}</td>
                                <td class="txt_left">{{history.dealer_mobile}}</td>
                                <td class="txt_centr">
                                    <i class="fa fa-check font_20 clr_green" ng-show="acept_dealer" title="accept" aria-hidden="true"></i>
                                    <i class="fa fa-times font_20 clr_red" ng-show="!acept_dealer"title="Reject"  aria-hidden="true"></i>
                                </td>
                                <td class="txt_centr">
                                    <a herf="" class="split_click cursor" data-toggle="modal" ng-click="dealer_info(history)">More-Info</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination total-items="totalItems" page="currentPage" class="pagination-sm" items-per-page="itemsPerPage" ng-show="delr_history.length>0"></pagination>
            </div>
        </div>
    </div>

    <!-- Dealers Information  Modal start here -->
    <!-- <div class="modal fade" id="dealers_Information" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="clr_black" aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title theme_color f_weight_700" id="myModalLabel">Dealer More Information</h4>
                </div>

                <div class="modal-body">
                    <div class="quan-disc-table ovrfle_hidn">
                        <form name="myform">
                            <div class="row">

                                <table class="table-striped" id="table_data_specifications" border="1">
                                    <tr>
                                        <td class="spec_smt">
                                            <span class="theme_violet f_size_14 f_weight_700 f_left">Dealer Name</span>
                                        </td>
                                        <td class="spec_smt">
                                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_name}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="spec_smt">
                                            <span class="theme_violet f_size_14 f_weight_700 f_left">Shop Name</span>
                                        </td>
                                        <td class="spec_smt">
                                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_shopname}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="spec_smt">
                                            <span class="theme_violet f_size_14 f_weight_700 f_left">Reg Shop Name</span>
                                        </td>
                                        <td class="spec_smt">
                                            <span class="theme_blue f_weight_700 f_left">{{delr_info.reg_shopname}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="spec_smt">
                                            <span class="theme_violet f_size_14 f_weight_700 f_left">CIN No</span>
                                        </td>
                                        <td class="spec_smt">
                                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_cin}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="spec_smt">
                                            <span class="theme_violet f_size_14 f_weight_700 f_left">Mobile No</span>
                                        </td>
                                        <td class="spec_smt">
                                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_mobile}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="spec_smt">
                                            <span class="theme_violet f_size_14 f_weight_700 f_left">Phone</span>
                                        </td>
                                        <td class="spec_smt">
                                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_phone}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="spec_smt">
                                            <span class="theme_violet f_size_14 f_weight_700 f_left">Email Id</span>
                                        </td>
                                        <td class="spec_smt">
                                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_mail}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="spec_smt">
                                            <span class="theme_violet f_size_14 f_weight_700 f_left">GST No</span>
                                        </td>
                                        <td class="spec_smt">
                                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_gstin}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="spec_smt">
                                            <span class="theme_violet f_size_14 f_weight_700 f_left">Country</span>
                                        </td>
                                        <td class="spec_smt">
                                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_country}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="spec_smt">
                                            <span class="theme_violet f_size_14 f_weight_700 f_left">State</span>
                                        </td>
                                        <td class="spec_smt">
                                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_state}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="spec_smt">
                                            <span class="theme_violet f_size_14 f_weight_700 f_left">City</span>
                                        </td>
                                        <td class="spec_smt">
                                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_city}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="spec_smt">
                                            <span class="theme_violet f_size_14 f_weight_700 f_left">Street</span>
                                        </td>
                                        <td class="spec_smt">
                                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_town}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="spec_smt">
                                            <span class="theme_violet f_size_14 f_weight_700 f_left">Pincode</span>
                                        </td>
                                        <td class="spec_smt">
                                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_pin}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="spec_smt">
                                            <span class="theme_violet f_size_14 f_weight_700 f_left">Country Code</span>
                                        </td>
                                        <td class="spec_smt">
                                            <span class="theme_blue f_weight_700 f_left">{{delr_info.dealer_isd}}</span>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </form>
                    </div>
                </div>

                <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
                    <button type="button" class="btn theme_bgclr" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Dealers Information Modal end here -->

</div>

 <!-- Total footer start here-->
 <div class="ttl_footer1">
    <!-- footer1 start here -->
    <!-- <footer ng-controller="homeController" class="footerbar footer">
        <div class="container1">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
                        <div class="row row1" id="ftr_ss">
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                <ul>
                                    <h5 id="footer_linksss">
                                        <b>POWERTEX TOOLS</b>
                                    </h5>
                                    <li id="footer_links_valuess">
                                        <a href="aboutus.html" class="footerText"> ABOUT US</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                <ul>
                                    <h5 id="footer_linksss">
                                        <b>CONTACT US</b>
                                    </h5>
                                    <li id="footer_links_valuess">
                                        <span style="margin-left: 5px;">
                                            <i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span class="footerText1 footer_links_addere">
                                            <span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
                                            <span style="margin-left: 25px;"> Bahadurpura,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">500064,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">Hyderabad,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">Telangana.</span>
                                            <br/>
                                        </span>
                                    </li>
                                    <li id="footer_links_valuess">
                                        <span style="padding-right:5px;">
                                            <i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span>
                                            <b class="font_size">EMAIL: </b>
                                            <a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
                                                info@powertextools.com </a>
                                        </span>
                                    </li>
                                    <li id="footer_links_valuess">
                                        <span style="padding-right:5px;">
                                            <i class="fa fa-phone" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span>
                                            <b class="font_size">PHONE: </b>
                                            <a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer> -->
    <!-- footer1 end here -->

    <!-- footer2 start here -->
    <footer  class="footerbar1 footer" id="new_ftr">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer2 end here -->
</div>
<!-- Total footer end here-->