<div ng-controller="viewCartItemsController">
	<div ng-if="welcome_msg != 'undefined' && welcome_msg!= ''" class="del_branch">
		<span class="text-center welcome_msg1">{{welcome_msg}}</span>
	</div>
	<div class="container1" id="categoryPage1111">
		<!-- bradcrumbs start here -->
		<div class="row">
			<ul class="bredcrumb_ul margin_left" style="margin: 15px 0 15px 30px;">
				<li class="bredcrumb_li" ng-click="B2BDashboard()">
					<a>Dashboard</a>
					<!-- <span class="slash_bc">/</span> -->
				</li>
				<li class="bredcrumb_li" ng-click="gotoShopping()">
					<a>Dealer Shopping</a>
					<!-- <span class="slash_bc">/</span> -->
				</li>
				<li class="bredcrumb_li">
					<a>Dealer Cart</a>
				</li>
			</ul>
		</div>
		<!-- bradcrumbs end here -->

		<!-- <marquee behavior="alternate" class="marq">{{welcome_msg}}</marquee> -->
		<div class="ovrfle_hidn">
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
				<div class="block_account_dashboard">
					<div class="box-head11" style="margin: 20px 0 5px 0;" ng-if="data.length > 0">
						<div>Dealer Cart</div>
					</div>
					<div ng-if="data.length == 0" align="middle" style="background: #fff;box-shadow: 3px 3px 8px #ddd;">
						<div class="" style="padding: 30px 0;">
							<div style="font-size: 20px;font-weight: 700;color: #be393d;">Dealer Cart</div>
							<i class="fa fa-shopping-basket" aria-hidden="true" style="font-size: 120px;color: #293071;"></i>
							<div style="color:#232f3e;font-size: 18px;font-weight: 600;">Your Shopping Cart is Empty</div>
							<!-- <p>You have no items in your shopping cart.</p> -->
							<button type="submit" class="btn btn-default" ng-click="gotoShopping()" id="back_edit_info">
								<i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:10px;"></i>Continue Shopping</button>
						</div>
					</div>

					<div class="" ng-if="data.length > 0">
						<div class="basic_dashboard">
							<loading></loading>
							<div class="myaccount_section12_goToCart">
								<!-- <div class="box-head11" style="margin-bottom:5px;">
								<div class="textt">Shopping Cart</div>
							</div> -->
								<div class="dist-table-data">
									<div class="product_based_list table-responsive">
										<table class="table table-bordered pending_order table-striped">
											<thead>
												<tr>
													<th class="txt_centr">S.No</th>
													<th class="txt_centr" ng-if="purchase">Vendor Code</th>
													<th class="txt_centr">Product Image</th>
													<th class="txt_left">Product Name</th>
													<th class="txt_left">Brand</th>
													<th class="txt_centr">Qty</th>
													<th class="txt_right">MRP (₹)</th>
													<th class="txt_right">Discount (%)</th>
													<th class="txt_right">Spl Disc (%)</th>
													<th class="txt_right">Vol Disc (%)</th>
													<th class="txt_right">Total (₹)</th>
													<th class="txt_right">Savings (%)</th>
													<th class="txt_centr">Action</th>
												</tr>
											</thead>
											<tbody id="myViewOrdersData">
												<tr ng-repeat="cartItem in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
													<td class="txt_centr ver_center">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
													<td class="txt_centr ver_center" ng-if="purchase">{{cartItem.vendor_code}}</td>
													<td class="txt_centr ver_center" style="cursor:pointer;">
														<img ng-src="{{cartItem.imageid}}" err-src="images/noproducts.png"  style="height:40px;" ng-click="specificationsTable(cartItem)">
													</td>
													<td class="txt_left ver_center" style="cursor:pointer;" title="{{cartItem.upload_name}}" ng-click="getProductDetails(cartItem)">{{cartItem.upload_name}}</td>
													<td class="txt_left ver_center">{{cartItem.brand}}</td>
													<td class="txt_centr ver_center">
														<div class="quantity">
															<button class="plus-btn quan-btn" type="button" name="button" ng-click="decreaseValue(cartItem,$index,currentPage)">
																<span class="glyphicon glyphicon-minus qty_plus_minus"></span>
															</button>
															<input type="text" name="qty" class="quan-text" value="{{qty}}" ng-model="cartItem.qty" ng-change="getQuantity(cartItem.qty,cartItem.upload_name,$index,currentPage)">
															<button class="minus-btn quan-btn" type="button" name="button" ng-click="increaseValue(cartItem,$index,currentPage)">
																<span class="glyphicon glyphicon-plus qty_plus_minus"></span>
															</button>
														</div>
													</td>
													<td class="txt_right ver_center">{{cartItem.mrp}}</td>
													<td class="txt_right ver_center">{{cartItem.discount}}</td>
													<td class="txt_right ver_center">{{cartItem.special_discount}}</td>
													<td class="txt_right ver_center">{{cartItem.volume_discount}}</td>
													<td class="txt_right ver_center">{{cartItem.total}}</td>
													<td class="txt_right ver_center">{{cartItem.saving_percentage}}</td>
													<td class="txt_centr ver_center" ng-click="deleteDealerCartItem(cartItem)" title="Delete">
														<i class="fa fa-trash" aria-hidden="true" style="font-size: 15px;"></i>
													</td>
												</tr>
												<tr>
													<td colspan="9" class="cart_head tft_head">Grand Total</td>
													<td class="cart_des tft_head">₹ {{grandTotal}}</td>
													<!-- <td class="cart_des tft_head"></td> -->
												</tr>
											</tbody>
										</table>
										<div>
											<button type="submit" class="btn btn-default theme_bgclr" ng-click="submitdealerorderdetails(cartItems)" style="float:right;">
											RFQ Generation</button>
											<pagination total-items="totalItems" page="currentPage" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- specifications Table Modal start here -->

		<!-- specifications Table Modal end here -->

		<!-- <div id="rfqSuccessModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header align_center">
					<img src="images/powertex_logo.png" />
				</div>
				<div class="modal-body" align="middle">
				FQ No. {{rfq_no}} Generated Successfully!
					<div>
						<img src="images/completed_icon.png" class="pop_image" />
						<br/>
						<span class="completed_styles clr_orange">{{rfq_no}}</span>
						<br/>
						<span class="completed_styles theme_color">RFQ Number Generated Successfully!</span>
						<br/>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn theme_bgclr" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div> -->



		<!-- <div class="modal fade" id="deleteItemSuccessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header align_center">
					<img src="images/powertex_logo.png" />
				</div>
				<div class="modal-body" align="middle">
					<div>
						<img src="images/completed_icon.png" class="pop_image" />
						<br/>
						<span class="completed_styles theme_color">Item deleted from Cart Successfully!</span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn theme_bgclr" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div> -->

	</div>

</div>

<!-- Total footer start here-->
<div class="ttl_footer1">
	<!-- footer1 start here -->
	<!-- <footer ng-controller="homeController" class="footerbar footer">
		<div class="container1">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
						<div class="row row1" id="ftr_ss">
							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>POWERTEX TOOLS</b>
									</h5>
									<li id="footer_links_valuess">
										<a href="aboutus.html" class="footerText"> ABOUT US</a>
									</li>
								</ul>
							</div>

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>CONTACT US</b>
									</h5>
									<li id="footer_links_valuess">
										<span style="margin-left: 5px;">
											<i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
										</span>
										<span class="footerText1 footer_links_addere">
											<span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
											<span style="margin-left: 25px;"> Bahadurpura,</span>
											<br/>
											<span style="margin-left: 25px;">500064,</span>
											<br/>
											<span style="margin-left: 25px;">Hyderabad,</span>
											<br/>
											<span style="margin-left: 25px;">Telangana.</span>
											<br/>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">EMAIL: </b>
											<a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
												info@powertextools.com </a>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-phone" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">PHONE: </b>
											<a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer> -->
	<!-- footer1 end here -->

	<!-- footer2 start here -->
	<footer class="footerbar1 footer" id="new_ftr">
		<div class="container1">
			<div class="row row1" style="padding:10px 0;color:white;">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
							<span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
						</div>
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
							<i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer2 end here -->
</div>
<!-- Total footer end here-->