<div class="container1" ng-controller="dealerdashboardController">
    <div class="myaccount_section12_goToCart">
        <div class="row">
            <!-- <div class="box-head" style="margin-top: 10px;">
                <h2>RFQ (Pending)</h2>
            </div> -->
            <div class="box-head11" style="margin-top: 10px;">
                <h2>PO (Pending)</h2>
            </div>
            <div class="myvieworders-tbl-new1 table-responsive">
                <table class="table table-bordered table-striped pending_order" id="myViewOrders1">
                    <thead>
                        <tr>
                            <th style="text-align:center;">S.No</th>
                            <th style="text-align:left;">PO No</th>
                            <th style="text-align:left;">RFQ number</th>
                            <th style="text-align:left;">Dealer Name</th>
                            <th style="text-align:left;">Dealer City</th>
                            <th style="text-align:right;">PO Generated Date</th>
                            <th style="text-align:right;">PO Value</th>
                            <!-- <th style="text-align:left;">Remarks</th> -->
                            <th style="text-align:center;">Status</th>
                            <th style="text-align:center;">More Details</th>

                            <!-- <th style="text-align:center;" ng-if="salesdetails">Edit</th> -->
                        </tr>
                    </thead>
                    <tbody id="myViewOrdersData" ng-repeat="item in UserDetails   track by $index">
                        <tr>
                            <td style="text-align:center;">{{$index+1}}</td>
                            <td style="text-align:left;">{{item.po_num}}</td>
                            <td style="text-align:left;">{{item.rfq_num}}</td>
                            <!-- <td style="text-align:left;cursor:pointer;" ng-click="getProductDetails(cartItem)">{{item.sales_manager}}</td> -->
                            <td style="text-align:left;">{{item.dealer_name}}</td>
                            <td style="text-align:left;">{{item.dealer_city}}</td>
                            <td style="text-align:right;">{{item.po_gen_date}}</td>
                            <td style="text-align:right;">{{item.total}}</td>

                            <td style="text-align:left;">Sales Manager {{item.status}}</td>
                            <td style="text-align:center;">
                                <a href="" class="rfq_mrInfo" ng-click="Podetails(item, $index)">More Info</a>
                            </td>
                            <!-- <td style="text-align:left;" ng-click="smsplit(item.rfq_num)" ng-if="salesdetails">Edit</td> -->
                        </tr>
                    </tbody>
                </table>

                <div class="pen-rfq-dependent-tbl" ng-show="podetailshow">
                    <h3>PO-NUMBER :
                        <span>{{po_num}}</span>
                    </h3>
                    <table class="table table-bordered table-striped pending_order" id="myViewOrders1" style="margin-top: -5px;">
                        <thead>
                            <tr>
                                <th style="text-align:center;">S.No</th>
                                <th style="text-align:left;display:none;">RFQ Number</th>
                                <th style="text-align:left;">Product Name</th>
                                <th style="text-align:left;">Brand</th>
                                <th style="text-align:right;">MRP</th>
                                <th style="text-align:right;">Qty</th>
                                <th style="text-align:right;">Discount</th>
                                <th style="text-align:right;">Spl_disc</th>
                                <th style="text-align:right;">Vol_disc</th>
                                <th style="text-align:right;">Total</th>
                                <th style="text-align:right;">Savings</th>

                            </tr>
                        </thead>
                        <tbody id="myViewOrdersData">
                            <tr ng-repeat="item in Po_moreinfo | filter:rfq_num">
                                <td style="text-align:center;">{{$index+1}}</td>
                                <td style="text-align:left;display:none;">{{item.rfq_num}}</td>
                                <td style="text-align:left;">{{item.accept_productname}}</td>
                                <td style="text-align:left;">{{item.brand}}</td>
                                <td style="text-align:right;">{{item.mrp}}</td>
                                <td style="text-align:right;">{{item.accept_prod_qty}}</td>
                                <td style="text-align:right;">{{item.discount}}</td>
                                <td style="text-align:right;">{{item.spcl_disc}}</td>
                                <td style="text-align:right;">{{item.volume_disc}}</td>
                                <td style="text-align:right;">{{item.total}}</td>
                                <td style="text-align:right;">{{item.savings}}</td>

                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>

 <!-- Total footer start here-->
 <div class="ttl_footer1">
    <!-- footer1 start here -->
    <!-- <footer ng-controller="homeController" class="footerbar footer">
        <div class="container1">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
                        <div class="row row1" id="ftr_ss">
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                <ul>
                                    <h5 id="footer_linksss">
                                        <b>POWERTEX TOOLS</b>
                                    </h5>
                                    <li id="footer_links_valuess">
                                        <a href="aboutus.html" class="footerText"> ABOUT US</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                <ul>
                                    <h5 id="footer_linksss">
                                        <b>CONTACT US</b>
                                    </h5>
                                    <li id="footer_links_valuess">
                                        <span style="margin-left: 5px;">
                                            <i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span class="footerText1 footer_links_addere">
                                            <span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
                                            <span style="margin-left: 25px;"> Bahadurpura,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">500064,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">Hyderabad,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">Telangana.</span>
                                            <br/>
                                        </span>
                                    </li>
                                    <li id="footer_links_valuess">
                                        <span style="padding-right:5px;">
                                            <i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span>
                                            <b class="font_size">EMAIL: </b>
                                            <a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
                                                info@powertextools.com </a>
                                        </span>
                                    </li>
                                    <li id="footer_links_valuess">
                                        <span style="padding-right:5px;">
                                            <i class="fa fa-phone" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span>
                                            <b class="font_size">PHONE: </b>
                                            <a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer> -->
    <!-- footer1 end here -->

    <!-- footer2 start here -->
    <footer  class="footerbar1 footer" id="new_ftr">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer2 end here -->
</div>
<!-- Total footer end here-->