<!-- <div class="modal-header align_center">
    <img src="images/powertex_logo.png" />
</div> -->
<div class="modal-body" align="middle">
    <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="clr_black1" aria-hidden="true" ng-click="close();">×</span>
        </button>
        <h4 class="modal-title theme_color uppercase" id="myModalLabel">Shop Information</h4>
    </div>
    <div class="ovrfle_hidn">
        <div class="panel panel-info">
            <!-- <div class="panel-heading">
                        <h3 class="panel-title">Dealer More Info</h3>
                    </div> -->
            <div class="panel-body">
                <form name="myform">

                    <div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="dturnovr">Turn Over p/a
                                    <span style="color:#be393d;">*</span>
                                </label>
                                <input id="dturnovr" name="dturnovr" class="form-control" type="text" ng-model="dealerxdata.turnover"
                                    required ng-pattern="/^[0-9]*$/" placeholder="Enter Driver Name" ng-minlength="3"
                                    ng-maxlength="11" maxlength="11" autofocus="true">

                                <div ng-messages="myform.dturnovr.$error ">
                                    <p class="validationError errorMsg" ng-message="pattern">Enter
                                        Turn Over p/a</p>
                                    <p class="validationError errorMsg" ng-message="minlength">Enter
                                        Minimum 3 digits</p>
                                    <p class="validationError errorMsg" ng-message="maxlength">Enter
                                        Maximum 11 digits</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="dpan">PAN
                                    <span style="color:#be393d;">*</span>
                                </label>
                                <input id="dpan" name="dpan" class="form-control" type="text" ng-model="dealerxdata.pan"
                                    required ng-pattern="/^[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}$/">
                                <div ng-messages="myform.dpan.$error ">
                                    <p class="validationError errorMsg" ng-message="pattern">Enter
                                        Valid PAN</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="dexp">Experience (Years)
                                    <span style="color:#be393d;">*</span>
                                </label>
                                <input id="dexp" name="dexp" class="form-control" type="number" ng-model="dealerxdata.exp"
                                    required maxlength="2" minlength="1" ng-pattern="/^[0-9]*$/">
                                <div ng-messages="myform.dexp.$error ">
                                    <p class="validationError errorMsg" ng-message="pattern">Enter
                                        Experience</p>
                                    <p class="validationError errorMsg" ng-message="minlength">Enter
                                        Minimum 1 digits</p>
                                    <p class="validationError errorMsg" ng-message="maxlength">Enter
                                        Maximum 2 digits</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="dAdhar">Adhar Number
                                    <span style="color:#be393d;">*</span>
                                </label>
                                <input id="dAdhar" name="dAdhar" ng-maxlength="12" maxlength="12" class="form-control"
                                    ng-model="dealerxdata.adhar" type="number" required ng-pattern="/^[0-9]*$/">
                                <div ng-messages="myform.dAdhar.$error ">
                                    <p class="validationError errorMsg" ng-message="pattern">Enter
                                        Adhar Number</p>
                                    <p class="validationError errorMsg" ng-message="maxlength">Enter
                                        Valid Adhar Number</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="dturnovr">Billing Address
                                    <span style="color:#be393d;">*</span>
                                </label>
                                <div class="dis_address">
                                    <p>
                                        <span><b>D/No: </b></span>
                                        <input type="text" name="dNo" required ng-model="dealerxdata.billing_dno"
                                            placeholder="Enter D/No" ng-minlength="2" ng-maxlength="10" maxlength="10"
                                            ng-pattern="/^[a-zA-Z0-9 ]+$/">
                                        <div ng-messages="myform.dNo.$error ">
                                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid
                                                D/No</p>
                                            <p class="validationError errorMsg" ng-message="minlength">Enter Minimum 2
                                                Characters</p>
                                            <p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 10
                                                Characters</p>
                                        </div>
                                    </p>
                                    <p>
                                        <span><b>Street: </b></span>
                                        <input type="text" name="street" required ng-model="dealerxdata.billing_street"
                                            placeholder="Enter Street" ng-minlength="3" ng-maxlength="50" maxlength="50"
                                            ng-pattern="/^[a-zA-Z0-9 ]+$/">
                                        <div ng-messages="myform.street.$error ">
                                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid
                                                Street</p>
                                            <p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3
                                                Characters</p>
                                            <p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50
                                                Characters</p>
                                        </div>
                                    </p>
                                    <p>

                                        <span><b>City: </b></span>
                                        <input type="text" name="city" required ng-model="dealerxdata.billing_city"
                                            placeholder="Enter Street" ng-minlength="3" ng-maxlength="30" maxlength="30"
                                            ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,30}$/">
                                        <div ng-messages="myform.city.$error ">
                                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid
                                                City</p>
                                            <p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3
                                                Characters</p>
                                            <p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 30
                                                Characters</p>
                                        </div>
                                    </p>
                                    <p>
                                        <span><b>State: </b></span>
                                        <input type="text" name="state" required ng-model="dealerxdata.billing_state"
                                            placeholder="Enter State" ng-minlength="3" ng-maxlength="50" maxlength="50"
                                            ng-pattern="/^[a-zA-Z0-9 ]+$/">
                                        <div ng-messages="myform.state.$error ">
                                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid
                                                State</p>
                                            <p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3
                                                Characters</p>
                                            <p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50
                                                Characters</p>
                                        </div>
                                    </p>
                                    <p>
                                        <span><b>Zip Code: </b></span>
                                        <input type="text" name="billing_zip" required ng-model="dealerxdata.billing_zip"
                                            placeholder="Enter Pincode" ng-minlength="6" ng-maxlength="6" maxlength="6"
                                            required ng-pattern="/^[0-9]{6}$/">
                                        <div ng-messages="myform.billing_zip.$error ">
                                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid
                                                Pincode</p>
                                            <p class="validationError errorMsg" ng-message="minlength">Pincode should
                                                be 6 digits</p>
                                            <p class="validationError errorMsg" ng-message="maxlength">Pincode should
                                                be 6 digits</p>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="dturnovr">Shipping Address
                                    <span style="color:#be393d;">*</span>
                                </label>
                                <div class="dis_address">
                                    <p>
                                        <span><b>D/No: </b></span>
                                        <input type="text" name="shipping_dno" required ng-model="dealerxdata.shipping_dno"
                                            placeholder="Enter D/No" ng-minlength="2" ng-maxlength="10" maxlength="10"
                                            ng-pattern="/^[a-zA-Z0-9 ]+$/">
                                        <div ng-messages="myform.shipping_dno.$error ">
                                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid
                                                D/No</p>
                                            <p class="validationError errorMsg" ng-message="minlength">Enter Minimum 2
                                                Characters</p>
                                            <p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 10
                                                Characters</p>
                                        </div>
                                    </p>
                                    <p>
                                        <span><b>Street: </b></span>
                                        <input type="text" name="shipping_street" required ng-model="dealerxdata.shipping_street"
                                            placeholder="Enter Street" ng-minlength="3" ng-maxlength="50" maxlength="50"
                                            ng-pattern="/^[a-zA-Z0-9 ]+$/">
                                        <div ng-messages="myform.shipping_street.$error ">
                                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid
                                                Street</p>
                                            <p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3
                                                Characters</p>
                                            <p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50
                                                Characters</p>
                                        </div>
                                    </p>
                                    <p>
                                        <span><b>City: </b></span>
                                        <input type="text" name="shipping_city" required ng-model="dealerxdata.shipping_city"
                                            placeholder="Enter Street" ng-minlength="3" ng-maxlength="30" maxlength="30"
                                            ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,30}$/">
                                        <div ng-messages="myform.shipping_city.$error ">
                                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid
                                                City</p>
                                            <p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3
                                                Characters</p>
                                            <p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 30
                                                Characters</p>
                                        </div>
                                    </p>
                                    <p>
                                        <span><b>State: </b></span>
                                        <input type="text" name="shipping_state" required ng-model="dealerxdata.shipping_state"
                                            placeholder="Enter State" ng-minlength="3" ng-maxlength="50" maxlength="50"
                                            ng-pattern="/^[a-zA-Z0-9 ]+$/">
                                        <div ng-messages="myform.shipping_state.$error ">
                                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid
                                                State</p>
                                            <p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3
                                                Characters</p>
                                            <p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50
                                                Characters</p>
                                        </div>
                                    </p>
                                    <p>
                                        <span><b>Zip Code: </b></span>
                                        <input type="text" name="shipping_zip" required ng-model="dealerxdata.shipping_zip"
                                            placeholder="Enter Pincode" ng-minlength="6" ng-maxlength="6" maxlength="6"
                                            required ng-pattern="/^[0-9]{6}$/">
                                        <div ng-messages="myform.shipping_zip.$error ">
                                            <p class="validationError errorMsg" ng-message="pattern">Enter Valid
                                                Pincode</p>
                                            <p class="validationError errorMsg" ng-message="minlength">Pincode should
                                                be 6 digits</p>
                                            <p class="validationError errorMsg" ng-message="maxlength">Pincode should
                                                be 6 digits</p>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="dturnovr">Document Submitted
                                            <span style="color:#be393d;">*</span>
                                        </label>
                                        <div class="button-group">
                                            <button type="button" class="btn btn-default btn-sm">
                                                Documents
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="listofproducts" style="width: 100%;">
                                                <li>
                                                    <span>
                                                        <input type="checkbox" ng-model="dealerxdata.adhar" name="subcategory" />&nbsp;</span>
                                                    <span class="lineheight-2">Aadhar</span>
                                                </li>
                                                <li>
                                                    <span>
                                                        <input type="checkbox" ng-model="dealerxdata.pan" name="subcategory" />&nbsp;</span>
                                                    <span class="lineheight-2">PAN</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> -->
                    </div>

                    <!-- <div class="col-md-6">
                                        <button type="submit" value="submit" class="btn btn-primary pull-right theme_btn" ng-click=dealeractive(dealerxdata)>Submit</button>
                                    </div> -->
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" ng-disabled="myform.$invalid" class="btn theme_bgclr" ng-click="submit();">Submit
    </button>
</div>