<div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
    <button type="button" class="close" ng-click="close();" aria-label="Close">
        <span class="clr_black" aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title theme_color f_weight_700" id="myModalLabel">Dealer More Information
    </h4>
</div>

<div class="ovrfle_hidn">
    <div class="panel panel-info">
        <div class="panel-body">
            <form name="myform">

                <div class="row" style="margin: 20px 0;">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="dturnovr">Turn Over p/a
                                <span style="color:#be393d;">*</span>
                            </label>
                            <input id="dturnovr" name="dturnovr" class="form-control" type="number" ng-model="dealerxdata.turnover" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="dpan">PAN
                                <span style="color:#be393d;">*</span>
                            </label>
                            <input id="dpan" name="dpan" class="form-control" type="text" ng-model="dealerxdata.pan" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="dexp">Experience(Yrs)
                                <span style="color:#be393d;">*</span>
                            </label>
                            <input id="dexp" name="dexp" class="form-control" type="number" ng-model="dealerxdata.exp" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="dAdhar">Adhar Number
                                <span style="color:#be393d;">*</span>
                            </label>
                            <input id="dAdhar" name="dAdhar" maxlength="12" class="form-control" ng-model="dealerxdata.adhar" type="number" required>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="dturnovr">Billing Address
                                <span style="color:#be393d;">*</span>
                            </label>
                            <div class="dis_address">
                                <p>
                                    <span>
                                        <b>D/No: </b>
                                    </span>
                                    <input type="text" name="dNo" required ng-model="dealerxdata.billing_dno">
                                </p>
                                <p>
                                    <span>
                                        <b>Street: </b>
                                    </span>
                                    <input type="text" name="street" required ng-model="dealerxdata.billing_street">
                                </p>
                                <p>
                                    <span>
                                        <b>City: </b>
                                    </span>
                                    <input type="text" name="city" required ng-model="dealerxdata.billing_city">
                                </p>
                                <p>
                                    <span>
                                        <b>State: </b>
                                    </span>
                                    <input type="text" name="state" required ng-model="dealerxdata.billing_state">
                                </p>
                                <p>
                                    <span>
                                        <b>Zip Code: </b>
                                    </span>
                                    <input type="text" name="zip" required ng-model="dealerxdata.billing_zip">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="dturnovr">Shipping Address
                                <span style="color:#be393d;">*</span>
                            </label>
                            <div class="dis_address">
                                <p>
                                    <span>
                                        <b>D/No: </b>
                                    </span>
                                    <input type="text" name="dNo" required ng-model="dealerxdata.shipping_dno">
                                </p>
                                <p>
                                    <span>
                                        <b>Street: </b>
                                    </span>
                                    <input type="text" name="street" required ng-model="dealerxdata.shipping_street">
                                </p>
                                <p>
                                    <span>
                                        <b>City: </b>
                                    </span>
                                    <input type="text" name="city" required ng-model="dealerxdata.shipping_city">
                                </p>
                                <p>
                                    <span>
                                        <b>State: </b>
                                    </span>
                                    <input type="text" name="state" required ng-model="dealerxdata.shipping_state">
                                </p>
                                <p>
                                    <span>
                                        <b>Zip Code: </b>
                                    </span>
                                    <input type="text" name="zip" required ng-model="dealerxdata.shipping_zip">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn theme_bgclr" ng-click="close();">Close
    </button>
</div>