<div class="container1" ng-controller="dashboardController">

	<ul class="bredcrumb_ul margin_left">
		<li class="bredcrumb_li">
			<a ng-click="goToHome()"> Home</a>
		</li>
		<li class="bredcrumb_li">
			<a ng-click="pageNavigate()">Dashboard</a>
		</li>
		<li class="bredcrumb_li">
			<a>Edit Account</a>
		</li>
	</ul>
	<div class="row" id="edit_row">
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<!--  account dashboard page start here -->
			<div class="block_account_dashboard">
				<!-- <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
					<div class="account_left_content_title">
						<h1>My Account</h1>
						<hr/ style="margin-top:5px;margin-bottom:10px;border: 0;border-top: 0px solid #eee;">
					</div>
					<div class="block_account_right_content">
						<ul>
                            <li><a href="#">Account Dashboard</a></li>
							 <li><a href="#">Account Information</a></li>
                            <li class="current"><strong>Address Book</strong></li>
							<li><a href="#">My Orders</a></li>
							<li><a href="#">My Product Reviews</a></li>
							<li><a href="#">My Tags</a></li>
							<li class="last"><a href="#">My Wishlist</a></li>
							
						</ul>
					</div>
				</div> -->
				<!-- edit account information start here -->
				<div class="row">
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
						<div class="row">
							<div class="basic_dashboard">
								<div class="box-head11">
									<h2 style="margin-top: 10px;">Edit Account Information</h2>
								</div>
								<!-- <div class="box-head11" style="margin-top: 30px;">
									<h2>Account Information</h2>
								</div> -->
								<div class="edit_information_page_block">
									<div class="acunt_info_haeding">
										<h2>ACCOUNT INFORMATION</h2>
									</div>
									<form name="editForm">
										<div class="row">

											<div class="form-group col-md-3 col-xs-12 col-lg-3 col-sm-12">
												<label class="clr_black" for="firstname">
													<sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>First Name</label>

												<input type="text" name="first_name" required id="eai_firstNmae" class="form-control" id="first_name" ng-model="customerData.first_name"
												 placeholder="Enter First Name" ng-minlength="3" ng-maxlength="50" maxlength="50" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,50}$/"
												 autofocus="true">

												<span class="validationError errorMsg" style="color:red" ng-show="editForm.first_name.$dirty && editForm.first_name.$invalid"
												 class="ng-hide">
													Please Enter Valid First Name.
												</span>
												<!-- <span class="validationError errorMsg" style="color:red" ng-show="editForm.first_name.minlength" class="ng-hide">
														Please Minimum 3 characters.
													</span> -->

											</div>

											<div class="form-group col-md-3 col-xs-12 col-lg-3 col-sm-12">

												<label class="clr_black" for="lastname">
													<sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>Last Name</label>

												<input type="text" name="last_name" required="" id="eai_firstNmae" class="form-control" id="last_name" ng-model="customerData.last_name"
												 placeholder="Enter Last Name" ng-minlength="3" ng-maxlength="50" maxlength="50" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,50}$/">

												<span class="validationError errorMsg" style="color:red" ng-show="editForm.last_name.$dirty && editForm.last_name.$invalid"
												 class="ng-hide">
													Please Enter Valid Last Name.
												</span>

											</div>

											<div class="form-group col-md-3 col-xs-12 col-lg-3 col-sm-12">

												<label class="clr_black" for="mobile">
													<sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>Mobile Number</label>

												<input type="text" name="mobile" class="form-control" id="user_mobile" id="eai_firstNmae" ng-model="customerData.mobile"
												 placeholder="Enter Mobile Number" ng-minlength="10" ng-maxlength="10" maxlength="10" required ng-pattern="/^[7-9][0-9]{9}$/">

												<span class="validationError errorMsg" style="color:red" ng-show="editForm.user_mobile.$dirty && editForm.user_mobile.$invalid"
												 class="ng-hide">
													Please Enter Valid Mobile.
												</span>

											</div>


											<div class="form-group  col-md-12 col-xs-12 col-lg-12 col-sm-12">
												<button type="submit" class="btn btn-default" id="back_edit_info" ng-click="goback()">&lt;&lt; Back</button>
												<button type="submit" class="btn btn-default" id="save_edit_info" ng-disabled="editForm.$invalid" ng-click="updateEditDetails(customerData)">Save</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- edit account information start here -->
			</div>
			<!--  account dashboard page end here -->

		</div>
	</div>
</div>

 <!-- Total footer start here-->
 <div class="ttl_footer1">
	<!-- footer1 start here -->
	<!-- <footer ng-controller="homeController" class="footerbar footer">
		<div class="container1">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
						<div class="row row1" id="ftr_ss">
							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>POWERTEX TOOLS</b>
									</h5>
									<li id="footer_links_valuess">
										<a href="aboutus.html" class="footerText"> ABOUT US</a>
									</li>
								</ul>
							</div>

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>CONTACT US</b>
									</h5>
									<li id="footer_links_valuess">
										<span style="margin-left: 5px;">
											<i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
										</span>
										<span class="footerText1 footer_links_addere">
											<span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
											<span style="margin-left: 25px;"> Bahadurpura,</span>
											<br/>
											<span style="margin-left: 25px;">500064,</span>
											<br/>
											<span style="margin-left: 25px;">Hyderabad,</span>
											<br/>
											<span style="margin-left: 25px;">Telangana.</span>
											<br/>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">EMAIL: </b>
											<a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
												info@powertextools.com </a>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-phone" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">PHONE: </b>
											<a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer> -->
	<!-- footer1 end here -->

	<!-- footer2 start here -->
	<footer  class="footerbar1 footer" id="new_ftr">
		<div class="container1">
			<div class="row row1" style="padding:10px 0;color:white;">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
							<span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
						</div>
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
							<i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer2 end here -->
</div>
<!-- Total footer end here-->