<div ng-controller="finalInvoiceController">
    <div ng-if="welcome_msg != 'undefined' && welcome_msg!= ''" class="del_branch">
        <span class="text-center welcome_msg1">{{welcome_msg}}</span>
    </div>
    <div class="container1">
        <!-- bradcrumbs start here -->
        <div class="row">
            <ul class="bredcrumb_ul margin_left">
                <li class="bredcrumb_li" ng-click="B2BDashboard()">
                    <a>Dashboard</a>
                    <!-- <span class="slash_bc">/</span> -->
                </li>
                <!-- <li class="bredcrumb_li" ng-if="wishlistBreadCrumbFlag == 'true'" ng-click="pageNavigate()">
                <a>Dashboard</a>
                <span class="slash_bc">/</span>
            </li> -->
                <li class="bredcrumb_li">
                    <a>Final Invoice Generation</a>
                </li>
            </ul>
        </div>
        <!-- bradcrumbs end here -->
        <!-- <marquee behavior="alternate" class="marq">{{welcome_msg}}</marquee> -->
        <div class="myaccount_section12_goToCart">
            <div class="">
                <div class="box-head11" ng-if="EstimateQtyList.length > 0" style="margin-bottom:5px;">
                    <div>Final Invoice Generation</div>
                </div>
                <div class="myvieworders-tbl-new1">
                    <div ng-if="EstimateQtyList.length == 0" align="middle" style="background: #fff;box-shadow: 3px 3px 8px #ddd;">
                        <div class="" style="padding: 30px 0;">
                            <div style="font-size: 20px;font-weight: 700;color: #be393d;">No Records Found</div>
                            <i class="fa fa-file-text" aria-hidden="true" style="font-size: 120px;color: #e4e4e4;"></i>
                            <div style="color:#232f3e;font-size: 18px;font-weight: 600;">Your Invoice Records are Empty</div>
                            <!-- <p>You have no records in your Invoice.</p> -->
                            <!-- <button type="submit" class="btn btn-default" href="#createRFQ" id="back_edit_info">
                            <i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:10px;"></i>Continue Shopping</button> -->
                        </div>
                    </div>
                    <loading></loading>
                    <div class="dist-table-data" ng-if="EstimateQtyList.length > 0">
                        <div class="table-responsive">

                            <div class="myvieworders-tbl-new1 table-responsive">
                                <table class="table table-bordered table-striped pending_order" id="myViewOrders1">
                                    <thead>
                                        <tr>
                                            <th class="txt_centr">S.No</th>
                                            <th class="txt_left">Inv Number</th>
                                            <!--<th class="txt_right">Inv Date</th> -->
                                            <th class="txt_left">PO Number</th>
                                            <th class="txt_right">PO Date</th>
                                            <th class="txt_left">RFQ Number</th>
                                            <th class="txt_left">Dealer Name</th>
                                            <th class="txt_left">Dealer City</th>
                                            <th class="txt_left">Sales Manager Name</th>
                                            <th class="txt_left">Sales Manager Mobile</th>
                                            <!-- <th class="txt_right">Invoice value</th> -->

                                            <!-- <th class="txt_right">Inv Line</th> -->
                                            <th class="txt_centr">Status</th>
                                            <!-- <th class="txt_centr">Challan Status</th> -->
                                            <th class="txt_centr">Invoice Info</th>

                                        </tr>
                                    </thead>

                                    <tbody id="myViewOrdersData" ng-repeat="invdata in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))  track by $index">
                                        <!-- ng-repeat="invdata in EstimateQtyList track by $index" -->
                                        <!-- ng-repeat="invdata in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))  track by $index" -->
                                        <tr>
                                            <td class="txt_centr">{{$index+1}}</td>
                                            <td class="txt_left">{{invdata.p_inv_num}}</td>
                                            <!--    <td class="txt_right">{{invdata.invoice_date}}</td> -->
                                            <td class="txt_left">{{invdata.po_num}}</td>
                                            <td class="txt_right">{{invdata.po_gen_date}}</td>
                                            <td class="txt_left">{{invdata.rfq_num}}</td>
                                            <td class="txt_left">{{invdata.dealer_name}}</td>
                                            <td class="txt_left">{{invdata.dealer_city}}</td>
                                            <td class="txt_left">{{invdata.sm_name}}</td>
                                            <td class="txt_left">{{invdata.sm_mobile}}</td>
                                            <td class="txt_centr">{{invdata.invoice_status}}</td>
                                            <td class="txt_centr">
                                                <a href="" class="rfq_mrInfo" ng-click="invDetails(invdata)">More Inv Info</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div ng-show="EstimateQtyList.length>0" class="ovrfle_hidn">
                            <pagination total-items="totalItems" page="currentPage" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
                        </div>
                    </div>


                    <div class="dist-table-data margin_top_20" ng-show="invDetailshow">
                        <div class="text-center" ng-show="invDetailshow">
                            <div class="theme_color inv_pre">Invoice Preparation</div>
                        </div>
                        <div class="pen-rfq-dependent-tbl" ng-show="invDetailshow">
                            <div class="box-head11" style="margin-bottom:5px;">
                                <div>P-INVOICE-NUMBER :
                                    <span>{{p_inv_num}}</span>
                                </div>
                            </div>

                            <form name="myForm" novalidate>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped pending_order" id="myViewOrders1" style="margin-top: -5px;">
                                        <thead>
                                            <tr>
                                                <th class="txt_centr">S.No</th>
                                                <!-- <th class="txt_left">Inv No.</th> -->
                                                <th class="txt_left">Product Name</th>
                                                <!-- <th class="txt_left">Req. Qty</th> -->
                                                <th class="txt_right">P-Inv Qty</th>
                                                <!-- <th class="txt_left">Remaining Inv Qty</th> -->
                                                <!-- <th class="txt_left">Inv Gen Dt</th> -->
                                                <th class="txt_right">Delivery Date</th>
                                                <th class="txt_right">Org. Amount (₹)</th>
                                                <th class="txt_right">Org. MRP (₹)</th>
                                                <th class="txt_right"> Savings (%)</th>
                                                <!-- <th class="txt_right">Piece per Carton</th>
                                        <th class="txt_centr">Estimated Cartons</th>-->
                                                <!-- <th class="txt_centr">Available Cartons</th> -->
                                                <th class="txt_left" ng-if="salesHead">Mrp Adjustment(+ / -)</th>
                                                <th class="txt_left" ng-if="salesHead">Eff. MRP</th>
                                                <th class="txt_left" ng-if="salesHead">Eff. Amount</th>
                                                <th class="txt_right">WHM Suggested Qty</th>

                                                <th class="txt_centr"> F-Inv Qty</th>
                                            </tr>
                                        </thead>
                                        <tbody id="myViewOrdersData">
                                            <tr ng-repeat="data in moreInvData | filter:p_inv_num track by $index">
                                                <td class="txt_centr">{{$index+1}}</td>
                                                <!-- <td class="txt_left">{{data.p_inv_num}}</td> -->
                                                <td class="txt_left">{{data.productname}}</td>
                                                <!-- <td class="txt_left">{{data.req_product_qty}}</td> -->
                                                <td class="txt_right">{{data.p_inv_qty}}</td>
                                                <!-- <td class="txt_left">{{data.remain_qty}}</td> -->
                                                <!-- <td class="txt_right">{{data.invoice_date}}</td> -->
                                                <td class="txt_right">{{data.delivery_date}}</td>
                                                <td class="txt_right" ng-if="data.inv_acc_qty==undefined || data.inv_acc_qty==''">{{data.total_amt}}</td>
                                                <td class="txt_right" ng-if="data.inv_acc_qty!=undefined && data.inv_acc_qty!=''">{{data.total_amt*(data.inv_acc_qty/data.p_inv_qty) | number:2}}</td>

                                                <!-- <td class="txt_right">{{data.pieceperCorton}}</td>
                                             <td class="txt_right">{{data.estimated_pieceperCarton}}</td> -->
                                                <!-- <td class="txt_right">{{data.avl_qty}}</td> -->
                                                <td class="txt_right">{{data.mrp}}</td>
                                                <td class="txt_right">{{data.savings}}</td>
                                                <!--Sales Head-->

                                                <td class="txt_left" ng-if="salesHead">
                                                    <input type="number" name="mrp_adj" required ng-model="data.mrp_adj" ng-blur="priceAdjustment(data)" style="width:100px;">
                                                </td>
                                                <td class="txt_left" ng-if="salesHead">
                                                    <input type="number" readonly name="eff_mrp" ng-model="data.eff_mrp" style="width:100px;">
                                                </td>

                                                <td class="txt_left" ng-if="salesHead">
                                                    <input type="text" readonly name="eff_amt" ng-model="data.eff_amt | number:2" style="width:100px;">
                                                </td>
                                                <!--Sales Head End-->
                                                <td class="txt_right">{{data.check_qty}}</td>
                                                <td ng-if="accountant || salesHead" class="txt_centr">
                                                    <input type="text" ng-model="data.check_qty" readonly style="width:100px;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div ng-if="accountant || salesHead">
                                        <button type="submit" ng-disabled="myForm.$invalid" class="btn btn-default theme_bgclr fl-right" ng-click="generateFinalInvoice()">
                                            Approve</button>
                                        <span style="color:red" ng-show="myForm.$invalid">Inv Qty should not exceed WHM Suggested Qty.</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <!-- <div class="modal fade11" id="FinvSuccModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header align_center">
                    <img src="images/powertex_logo.png" />
                </div>
                <div class="modal-body" align="middle">
                    <div>
                        <img src="images/completed_icon.png" class="pop_image" />
                        <br/>
                        <span class="completed_styles clr_orange">{{inv_num}}</span>
                        <br/>
                        <span class="completed_styles theme_color">Invoice Generated Successfully!</span>
                        <br/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn theme_bgclr" ng-click="closePinvoiceModal()">OK</button>
                </div>
            </div>
        </div>
    </div> -->

    </div>
</div>

<!-- Total footer start here-->
<div class="ttl_footer1">
    <!-- footer1 start here -->
    <!-- <footer ng-controller="homeController" class="footerbar footer">
		<div class="container1">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
						<div class="row row1" id="ftr_ss">
							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>POWERTEX TOOLS</b>
									</h5>
									<li id="footer_links_valuess">
										<a href="aboutus.html" class="footerText"> ABOUT US</a>
									</li>
								</ul>
							</div>

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>CONTACT US</b>
									</h5>
									<li id="footer_links_valuess">
										<span style="margin-left: 5px;">
											<i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
										</span>
										<span class="footerText1 footer_links_addere">
											<span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
											<span style="margin-left: 25px;"> Bahadurpura,</span>
											<br/>
											<span style="margin-left: 25px;">500064,</span>
											<br/>
											<span style="margin-left: 25px;">Hyderabad,</span>
											<br/>
											<span style="margin-left: 25px;">Telangana.</span>
											<br/>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">EMAIL: </b>
											<a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
												info@powertextools.com </a>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-phone" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">PHONE: </b>
											<a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer> -->
    <!-- footer1 end here -->

    <!-- footer2 start here -->
    <footer class="footerbar1 footer" id="new_ftr">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer2 end here -->
</div>
<!-- Total footer end here-->