<div ng-controller="loginController" id="categoryPage">

	<div class="container1">

		<div class="row" id="edit_row">

			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

				<!--  account dashboard page start here -->

				<div class="block_account_dashboard">
					<div class="row">

						<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

							<div class="row">

								<div class="basic_dashboard">

									<div class="box-head">
										<h2>Forgot Password</h2>
									</div>

									<div class="edit_information_page_block">
										<form>
											<div class="row">

											</div>

											<div class="acunt_info_haeding">
												<h2>RETRIEVE YOUR PASSWORD HERE</h2>
											</div>

											<div class="row">

												<div class="form-group col-md-12 col-xs-12 col-lg-12 col-sm-12">
													<p>Please enter your email address below. You will receive a link to reset your password.</p>
													<label for="forgotPwdEmail">
														<sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>Email/Phone Number</label>

													<input type="text" name="forgotPwdEmail" class="form-control" id="forgotPwdEmail" ng-model="forgotPwdEmail" placeholder="Enter Email/Phone Number"
													 required ng-pattern='/^((([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,}))|((^0-5$)|(^[6-9]\d{0,9}))$/i'>

													<!--<input type="email" class="form-control" id="eai_email" placeholder="Enter Email-Id" name="eai_email">-->

												</div>


											</div>

											<button type="submit" class="btn btn-default register_submit" id="back_edit_info" ng-click="backToLogin()">&lt;&lt; Back to Login</button>

											<button class="btn btn-default register_submit" id="save_edit_info" ng-click="forgotPaswd(forgotPwdEmail)">Submit</button>



										</form>

									</div>

								</div>

							</div>

						</div>

					</div>

					<!-- edit account information start here -->

				</div>

				<!--  account dashboard page end here -->



			</div>

		</div>

	</div>

	 <!-- Total footer start here-->
	 <div class="ttl_footer1">
		<!-- footer1 start here -->
		<!-- <footer ng-controller="homeController" class="footerbar footer">
			<div class="container1">
				<div class="row">
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
						<div class="row">
							<a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
							<div class="row row1" id="ftr_ss">
								<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
									<ul>
										<h5 id="footer_linksss">
											<b>POWERTEX TOOLS</b>
										</h5>
										<li id="footer_links_valuess">
											<a href="aboutus.html" class="footerText"> ABOUT US</a>
										</li>
									</ul>
								</div>
	
								<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
									<ul>
										<h5 id="footer_linksss">
											<b>CONTACT US</b>
										</h5>
										<li id="footer_links_valuess">
											<span style="margin-left: 5px;">
												<i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
											</span>
											<span class="footerText1 footer_links_addere">
												<span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
												<span style="margin-left: 25px;"> Bahadurpura,</span>
												<br/>
												<span style="margin-left: 25px;">500064,</span>
												<br/>
												<span style="margin-left: 25px;">Hyderabad,</span>
												<br/>
												<span style="margin-left: 25px;">Telangana.</span>
												<br/>
											</span>
										</li>
										<li id="footer_links_valuess">
											<span style="padding-right:5px;">
												<i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
											</span>
											<span>
												<b class="font_size">EMAIL: </b>
												<a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
													info@powertextools.com </a>
											</span>
										</li>
										<li id="footer_links_valuess">
											<span style="padding-right:5px;">
												<i class="fa fa-phone" aria-hidden="true" id="enve"></i>
											</span>
											<span>
												<b class="font_size">PHONE: </b>
												<a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
											</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer> -->
		<!-- footer1 end here -->
	
		<!-- footer2 start here -->
		<footer  class="footerbar1 footer" id="new_ftr">
			<div class="container1">
				<div class="row row1" style="padding:10px 0;color:white;">
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
								<span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
							</div>
							<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
								<i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
								<i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
								<i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
								<i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
								<i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer2 end here -->
	</div>
	<!-- Total footer end here-->

	
	<div id="forgotOtpModal" class="modal fade">

		<div class="modal-dialog">

			<div class="modal-content">
				

				<div class="modal-header"></div>

				<div class="modal-body" align="middle">

					Enter OTP

					<input type="number" name="otp" class="form-control" id="otp" ng-model="otp" placeholder="Enter OTP">
					<span style="color:red" ng-show="error">Please enter OTP</span>
					<!-- <input type="number" value="otp" ng-model="otp"> -->
				</div>



				<div class="modal-footer">


					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="text-left">
							<a href="#" tabindex="5" class="forgot-password" ng-click="resendForgotOTP()">Resend OTP</a>
						</div>

					</div>


					<button class="btn btn-primary modalBtn" ng-click="otpForgotPwd(otp)">OK</button>
				</div>

			</div>

		</div>

	</div>

</div>