<!-- Reset Pwd Modal start here -->
<div ng-controller="forgetPassword">
    <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
        <button type="button" class="close" ng-click="close();" aria-label="Close">
            <span class="clr_black1" aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title theme_color uppercase" id="myModalLabel" ng-if="!otpShow && !emailSent">Retrieve your Password here</h4>
        <h4 class="modal-title theme_color uppercase" id="myModalLabel" ng-if="otpShow"> Enter OTP</h4>
    </div>
    <form name="frgotpswdForm">
        <div class="quan-disc-table" ng-if="!otpShow && !emailSent">
            <div>
                <p style="color: #8f8d8d;">Please enter your email address below. You will recieve a link to reset your password.</p>
            </div>
            <label for="forgotPwdEmail">
                <sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>Email/Phone Number</label>
            <input type="text" name="forgotPwdEmail" class="form-control" id="forgotPwdEmail" ng-model="forgotPwdemail.email" placeholder="Enter Email/Phone Number"
              ng-pattern='/^((([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,}))|((^0-5$)|(^[6-9]\d{0,9}))$/i'>
             <span  style="color:red" ng-show="errorShow">Please Enter Valid Email/Phone.
            </span>
           
        </div>
        
        <div ng-if="otpShow">
            <input type="number" name="otp" class="form-control" id="otp" ng-model="forgotPwdotp.otp" placeholder="Enter OTP">
            <span style="color:red" ng-show="otperror">Please enter OTP</span>

        </div>
        <div ng-if="emailSent">
            <div align="middle">
                <img src="images/completed_icon.png" class="pop_image" />
                <br />
                <span class="completed_styles theme_color">Email sent Successfully!</span>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn theme_bgclr" ng-click="close();">OK</button>
            </div>
        </div>


        <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
            <button type="submit" class="btn btn-default register_submit pull-left" id="back_edit_info" ng-click="backToLogin()" ng-if="!otpShow && !emailSent ">&lt;&lt; Back to Login</button>
            <button class="btn btn-default register_submit" id="save_edit_info" ng-click="forgotPaswd(forgotPwdemail.email)" ng-if="!otpShow && !emailSent">Submit</button>

            <button type="submit" class="btn btn-default register_submit pull-left forgot-password" ng-click="resendForgotOTP()" ng-if="otpShow">Resend OTP</button>
            <button class="btn btn-primary modalBtn" ng-click="otpForgotPwd(forgotPwdotp.otp)" ng-if="otpShow">OK</button>

        </div>
    </form>
</div>
<!-- Reset Pwd Modal end here -->

<!--start  otp modal-->
<!-- <div>
<div class="modal-header"></div>

<div class="modal-body" align="middle">

    Enter OTP

    <input type="number" name="otp" class="form-control" id="otp" ng-model="otp" placeholder="Enter OTP">
    <span style="color:red" ng-show="error">Please enter OTP</span>

</div>



<div class="modal-footer">


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="text-left">
            <a href="#" tabindex="5" class="forgot-password" ng-click="resendForgotOTP()">Resend OTP</a>
        </div>

    </div>


    <button class="btn btn-primary modalBtn" ng-click="otpForgotPwd(otp)">OK</button>
</div>
</div> -->

<!--end otp modal-->


<!-- Email send successfully modal start here -->
<!-- <div class="modal-content">
    <div class="modal-header align_center">
        <img src="images/powertex_logo.png"/>
    </div>
    <div class="modal-body" align="middle">
        <div>
            <img src="images/completed_icon.png" class="pop_image"/>
            <br/>
            <span class="completed_styles theme_color">Email sent Successfully!</span>
            <br/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn theme_bgclr" ng-click="close();">OK</button>
    </div>
</div> -->
<!-- Email send successfully modal end here -->