<!-- <style>
    .exclude_gst_lak {
        float: left;
        font-weight: bold;
        color: #230f3e;
        font-size: 11px;
    }

    .price-percentage {
        color: #388e3c;
    }

    .price_latest {
        font-size: 18px;
        font-weight: 500;
        padding-top: 4px;
        color: #293071;
    }

    .product-price {
        line-height: 1.5;
        height: 65px;
        text-align: center;
    }

    a:focus,
    a:hover {
        color: #be393d;
    }
</style> -->


<script>
    var amountScrolled = 300;
    $(window).scroll(function () {
        if ($(window).scrollTop() > amountScrolled) {
            $('#yttotop').fadeIn('slow');
        } else {
            $('#yttotop').fadeOut('slow');
        }
    });

    $('#yttotop').click(function () {
        $('html, body').animate({
            scrollTop: 0
        }, 700);
        return false;
    });


</script>



<div class="container-fulid" id="categoryPage" ng-controller="homeController" dw-loading="sample-1">
    <!--  main banner part start here  -->




    <div class="row" style="margin-top: -49px;margin-bottom: -20px;">
        <div class="new_menu" id="menu_sri_header" style="margin-top: -1px" ng-if="dashboard">
            <nav class="navbar navbar-inverse srinavbarmenu" role="navigation" id="nav_head_menu">
                <div class="container1">
                    <div class="navbar-header">
                        <span class="categories_name">Categories</span>
                        <button type="button" class="navbar-toggle sr_icon_img" data-toggle="collapse" data-target="#multi-level-dropdown">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="multi-level-dropdown">
                        <ul class="nav navbar-nav">
                            <li class="dropdown focusDrpdwn" ng-repeat="category in categoryData track by $index">
                                <a href="#" class="dropdown-toggle fcs" data-toggle="dropdown" title="{{category.categoryname | titleCase}}">
                                    <span class="selected_clr">{{category.categoryname | titleCase}}</span>
                                    <b class="caret"></b>
                                </a>

                                <ul class="dropdown-content" ng-if="category.subcategoryname.length > 0">
                                    <div class="container1" style="border: 1px solid #ddd;border-radius: 5px;overflow: hidden;box-shadow: 3px 3px 5px #dadada;background:#efecec;padding: 5px 10px 10px 20px;">
                                        <li class="column" ng-repeat="subCategory in category.subcategoryname" ng-click="subCategoryMethod(subCategory.subcategory,category.categoryname)">
                                            <a href="" title="{{subCategory.subcategory | titleCase }}">{{subCategory.subcategory | titleCase }}</a>
                                        </li>
                                    </div>
                                </ul>

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right:1px;padding-left: 1px;box-shadow:3px 3px 8px #ddd;">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div ng-repeat="img in bannerArray" ng-class="$index===1?'item active':'item'">
                        <img ng-src="{{img.image_url}}">
                        <div class="header-text hidden-xs">
                            <div class="col-md-12 text-center">
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
    <!--  main banner part end here  -->
    <div loading></div>



    <div class="container1 mbl_side_mar">
        <!-- top brand start here -->
        <!-- <div class="" style="background: #fff;margin-left: -15px;margin-right: -15px;box-shadow: 3px 3px 8px #ddd;margin-top: 20px;">
            <div class='row home_brands' ng-if="topBrandsArray.length>0">
                <div class="col-md-12">
                    <div class="col-md-2" style="background-image: url(images/orange.jpg);background-position: 0px bottom;">
                        <div class="" style="padding-bottom: 20px;text-align:center;">
                            <h2 style="font-size:15px;font-weight:700;text-align: center;color:#383838;text-transform: uppercase;">Top Brands</h2>
                            <button id="all-collections-shoe-more-btn" ng-click="goToTopBrands()" class="allhomebtn" style="height: 35px;width: 100px;background: #293071;color: #fff;box-shadow: 4px 4px 10px #c88f28;border: none;">View All</button>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <slick settings="slickConfigBrands" slides-to-show="6" ng-if="topBrandsArray" slides-to-scroll="1" class="brands-slick">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6" ng-repeat="brand in topBrandsArray">
                                <div class="coll-gallery1">
                                    <div class="coll-gallery_img1 img mg-image1 brands_img_w">
                                        <div>
                                            <a><img ng-src="{{brand.image_url}}" ng-click="getCategoryBasedOnBrands(brand)" alt="{{brand.name}}" title="{{brand.name}}"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </slick>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- /top brand end here -->

        <!-- emerging brand start here -->
        <!-- <div class="" style="background: #fff;margin-left: -15px;margin-right: -15px;box-shadow: 3px 3px 8px #ddd;margin-top: 20px;">
            <div class='row home_brands' ng-if="emergingBrandsArray.length>0">
                <div class="col-md-12">
                    <div class="col-md-2" style="background-image: url(images/orange.jpg);background-position: 0px bottom;">
                        <div class="" style="padding-bottom: 20px;text-align:center;">
                            <h2 style="font-size:15px;font-weight:700;text-align: center;color:#383838;text-transform: uppercase;">Emerging Brands</h2>
                            <button id="all-collections-shoe-more-btn" ng-click="goToEmergingBrands()" class="allhomebtn" style="height: 35px;width: 100px;background: #293071;color: #fff;box-shadow: 4px 4px 10px #c88f28;border: none;">View All</button>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <slick settings="slickConfigBrands" slides-to-show="6" ng-if="emergingBrandsArray" slides-to-scroll="1" class="brands-slick">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6" ng-repeat="ebrand in emergingBrandsArray">
                                <div class="coll-gallery1">
                                    <div class="coll-gallery_img1 img mg-image1 brands_img_w">
                                        <div>
                                            <a><img ng-src="{{ebrand.image_url}}" ng-click="getCategoryBasedOnBrands(ebrand)" alt="{{ebrand.name}}" title="{{ebrand.name}}"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </slick>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- emerging brand end here -->

        <!-- Tabs products start here -->
        <div class="row" style="margin-top: 2%;">
            <!-- offers part start heree -->
            <div class="collections-wrap" id="offerswrap">
                <div class="block-title">
                    <tabset class="nav nav-tabs" style="background: #fff;box-shadow: 3px 3px 8px #ddd;">

                        <!-- <span class="home_ofrs">OFFERS</span> -->
                        <tab class="active pull-right tabPane" heading="ALL PRODUCTS" ng-click="getoffersData('')">
                            <div class="tab-pane fade in active" id="allproducts">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div ng-if="offersdata.length == 0" style="text-align: center;" class="mg-image1 ">
                                            <!-- <img src="images/noImages.png">
                                            <br> -->
                                            <h2 style="font-size: 20px;font-weight: 700;color: #be393d;">Products are not Available</h2>
                                            <i class="fa fa-file-text" aria-hidden="true" style="font-size: 150px;color: #e4e4e4;"></i>
                                            <!-- <h3 style="color:#232f3e;">Products are not Available</h3> -->
                                        </div>
                                        <div id="carousel-example">
                                            <div class="carousel-inner">
                                                <div class="row">
                                                    <div class="col-md-12 padd_t_b_20">
                                                        <div class="col-md-2 side-title_bkp" ng-if="offersdata.length != 0">
                                                            <div class="products_rack">
                                                                <h2>OFFERS</h2>
                                                                <button class="" ng-click="offers_products_page()">View All</button>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-2 col-xs-12 col-lg-2" ng-repeat="product in offersdata | limitTo:5 track by $index ">
                                                            <div class="sub-item respl-item">
                                                                <div class="item-inner">

                                                                    <div class="product-image">
                                                                        <div class="product-img mg-image1" title="{{product.productname}}">
                                                                            <i ng-if="product.status == 'In wishlist' && !dashboard" class="fa fa-heart wishlist_styles" style="color: #ff6161" aria-hidden="true"
                                                                                ng-click="addToWishListData1(product,'false')"></i>
                                                                            <i ng-if="product.status != 'In wishlist' && !dashboard" class="fa fa-heart wishlist_styles" aria-hidden="true" ng-click="addToWishListData1(product,'true')"></i>
                                                                            <img ng-click="getnewProductDetails(product)" class="small-image pdt-img-small" err-src="images/noproducts.png"
                                                                                ng-src="{{product.image}}"
                                                                                alt="{{product.productname}}" title="{{product.productname}}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="product-info">
                                                                        <div class="product-name" ng-init="limit = 25">
                                                                            <a ng-click="getnewProductDetails(product)" href="" ng-right-click="newTab(product)" title="{{product.productname}}">
                                                                                {{product.productname | limitTo: limit}}{{product.productname .length > limit ? '. . .' : ''}}
                                                                            </a>
                                                                        </div>
                                                                        <div class="product-price">
                                                                            <div class="price-box">
                                                                                <div class="offer">
                                                                                    <span class="old-price">
                                                                                        <span class="price" id="old-price-507_b">{{product.mrp | currency:'&#8377;'}}</span>
                                                                                        <span class="price-percentage">{{product.discount}}% Off</span>
                                                                                    </span>
                                                                                    <br/>
                                                                                    <span class="price_latest">{{product.disc_price | currency:'&#8377;'}}</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="clear-left_detailed homecrt" id="homecarts">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>

                        <!-- <span class="home_ofrs">OFFERS</span> -->
                        <tab heading="ELECTRIC DRILL" class="pull-right tabPane" ng-click="getoffersData('Electric Drill')">
                            <div class="tab-pane" id="electricdrill">
                                <div class="container12">
                                    <div class="row">
                                        <div ng-if="offersdata.length == 0" style="text-align: center;" class="mg-image1 ">
                                            <!-- <img src="images/noImages.png">
                                            <br> -->
                                            <h2 style="font-size: 20px;font-weight: 700;color: #be393d;">Products are not Available</h2>
                                            <i class="fa fa-file-text" aria-hidden="true" style="font-size: 150px;color: #e4e4e4;"></i>
                                            <!-- <h3 style="color:#232f3e;">Products are not Available</h3> -->
                                        </div>
                                        <div class="carousel-inner">
                                            <div class="row">
                                                <div class="col-md-12 padd_t_b_20">
                                                    <div class="col-md-2 side-title_bkp" ng-if="offersdata.length != 0">
                                                        <div class="products_rack">
                                                            <h2>OFFERS</h2>
                                                            <button class="" ng-click="offers_products_page()">View All</button>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-2 col-xs-12 col-lg-2" ng-repeat="electricdrill in offersdata | limitTo:5 track by $index ">
                                                        <div class="sub-item respl-item">
                                                            <div class="item-inner">

                                                                <div class="product-image">
                                                                    <a class="product-img mg-image1 " title="{{electricdrill.productname}}">
                                                                        <i ng-if="electricdrill.status == 'In wishlist' && !dashboard" class="fa fa-heart wishlist_styles" style="color: #ff6161"
                                                                            aria-hidden="true" ng-click="addToWishListData1(electricdrill,'false')"></i>
                                                                        <i ng-if="electricdrill.status != 'In wishlist' && !dashboard" class="fa fa-heart wishlist_styles" aria-hidden="true" ng-click="addToWishListData1(electricdrill,'true')"></i>
                                                                        <img ng-click="getnewProductDetails(electricdrill)" class="small-image pdt-img-small" err-src="images/noproducts.png"
                                                                            ng-src="{{electricdrill.image}}"
                                                                            alt="{{electricdrill.productname}}" title="{{electricdrill.productname}}">
                                                                    </a>
                                                                </div>
                                                                <div class="product-info">
                                                                    <div class="product-name" ng-init="limit = 25">
                                                                        <a ng-click="getnewProductDetails(electricdrill)" title="{{electricdrill.productname}}">
                                                                            {{electricdrill.productname | limitTo: limit}}{{electricdrill.productname .length > limit ? ' . . .' : ''}}
                                                                        </a>
                                                                    </div>
                                                                    <div class="product-price">
                                                                        <div class="price-box">
                                                                            <div class="offer">
                                                                                <span class="old-price">
                                                                                    <span class="price" id="old-price-507_b">{{electricdrill.mrp | currency:'&#8377;'}}</span>
                                                                                    <span class="price-percentage">{{electricdrill.discount}}% Off</span>
                                                                                </span>
                                                                                <br/>
                                                                                <span class="price_latest">{{electricdrill.disc_price | currency:'&#8377;'}}</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="clear-left_detailed homecrt" id="homecarts">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>

                        <!-- <span class="home_ofrs">OFFERS</span> -->
                        <tab heading="ANGLE GRINDER" class="pull-right tabPane" ng-click="getoffersData('Angle Grinder')">
                            <div class="tab-pane" id="anglegrinder">
                                <div class="row">
                                    <div ng-if="offersdata.length == 0" style="text-align: center;" class="mg-image1 ">
                                        <!-- <img src="images/noImages.png">
                                    <br> -->
                                        <h2 style="font-size: 20px;font-weight: 700;color: #be393d;">Products are not Available</h2>
                                        <i class="fa fa-file-text" aria-hidden="true" style="font-size: 150px;color: #e4e4e4;"></i>
                                        <!-- <h3 style="color:#232f3e;">Products are not Available</h3> -->
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="row">
                                            <div class="col-md-12 padd_t_b_20">
                                                <div class="col-md-2 side-title_bkp" ng-if="offersdata.length != 0">
                                                    <div class="products_rack">
                                                        <h2>OFFERS</h2>
                                                        <button class="" ng-click="offers_products_page()">View All</button>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-2 col-xs-12 col-lg-2" ng-repeat="anglegrinder in offersdata | limitTo:5 track by $index ">
                                                    <div class="sub-item respl-item">
                                                        <div class="item-inner">
                                                            <div class="product-image">
                                                                <a class="product-img mg-image1 " title="{{anglegrinder.productname}}">
                                                                    <i ng-if="anglegrinder.status == 'In wishlist' && !dashboard" class="fa fa-heart wishlist_styles" style="color: #ff6161"
                                                                        aria-hidden="true" ng-click="addToWishListData1(anglegrinder,'false')"></i>
                                                                    <i ng-if="anglegrinder.status != 'In wishlist' && !dashboard" class="fa fa-heart wishlist_styles" aria-hidden="true" ng-click="addToWishListData1(anglegrinder,'true')"></i>
                                                                    <img ng-click="getnewProductDetails(anglegrinder)" class="small-image pdt-img-small" err-src="images/noproducts.png"
                                                                        ng-src="{{anglegrinder.image}}" alt="{{anglegrinder.productname}}"
                                                                        title="{{anglegrinder.productname}}">
                                                                </a>
                                                            </div>
                                                            <div class="product-info">
                                                                <div class="product-name" ng-init="limit = 25">
                                                                    <a ng-click="getnewProductDetails(anglegrinder)" title="{{anglegrinder.productname}}">
                                                                        {{anglegrinder.productname | limitTo: limit}}{{anglegrinder.productname .length > limit ? ' . . .' : ''}}
                                                                    </a>
                                                                </div>
                                                                <div class="product-price">
                                                                    <div class="price-box">
                                                                        <div class="offer">
                                                                            <span class="old-price">
                                                                                <span class="price" id="old-price-507_b">{{anglegrinder.mrp | currency:'&#8377;'}}</span>
                                                                                <span class="price-percentage">{{anglegrinder.discount}}% Off</span>
                                                                            </span>
                                                                            <br/>
                                                                            <span class="price_latest">{{anglegrinder.disc_price | currency:'&#8377;'}}</span>
                                                                        </div>
                                                                    </div>
                                                                    <!-- <div class="clear-left_detailed homecrt" id="homecarts">
                                                                </div> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>

                        <!-- <span class="home_ofrs">OFFERS</span> -->
                        <tab heading="IMPACT DRILL" class="pull-right tabPane" ng-click="getoffersData('Impact Drill')">
                            <div class="tab-pane" id="impactdrill">
                                <div class="container12">
                                    <div class="row">
                                        <div ng-if="offersdata.length == 0" style="text-align: center;" class="mg-image1 ">
                                            <!-- <img src="images/noImages.png">
                                            <br> -->
                                            <h2 style="font-size: 20px;font-weight: 700;color: #be393d;">Products are not Available</h2>
                                            <i class="fa fa-file-text" aria-hidden="true" style="font-size: 150px;color: #e4e4e4;"></i>
                                            <!-- <h3 style="color:#232f3e;">Products are not Available</h3> -->
                                        </div>
                                        <div class="carousel-inner">
                                            <div class="row">
                                                <div class="col-md-12 padd_t_b_20">
                                                    <div class="col-md-2 side-title_bkp" ng-if="offersdata.length != 0">
                                                        <div class="products_rack">
                                                            <h2>OFFERS</h2>
                                                            <button class="" ng-click="offers_products_page()">View All</button>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-2 col-xs-12 col-lg-2" ng-repeat="impactdrill in offersdata | limitTo:5 track by $index ">
                                                        <div class="sub-item respl-item">
                                                            <div class="item-inner">
                                                                <div class="product-image">
                                                                    <a class="mg-image1  product-img" title="{{impactdrill.productname}}">
                                                                        <i ng-if="impactdrill.status == 'In wishlist' && !dashboard" class="fa fa-heart wishlist_styles" style="color: #ff6161" aria-hidden="true"
                                                                            ng-click="addToWishListData1(impactdrill,'false')"></i>
                                                                        <i ng-if="impactdrill.status != 'In wishlist' && !dashboard" class="fa fa-heart wishlist_styles" aria-hidden="true" ng-click="addToWishListData1(impactdrill,'true')"></i>
                                                                        <img ng-click="getnewProductDetails(impactdrill)" class="small-image pdt-img-small" err-src="images/noproducts.png"
                                                                            ng-src="{{impactdrill.image}}"
                                                                            alt="{{impactdrill.productname}}" title="{{impactdrill.productname}}">
                                                                    </a>
                                                                </div>
                                                                <div class="product-info">
                                                                    <div class="product-name" ng-init="limit = 25">
                                                                        <a ng-click="getnewProductDetails(impactdrill)" title="{{impactdrill.productname}}">
                                                                            {{impactdrill.productname | limitTo: limit}}{{impactdrill.productname .length > limit ? ' . . .' : ''}}
                                                                        </a>
                                                                    </div>
                                                                    <div class="product-info">
                                                                        <div class="product-price">
                                                                            <div class="price-box">
                                                                                <div class="offer">
                                                                                    <span class="old-price">
                                                                                        <span class="price" id="old-price-507_b">{{impactdrill.mrp | currency:'&#8377;'}}</span>
                                                                                        <span class="price-percentage">{{impactdrill.discount}}% Off</span>
                                                                                    </span>
                                                                                    <br/>
                                                                                    <span class="price_latest">{{impactdrill.disc_price | currency:'&#8377;'}}</span>
                                                                                </div>
                                                                            </div>
                                                                            <!-- <div class="clear-left_detailed homecrt" id="homecarts">
                                                                        </div> -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>

                    </tabset>
                </div>
            </div>
            <!-- offers part end heree -->

            <!-- new arraivals part start heree -->
            <div class="collections-wrap">
                <div class="block-title">
                    <tabset class="nav nav-tabs" style="background: #fff;box-shadow: 3px 3px 8px #ddd;margin-top: 10px;">

                        <!-- <span class="home_ofrs">NEW ARRIVALS</span> -->
                        <tab class="active pull-right tabPane" heading="ALL PRODUCTS" ng-click="getnewArrivalData('')">
                            <div class="tab-pane fade in active" id="allProducts1">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div ng-if="newarrivalsData.length == 0" style="text-align: center;" class="mg-image1 ">
                                            <!-- <img src="images/noImages.png">
                                            <br> -->
                                            <h2 style="font-size: 20px;font-weight: 700;color: #be393d;">Products are not Available</h2>
                                            <i class="fa fa-file-text" aria-hidden="true" style="font-size: 150px;color: #e4e4e4;"></i>
                                            <!-- <h3 style="color:#232f3e;">Products are not Available</h3> -->
                                        </div>
                                        <div class="carousel-inner">
                                            <div>
                                                <div class="row">
                                                    <div class="col-md-12 padd_t_b_20">
                                                        <div class="col-md-2 side-title_bkp" ng-if="newarrivalsData.length != 0">
                                                            <div class="products_rack">
                                                                <h2>NEW ARRIVALS</h2>
                                                                <button class="" ng-click="newArraivals_page()">View All</button>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-xs-12 col-lg-2 col-md-2" ng-repeat="newarrival in newarrivalsData | limitTo:5 track by $index ">
                                                            <div class="sub-item respl-item">
                                                                <div class="item-inner">

                                                                    <div class="product-image">
                                                                        <a class="mg-image1  product-img" title="{{newarrival.productname}}">
                                                                            <i ng-if="newarrival.status == 'In wishlist' && !dashboard" class="fa fa-heart wishlist_styles" style="color: #ff6161" aria-hidden="true"
                                                                                ng-click="addToWishListData1(newarrival,'false')"></i>
                                                                            <i ng-if="newarrival.status != 'In wishlist' && !dashboard" class="fa fa-heart wishlist_styles" aria-hidden="true" ng-click="addToWishListData1(newarrival,'true')"></i>
                                                                            <img ng-click="getnewProductDetails(newarrival)" class="small-image pdt-img-small" err-src="images/noproducts.png"
                                                                                ng-src="{{newarrival.image}}"
                                                                                alt="{{newarrival.productname}}" title="{{newarrival.productname}}">
                                                                        </a>
                                                                    </div>
                                                                    <div class="product-info">
                                                                        <div class="product-name" ng-init="limit = 25">
                                                                            <a ng-click="getnewProductDetails(newarrival)" title="{{newarrival.productname}}">
                                                                                {{newarrival.productname | limitTo: limit}}{{newarrival.productname .length > limit ? ' . . .' : ''}}
                                                                            </a>
                                                                        </div>
                                                                        <div class="product-price">
                                                                            <div class="price-box">
                                                                                <div class="offer">
                                                                                    <span class="old-price">
                                                                                        <span class="price" id="old-price-507_b">{{newarrival.upload_mrp | currency:'&#8377;'}}</span>
                                                                                        <span class="price-percentage">{{newarrival.percentage}}% Off</span>
                                                                                    </span>
                                                                                    <br/>
                                                                                    <span class="price_latest">{{newarrival.enduser_price | currency:'&#8377;'}}</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!-- <div class="clear-left_detailed homecrt" id="homecarts">
                                                                    </div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>

                        <!-- <span class="home_ofrs">NEW ARRIVALS</span> -->
                        <tab heading="DEMOLITION HAMMER" class="pull-right tabPane" ng-click="getnewArrivalData('Demolition Hammer')">
                            <div class="tab-pane " id="demoltionHammer">
                                <div class="container12">
                                    <div class="row">
                                        <div ng-if="newarrivalsData.length == 0" style="text-align: center;" class="mg-image1 ">
                                            <!-- <img src="images/noImages.png">
                                            <br> -->
                                            <h2 style="font-size: 20px;font-weight: 700;color: #be393d;">Products are not Available</h2>
                                            <i class="fa fa-file-text" aria-hidden="true" style="font-size: 150px;color: #e4e4e4;"></i>
                                            <!-- <h3 style="color:#232f3e;">Products are not Available</h3> -->
                                        </div>
                                        <div>
                                            <div class="carousel-inner">
                                                <div class="row">
                                                    <div class="col-md-12 padd_t_b_20">
                                                        <div class="col-md-2 side-title_bkp" ng-if="newarrivalsData.length != 0">
                                                            <div class="products_rack">
                                                                <h2>NEW ARRIVALS</h2>
                                                                <button class="" ng-click="offers_products_page()">View All</button>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-xs-12 col-lg-2 col-md-2" ng-repeat="demolitionhammer in newarrivalsData | limitTo:5 track by $index ">
                                                            <div class="sub-item respl-item">
                                                                <div class="item-inner">

                                                                    <div class="product-image">
                                                                        <a class="product-img mg-image1 " title="{{demolitionhammer.productname}}">
                                                                            <i ng-if="demolitionhammer.status == 'In wishlist' && !dashboard" class="fa fa-heart wishlist_styles" style="color: #ff6161"
                                                                                aria-hidden="true" ng-click="addToWishListData1(demolitionhammer,'false')"></i>
                                                                            <i ng-if="demolitionhammer.status != 'In wishlist' && !dashboard" class="fa fa-heart wishlist_styles" aria-hidden="true"
                                                                                ng-click="addToWishListData1(demolitionhammer,'true')"></i>
                                                                            <img ng-click="getProductDetails(demolitionhammer)" class="small-image pdt-img-small" err-src="images/noproducts.png"
                                                                                ng-src="{{demolitionhammer.image}}"
                                                                                alt="{{demolitionhammer.productname}}" title="{{demolitionhammer.productname}}">
                                                                        </a>
                                                                    </div>
                                                                    <div class="product-info">
                                                                        <div class="product-name" ng-init="limit = 25">
                                                                            <a ng-click="getProductDetails(demolitionhammer)" title="{{demolitionhammer.productname}}">
                                                                                {{demolitionhammer.productname | limitTo: limit}}{{demolitionhammer.productname .length > limit ? ' . . .' : ''}}
                                                                            </a>
                                                                        </div>
                                                                        <div class="product-price">
                                                                            <div class="price-box">
                                                                                <div class="offer">
                                                                                    <span class="old-price">
                                                                                        <span class="price" id="old-price-507_b">{{demolitionhammer.upload_mrp
                                                                                            | currency:'&#8377;'}}</span>
                                                                                        <span class="price-percentage">{{demolitionhammer.discount}}% Off</span>
                                                                                    </span>
                                                                                    <br/>
                                                                                    <span class="price_latest">{{demolitionhammer.enduser_price | currency:'&#8377;'}}</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!-- <div class="clear-left_detailed homecrt" id="homecarts">
                                                                     </div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>

                    </tabset>
                </div>
            </div>
            <!-- new arraivals part end heree -->
        </div>
        <!-- Tabs products end here -->

        <!-- advertisement part start here -->
        <!-- <div class="" ng-hide="true" style="background: #fff;box-shadow: 3px 3px 8px #ddd;margin-top: 40px;padding: 20px 10px;">
        <div class='row'>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div>
                        <img src="images/1.jpg" style="width:100%;">
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="images/2.jpg" style="width:100%;">
                </div>
                <div class="col-md-4">
                    <img src="images/3.jpg" style="width:100%;">
                </div>
            </div>
        </div>
    </div> -->
        <!-- advertisement part end here -->
    </div>


    <!-- Modal add user -->
    <div class="modal fade" id="AddCustomer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add Customer</h4>
                </div>
                <form action="#" method="post" accept-charset="utf-8" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="CustomerName">First Name</label>
                            <input type="text" name="name" class="form-control" id="CustomerfirstName" placeholder="Customer First Name">
                        </div>
                        <div class="form-group">
                            <label for="CustomerName">Last Name</label>
                            <input type="text" name="name" class="form-control" id="CustomerlastName" placeholder="Customer Last Name">
                        </div>
                        <div class="form-group">
                            <label for="CustomerPhone">Phone</label>
                            <input type="text" name="phone" class="form-control" id="CustomerPhone" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <label for="CustomerEmail">Email</label>
                            <input type="email" name="email" class="form-control" id="CustomerEmail" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="CustomerDiscount">Discount</label>
                            <input type="text" name="discount" class="form-control" id="CustomerDiscount" placeholder="Discount">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-add">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="addedToCart" class="modal fade" ng-controller="homeController">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body" align="middle">
                    Added to Cart Successfully!
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary modalBtn" ng-click="closeModal()">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div id="addedToCompareProducts" class="modal fade" ng-controller="homeController">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body" align="middle">
                    Added to Compare Products Successfully!
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary modalBtn" ng-click="closeModal()">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="outOfQty" class="modal fade" ng-controller="homeController">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body" align="middle">
                    Only {{avlQty}} are left!
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary modalBtn" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div> -->


    <div id="outOfQty" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header align_center">
                    <img src="images/powertex_logo.png" />
                </div>
                <div class="modal-body" align="middle">
                    <!-- RFQ No. {{rfq_no}} Generated Successfully! -->
                    <div>
                        <img src="images/completed_icon.png" class="pop_image" />
                        <br/>
                        <span class="completed_styles theme_color">Only</span>
                        <span class="completed_styles clr_orange">{{avlQty}}</span>

                        <span class="completed_styles theme_color">are left!</span>
                        <br/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn theme_bgclr" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div id="addedToWishList" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header align_center">
                    <img src="images/powertex_logo.png" />
                </div>
                <div class="modal-body" align="middle">
                    <!-- RFQ No. {{rfq_no}} Generated Successfully! -->
                    <div>
                        <img src="images/completed_icon.png" class="pop_image" />
                        <br/>

                        <span class="completed_styles theme_color"> Added to Wish List Successfully!</span>
                        <br/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn theme_bgclr" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="addedToWishList" class="modal fade" ng-controller="homeController">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body" align="middle">
                    Added to Wish List Successfully!
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary modalBtn" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div> -->

</div>

<!-- Total footer start here-->
<div class="ttl_footer1">
    <!-- footer1 start here -->
    <footer class="footerbar footer">
        <div class="container1">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <a id="yttotop" href="#" data-target="carousel-example-generic" title="Go to Top" style="display: block;"></a>
                        <div class="row row1" id="ftr_ss">
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                <ul>
                                    <h5 id="footer_linksss">
                                        <b>POWERTEX TOOLS</b>
                                    </h5>
                                    <li id="footer_links_valuess">
                                        <a href="aboutus.html" class="footerText"> ABOUT US</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                <ul>
                                    <h5 id="footer_linksss">
                                        <b>CONTACT US</b>
                                    </h5>
                                    <li id="footer_links_valuess">
                                        <span style="margin-left: 5px;">
                                            <i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span class="footerText1 footer_links_addere">
                                            <span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate,</span>
                                            <span style="margin-left: 25px;"> Bahadurpura,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">500064, Hyderabad, Telangana.</span>
                                            <!-- <br/>
                                            <span style="margin-left: 25px;">Hyderabad,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">Telangana.</span>
                                            <br/> -->
                                        </span>
                                    </li>
                                    <li id="footer_links_valuess">
                                        <span style="padding-right:5px;">
                                            <i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span>
                                            <b class="font_size">EMAIL: </b>
                                            <a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
                                                info@powertextools.com </a>
                                        </span>
                                    </li>
                                    <li id="footer_links_valuess">
                                        <span style="padding-right:5px;">
                                            <i class="fa fa-phone" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span>
                                            <b class="font_size">PHONE: </b>
                                            <a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer1 end here -->

    <!-- footer2 start here -->
    <footer class="footerbar1 footer">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer2 end here -->
</div>
<!-- Total footer end here-->