<div class="container1" ng-controller="adminPanelCntrl">

    <div class="row">
        <ul class="bredcrumb_ul margin_left">
            <li class="bredcrumb_li" ng-click="B2BDashboard()">
                <a>Dashboard</a>
                <span class="slash_bc">/</span>
            </li>
            <li class="bredcrumb_li">
                <a>Internal Users</a>
            </li>
        </ul>
    </div>
    <!-- bradcrumbs end here -->

    <div class="box-head11" style="margin-bottom:5px;">
        <div>Internal Users</div>
    </div>



    <div class="row mar-top-10 theme-bg">

        <div class="panel panel-success">
            <!-- <div class="panel-heading">Internal User</div> -->
            <div class="panel-body">

                <div class="col-md-3">
                    <div class="dist-table-data">
                        <form name="internaluserForm" novalidate>
                            <div class="row mar-btm-10">
                                <label for="userType" class="col-sm-4 col-form-label">User Type</label>
                                <div class="col-sm-8">
                                    <select name="usertype" ng-model="adminRegData.usertype" required ng-change="selectUsertype(adminRegData.usertype)">
                                        <option value="">--Select User Type--</option>
                                        <option value="Admin">Admin</option>
                                        <option value="salesHead">sales-Head</option>
                                        <option value="salesManager">sales-Manager</option>
                                        <option value="Purchase-Manager">Purchase-Manager</option>
                                        <option value="accountant">Accountant</option>
                                        <option value="whManager">WH-Manager</option>
                                    </select>
                                    <div ng-messages="internaluserForm.usertype.$error ">
                                        <p class="validationError errorMsg" ng-show="submitted" ng-message="required">Select
                                            Usertype</p>
                                    </div>
                                    <!-- <input type="text" class="form-control-plaintext" id="userType" ng-model="adminRegData.userType" placeholder="Enter User Type"> -->
                                </div>
                            </div>
                            <div class="row mar-btm-10" ng-if="adminRegData.usertype=='salesManager'">
                                <label for="userType" class="col-sm-4 col-form-label">Assign Accountant</label>
                                <div class="col-sm-8">
                                    <select name="accountant" style="width:147px" title={{adminRegData1.acuser_mail}}
                                        ng-model="adminRegData1.acuser_mail" ng-options="x.user_mail for x in acList"
                                        required ng-change="selectAccountant(adminRegData1.acuser_mail)">
                                        <option value="">--Select--</option>
                                    </select>
                                    <div ng-messages="internaluserForm.accountant.$error ">
                                        <p class="validationError errorMsg" ng-show="submitted" ng-message="required">Select
                                            Account Manager</p>
                                    </div>

                                </div>
                            </div>
                            <div class="row mar-btm-10" ng-if="adminRegData.usertype=='salesManager'">
                                <label for="userType" class="col-sm-4 col-form-label">Assign WH-Manager</label>
                                <div class="col-sm-8">
                                    <select name="wh" style="width:147px" ng-model="adminRegData1.whuser_mail"
                                        ng-change="selectWh(adminRegData1.whuser_mail)" ng-options="x.user_mail for x in whList"
                                        title={{adminRegData.whuser_mail}} required>
                                        <option value="">--Select--</option>
                                    </select>
                                    <div ng-messages="internaluserForm.wh.$error ">
                                        <p class="validationError errorMsg" ng-show="submitted" ng-message="required">Select
                                            Warehouse Manager</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mar-btm-10" ng-if="adminRegData.usertype=='salesManager'">
                                <label for="userType" class="col-sm-4 col-form-label">Branch</label>
                                <div class="col-sm-8">
                                    <select name="branch" style="width:147px" ng-model="adminRegData1.branch" ng-change="selectBranch(adminRegData1.branch)"
                                        ng-options="x.branch for x in branchList" title={{adminRegData.branch}}
                                        required>
                                        <option value="">--Select--</option>
                                    </select>
                                    <div ng-messages="internaluserForm.branch.$error ">
                                        <p class="validationError errorMsg" ng-show="submitted" ng-message="required">Select
                                            Branch</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mar-btm-10">
                                <label for="userName" class="col-sm-4 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" name="name" class="form-control-plaintext" id="userName"
                                        ng-model="adminRegData.userName" placeholder="Enter Name" required
                                        ng-minlength="3" ng-maxlength="50" maxlength="50">
                                    <div ng-messages="internaluserForm.name.$error ">
                                        <p class="validationError errorMsg" ng-show="submitted" ng-message="required">Enter
                                             Name</p>
                                        <p class="validationError errorMsg" ng-message="pattern">Enter Valid Name</p>
                                        <p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3
                                            Characters</p>
                                        <p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50
                                            Characters</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mar-btm-10">
                                <label for="userEmail" class="col-sm-4 col-form-label">Email</label>
                                <div class="col-sm-8">
                                    <input type="email" name="email" class="form-control-plaintext" id="userEmail"
                                        ng-model="adminRegData.userEmail" placeholder="Enter Email" required ng-pattern="/^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/">
                                    <div ng-messages="internaluserForm.email.$error ">
                                        <p class="validationError errorMsg" ng-show="submitted" ng-message="required">Enter
                                            Email Id</p>
                                        <p class="validationError errorMsg" ng-message="pattern">Enter Valid Email</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mar-btm-10">
                                <label for="userPwd" class="col-sm-4 col-form-label">Password</label>
                                <div class="col-sm-8">
                                    <input type="{{inputType}}" name="password" class="form-control-plaintext" id="userPwd"
                                        ng-model="adminRegData.userPwd" placeholder="Enter Password" required>
                                    <p ng-click="toggleShowPassword()" ng-class="{'fa fa-eye': showPassword,'fa fa-eye-slash': !showPassword}"
                                        style="cursor: pointer;margin-left:80%;margin-top:-25px;position:absolute;"></p>
                                    <div ng-messages="internaluserForm.password.$error ">
                                        <p class="validationError errorMsg" ng-show="submitted" ng-message="required">Enter
                                            Password</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row mar-btm-10">
                                <label for="userMobile" class="col-sm-4 col-form-label">Mobile</label>
                                <div class="col-sm-8">
                                    <input type="text" name="mobile" class="form-control-plaintext" id="userMobile"
                                        ng-model="adminRegData.userMobile" placeholder="Enter Mobile" ng-minlength="10"
                                        ng-maxlength="10" maxlength="10" required ng-pattern="/^[6-9][0-9]{9}$/">
                                    <div ng-messages="internaluserForm.mobile.$error ">
                                        <p class="validationError errorMsg" ng-show="submitted" ng-message="required">Enter
                                            Valid Mobile Number</p>
                                        <p class="validationError errorMsg" ng-message="pattern">Enter Valid Mobile
                                            Number</p>
                                        <p class="validationError errorMsg" ng-message="minlength">Mobile Number should
                                            be 10 digits</p>
                                        <p class="validationError errorMsg" ng-message="maxlength">Mobile Number should
                                            be 10 digits</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mar-btm-10">
                                <label for="userMobile" class="col-sm-4 col-form-label">City</label>
                                <div class="col-sm-8">
                                    <input type="text" name="city" class="form-control-plaintext" id="userCity"
                                        ng-model="adminRegData.userCity" placeholder="Enter City" required ng-minlength="3"
                                        ng-maxlength="50" maxlength="50">
                                    <div ng-messages="internaluserForm.city.$error ">
                                        <p class="validationError errorMsg" ng-show="submitted" ng-message="required">Enter
                                            City Name</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row mar-btm-10" ng-if="adminRegData.usertype=='Admin'">
                                <label for="branchCode" class="col-sm-4 col-form-label">Branch Code</label>
                                <div class="col-sm-8">
                                    <input type="text" name="branchCode" class="form-control-plaintext" id="branchCode"
                                        ng-model="adminRegData.branch_code" placeholder="Enter Branch Code" required>
                                    <div ng-messages="internaluserForm.branchCode.$error ">
                                        <p class="validationError errorMsg" ng-show="submitted" ng-message="required">Enter
                                            Branch Code</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row mar-btm-10" ng-if="adminRegData.usertype=='Admin'">
                                <label for="branchName" class="col-sm-4 col-form-label">Branch Name</label>
                                <div class="col-sm-8">
                                    <input type="text" name="branchName" class="form-control-plaintext" id="branchName"
                                        ng-model="adminRegData.branch" placeholder="Enter Branch Name" required>
                                    <div ng-messages="internaluserForm.branchName.$error ">
                                        <p class="validationError errorMsg" ng-show="submitted" ng-message="required">Enter
                                            Branch Name</p>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div>
                            <button type="button" class="btn theme_bgclr" ng-click="submitted=true;internaluserForm.$valid && adminPanelData(adminRegData)">Confirm</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="product_based_list">
                        <table class="table table-bordered pending_order table-striped">
                            <thead class="">
                                <tr>
                                    <th class="txt_centr">S.No</th>
                                    <th class="txt_left">User Type</th>
                                    <th class="txt_left">Name</th>
                                    <th class="txt_left ">Email</th>
                                    <th class="txt_left">Mobile</th>
                                    <th class="txt_left">City</th>
                                    <th class="txt_centr">Action</th>

                                </tr>
                            </thead>
                            <tbody ng-repeat="internalUser in internalUserDetails.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) track by $index">
                                <tr>
                                    <td class="txt_centr">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                    <td class="txt_left">{{internalUser.usertype}}</td>
                                    <td class="txt_left" ng-if="internalUser.usertype=='salesManager'" ng-click="asigned_Mangers(internalUser)">
                                        <a style="color: #337ab7;text-decoration: underline;" href="">{{internalUser.username}}</a>
                                    </td>
                                    <td class="txt_left" ng-if="internalUser.usertype!='salesManager'">{{internalUser.username}}</td>
                                    <td class="txt_left">{{internalUser.user_mail}}</td>
                                    <td class="txt_left">{{internalUser.user_mobile}}</td>
                                    <td class="txt_left">{{internalUser.city}}</td>
                                    <td class="txt_centr" ng-click=removeinternaluser(internalUser,$index)>
                                        <a href="" title="Remove">
                                            <i class="fa fa-times" aria-hidden="true" style="color:#be393d;"></i>
                                        </a>
                                        <!-- <a href="" class="padd_l_5">
                                            <i class="fa fa-edit" aria-hidden="true" style="color:#2983d0;"></i>
                                        </a> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <pagination total-items="totalItems" page="currentPage" class="pagination-sm" items-per-page="itemsPerPage"
                        ng-show="internalUserDetails.length>0"></pagination>
                </div>

            </div>

            <!-- <div class="modal fade" id="assign_mangers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="clr_black1" aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title theme_color uppercase" id="myModalLabel">Assigned Managers</h4>
                        </div>
                        <div class="quan-disc-table">
                            <div>
                                <table class="table table-bordered table-striped pending_order" id="myViewOrders1"
                                    style="margin-top: -5px;">
                                    <thead>
                                        <tr>
                                            <th class="txt_centr">S.No</th>
                                            <th class="txt_left">Accountant</th>
                                            <th class="txt_left">WH-Manager</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myViewOrdersData">

                                        <tr>
                                            <td class="txt_centr">{{$index+1}}</td>
                                            <td class="txt_left" style="text-align: left;">{{ac_Manager}}</td>
                                            <td class="txt_left" style="text-align: left;">{{wh_Manager}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
                            <button type="button" class="btn theme_bgclr" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

    </div>
</div>

<!-- Total footer start here-->
<div class="ttl_footer1">
    <!-- footer1 start here -->
    <!-- <footer ng-controller="homeController" class="footerbar footer">
		<div class="container1">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
						<div class="row row1" id="ftr_ss">
							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>POWERTEX TOOLS</b>
									</h5>
									<li id="footer_links_valuess">
										<a href="aboutus.html" class="footerText"> ABOUT US</a>
									</li>
								</ul>
							</div>

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>CONTACT US</b>
									</h5>
									<li id="footer_links_valuess">
										<span style="margin-left: 5px;">
											<i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
										</span>
										<span class="footerText1 footer_links_addere">
											<span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
											<span style="margin-left: 25px;"> Bahadurpura,</span>
											<br/>
											<span style="margin-left: 25px;">500064,</span>
											<br/>
											<span style="margin-left: 25px;">Hyderabad,</span>
											<br/>
											<span style="margin-left: 25px;">Telangana.</span>
											<br/>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">EMAIL: </b>
											<a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
												info@powertextools.com </a>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-phone" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">PHONE: </b>
											<a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer> -->
    <!-- footer1 end here -->

    <!-- footer2 start here -->
    <footer class="footerbar1 footer" id="new_ftr">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp;
                                Golden Sun Technology.</span>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer2 end here -->
</div>
<!-- Total footer end here-->