<div class="modal-body" align="middle">
    <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="clr_black1" aria-hidden="true" ng-click="close();">×</span>
        </button>
        <h4 class="modal-title theme_color uppercase" id="myModalLabel">Sales Manager Info</h4>
    </div>
    <div class="quan-disc-table">
        <div>
            <table class="table table-bordered table-striped pending_order" id="myViewOrders1" style="margin-top: -5px;">
                <thead>
                    <tr>
                        <th class="txt_centr">S.No</th>
                        <th class="txt_left">Accountant</th>
                        <th class="txt_left">WH-Manager</th>
                    </tr>
                </thead>
                <tbody id="myViewOrdersData">
                    <tr>
                        <td class="txt_centr">{{$index+1}}</td>
                        <!-- <td class="txt_left" style="text-align: left;">{{ac_Manager}} -->
                        <td>
                            <span class="fl-right">
                                <a href="" title="edit" ng-click="openEdit=!openEdit">
                                    <i ng-class="{'fa fa-pencil': !openEdit,'fa fa-edit': openEdit}" aria-hidden="true"
                                        style="color:#2983d0;"></i>
                                    <!-- <i class="fa fa-pencil" aria-hidden="true" style="color:#2983d0;"></i> -->
                                </a>
                            </span>
                            <span ng-if="!openEdit">
                                {{ac_Manager}}
                            </span>

                            <select ng-if="openEdit" name="accountant" style="width:147px" title={{adminRegData1.acuser_mail}}
                                ng-model="acc_maill" ng-options="x.user_mail for x in acList" required ng-change="updateAccManager(acc_maill)">
                                <option value="">--Select--</option>
                            </select>

                        </td>

                        <td>
                            <span class="fl-right">
                                <a href="" title="edit" ng-click="openwHEdit=!openwHEdit">
                                    <i ng-class="{'fa fa-pencil': !openwHEdit,'fa fa-edit': openwHEdit}" aria-hidden="true"
                                        style="color:#2983d0;"></i>
                                    <!-- <i class="fa fa-pencil" aria-hidden="true" style="color:#2983d0;"></i> -->
                                </a>
                            </span>
                            <span ng-if="!openwHEdit">
                                {{wh_Manager}}
                            </span>

                            <select ng-if="openwHEdit" name="wh" style="width:147px" ng-model="whuser_mail" ng-change="updateWhManager(whuser_mail)"
                                ng-options="x.user_mail for x in whList" title={{adminRegData.whuser_mail}} required>
                                <option value="">--Select--</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn theme_bgclr" ng-click="updateManager();">Update
    </button>
</div>