<div class="container1" ng-controller="invoicePreparationController">
    <div class="myaccount_section12_goToCart">
        <div class="dist-table-data" style="margin-top: 10px;padding-top: 1px;">
            <div class="row">
                <div class="col-xs-12">

                    <div class="text-center">
                        <h3 style="color:#232f3e;">Invoice Preparation</h3>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-6 pull-left">
                            <div class="panel height panel_theme">
                                <div class="panel-heading">Billing Details</div>
                                <div ng-repeat="item in invoicePreparationData">


                                    <div class="panel-body">

                                        <div ng-repeat="addr in itemData.billing_address">{{addr}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6 pull-right">
                            <div class="panel height panel_theme">
                                <div class="panel-heading">Shipping Address</div>
                                <div class="panel-body">
                                    <!-- <strong>David Peere:</strong>
                                    <br> 1111 Army Navy Drive
                                    <br> Arlington
                                    <br> VA
                                    <br>
                                    <strong>22 203</strong>
                                    <br> -->
                                    <p ng-repeat="addr in shipping.shipping_address">{{addr}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="box-head11" style="margin-top: 10px;">
                    <h2>PO (Pending)</h2>
                </div>
                <div class="myvieworders-tbl-new1">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped pending_order" id="myViewOrders1">
                            <thead>
                                <tr>
                                    <th class="txt_centr">S.No</th>
                                    <th class="txt_left">RFQ number</th>
                                    <th class="txt_left" ng-if="sales">Dealer Name</th>
                                    <th class="txt_left" ng-if="sales">Dealer City</th>
                                    <th class="txt_left" ng-if="dealer">Sales Manager Name</th>
                                    <th class="txt_left" ng-if="dealer">Sales Manager Mobile</th>
                                    <div ng-if="accountant">
                                        <th class="txt_left">Dealer Name</th>
                                        <th class="txt_left">Dealer City</th>
                                        <th class="txt_left">Sales Manager Name</th>
                                        <th class="txt_left">Sales Manager Mobile</th>
                                    </div>
                                    <th class="txt_left">PO Number</th>
                                    <th class="txt_right">PO Generated Date</th>
                                    <th class="txt_centr" ng-if="dealer">Status</th>
                                    <th class="txt_centr">More Info</th>
                                    <th class="txt_centr" ng-if="accountant">Invoice Preparation</th>
                                </tr>
                            </thead>
                            <tbody id="myViewOrdersData" ng-repeat="item in invoicePreparationList">
                                <tr>
                                    <td class="txt_centr">{{$index+1}}</td>
                                    <td class="txt_left">{{item.rfq_num}}</td>
                                    <td class="txt_left" ng-if="sales">{{item.dealer_name}}</td>
                                    <td class="txt_left" ng-if="sales">{{item.dealer_city}}</td>
                                    <td class="txt_left" ng-if="dealer">{{item.sales_manager}}</td>
                                    <td class="txt_left" ng-if="dealer">{{item.sales_manager_mobile}}</td>
                                    <div ng-if="accountant">
                                        <td class="txt_left">{{item.dealer_name}}</td>
                                        <td class="txt_left">{{item.dealer_city}}</td>
                                        <td class="txt_left">{{item.sales_manager}}</td>
                                        <td class="txt_left">{{item.sales_manager_mobile}}</td>
                                    </div>
                                    <td class="txt_left">{{item.po_num}}</td>
                                    <td class="txt_right">{{item.po_gen_date}}</td>
                                    <td class="txt_centr" ng-if="dealer">{{item.status}}</td>
                                    <td class="txt_centr">
                                        <a href="" class="rfq_mrInfo" ng-click="moreDetails(item)">More Info</a>
                                    </td>
                                    <td class="txt_centr" ng-click="getForInvoicePreparation(item.po_num)" ng-if="accountant">
                                        <a href="">
                                            <i class="fa fa-pencil" aria-hidden="true" style="color:#be393d;"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pen-rfq-dependent-tbl" ng-show="productDetailshow">
                        <div class="box-head11" style="margin-bottom: 8px;">
                            <h2>PO-NUMBER :
                                <span>{{po_num}}</span>
                            </h2>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped pending_order" id="myViewOrders1" style="margin-top: -5px;">
                                <thead>
                                    <tr>
                                        <th class="txt_centr">S.No</th>
                                        <th class="txt_left">Product Name</th>
                                        <th class="txt_left">Model No</th>
                                        <th class="txt_left">Brand</th>
                                        <th class="txt_right">MRP</th>
                                        <th class="txt_right">Qty</th>
                                        <th class="txt_right">Discount (%)</th>
                                        <th class="txt_right">Total</th>
                                        <th class="txt_right">Savings (%)</th>
                                        <th class="txt_centr">Status</th>
                                        <th class="txt_centr" ng-if="dealershow">Status</th>
                                    </tr>
                                </thead>
                                <tbody id="myViewOrdersData">
                                    <tr ng-repeat="item in invoicRfqData | filter:rfqNum track by $index">
                                        <td class="txt_centr">{{$index+1}}</td>
                                        <td class="txt_left">{{item.productname}}</td>
                                        <td class="txt_left">{{item.modelno}}</td>
                                        <td class="txt_left">{{item.brand}}</td>
                                        <td class="txt_right">{{item.mrp}}</td>
                                        <td class="txt_right">{{item.qty}}</td>
                                        <td class="txt_right">{{item.discount}}</td>
                                        <td class="txt_right">{{item.total}}</td>
                                        <td class="txt_right">{{item.savings}}</td>
                                        <td class="txt_centr" ng-if="item.product_status == 'Split'" class="extra-options" href="" data-toggle="modal" data-target="#splitInfoTable"
                                            ng-click="getSplitData(rfqNumber)">
                                            <a href="" class="split_click">{{item.product_status}}</a>
                                        </td>
                                        <td class="txt_centr" ng-if="item.product_status == 'Accept'" title="Accept">
                                            <i class="fa fa-check" aria-hidden="true" style="color:#32bb22;font-size:15px; cursor: text;"></i>
                                            <!--{{item.product_status}}-->
                                        </td>
                                        <td class="txt_centr" ng-if="item.product_status == 'Reject'" title="Reject">
                                            <i class="fa fa-times" aria-hidden="true" style="color:#be393d;font-size:15px; cursor: text;"></i>
                                            <!--{{item.product_status}}-->
                                        </td>
                                        <td class="txt_centr" ng-if="item.product_status != 'Split' && item.product_status != 'Pending for PO' && dealershow">
                                            <span>Confirm</span>
                                            <input type="radio" ng-model="status" value="Confirm" ng-change="getStatus(status,item)" />
                                            <br/>
                                            <span>Cancel</span>
                                            <input type="radio" ng-model="status" value="Cancel" ng-change="getStatus(status,item)" />
                                        </td>
                                        <td class="txt_centr" ng-if="item.product_status == 'Split' && dealershow"> -------- </td>
                                        <td class="txt_centr" ng-if="item.product_status == 'Pending for PO' && dealershow"> -------- </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal fade" id="splitInfoTable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span class="clr_black1" aria-hidden="true">×</span>
                                    </button>
                                    <h4 class="modal-title theme_color uppercase" id="myModalLabel">Product Split Details</h4>
                                </div>
                                <div class="quan-disc-table">
                                    <div>
                                        <table class="table table-bordered table-striped pending_order" id="myViewOrders1" style="margin-top: -5px;">
                                            <thead>
                                                <tr>
                                                    <th class="txt_centr">S.No</th>
                                                    <th class="txt_left">PRoduct Qunatity</th>
                                                    <th class="txt_left">Delivery Date</th>
                                                    <th class="txt_left">Remarks</th>
                                                    <th class="txt_centr">Confirm / Cancel</th>
                                                </tr>
                                            </thead>
                                            <tbody id="myViewOrdersData" ng-repeat="itemData in moreRfqDataList | filter:rfqNum track by $index">

                                                <tr ng-repeat="item in itemData.split_info track by $index">
                                                    <td class="txt_centr">{{$index+1}}</td>
                                                    <td class="txt_left">{{item.accept_prod_qty}}</td>
                                                    <td class="txt_left">{{item.split_delvry_date}}</td>
                                                    <td class="txt_left">{{item.remarks_dealer}}</td>
                                                    <td class="txt_centr" ng-if="dealershow">
                                                        <span>Confirm</span>
                                                        <input type="radio" ng-model="splitStatus" value="Confirm" ng-change="getStatus(splitStatus,item)" />
                                                        <br/>
                                                        <span>Cancel</span>
                                                        <input type="radio" ng-model="splitStatus" value="Cancel" ng-change="getStatus(splitStatus,item)" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
                                    <button type="button" class="btn theme_bgclr" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Total footer start here-->
<div class="ttl_footer1">
    <!-- footer1 start here -->
    <!-- <footer ng-controller="homeController" class="footerbar footer">
		<div class="container1">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
						<div class="row row1" id="ftr_ss">
							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>POWERTEX TOOLS</b>
									</h5>
									<li id="footer_links_valuess">
										<a href="aboutus.html" class="footerText"> ABOUT US</a>
									</li>
								</ul>
							</div>

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>CONTACT US</b>
									</h5>
									<li id="footer_links_valuess">
										<span style="margin-left: 5px;">
											<i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
										</span>
										<span class="footerText1 footer_links_addere">
											<span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
											<span style="margin-left: 25px;"> Bahadurpura,</span>
											<br/>
											<span style="margin-left: 25px;">500064,</span>
											<br/>
											<span style="margin-left: 25px;">Hyderabad,</span>
											<br/>
											<span style="margin-left: 25px;">Telangana.</span>
											<br/>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">EMAIL: </b>
											<a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
												info@powertextools.com </a>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-phone" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">PHONE: </b>
											<a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer> -->
    <!-- footer1 end here -->

    <!-- footer2 start here -->
    <footer  class="footerbar1 footer" id="new_ftr">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer2 end here -->
</div>
<!-- Total footer end here-->