<div class="container1" ng-controller="invoiceOrdersController">

	<ul class="bredcrumb_ul margin_left">
		<li class="bredcrumb_li">
			<a ng-click="goToHome()"> Home</a>
		</li>
		<li class="bredcrumb_li">
			<a ng-click="pageNavigate()">Dashboard</a>
		</li>
		<li class="bredcrumb_li">
			<a>Invoice Orders</a>
		</li>
	</ul>
	<!--  account dashboard Invoice orders page start here -->
	<div class="block_account_dashboard" id="edit_row">
		<div loading style="margin-right: 600px;"></div>
		<div class="row" ng-if="invoiceOrderlist!=''">
			<div class="box-head11" style="margin-top: 30px;">
				<h2>Orders</h2>
			</div>
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
				<div class="row">
					<div class="table-responsive" style="height: 281px;">
						<table class="table table-bordered pending_order" id="smt_Orders_table">
							<thead class="theme_bgclr">
								<tr>
									<th style="text-align:center;">S.No</th>
									<th style="text-align:left;">Invoice ID</th>
									<th style="text-align:right;">Order No</th>
									<th style="text-align:center;">Total Amount</th>
									<th style="text-align:center;">Options</th>
								</tr>
							</thead>
							<tbody id="smt_Orders_table_Data">
								<tr ng-repeat="order in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
									<td style="text-align:center;">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
									<td style="text-align:left;">{{order.invoiceid}}</td>
									<td style="text-align:right;">{{order.orderid}}</td>
									<td style="text-align:right;">{{order.totalamount|currency:'&#8377;'}}</td>
									<td style="text-align:center;" ng-click="gotoInvoiceOrdersList(order.orderid)">
										<a href="" class="view_ordr_tbl">
											<i class="fa fa-eye" aria-hidden="true" style="padding-right:5px;color:#444;"></i>View</a>
									</td>
								</tr>

							</tbody>
						</table>
						<pagination total-items="totalItems" page="currentPage" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
					</div>
				</div>
			</div>
		</div>
		<div class="box-head" ng-if="invoiceOrderlist==''">
			<h2>No Records Found!!!</h2>
		</div>
	</div>
	<!--  account dashboard Invoice orders page end here -->
</div>

 <!-- Total footer start here-->
 <div class="ttl_footer1">
	<!-- footer1 start here -->
	<!-- <footer ng-controller="homeController" class="footerbar footer">
		<div class="container1">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
						<div class="row row1" id="ftr_ss">
							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>POWERTEX TOOLS</b>
									</h5>
									<li id="footer_links_valuess">
										<a href="aboutus.html" class="footerText"> ABOUT US</a>
									</li>
								</ul>
							</div>

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>CONTACT US</b>
									</h5>
									<li id="footer_links_valuess">
										<span style="margin-left: 5px;">
											<i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
										</span>
										<span class="footerText1 footer_links_addere">
											<span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
											<span style="margin-left: 25px;"> Bahadurpura,</span>
											<br/>
											<span style="margin-left: 25px;">500064,</span>
											<br/>
											<span style="margin-left: 25px;">Hyderabad,</span>
											<br/>
											<span style="margin-left: 25px;">Telangana.</span>
											<br/>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">EMAIL: </b>
											<a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
												info@powertextools.com </a>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-phone" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">PHONE: </b>
											<a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer> -->
	<!-- footer1 end here -->

	<!-- footer2 start here -->
	<footer  class="footerbar1 footer" id="new_ftr">
		<div class="container1">
			<div class="row row1" style="padding:10px 0;color:white;">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
							<span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
						</div>
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
							<i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer2 end here -->
</div>
<!-- Total footer end here-->