<div ng-controller="inwardGenController">
    <div ng-if="welcome_msg != 'undefined' && welcome_msg!= ''" class="del_branch">
        <span class="text-center welcome_msg1">{{welcome_msg}}</span>
    </div>
    <div class="container1">
        <!-- bradcrumbs start here -->
        <div class="row">
            <ul class="bredcrumb_ul margin_left" style="margin-left:30px;">
                <li class="bredcrumb_li" ng-click="B2BDashboard()">
                    <a>Dashboard</a>
                    <!-- <span class="slash_bc">/</span> -->
                </li>
                <li class="bredcrumb_li">
                    <a>Inward Generation</a>
                </li>
            </ul>
        </div>
        <!-- bradcrumbs end here -->
        <!-- <marquee behavior="alternate" class="marq">{{welcome_msg}}</marquee> -->
        <div class="myaccount_section12_goToCart">

            <div class="">
                <div class="box-head11" ng-if="inwardList.length>0" style="margin-bottom:5px;">
                    <div>Inward Generation</div>
                </div>

                <div ng-if="inwardList.length == 0" align="middle" style="background: #fff;box-shadow: 3px 3px 8px #ddd;margin:20px 0;">
                    <div class="" style="padding: 30px 0;">
                        <div style="font-size: 20px;font-weight: 700;color: #be393d;">No Records Found</div>
                        <i class="fa fa-file-text" aria-hidden="true" style="font-size: 120px;color: #e4e4e4;"></i>
                        <div style="color:#232f3e;font-size: 18px;font-weight: 600;">Your Inward Records are Empty</div>
                        <!-- <p>You have no records in your PO.</p>
                    <button type="submit" class="btn btn-default" href="#createRFQ" id="back_edit_info">
                        <i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:10px;"></i>Continue Shopping</button> -->
                    </div>
                </div>

                <loading></loading>

                <div class="dist-table-data" ng-if="inwardList.length > 0">
                    <div class="myvieworders-tbl-new1 table-responsive">
                        <table class="table table-bordered table-striped pending_order" id="myViewOrders1">
                            <thead>
                                <tr>
                                    <th class="txt_centr">S.No</th>
                                    <th class="txt_left">Inv Number</th>
                                    <th class="txt_left">Inv Date</th>
                                    <th class="txt_left">PO Number</th>
                                    <!-- <th class="txt_right">PO Date</th> -->
                                    <th class="txt_left">RFQ Number</th>
                                    <th class="txt_left">Sales Manager Name</th>
                                    <th class="txt_left">Sales Manager Mobile</th>
                                    <th class="txt_centr">Inward Generation</th>
                                </tr>
                            </thead>
                            <tbody id="myViewOrdersData" ng-repeat="invdata in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))  track by $index">
                                <!-- inwardList-->
                                <tr>
                                    <td class="txt_centr">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                    <td class="txt_left">{{invdata.f_inv_num}}</td>
                                    <td class="txt_left">{{invdata.invoice_date}}</td>
                                    <td class="txt_left">{{invdata.po_num}}</td>
                                    <!-- <td class="txt_right">{{invdata.po_gen_date}}</td> -->
                                    <td class="txt_left">{{invdata.rfq_num}}</td>
                                    <td class="txt_left">{{invdata.sm_name}}</td>
                                    <td class="txt_left">{{invdata.sm_mobile}}</td>
                                    <td class="txt_centr">
                                        <a href="" ng-click="showInwardData(invdata)">
                                            <i class="fa fa-pencil" aria-hidden="true" style="color:#be393d;"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="" ng-show="inwardList.length>0">
                        <pagination total-items="totalItems" page="currentPage" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
                    </div>
                </div>
            </div>


            <div class="dist-table-data pen-rfq-dependent-tbl" ng-show="showMoreInvInfo">
                <div class="table-responsive mar-btm-20">
                    <div class="box-head11" style="margin-bottom: 5px;">
                        <div>Deliver Details</div>
                    </div>
                    <div class="">
                        <form name="deliveryForm">
                            <!-- vehical  start here -->
                            <div class="vehical veh_courier" ng-if="deliverDetails.delivery_type=='Vehicle'">
                                <div class="">
                                    <div class="col-md-2">
                                        <label>Driver Name :</label>
                                        <input type="text" ng-model="deliverDetails.driver_name" required name="driver_name">
                                    </div>
                                    <div class="col-md-2">
                                        <label>Contact Number :</label>
                                        <input type="text" ng-model="deliverDetails.driver_contact" required name="driver_contact">
                                    </div>
                                    <div class="col-md-2">
                                        <label>Driver Licence :</label>
                                        <input type="text" ng-model="deliverDetails.dl_num" required name="dl_num">
                                    </div>
                                    <div class="col-md-2">
                                        <label>Vehicle Number :</label>
                                        <input type="text" ng-model="deliverDetails.vehicle_num" required name="vehicle_num">
                                    </div>
                                    <!-- <div class="col-md-2">
                                    <label>Remarks :</label>
                                    <br>
                                    <textarea ng-model="deliverDetails.remarks" required name="remarks" style="width:100%;"></textarea>
                                </div>
                                <div class="col-md-2">
                                    <div class="txt_centr mar-btm-20" ng-if="deliverDetails.delivery_type!=undefined" style="margin-top: 30px;">
                                        <button type="submit" ng-disabled="deliveryForm.$invalid" class="btn btn-default theme_bgclr" ng-click="prepareChallan(deliverDetails)">
                                            Generate Challan</button>
                                    </div>
                                </div> -->
                                </div>
                            </div>
                            <!-- vehical end here -->

                            <!-- courier start here -->
                            <div class="courier veh_courier" ng-if="deliverDetails.delivery_type=='Courier'">
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <label>Courier No : </label>
                                        <input type="text" ng-model="deliverDetails.courier_num" required name="courier_num">
                                    </div>
                                    <div class="col-md-2">
                                        <label>Courier Name : </label>
                                        <input type="text" ng-model="deliverDetails.courier_name" required name="courier_name">
                                    </div>
                                    <div class="col-md-2">
                                        <label>Courier Boy : </label>
                                        <input type="text" ng-model="deliverDetails.courier_boy" required name="courier_boy">
                                    </div>
                                    <div class="col-md-2">
                                        <label>Approx Wt : </label>
                                        <br>
                                        <input type="text" ng-model="deliverDetails.weight" required name="weight">
                                    </div>
                                    <!-- <div class="col-md-2">
                                    <label>Remarks : </label>
                                    <br>
                                    <textarea ng-model="deliverDetails.remarks" required name="remarks" style="width:100%;"></textarea>
                                </div>
                                <div class="col-md-2">
                                    <div class="txt_centr mar-btm-20" ng-if="deliverDetails.delivery_type!=undefined" style="margin-top: 30px;">
                                        <button type="submit" ng-disabled="deliveryForm.$invalid" class="btn btn-default theme_bgclr" ng-click="prepareChallan(deliverDetails)">
                                            Generate Challan</button>
                                    </div>
                                </div> -->
                                </div>
                            </div>
                            <!-- courier end here -->
                        </form>

                    </div>
                </div>

                <div class="table-responsive">
                    <div class="box-head11" style="margin-bottom: 5px;">
                        <div>Invoice No : {{inv_no}}</div>
                    </div>
                    <div ng-if="inwardList.length > 0">
                        <div class="myvieworders-tbl-new1 table-responsive">
                            <table class="table table-bordered table-striped pending_order" id="myViewOrders1">
                                <thead>
                                    <tr>
                                        <th class="txt_centr">S.No</th>
                                        <th class="txt_left">Product Name</th>
                                        <th class="txt_left">Brand</th>
                                        <th class="txt_right">MRP (₹)</th>
                                        <th class="txt_right">Inv. Qty</th>
                                        <th class="txt_right">Disc (%)</th>
                                        <th class="txt_right">Vol. Disc (%)</th>
                                        <th class="txt_right">Spcl. Disc (%)</th>
                                        <th class="txt_right">Amount (₹)</th>
                                    </tr>
                                </thead>
                                <tbody id="myViewOrdersData" ng-repeat="data in inwardList  | filter:inv_no track by $index">
                                    <tr ng-repeat="item in data.moreinv_info">
                                        <td class="txt_centr">{{$index+1}}</td>
                                        <td class="txt_left">{{item.productname}}</td>
                                        <td class="txt_left">{{item.brand}}</td>
                                        <td class="txt_right">{{item.mrp}}</td>
                                        <td class="txt_right">{{item.f_inv_qty}}</td>
                                        <td class="txt_right">{{item.discount}}</td>
                                        <td class="txt_right">{{item.volume_disc}}</td>
                                        <td class="txt_right">{{item.spcl_disc}}</td>
                                        <td class="txt_right">{{item.total_amt}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="fl-right">
                                <button type="submit" class="btn btn-default theme_bgclr" ng-click="generateInward()">
                                    Generate Inward</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Challan No Generated Successfully modal start here -->
        <!-- <div class="modal fade1" id="inwardGenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header align_center">
                    <img src="images/powertex_logo.png" />
                </div>
                <div class="modal-body" align="middle">
                    <div>
                        <img src="images/completed_icon.png" class="pop_image" />
                        <br/>
                        <span class="completed_styles clr_orange">{{inward_num}}</span>
                        <br/>
                        <span class="completed_styles theme_color">Inward No Generated Successfully!</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn theme_bgclr" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div> -->
        <!-- Challan No Generated Successfully modal end here -->

    </div>
</div>

<!-- Total footer start here-->
<div class="ttl_footer1">
    <!-- footer1 start here -->
    <!-- <footer ng-controller="homeController" class="footerbar footer">
		<div class="container1">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
						<div class="row row1" id="ftr_ss">
							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>POWERTEX TOOLS</b>
									</h5>
									<li id="footer_links_valuess">
										<a href="aboutus.html" class="footerText"> ABOUT US</a>
									</li>
								</ul>
							</div>

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>CONTACT US</b>
									</h5>
									<li id="footer_links_valuess">
										<span style="margin-left: 5px;">
											<i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
										</span>
										<span class="footerText1 footer_links_addere">
											<span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
											<span style="margin-left: 25px;"> Bahadurpura,</span>
											<br/>
											<span style="margin-left: 25px;">500064,</span>
											<br/>
											<span style="margin-left: 25px;">Hyderabad,</span>
											<br/>
											<span style="margin-left: 25px;">Telangana.</span>
											<br/>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">EMAIL: </b>
											<a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
												info@powertextools.com </a>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-phone" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">PHONE: </b>
											<a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer> -->
    <!-- footer1 end here -->

    <!-- footer2 start here -->
    <footer class="footerbar1 footer" id="new_ftr">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer2 end here -->
</div>
<!-- Total footer end here-->