<!-- main body part start here -->
<div class="container1" ng-controller="adminPanelCntrl">

    <!-- bradcrumbs start here -->
    <div class="row" style="margin-left:0px;">
        <ul class="bredcrumb_ul margin_left">
            <li class="bredcrumb_li" ng-click="B2BDashboard()">
                <a>Dashboard</a>
                <!-- <span class="slash_bc">/</span> -->
            </li>
            <!-- <li class="bredcrumb_li" ng-if="wishlistBreadCrumbFlag == 'true'" ng-click="pageNavigate()">
                <a>Dashboard</a>
                <span class="slash_bc">/</span>
            </li> -->
            <li class="bredcrumb_li">
                <a>Master Data Uploading</a>
            </li>
        </ul>
    </div>
    <!-- bradcrumbs end here -->

    <div class="theme-bg">
        <div class="box-head11" style="margin-bottom:5px;margin-left:15px;">
            <div>Master Data Uploading</div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">Product Data Upload<span class="fl-right" title="download" style="font-size: 18px;"><i class="fa fa-download" ng-click="masterdatadownload('Product')"  aria-hidden="true"></i></span>
                        </div>
                        <div class="panel-body">
                            <!-- <h2>Product Upload</h2> -->
                            <!-- <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="input-group image-preview">
                        <input placeholder="" type="text" class="form-control image-preview-filename" ng-model="excel" disabled="disabled">
                        <span class="input-group-btn"> 
						    <button type="button" class="btn btn-default image-preview-clear" style="display:none;"> <span class="glyphicon glyphicon-remove"></span>                        Clear </button>
                        <div class="btn image-preview-input bg_black_white"> <span class="glyphicon glyphicon-folder-open"></span> <span class="image-preview-input-title">Browse</span>
                            <input type="file" ng-model="file"  accept="image/png, image/jpeg, image/gif" name="input-file-preview" />
                        </div>
                        </span>
                    </div>
                </div>  -->
                            <!-- <div>
                    <input type="file" file-model="myFile" />
                  
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <button type="button" class="btn theme_bgclr" ng-click="uploadFile(myFile)"> <span class="btn-label"><i class="glyphicon glyphicon-upload"></i> </span>Upload</button>
                </div>
                </div> -->
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <input type="file" class="form-control" xlsx-model="excel">
                                <pre ng-show="excel">{{excel | json}}</pre>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <button type="button" class="btn theme_bgclr" ng-click="uploadFile()">
                                    <span class="btn-label">
                                        <i class="glyphicon glyphicon-upload"></i>
                                    </span>Upload</button>
                            </div>
                            <!-- <h2>Attribute  Upload</h2> -->
                            <!-- <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="input-group image-preview">
                        <input placeholder="" type="text" class="form-control image-preview-filename" ng-model="excel" disabled="disabled">
                        <span class="input-group-btn"> 
						    <button type="button" class="btn btn-default image-preview-clear" style="display:none;"> <span class="glyphicon glyphicon-remove"></span>                        Clear </button>
                        <div class="btn image-preview-input bg_black_white"> <span class="glyphicon glyphicon-folder-open"></span> <span class="image-preview-input-title">Browse</span>
                            <input type="file" ng-model="file"  accept="image/png, image/jpeg, image/gif" name="input-file-preview" />
                        </div>
                        </span>
                    </div>
                </div>  -->
                            <!-- <div>
                    <input type="file" file-model="myFile" />
                  
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <button type="button" class="btn theme_bgclr" ng-click="uploadFile(myFile)"> <span class="btn-label"><i class="glyphicon glyphicon-upload"></i> </span>Upload</button>
                </div>
                </div> -->
                            <!-- <input type="file" class="form-control" xlsx-model="attrexcel" > -->
                            <!-- <pre ng-show="excel">{{excel | json}}</pre>  -->
                            <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <button type="button" class="btn theme_bgclr" ng-click="AttruploadFile()"> <span class="btn-label"><i class="glyphicon glyphicon-upload"></i> </span>Upload</button>
                </div> -->
                        </div>
                    </div>
                </div>



                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">Attribute Data Upload<span class="fl-right" title="download" style="font-size: 18px;"><i class="fa fa-download" ng-click="masterdatadownload('Attributes')"  aria-hidden="true"></i></span></div>
                        <div class="panel-body">
                            <!-- <h2>Product Upload</h2> -->
                            <!-- <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="input-group image-preview">
                        <input placeholder="" type="text" class="form-control image-preview-filename" ng-model="excel" disabled="disabled">
                        <span class="input-group-btn"> 
						    <button type="button" class="btn btn-default image-preview-clear" style="display:none;"> <span class="glyphicon glyphicon-remove"></span>                        Clear </button>
                        <div class="btn image-preview-input bg_black_white"> <span class="glyphicon glyphicon-folder-open"></span> <span class="image-preview-input-title">Browse</span>
                            <input type="file" ng-model="file"  accept="image/png, image/jpeg, image/gif" name="input-file-preview" />
                        </div>
                        </span>
                    </div>
                </div>  -->
                            <!-- <div>
                    <input type="file" file-model="myFile" />
                  
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <button type="button" class="btn theme_bgclr" ng-click="uploadFile(myFile)"> <span class="btn-label"><i class="glyphicon glyphicon-upload"></i> </span>Upload</button>
                </div>
                </div> -->
                            <!-- <input type="file" class="form-control" xlsx-model="excel" > -->
                            <!-- <pre ng-show="excel">{{excel | json}}</pre>  -->
                            <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <button type="button" class="btn theme_bgclr" ng-click="uploadFile()"> <span class="btn-label"><i class="glyphicon glyphicon-upload"></i> </span>Upload</button>
                </div> -->
                            <!-- <h2>Attribute  Upload</h2> -->
                            <!-- <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="input-group image-preview">
                        <input placeholder="" type="text" class="form-control image-preview-filename" ng-model="excel" disabled="disabled">
                        <span class="input-group-btn"> 
						    <button type="button" class="btn btn-default image-preview-clear" style="display:none;"> <span class="glyphicon glyphicon-remove"></span>                        Clear </button>
                        <div class="btn image-preview-input bg_black_white"> <span class="glyphicon glyphicon-folder-open"></span> <span class="image-preview-input-title">Browse</span>
                            <input type="file" ng-model="file"  accept="image/png, image/jpeg, image/gif" name="input-file-preview" />
                        </div>
                        </span>
                    </div>
                </div>  -->
                            <!-- <div>
                    <input type="file" file-model="myFile" />
                  
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <button type="button" class="btn theme_bgclr" ng-click="uploadFile(myFile)"> <span class="btn-label"><i class="glyphicon glyphicon-upload"></i> </span>Upload</button>
                </div>
                </div> -->
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <input type="file" class="form-control" xlsx-model="attrexcel">
                                <!-- <pre ng-show="attrexcel">{{attrexcel | json}}</pre> -->
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <button type="button" class="btn theme_bgclr" ng-click="AttruploadFile()">
                                    <span class="btn-label">
                                        <i class="glyphicon glyphicon-upload"></i>
                                    </span>Upload</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="ovrfle_hidn mar-btm-20">
        <div class="col-md-12">
            <div class="dist-table-data m_top_2perc">
                <div class="box-head11" style="margin-bottom: 3px;">
                    <div>PRODUCT HISTORY</div>
                </div>
                <div class="product_based_list">
                    <div class="table-responsive">
                        <table class="table table-bordered pending_order table-striped">
                            <thead>
                                <tr>
                                    <th class="txt_centr">S.No</th>
                                    <th class="txt_left">Product ID </th>
                                    <th class="txt_left">Product Name</th>
                                    <th class="txt_left">Model No</th>
                                    <th class="txt_left">Brand</th>
                                    <th class="txt_centr">View More</th>
                                </tr>
                            </thead>
                            <tbody>
                                <div>
                                    <tr ng-repeat="product in productinfo track by $index">
                                        <td class="txt_centr">{{$index+1}}</td>
                                        <td class="txt_left">{{product.upload_id}}</td>
                                        <td class="txt_left">{{product.upload_name}}</td>
                                        <td class="txt_left">nsd3235ff</td>
                                        <td class="txt_left">cbvdfjbvjdf</td>
                                        <td class="txt_centr" title="View More" data-toggle="modal" ng-click="productAllInformation(product,$index)">
                                            <i class="fa fa-eye fa-fw" style="color:#51a3d4"></i>
                                        </td>
                                    </tr>
                                </div>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn theme_bgclr" ng-click="" style="display: none;">
                        <i class="fa fa-shopping-cart fa-fw"></i>&nbsp;&nbsp; ADD TO CART</button>
                    <pagination total-items="totalItems" page="currentPage" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
                </div>
            </div>
        </div>
    </div>




    <!-- specifications Table Modal start here -->
    <div class="modal fade" id="productAllInformation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="clr_black1" aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title theme_color uppercase" id="myModalLabel">Product Specifications</h4>
                </div>

                <div class="quan-disc-table">

                    <div class="table-responsive">
                        <table class="table-striped" id="table_data_specifications" border=1>
                            <tr>
                                <td class="spec_smt">
                                    <span class="spec">Brand</span>
                                </td>
                                <td class="spec_smt">
                                    <span class="spectd">{{productList.upload_brand}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="spec_smt">
                                    <span class="spec">product Name</span>
                                </td>
                                <td class="spec_smt">
                                    <span class="spectd">{{productList.upload_name}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="spec_smt">
                                    <span class="spec">Model no</span>
                                </td>
                                <td class="spec_smt">
                                    <span class="spectd">{{productList.upload_modelno}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="spec_smt">
                                    <span class="spec">Mrp</span>
                                </td>
                                <td class="spec_smt">
                                    <span class="spectd">{{productList.upload_mrp}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="spec_smt">
                                    <span class="spec">Discount</span>
                                </td>
                                <td class="spec_smt">
                                    <span class="spectd">{{productList.upload_discount}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="spec_smt">
                                    <span class="spec">Net Weight</span>
                                </td>
                                <td class="spec_smt">
                                    <span class="spectd">{{productList.upload_netWeight}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="spec_smt">
                                    <span class="spec">Tax</span>
                                </td>
                                <td class="spec_smt">
                                    <span class="spectd">{{productList.upload_tax}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="spec_smt">
                                    <span class="spec">Warranty</span>
                                </td>
                                <td class="spec_smt">
                                    <span class="spectd">{{productList.upload_warranty}}</span>
                                </td>
                            </tr>
                            <tr ng-repeat="attr in productList.attributes">
                                <td class="spec_smt">
                                    <span class="spec">{{attr.atrname}}</span>
                                </td>
                                <td class="spec_smt">
                                    <span class="spectd">{{attr.atrvalue}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
                    <button type="button" class="btn theme_bgclr" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- specifications Table Modal end here -->

</div>
<!-- main body part end here -->

 <!-- Total footer start here-->
 <div class="ttl_footer1">
	<!-- footer1 start here -->
	<!-- <footer ng-controller="homeController" class="footerbar footer">
		<div class="container1">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
						<div class="row row1" id="ftr_ss">
							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>POWERTEX TOOLS</b>
									</h5>
									<li id="footer_links_valuess">
										<a href="aboutus.html" class="footerText"> ABOUT US</a>
									</li>
								</ul>
							</div>

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>CONTACT US</b>
									</h5>
									<li id="footer_links_valuess">
										<span style="margin-left: 5px;">
											<i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
										</span>
										<span class="footerText1 footer_links_addere">
											<span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
											<span style="margin-left: 25px;"> Bahadurpura,</span>
											<br/>
											<span style="margin-left: 25px;">500064,</span>
											<br/>
											<span style="margin-left: 25px;">Hyderabad,</span>
											<br/>
											<span style="margin-left: 25px;">Telangana.</span>
											<br/>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">EMAIL: </b>
											<a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
												info@powertextools.com </a>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-phone" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">PHONE: </b>
											<a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer> -->
	<!-- footer1 end here -->

	<!-- footer2 start here -->
	<footer  class="footerbar1 footer" id="new_ftr">
		<div class="container1">
			<div class="row row1" style="padding:10px 0;color:white;">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
							<span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
						</div>
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
							<i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer2 end here -->
</div>
<!-- Total footer end here-->