<div class="container1">
    <div class="box-head11">
        <h2>User Profile</h2>
    </div>
    <div class="">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Your Addresses</h3>
            </div>

            <div class="panel-body">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12" id="dealer_addr" style="background: #f7f7f7;">
                        <p><span class="del_details font_20">User Profile</span></p>
                        <div class="shop_add_part" ng-show="!cust_profile">
                            <p class="marg_btm_5 "><label class="theme_color">Shop Name : </label> <label><span>{{profile_info.reg_shopname}}</span></label></p>
                            <p class="marg_btm_5"><label class="theme_color">User Name : </label> <label><span>{{profile_info.dealer_name}}</span></label></p>
                            <p class="marg_btm_5"><label class="theme_color">Mobile No : </label><label><span>{{profile_info.dealer_mobile}}</span>
                                <span class="edit_styles" data-toggle="modal"  ng-click="editmobileNo(profile_info)" title="Edit"><i class="fa fa-edit"></i></span></label></p>
                            <p class="marg_btm_5"><label class="theme_color">Mail ID : </label><label><span>{{profile_info.dealer_mail}}</span></label></p>
                        </div>
                        <div class="shop_add_part" ng-show="cust_profile">
                            <p class="marg_btm_5 "><label class="theme_color">First Name : </label> <label><span>{{profile_info.firstname}}</span></label></p>
                            <p class="marg_btm_5"><label class="theme_color">Last Name : </label> <label><span>{{profile_info.lastname}}</span></label></p>
                            <p class="marg_btm_5"><label class="theme_color">Mobile No : </label><label><span>{{profile_info.mobile}}</span>
                                <span class="edit_styles" data-toggle="modal" ng-click="editmobileNo(profile_info)" title="Edit"><i class="fa fa-edit"></i></span></label></p>
                            <p class="marg_btm_5"><label class="theme_color">Mail ID : </label><label><span>{{profile_info.email}}</span></label></p>
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12" ng-show="!cust_profile" id="dealer_addr" style="background: #f7f7f7;">
                        <p><span class="del_details font_20">Billing Address</span></p>
                        <div class="shop_add_part" >
                            <div class="">
                                <p class="marg_btm_5"><b>D/No</b> : <span>{{billing_info.dno}}, </span></p>
                                <p class="marg_btm_5"><b>Street</b> : <span>{{billing_info.street}}, </span></p>
                                <p class="marg_btm_5"><b>City</b> : <span>{{billing_info.city}}, </span></p>
                                <p class="marg_btm_5"><b>State</b> : <span>{{billing_info.state}}, </span></p>
                                <p class="marg_btm_5"><b>Postal Code</b> : <span>{{billing_info.zipcode}}.</span></p>
                            </div>
                        </div>
                    
                    </div>

                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12" ng-show="cust_profile"  id="dealer_addr" style="background: #f7f7f7;" ng-repeat="data in billing_info">
                        <p><span class="del_details font_20">Billing Address</span></p>
                        <div class="shop_add_part" >
                            <div class="">
                                <p class="marg_btm_5"><b>D/No</b> : <span>{{data.dno}}, </span></p>
                                <p class="marg_btm_5"><b>Street</b> : <span>{{data.street}}, </span></p>
                                <p class="marg_btm_5"><b>City</b> : <span>{{data.city}}, </span></p>
                                <p class="marg_btm_5"><b>State</b> : <span>{{data.state}}, </span></p>
                                <p class="marg_btm_5"><b>Postal Code</b> : <span>{{data.zipcode}}.</span></p>
                            </div>
                            <div class="address_change">
                                <a href="" class="split_click" data-toggle="modal" ng-click="editAddressProfile(data)">Edit</a>                                |
                                <a href="" class="split_click" ng-click="deleteShippAddress(data)">Delete</a> |
                                <a href="" class="split_click" ng-if="data.dno!=d_no" ng-click="setAsDefault(data)">Set as Default</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12" id="dealer_addr" style="background: #f7f7f7;" ng-repeat="data in shipping_info">
                        <p><span class="del_details font_20">Shipping Address</span></p>
                        <div class="shop_add_part">
                            <div class="">
                                <p class="marg_btm_5"><b>D/No</b> : <span>{{data.dno}}, </span></p>
                                <p class="marg_btm_5"><b>Street</b> : <span>{{data.street}}, </span></p>
                                <p class="marg_btm_5"><b>City</b> : <span>{{data.city}}, </span></p>
                                <p class="marg_btm_5"><b>State</b> : <span>{{data.state}}, </span></p>
                                <p class="marg_btm_5"><b>Postal Code</b> : <span>{{data.zipcode}}.</span></p>
                            </div>
                        </div>
                        <div class="address_change">
                            <a href="" class="split_click" data-toggle="modal" ng-click="editAddressProfile(data)">Edit</a>                            |
                            <a href="" class="split_click" ng-click="deleteShippAddress(data)">Delete</a> |
                            <a href="" class="split_click" ng-if="data.dno!=d_no" ng-click="setAsDefault(data)">Set as Default</a>
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12" id="dealer_addr" style="background: #f7f7f7;">
                        <div class="add_address">
                            <a href="" data-toggle="modal" data-target="#addAddressList">
                                <img src="images/plus_icon2.png" style="width:10%;" />
                                <h2 class="a-color-tertiary">Add address</h2>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
            <div class="clearfix panel-footer">
            </div>
        </div>

        <!-- Add Address Modal start here -->
        <div class="modal fade" id="addAddressList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="clr_black" aria-hidden="true">×</span>
                </button>
                        <h4 class="modal-title theme_color f_weight_700" id="myModalLabel">Add Shipping Address</h4>
                    </div>

                    <div class="quan-disc-table">
                        <form class="" novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row marg_btm_5">
                                        <div class="col-md-6">
                                            <label for="name">D/No</label>
                                            <input type="text" class="form-control" name="name" ng-model="shipping_addr.d_no">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="address">Street</label>
                                            <input type="text" class="form-control" name="address" ng-model="shipping_addr.street">
                                        </div>
                                    </div>
                                    <div class="row marg_btm_5">
                                        <div class="col-md-6">
                                            <label for="c_person">City</label>
                                            <input type="text" class="form-control" name="c_person" ng-model="shipping_addr.city">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="c_Number">State</label>
                                            <input type="text" class="form-control" name="c_Number" ng-model="shipping_addr.state">
                                        </div>
                                    </div>
                                    <div class="row marg_btm_10">
                                        <div class="col-md-6">
                                            <label for="pincode">Postal code</label>
                                            <input type="text" class="form-control" name="pincode" ng-model="shipping_addr.zipcode">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div ng-show="cust_profile">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" ng-model="shippingIsSameAsBilling" id="invalidCheck_deli" required>
                                        <label class="form-check-label1" for="invalidCheck_deli">Use as my Default billing address</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span> <h4 class="modal-title theme_color f_weight_700" id="myModalLabel">Add Billing Address</h4></span>
                        <div class="quan-disc-table">
                            <form class="" novalidate>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row marg_btm_5">
                                            <div class="col-md-6">
                                                <label for="name">D/No</label>
                                                <input type="text" class="form-control" name="name" ng-model="billing_addr.d_no" ng-disabled="shippingIsSameAsBilling">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="address">Street</label>
                                                <input type="text" class="form-control" name="address" ng-model="billing_addr.street" ng-disabled="shippingIsSameAsBilling">
                                            </div>
                                        </div>
                                        <div class="row marg_btm_5">
                                            <div class="col-md-6">
                                                <label for="c_person">City</label>
                                                <input type="text" class="form-control" name="c_person" ng-model="billing_addr.city" ng-disabled="shippingIsSameAsBilling">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="c_Number">State</label>
                                                <input type="text" class="form-control" name="c_Number" ng-model="billing_addr.state" ng-disabled="shippingIsSameAsBilling">
                                            </div>
                                        </div>
                                        <div class="row marg_btm_10">
                                            <div class="col-md-6">
                                                <label for="pincode">Postal code</label>
                                                <input type="text" class="form-control" name="pincode" ng-model="billing_addr.zipcode" ng-disabled="shippingIsSameAsBilling">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
                        <button type="button" class="btn theme_bgclr pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn theme_bgclr" data-dismiss="modal" ng-show="!cust_profile" ng-click="addAddressProfile(shipping_addr)">Save</button>
                        <button type="button" class="btn theme_bgclr" data-dismiss="modal" ng-show="cust_profile" ng-click="addcustomeraddr(shipping_addr,billing_addr)">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Address Modal end here -->


        <!-- Edit Address Modal start here -->
        <div class="modal fade" id="editAddressList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="clr_black" aria-hidden="true">×</span>
                </button>
                        <h4 class="modal-title theme_color f_weight_700" id="myModalLabel">Edit User Address</h4>
                    </div>

                    <div class="quan-disc-table">
                        <form class="" novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row marg_btm_5">
                                        <div class="col-md-6">
                                            <label for="name">D/No</label>
                                            <input type="text" class="form-control" name="name" ng-model="edit_shipping_addr.d_no">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="address">Street</label>
                                            <input type="text" class="form-control" name="address" ng-model="edit_shipping_addr.street">
                                        </div>
                                    </div>
                                    <div class="row marg_btm_5">
                                        <div class="col-md-6">
                                            <label for="c_person">City</label>
                                            <input type="text" class="form-control" name="c_person" ng-model="edit_shipping_addr.city">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="c_Number">State</label>
                                            <input type="text" class="form-control" name="c_Number" ng-model="edit_shipping_addr.state">
                                        </div>
                                    </div>
                                    <div class="row marg_btm_10">
                                        <div class="col-md-6">
                                            <label for="pincode">Postal code</label>
                                            <input type="text" class="form-control" name="pincode" ng-model="edit_shipping_addr.zipcode">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
                        <button type="button" class="btn theme_bgclr pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn theme_bgclr" data-dismiss="modal" ng-click="addAddressProfile(edit_shipping_addr)">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Edit Address Modal end here -->

        <!-- Edit mobile no Modal start here -->
        <div class="modal fade" id="editmobileNo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="clr_black" aria-hidden="true">×</span>
                </button>
                        <h4 class="modal-title theme_color f_weight_700" id="myModalLabel">Edit Mobile Number</h4>
                    </div>

                    <div class="quan-disc-table">
                        <form class="" novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row marg_btm_10">
                                        <div class="col-md-12">
                                            <label for="mobile">Mobile No</label>
                                            <input type="text" class="form-control" ng-model="mobile_no" name="mobile">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
                        <button type="button" class="btn theme_bgclr pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn theme_bgclr" ng-click="editmobilenum(mobile_no)" data-dismiss="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Edit mobile no Modal end here -->

        <!-- Enter otp start here -->
        <div class="modal fade" id="editotp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="clr_black" aria-hidden="true">×</span>
                </button>
                        <h4 class="modal-title theme_color f_weight_700" id="myModalLabel">Enter OTP</h4>
                    </div>

                    <div class="quan-disc-table">
                        <form class="" novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row marg_btm_10">
                                        <div class="col-md-12">
                                            <!-- <label for="mobile">Mobile No</label> -->
                                            <input type="text" class="form-control" ng-model="otp" name="otp">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
                        <button type="button" class="btn theme_bgclr pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn theme_bgclr" ng-click="enterotp(otp)" data-dismiss="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Enter otp end here -->


    </div>
</div>



.nav_block{
        background: #37475a;
        height: 550px;
        position: fixed;
        width: 15%;
    }



     <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu">
                        <div class="nav_block1111">
                            <div class="list-group">
                                <a href="#" class="list-group-item active" ng-click="dealer('customer')">
                                    Customer Registration
                                </a>
                                <a href="#" class="list-group-item" ng-click="dealer('Dealer')">
                                    Dealer Registration
                                </a>
                            </div>
                        </div>
                    </div>