<!-- Edit mobile no Modal start here -->
<!-- <div class="modal fade" id="editmobileNo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document"> -->
<div >
    <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
        <button type="button" class="close" ng-click="close();" aria-label="Close">
            <span class="clr_black" aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title theme_color f_weight_700" id="myModalLabel" ng-if="!otpModalShow">Edit Mobile Number</h4>
        <h4 class="modal-title theme_color f_weight_700" id="myModalLabel" ng-if="otpModalShow">Enter OTP</h4>
        <!--<h4 class="modal-title theme_color f_weight_700" id="myModalLabel" ng-if="!mobileSent && !otpModalShow && editUser && !billing_shipping">Edit User Address</h4>
        <h4 class="modal-title theme_color f_weight_700 " id="myModalLabel" ng-if="!mobileSent && !otpModalShow && !editUser && billing_shipping">Add Shipping Address</h4> -->
    </div>
    <form name="myProfileForm">
        <div class="quan-disc-table" ng-if="!otpModalShow">
            <form class="" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row marg_btm_10">
                            <div class="col-md-12">
                                <label for="mobile">Mobile No</label>
                                <input type="mobile" class="form-control" required ng-pattern="/^[7-9][0-9]{9}$/" ng-minlength="10" ng-maxlength="10" ng-model="profile.mobile_no" name="mobile_no">
                                <div ng-messages="myProfileForm.mobile_no.$error " class="validation_msgs">
                                    <span class="validationError errorMsg" ng-show="submitted && myProfileForm.mobile_no.$error.required">Enter Mobile Number</span>
                                    <p class="validationError errorMsg" ng-message="pattern">Enter Valid Mobile Number</p>
                                  </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="quan-disc-table" ng-if="otpModalShow">
            <form class="" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row marg_btm_10">
                            <div class="col-md-12">
                                <input type="text" class="form-control" ng-model="profile.otp" name="otp">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- <div class="quan-disc-table" ng-if="editUser">
            <form class="" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row marg_btm_5">
                            <div class="col-md-6" ng-show="cust_profile">
                                <label for="name">Fullname</label>
                                <input type="text" class="form-control" name="name" ng-model="edit_shipping_addr.fullname">
                            </div>
                            <div class="col-md-6" ng-show="cust_profile">
                                <label for="address">Mobile no</label>
                                <input type="text" class="form-control" name="address" ng-model="edit_shipping_addr.mobile">
                            </div>
                        </div>
                        <div class="row marg_btm_5">
                            <div class="col-md-6">
                                <label for="name">D/No</label>
                                <input type="text" class="form-control" name="name" ng-model="edit_shipping_addr.d_no">
                            </div>
                            <div class="col-md-6">
                                <label for="address">Street</label>
                                <input type="text" class="form-control" name="address" ng-model="edit_shipping_addr.street">
                            </div>
                        </div>
                        <div class="row marg_btm_5">
                            <div class="col-md-6">
                                <label for="c_person">City</label>
                                <input type="text" class="form-control" name="c_person" ng-model="edit_shipping_addr.city">
                            </div>
                            <div class="col-md-6">
                                <label for="c_Number">State</label>
                                <input type="text" class="form-control" name="c_Number" ng-model="edit_shipping_addr.state">
                            </div>
                        </div>
                        <div class="row marg_btm_10">
                            <div class="col-md-6">
                                <label for="pincode">Country</label>
                                <input type="text" class="form-control" name="pincode" ng-model="edit_shipping_addr.zipcode">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div> -->

        <!-- <div ng-if="billing_shipping">
            <div class="quan-disc-table">
                <form name="addForm" class="" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row marg_btm_5">
                                <div class="col-md-6" ng-show="cust_profile">
                                    <label for="name">Fullname</label>
                                    <input type="text" class="form-control" placeholder="Enter your Fullname" name="name" ng-model="shipping_addr.fullname">
                                </div>
                                <div class="col-md-6" ng-show="cust_profile">
                                    <label for="address">Mobile no</label>
                                    <input type="text" class="form-control" placeholder="Enter your Mobile number" name="address" ng-model="shipping_addr.mobile">
                                </div>
                            </div>
                            <div class="row marg_btm_5">
                                <div class="col-md-6">
                                    <label for="name">D/No</label>
                                    <input type="text" class="form-control" placeholder="Enter your House number" name="name" ng-model="shipping_addr.d_no">
                                </div>
                                <div class="col-md-6">
                                    <label for="address">Street</label>
                                    <input type="text" class="form-control" placeholder="Enter your Street name" name="address" ng-model="shipping_addr.street">
                                </div>
                            </div>
                            <div class="row marg_btm_5">
                                <div class="col-md-6">
                                    <label for="c_person">City</label>
                                    <input type="text" class="form-control" name="c_person" placeholder="Enter your City name" ng-model="shipping_addr.city">
                                </div>
                                <div class="col-md-6">
                                    <label for="c_Number">State</label>
                                    <input type="text" class="form-control" name="c_Number" placeholder="Enter your State name" ng-model="shipping_addr.state">
                                </div>
                            </div>
                            <div class="row marg_btm_10">
                                <div class="col-md-6">
                                    <label for="pincode">Pincode</label>
                                    <input type="text" class="form-control" name="pincode" placeholder="Enter your Pincode" ng-model="shipping_addr.zipcode">
                                </div>
                                <div class="col-md-6">
                                    <label for="pincode">Country</label>
                                    <input type="text" class="form-control" name="country" placeholder="Enter your country name" ng-model="shipping_addr.country">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div ng-show="cust_profile">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" ng-model="shippingIsSameAsBilling" id="invalidCheck_deli" required>
                                <label class="form-check-label1" for="invalidCheck_deli">Use as my Default billing address
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boder">
                    <span>
                        <h4 class="modal-title theme_color f_weight_700 mar_l_15" id="myModalLabel">Add Billing Address
                        </h4>
                    </span>
                    <div class="quan-disc-table">
                        <form class="" novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row marg_btm_5">
                                        <div class="col-md-6" ng-show="cust_profile">
                                            <label for="name">Fullname</label>
                                            <input type="text" class="form-control" name="name" placeholder="Enter your Fullname" ng-model="billing_addr.fullname" ng-disabled="shippingIsSameAsBilling">
                                        </div>
                                        <div class="col-md-6" ng-show="cust_profile">
                                            <label for="address">Mobile no</label>
                                            <input type="text" class="form-control" name="address" ng-model="billing_addr.mobile" placeholder="Enter your Mobile number"
                                                ng-disabled="shippingIsSameAsBilling">
                                        </div>
                                    </div>
                                    <div class="row marg_btm_5">
                                        <div class="col-md-6">
                                            <label for="name">D/No</label>
                                            <input type="text" class="form-control" name="name" placeholder="Enter your House number" ng-model="billing_addr.d_no" ng-disabled="shippingIsSameAsBilling">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="address">Street</label>
                                            <input type="text" class="form-control" name="address" placeholder="Enter your Street name" ng-model="billing_addr.street"
                                                ng-disabled="shippingIsSameAsBilling">
                                        </div>
                                    </div>
                                    <div class="row marg_btm_5">
                                        <div class="col-md-6">
                                            <label for="c_person">City</label>
                                            <input type="text" class="form-control" name="c_person" placeholder="Enter your City name" ng-model="billing_addr.city" ng-disabled="shippingIsSameAsBilling">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="c_Number">State</label>
                                            <input type="text" class="form-control" name="c_Number" placeholder="Enter your State name" ng-model="billing_addr.state"
                                                ng-disabled="shippingIsSameAsBilling">
                                        </div>
                                    </div>
                                    <div class="row marg_btm_10">
                                        <div class="col-md-6">
                                            <label for="pincode">Pincode</label>
                                            <input type="text" class="form-control" name="pincode" placeholder="Enter your Pincode" ng-model="billing_addr.zipcode" ng-disabled="shippingIsSameAsBilling">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="pincode">country</label>
                                            <input type="text" class="form-control" name="country" placeholder="Enter your country name" ng-model="billing_addr.country"
                                                ng-disabled="shippingIsSameAsBilling">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <hr>
            </div>
        </div> -->

    
    <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
        <button type="button" class="btn theme_bgclr pull-left" ng-click="close();">Close</button>
        <button type="submit" class="btn theme_bgclr" ng-click="editmobilenum(profile.mobile_no)" ng-click="close();" ng-if="!otpModalShow" >Submit</button>

    <button type="submit" class="btn theme_bgclr" ng-click="enterotp(profile.otp)" ng-click="close();" ng-if="otpModalShow">Submit</button>

        <!--<button type="button" class="btn theme_bgclr" ng-click="close();" ng-click="editAddress(edit_shipping_addr)" ng-if="editUser">Save</button>

        <button type="button" class="btn theme_bgclr" ng-click="close();" ng-show="!cust_profile" ng-click="addAddressProfile(shipping_addr)" ng-if="billing_shipping">Save</button>
        <button type="button" class="btn theme_bgclr" ng-click="close();" ng-show="cust_profile" ng-click="addcustomeraddr(shipping_addr,billing_addr)" ng-if="billing_shipping">Save</button> -->
    </div>
</form>
</div>
<!-- </div>
</div> -->
<!-- Edit mobile no Modal end here -->


<!-- Enter otp start here -->
<!-- <div class="modal fade" id="editotp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document"> -->
<!-- <div class="">
    <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
        <button type="button" class="close" ng-click="close();" aria-label="Close">
            <span class="clr_black" aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title theme_color f_weight_700" id="myModalLabel">Enter OTP</h4>
    </div>
    <div class="quan-disc-table">
        <form class="" novalidate>
            <div class="row">
                <div class="col-md-12">
                    <div class="row marg_btm_10">
                        <div class="col-md-12">
                            <input type="text" class="form-control" ng-model="otp" name="otp">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
        <button type="button" class="btn theme_bgclr pull-left" ng-click="close();">Close</button>
        <button type="button" class="btn theme_bgclr" ng-click="enterotp(otp)" ng-click="close();">Submit</button>
    </div>
</div> -->
<!-- </div>
</div> -->
<!-- Enter otp end here -->


<!-- Edit Address Modal start here -->
<!-- <div class="modal fade" id="editAddressList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document"> -->
<!-- <div class="">
    <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
        <button type="button" class="close" ng-click="close();" aria-label="Close">
            <span class="clr_black" aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title theme_color f_weight_700" id="myModalLabel">Edit User Address</h4>
    </div>

    <div class="quan-disc-table">
        <form class="" novalidate>
            <div class="row">
                <div class="col-md-12">
                    <div class="row marg_btm_5">
                        <div class="col-md-6" ng-show="cust_profile">
                            <label for="name">Fullname</label>
                            <input type="text" class="form-control" name="name" ng-model="edit_shipping_addr.fullname">
                        </div>
                        <div class="col-md-6" ng-show="cust_profile">
                            <label for="address">Mobile no</label>
                            <input type="text" class="form-control" name="address" ng-model="edit_shipping_addr.mobile">
                        </div>
                    </div>
                    <div class="row marg_btm_5">
                        <div class="col-md-6">
                            <label for="name">D/No</label>
                            <input type="text" class="form-control" name="name" ng-model="edit_shipping_addr.d_no">
                        </div>
                        <div class="col-md-6">
                            <label for="address">Street</label>
                            <input type="text" class="form-control" name="address" ng-model="edit_shipping_addr.street">
                        </div>
                    </div>
                    <div class="row marg_btm_5">
                        <div class="col-md-6">
                            <label for="c_person">City</label>
                            <input type="text" class="form-control" name="c_person" ng-model="edit_shipping_addr.city">
                        </div>
                        <div class="col-md-6">
                            <label for="c_Number">State</label>
                            <input type="text" class="form-control" name="c_Number" ng-model="edit_shipping_addr.state">
                        </div>
                    </div>
                    <div class="row marg_btm_10">
                        <div class="col-md-6">
                            <label for="pincode">Country</label>
                            <input type="text" class="form-control" name="pincode" ng-model="edit_shipping_addr.zipcode">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
        <button type="button" class="btn theme_bgclr pull-left" ng-click="close();">Close</button>
        <button type="button" class="btn theme_bgclr" ng-click="close();" ng-click="editAddress(edit_shipping_addr)">Save</button>
    </div>
</div> -->
<!-- </div>
</div> -->
<!-- Edit Address Modal end here -->


<!-- Add Address Modal start here -->
<!-- <div class="modal fade" id="addAddressList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document"> -->
<!-- <div class="">
    <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
        <button type="button" class="close" ng-click="close();" aria-label="Close">
            <span class="clr_black" aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title theme_color f_weight_700 " id="myModalLabel">Add Shipping Address</h4>
    </div>
    <div>
        <div class="quan-disc-table">
            <form name="addForm" class="" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row marg_btm_5">
                            <div class="col-md-6" ng-show="cust_profile">
                                <label for="name">Fullname</label>
                                <input type="text" class="form-control" placeholder="Enter your Fullname" name="name" ng-model="shipping_addr.fullname">
                            </div>
                            <div class="col-md-6" ng-show="cust_profile">
                                <label for="address">Mobile no</label>
                                <input type="text" class="form-control" placeholder="Enter your Mobile number" name="address" ng-model="shipping_addr.mobile">
                            </div>
                        </div>
                        <div class="row marg_btm_5">
                            <div class="col-md-6">
                                <label for="name">D/No</label>
                                <input type="text" class="form-control" placeholder="Enter your House number" name="name" ng-model="shipping_addr.d_no">
                            </div>
                            <div class="col-md-6">
                                <label for="address">Street</label>
                                <input type="text" class="form-control" placeholder="Enter your Street name" name="address" ng-model="shipping_addr.street">
                            </div>
                        </div>
                        <div class="row marg_btm_5">
                            <div class="col-md-6">
                                <label for="c_person">City</label>
                                <input type="text" class="form-control" name="c_person" placeholder="Enter your City name" ng-model="shipping_addr.city">
                            </div>
                            <div class="col-md-6">
                                <label for="c_Number">State</label>
                                <input type="text" class="form-control" name="c_Number" placeholder="Enter your State name" ng-model="shipping_addr.state">
                            </div>
                        </div>
                        <div class="row marg_btm_10">
                            <div class="col-md-6">
                                <label for="pincode">Pincode</label>
                                <input type="text" class="form-control" name="pincode" placeholder="Enter your Pincode" ng-model="shipping_addr.zipcode">
                            </div>
                            <div class="col-md-6">
                                <label for="pincode">Country</label>
                                <input type="text" class="form-control" name="country" placeholder="Enter your country name" ng-model="shipping_addr.country">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div ng-show="cust_profile">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" ng-model="shippingIsSameAsBilling" id="invalidCheck_deli" required>
                            <label class="form-check-label1" for="invalidCheck_deli">Use as my Default billing address
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boder">
                <span>
                    <h4 class="modal-title theme_color f_weight_700 mar_l_15" id="myModalLabel">Add Billing Address
                    </h4>
                </span>
                <div class="quan-disc-table">
                    <form class="" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row marg_btm_5">
                                    <div class="col-md-6" ng-show="cust_profile">
                                        <label for="name">Fullname</label>
                                        <input type="text" class="form-control" name="name" placeholder="Enter your Fullname" ng-model="billing_addr.fullname" ng-disabled="shippingIsSameAsBilling">
                                    </div>
                                    <div class="col-md-6" ng-show="cust_profile">
                                        <label for="address">Mobile no</label>
                                        <input type="text" class="form-control" name="address" ng-model="billing_addr.mobile" placeholder="Enter your Mobile number"
                                            ng-disabled="shippingIsSameAsBilling">
                                    </div>
                                </div>
                                <div class="row marg_btm_5">
                                    <div class="col-md-6">
                                        <label for="name">D/No</label>
                                        <input type="text" class="form-control" name="name" placeholder="Enter your House number" ng-model="billing_addr.d_no" ng-disabled="shippingIsSameAsBilling">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="address">Street</label>
                                        <input type="text" class="form-control" name="address" placeholder="Enter your Street name" ng-model="billing_addr.street"
                                            ng-disabled="shippingIsSameAsBilling">
                                    </div>
                                </div>
                                <div class="row marg_btm_5">
                                    <div class="col-md-6">
                                        <label for="c_person">City</label>
                                        <input type="text" class="form-control" name="c_person" placeholder="Enter your City name" ng-model="billing_addr.city" ng-disabled="shippingIsSameAsBilling">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="c_Number">State</label>
                                        <input type="text" class="form-control" name="c_Number" placeholder="Enter your State name" ng-model="billing_addr.state"
                                            ng-disabled="shippingIsSameAsBilling">
                                    </div>
                                </div>
                                <div class="row marg_btm_10">
                                    <div class="col-md-6">
                                        <label for="pincode">Pincode</label>
                                        <input type="text" class="form-control" name="pincode" placeholder="Enter your Pincode" ng-model="billing_addr.zipcode" ng-disabled="shippingIsSameAsBilling">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="pincode">country</label>
                                        <input type="text" class="form-control" name="country" placeholder="Enter your country name" ng-model="billing_addr.country"
                                            ng-disabled="shippingIsSameAsBilling">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
        <button type="button" class="btn theme_bgclr pull-left" ng-click="close();">Close</button>
        <button type="button" class="btn theme_bgclr" ng-click="close();" ng-show="!cust_profile" ng-click="addAddressProfile(shipping_addr)">Save</button>
        <button type="button" class="btn theme_bgclr" ng-click="close();" ng-show="cust_profile" ng-click="addcustomeraddr(shipping_addr,billing_addr)">Save</button>
    </div>
</div> -->
<!-- </div>
    </div> -->
<!-- Add Address Modal end here -->