<style>
    /*  dashboard my profile styles start here  */

    /* div.bhoechie-tab-container {
        z-index: 10;
        background-color: #ffffff;
        padding: 0 !important;
        border-radius: 4px;
        -moz-border-radius: 4px;
        border: 1px solid #ddd;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        background-clip: padding-box;
        opacity: 0.97;
        filter: alpha(opacity=97);
    }
   
    div.bhoechie-tab-menu div.list-group {
        margin-bottom: 0;
    }
    div.bhoechie-tab-menu div.list-group>a {
        margin-bottom: 0;
    }
    div.bhoechie-tab-menu div.list-group>a:first-child {
        border-top-right-radius: 0;
        -moz-border-top-right-radius: 0;
    }
    div.bhoechie-tab-menu div.list-group>a:last-child {
        border-bottom-right-radius: 0;
        -moz-border-bottom-right-radius: 0;
    } */

    div.bhoechie-tab-menu {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
    }

    div.bhoechie-tab-content {
        background-color: #ffffff;
        width: 100%;
        border-radius: 2px;
        float: left;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    }

    div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
        display: none;
    }

    .nav_block {
        background: #fff;
        height: 550px;
        border-radius: 2px;
        width: 100%;
        z-index: 999;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    }

    .nav_block1 {
        background: #fff;
        width: 100%;
        border-radius: 2px;
        z-index: 999;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
        padding: 12px;
        margin-bottom: 10px;
    }

    .margin_top_20 {
        margin-top: 20px;
    }

    .pro_pic {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        float: left;
        margin-right: 10px;
    }

    .pro_info .pro_name {
        padding-top: 3px;
        font-size: 14px;
        font-weight: 600;
        text-transform: capitalize;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .pro_info .pro_wish {
        font-size: 12px;
    }

    .pro_info {
        padding: 5px 0 0 16px;
        width: calc(100% - 50px);
    }

    .list-group.nav_block a {
        padding-left: 20px;
        font-size: 13px;
        font-weight: 600;
        color: #232f3e;
    }

    .list-group.nav_block a.active,
    .list-group.nav_block a.active:hover,
    .list-group.nav_block a.active:focus {
        color: #fff;
        background-color: #37475a;
    }

    .list-group.nav_block a>.dshbrd_icons {
        padding-right: 7px;
        font-size: 16px;
    }

    .display_profile_block {
        padding: 25px;
        /* float: left; */
    }

    .title_name {
        font-size: 16px;
        font-weight: 600;
        display: block;
        padding-bottom: 15px;
    }

    /*  dashboard my profile styles end here  */
</style>

<script>
    $(document).ready(function () {
        $("div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
            e.preventDefault();
            $(this).siblings('a.active').removeClass("active");
            $(this).addClass("active");
            var index = $(this).index();
            $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
            $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
        });
    });
</script>
<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
</head>


<div class="container1" ng-controller="userProfileController">

    <div class="row">

        <!-- <div class="box-head11">
            <div>User Profile</div>
        </div> -->
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margin_top_20">

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu">
                <div class="nav_block1">
                    <img class="pro_pic" src="http://img1a.flixcart.com/www/linchpin/fk-cp-zion/img/profile-pic-male_2fd3e8.svg">
                    <div class="pro_info">
                        <div class="pro_wish">Hello,</div>
                        <div class="pro_name">{{username}}</div>
                    </div>
                </div>

                <div class="list-group nav_block">
                    <a href="#" class="list-group-item active">
                        <i class="fa fa-user dshbrd_icons" aria-hidden="true"></i> My Profile
                    </a>
                    <!-- <a href="#" class="list-group-item" ng-if="cust_profile">
                        <i class="fa fa-shopping-cart dshbrd_icons" aria-hidden="true"></i> My Orders
                    </a> -->
                    <!-- <a href="#" class="list-group-item">
                        <i class="fa fa-address-book dshbrd_icons" aria-hidden="true"></i> Address Book
                    </a> -->
                    <!-- <a href="#" class="list-group-item" ng-click="wishlist()" ng-if="cust_profile">
                        <i class="fa fa-heart dshbrd_icons" aria-hidden="true"></i> My WishList
                    </a>
                    <a href="#" class="list-group-item" ng-if="cust_profile">
                        <i class="fa fa-file-text dshbrd_icons" aria-hidden="true"></i> My Invoice
                    </a> -->
                    <a href="#" class="list-group-item" ng-controller="homeController" ng-click="goToLogout()">
                        <i class="fa fa-power-off dshbrd_icons" aria-hidden="true"></i> Logout
                    </a>
                </div>
            </div>

            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 bhoechie-tab" style="float:right !important;">
                <div class="bhoechie-tab-content active">
                    <div class="">
                        <div class="display_profile_block">
                            <div class="title_name theme_color">
                                My Profile
                            </div>
                            <div class="">
                                <div class="" id="dealer_addr" style="width:235px;margin-right: 10px;background: #f7f7f7;">
                                    <p>
                                        <span class="del_details font_14">User Profile</span>
                                    </p>
                                    <div class="shop_add_part111 font_12" ng-show="!cust_profile">
                                        <p class="marg_btm_5">
                                            <label class="theme_color">Shop Name : </label>
                                            <label>
                                                <span>{{profile_info.reg_shopname}}</span>
                                            </label>
                                        </p>
                                        <p class="marg_btm_5">
                                            <label class="theme_color">User Name : </label>
                                            <label>
                                                <span>{{profile_info.dealer_name}}</span>
                                            </label>
                                        </p>
                                        <p class="marg_btm_5">
                                            <label class="theme_color">Mobile No : </label>
                                            <label>
                                                <span>{{profile_info.dealer_mobile}}</span>
                                                <span class="edit_styles" data-toggle="modal" ng-click="editmobileNo(profile_info)"
                                                    title="Edit">
                                                    <i class="fa fa-edit"></i>
                                                </span>
                                            </label>
                                        </p>
                                        <p class="marg_btm_5">
                                            <label class="theme_color">Mail ID : </label>
                                            <label>
                                                <span>{{profile_info.dealer_mail}}</span>
                                            </label>
                                        </p>
                                    </div>
                                    <div class="shop_add_part111 font_12" ng-show="cust_profile">
                                        <p class="marg_btm_5 ">
                                            <label class="theme_color">First Name : </label>
                                            <label>
                                                <span>{{profile_info.firstname}}</span>
                                            </label>
                                        </p>
                                        <p class="marg_btm_5">
                                            <label class="theme_color">Last Name : </label>
                                            <label>
                                                <span>{{profile_info.lastname}}</span>
                                            </label>
                                        </p>
                                        <p class="marg_btm_5">
                                            <label class="theme_color">Mobile No : </label>
                                            <label>
                                                <span>{{profile_info.mobile}}</span>
                                                <span class="edit_styles" data-toggle="modal" ng-click="editmobileNo(profile_info)"
                                                    title="Edit">
                                                    <i class="fa fa-edit"></i>
                                                </span>
                                            </label>
                                        </p>
                                        <p class="marg_btm_5">
                                            <label class="theme_color">Mail ID : </label>
                                            <label>
                                                <span>{{profile_info.email}}</span>
                                            </label>
                                        </p>
                                    </div>
                                </div>

                                <div class="" ng-show="!cust_profile" id="dealer_addr" style="width:235px;margin-right: 10px;background: #f7f7f7;">
                                    <p>
                                        <span class="del_details font_14">Billing Address</span>
                                    </p>
                                    <div class="shop_add_part111 font_12">
                                        <div class="">
                                            <p class="marg_btm_5">
                                                <b>D/No</b> :
                                                <span>{{billing_info.dno}}, </span>
                                            </p>
                                            <p class="marg_btm_5">
                                                <b>Street</b> :
                                                <span>{{billing_info.street}}, </span>
                                            </p>
                                            <p class="marg_btm_5">
                                                <b>City</b> :
                                                <span>{{billing_info.city}}, </span>
                                            </p>
                                            <p class="marg_btm_5">
                                                <b>State</b> :
                                                <span>{{billing_info.state}}, </span>
                                            </p>
                                            <p class="marg_btm_5">
                                                <b>Pincode</b> :
                                                <span>{{billing_info.zipcode}}.</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="" ng-show="cust_profile" id="dealer_addr" style="width:235px;margin-right: 10px;background: #f7f7f7;"
                                    ng-repeat="data in billing_info">
                                    <p>
                                        <span class="del_details font_14">Billing Address</span>
                                    </p>
                                    <div class="shop_add_part111 font_12">
                                        <div class="">
                                            <p class="marg_btm_5">
                                                <b>Fullname</b> :
                                                <span>{{data.full_name}}, </span>
                                            </p>
                                            <p class="marg_btm_5">
                                                <b>Mobile No</b> :
                                                <span>{{data.mobile}}, </span>
                                            </p>
                                            <p class="marg_btm_5">
                                                <b>D/No</b> :
                                                <span>{{data.dno}}, </span>
                                            </p>
                                            <p class="marg_btm_5">
                                                <b>Street</b> :
                                                <span>{{data.street}}, </span>
                                            </p>
                                            <p class="marg_btm_5">
                                                <b>City</b> :
                                                <span>{{data.city}}, </span>
                                            </p>
                                            <p class="marg_btm_5">
                                                <b>State</b> :
                                                <span>{{data.state}}, </span>
                                            </p>
                                            <p class="marg_btm_5">
                                                <b>Pincode</b> :
                                                <span>{{data.zipcode}}.</span>
                                            </p>
                                            <p class="marg_btm_5">
                                                <b>Country</b> :
                                                <span>{{data.country}}.</span>
                                            </p>
                                        </div>
                                        <div class="address_change">
                                            <a href="" class="split_click" data-toggle="modal" ng-click="editAddressProfile(data,'billing')">Edit</a>
                                            |
                                            <a href="" class="split_click" ng-click="deleteShippAddress(data)">Delete</a>
                                            |
                                            <a href="" class="split_click" ng-if="default_address != data.addunique_nbr" ng-click="setAsDefault(data)">Set
                                                as Default</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="" id="dealer_addr" style="width:235px;background: #f7f7f7;margin-right: 10px;"
                                    ng-repeat="data in shipping_info">
                                    <p>
                                        <span class="del_details font_14">Shipping Address</span>
                                    </p>
                                    <div class="shop_add_part111 font_12">
                                        <div class="">
                                            <p class="marg_btm_5" ng-show="cust_profile">
                                                <b>Fullname</b> :
                                                <span>{{data.full_name}}, </span>
                                            </p>
                                            <p class="marg_btm_5" ng-show="cust_profile">
                                                <b>Mobile No</b> :
                                                <span>{{data.mobile}}, </span>
                                            </p>
                                            <p class="marg_btm_5">
                                                <b>D/No</b> :
                                                <span>{{data.dno}}, </span>
                                            </p>
                                            <p class="marg_btm_5">
                                                <b>Street</b> :
                                                <span>{{data.street}}, </span>
                                            </p>
                                            <p class="marg_btm_5">
                                                <b>City</b> :
                                                <span>{{data.city}}, </span>
                                            </p>
                                            <p class="marg_btm_5">
                                                <b>State</b> :
                                                <span>{{data.state}}, </span>
                                            </p>
                                            <p class="marg_btm_5">
                                                <b>Pinode</b> :
                                                <span>{{data.zipcode}}.</span>
                                            </p>
                                            <p class="marg_btm_5">
                                                <b>country</b> :
                                                <span>{{data.country}}.</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="address_change">
                                        <a href="" class="split_click" data-toggle="modal" ng-click="editAddressProfile(data,'shipping')">Edit</a>
                                        |
                                        <a href="" class="split_click" ng-click="deleteShippAddress(data)">Delete</a> |
                                        <a href="" class="split_click" ng-if="default_address != data.addunique_nbr"
                                            ng-click="setAsDefault(data)">Set
                                            as Default</a>
                                    </div>
                                </div>

                                <div class="" id="dealer_addr" style="width:235px;margin-right: 10px;background: #f7f7f7;">
                                    <div class="add_address">
                                        <a href="" ng-click="AddAddress()">
                                            <img src="images/plus_icon2.png" style="width:15%;" />
                                            <h2 class="a-color-tertiary font_18">Add address</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- <div class="bhoechie-tab-content">
                    <div class="">
                        <div class="display_profile_block">
                            <div class="title_name theme_color">
                                My Orders
                            </div>

                            <div class="prod-category" style="background:#f3f3f3;margin-bottom:10px;">
                                <div class="row">
                                    <div class="serch_title">Search for Orders</div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 serch_blocks">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                            <label>Material No:</label>
                                            <input type="text">
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                            <label>Material No:</label>
                                            <input type="text">
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                            <label>Material No:</label>
                                            <input type="text">
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                            <div class="button-group">
                                                <button type="button" title="Get" class="btn theme_bgclr del_cat_dropdowns" ng-click="getdistributorcatgetdata()">Get</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="orders_tabs">
                                <div class="tab">
                                    <button class="tablinks" onclick="openCity(event, 'all')">All</button>
                                    <button class="tablinks" onclick="openCity(event, 'inprocess')">In-Process</button>
                                    <button class="tablinks" onclick="openCity(event, 'delivered')">Delivered</button>
                                    <button class="tablinks" onclick="openCity(event, 'backOrders')">Back-Orders</button>
                                </div>
                                <div id="all" class="tabcontent">
                                    <div class="product_based_list">
                                        <div class="table-responsive">
                                            <table class="table table-bordered pending_order table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="txt_centr">S.No</th>
                                                        <th class="txt_left">Status </th>
                                                        <th class="txt_left">Date</th>
                                                        <th class="txt_left">Cust Order No</th>
                                                        <th class="txt_left">Powertex Order No</th>
                                                        <th class="txt_left">Invoices</th>
                                                        <th class="txt_left">Order Lines</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="txt_centr">1</td>
                                                        <td class="txt_left">cvbjvh</td>
                                                        <td class="txt_left">12-2-2018-</td>
                                                        <td class="txt_left" ng-mouseover="open = true">
                                                            <span class="split_click">
                                                                <i class="fa fa-search-plus" aria-hidden="true"></i> 343345</span>
                                                        </td>
                                                        <td class="txt_left">t7657668</td>
                                                        <td class="txt_left">2342343543</td>
                                                        <td class="txt_left">e534sdf</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div class="hover_div_table" ng-show="open" ng-mouseleave="open = false">
                                                <div class="product_based_list111">
                                                    <div class="table-responsive">
                                                        <table class="table pending_order111">
                                                            <thead>
                                                                <tr>
                                                                    <th class="txt_centr">S.No</th>
                                                                    <th class="txt_left">Invoice No </th>
                                                                    <th class="txt_left">Name</th>
                                                                    <th class="txt_left">Pices</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <div>
                                                                    <tr>
                                                                        <td class="txt_centr">1</td>
                                                                        <td class="txt_left">64565467</td>
                                                                        <td class="txt_left">gdfg bfdb fddf</td>
                                                                        <td class="txt_left">24</td>
                                                                    </tr>
                                                                </div>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                   
                                </div>
                                <div id="inprocess" class="tabcontent">
                                    <h3>Paris</h3>
                                    <p>Paris is the capital of France.</p>
                                </div>
                                <div id="delivered" class="tabcontent">
                                    <h3>Tokyo</h3>
                                    <p>Tokyo is the capital of Japan.</p>
                                </div>
                                <div id="backOrders" class="tabcontent">
                                    <h3>dsfsg</h3>
                                    <p>dfgdg xdfds dfsdc sdaf.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="bhoechie-tab-content">
                    <div class="">
                        <div class="display_profile_block">
                            <div class="title_name theme_color">
                                Title Information
                            </div>
                            <div class="">
                                <h1>Address Book</h1>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="bhoechie-tab-content" id="wishList">
                    <div class="">
                        <div class="display_profile_block">
                            <div class="title_name theme_color">
                                My Wishlist
                            </div>
                            <div class="">
                                <div class="">

                                    <div class="row" id="edit_row">
                                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                            <div class="block_account_dashboard">
                                                <div class="basic_dashboard" ng-if="yourWishlist!=''">
                                                   <div class="my_wishlist" ng-repeat="list in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                                        <div class="my_wishlist_data">
                                                            <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                                                                <div class="m_w_img_blk">
                                                                    <div class="m_w_img_blk1">
                                                                        <div class="m_w_img_blk2" style="height: 100px; width: 100px;">
                                                                            <img class="m_w_img" alt="{{list.upload_name}}" src="images/ProductImages/{{list.image}}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
                                                                <div class="m_w_data_blk">
                                                                    <div class="col col-10-12">

                                                                        <div class="m_w_p_name" ng-click="productDetails(list)" title="{{list.upload_name}}">
                                                                            {{list.upload_name}}
                                                                        </div>

                                                                        <div class="m_w_rating_blk">
                                                                            <span class="m_w_ratng">
                                                                                <div class="m_w_ratng_star">4.4 ★</div>
                                                                            </span>
                                                                            <span class="m_w_ratng_users">(17 Reviews)</span>
                                                                        </div>

                                                                        <div class="m_w_price_blk">
                                                                            <div class="m_w_price_list">
                                                                                <div class="m_w_ofr_price">{{list.enduser_price | noFractionCurrency:'&#8377;'}}</div>
                                                                                <div class="m_w_mrp_price">{{list.upload_mrp | noFractionCurrency:'&#8377;'}}</div>
                                                                                <div class="m_w_percentage_price">
                                                                                    <span>{{list.percentage}}% Off</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                                                                <div class="m_w_icons_list_blk">
                                                                    <div class="m_w_icons_list">
                                                                        <div class="">
                                                                            <span class="" ng-click="removeWishListItem(list)">
                                                                                <i class="fa fa-trash m_w_icons" title="delete" style="font-size: 20px;"></i>
                                                                            </span>
                                                                        </div>
                                                                        <div class="" ng-controller="customercartController">
                                                                            <span ng-click="addTocart(list)">
                                                                                <i class="fa fa-shopping-cart m_w_icons" title="Add to cart" style="margin-top: 10px;font-size: 20px;color: #293071;"></i>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                 
                                                </div>

                                                <div class="box-head" ng-if="yourWishlist==''" style="margin-top:10px;margin-bottom: 23%;margin-left:-15px;margin-right: 0px;">
                                                    <h2>No Records Found!!!</h2>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="addedToCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="homeController">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">Add Customer</h4>
                                                </div>
                                                <form action="#" method="post" accept-charset="utf-8" enctype="multipart/form-data">
                                                    <div class="modal-body">
                                                        <span>Added to Cart Successfully!</span>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-add">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="bhoechie-tab-content">
                    <div class="">
                        <div class="display_profile_block">
                            <div class="title_name theme_color">
                                My Invoice
                            </div>
                            <div class="">
                                <h1>My Invoice</h1>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="bhoechie-tab-content">
                    <div class="">
                        <div class="display_profile_block">
                            <div class="title_name theme_color">
                                Title Information
                            </div>
                            <div class="">
                                <h1>Logout</h1>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
    </div>

    <!-- Add Address Modal start here -->
    <div class="modal fade" id="addAddressList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="clr_black" aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title theme_color f_weight_700 " id="myModalLabel">Add Shipping Address</h4>
                </div>

                <div class="quan-disc-table">
                    <form name="addForm" class="" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row marg_btm_5">
                                    <div class="col-md-6" ng-show="cust_profile">
                                        <label for="name">Fullname</label>
                                        <input type="text" class="form-control" placeholder="Enter your Fullname" name="name"
                                            ng-model="shipping_addr.fullname">
                                    </div>
                                    <div class="col-md-6" ng-show="cust_profile">
                                        <label for="address">Mobile no</label>
                                        <input type="text" class="form-control" placeholder="Enter your Mobile number"
                                            name="address" ng-model="shipping_addr.mobile">
                                    </div>
                                </div>
                                <div class="row marg_btm_5">
                                    <div class="col-md-6">
                                        <label for="name">D/No</label>
                                        <input type="text" class="form-control" placeholder="Enter your House number"
                                            name="name" ng-model="shipping_addr.d_no">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="address">Street</label>
                                        <input type="text" class="form-control" placeholder="Enter your Street name"
                                            name="address" ng-model="shipping_addr.street">
                                    </div>
                                </div>
                                <div class="row marg_btm_5">
                                    <div class="col-md-6">
                                        <label for="c_person">City</label>
                                        <input type="text" class="form-control" name="c_person" placeholder="Enter your City name"
                                            ng-model="shipping_addr.city">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="c_Number">State</label>
                                        <input type="text" class="form-control" name="c_Number" placeholder="Enter your State name"
                                            ng-model="shipping_addr.state">
                                    </div>
                                </div>
                                <div class="row marg_btm_10">
                                    <div class="col-md-6">
                                        <label for="pincode">Pincode</label>
                                        <input type="text" class="form-control" name="pincode" placeholder="Enter your Pincode"
                                            ng-model="shipping_addr.zipcode">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="pincode">Country</label>
                                        <input type="text" class="form-control" name="country" placeholder="Enter your country name"
                                            ng-model="shipping_addr.country">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>

                <div ng-show="cust_profile">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" ng-model="shippingIsSameAsBilling"
                                        id="invalidCheck_deli" required>
                                    <label class="form-check-label1" for="invalidCheck_deli">Use as my Default billing
                                        address</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="boder">
                        <span>
                            <h4 class="modal-title theme_color f_weight_700 mar_l_15" id="myModalLabel">Add Billing
                                Address</h4>
                        </span>
                        <div class="quan-disc-table">
                            <form class="" novalidate>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row marg_btm_5">
                                            <div class="col-md-6" ng-show="cust_profile">
                                                <label for="name">Fullname</label>
                                                <input type="text" class="form-control" name="name" placeholder="Enter your Fullname"
                                                    ng-model="billing_addr.fullname" ng-disabled="shippingIsSameAsBilling">
                                            </div>
                                            <div class="col-md-6" ng-show="cust_profile">
                                                <label for="address">Mobile no</label>
                                                <input type="text" class="form-control" name="address" ng-model="billing_addr.mobile"
                                                    placeholder="Enter your Mobile number" ng-disabled="shippingIsSameAsBilling">
                                            </div>
                                        </div>
                                        <div class="row marg_btm_5">
                                            <div class="col-md-6">
                                                <label for="name">D/No</label>
                                                <input type="text" class="form-control" name="name" placeholder="Enter your House number"
                                                    ng-model="billing_addr.d_no" ng-disabled="shippingIsSameAsBilling">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="address">Street</label>
                                                <input type="text" class="form-control" name="address" placeholder="Enter your Street name"
                                                    ng-model="billing_addr.street" ng-disabled="shippingIsSameAsBilling">
                                            </div>
                                        </div>
                                        <div class="row marg_btm_5">
                                            <div class="col-md-6">
                                                <label for="c_person">City</label>
                                                <input type="text" class="form-control" name="c_person" placeholder="Enter your City name"
                                                    ng-model="billing_addr.city" ng-disabled="shippingIsSameAsBilling">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="c_Number">State</label>
                                                <input type="text" class="form-control" name="c_Number" placeholder="Enter your State name"
                                                    ng-model="billing_addr.state" ng-disabled="shippingIsSameAsBilling">
                                            </div>
                                        </div>
                                        <div class="row marg_btm_10">
                                            <div class="col-md-6">
                                                <label for="pincode">Pincode</label>
                                                <input type="text" class="form-control" name="pincode" placeholder="Enter your Pincode"
                                                    ng-model="billing_addr.zipcode" ng-disabled="shippingIsSameAsBilling">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="pincode">country</label>
                                                <input type="text" class="form-control" name="country" placeholder="Enter your country name"
                                                    ng-model="billing_addr.country" ng-disabled="shippingIsSameAsBilling">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr>
                </div>

                <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
                    <button type="button" class="btn theme_bgclr pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn theme_bgclr"  data-dismiss="modal"
                        ng-show="!cust_profile" ng-click="addAddressProfile(shipping_addr)">Save</button>
                    <button type="button" class="btn theme_bgclr" data-dismiss="modal" ng-show="cust_profile" ng-click="addcustomeraddr(shipping_addr,billing_addr)">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Address Modal end here -->


    <!-- Edit Address Modal start here -->
    <div class="modal fade" id="editAddressList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                
                <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="clr_black" aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title theme_color f_weight_700" id="myModalLabel">Edit User Address</h4>
                </div>

                <div class="quan-disc-table">
                    <form class="" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row marg_btm_5">
                                    <div class="col-md-6" ng-show="cust_profile">
                                        <label for="name">Fullname</label>
                                        <input type="text" class="form-control" name="name" ng-model="edit_shipping_addr.fullname">
                                    </div>
                                    <div class="col-md-6" ng-show="cust_profile">
                                        <label for="address">Mobile no</label>
                                        <input type="text" class="form-control" name="address" ng-model="edit_shipping_addr.mobile">
                                    </div>
                                </div>
                                <div class="row marg_btm_5">
                                    <div class="col-md-6">
                                        <label for="name">D/No</label>
                                        <input type="text" class="form-control" name="name" ng-model="edit_shipping_addr.d_no">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="address">Street</label>
                                        <input type="text" class="form-control" name="address" ng-model="edit_shipping_addr.street">
                                    </div>
                                </div>
                                <div class="row marg_btm_5">
                                    <div class="col-md-6">
                                        <label for="c_person">City</label>
                                        <input type="text" class="form-control" name="c_person" ng-model="edit_shipping_addr.city">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="c_Number">State</label>
                                        <input type="text" class="form-control" name="c_Number" ng-model="edit_shipping_addr.state">
                                    </div>
                                </div>
                                <div class="row marg_btm_10">
                                    <div class="col-md-6">
                                        <label for="pincode">Country</label>
                                        <input type="text" class="form-control" name="pincode" ng-model="edit_shipping_addr.zipcode">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
                    <button type="button" class="btn theme_bgclr pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn theme_bgclr" data-dismiss="modal" ng-click="editAddress(edit_shipping_addr)">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Address Modal end here -->

    <!-- Edit mobile no Modal start here -->
    <div class="modal fade" id="editmobileNo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="clr_black" aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title theme_color f_weight_700" id="myModalLabel">Edit Mobile Number</h4>
                </div>

                <div class="quan-disc-table">
                    <form class="" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row marg_btm_10">
                                    <div class="col-md-12">
                                        <label for="mobile">Mobile No</label>
                                        <input type="text" class="form-control" ng-model="mobile_no" name="mobile">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
                    <button type="button" class="btn theme_bgclr pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn theme_bgclr" ng-click="editmobilenum(mobile_no)" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit mobile no Modal end here -->

    <!-- Enter otp start here -->
    <div class="modal fade" id="editotp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="clr_black" aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title theme_color f_weight_700" id="myModalLabel">Enter OTP</h4>
                </div>

                <div class="quan-disc-table">
                    <form class="" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row marg_btm_10">
                                    <div class="col-md-12">
                                        <!-- <label for="mobile">Mobile No</label> -->
                                        <input type="text" class="form-control" ng-model="otp" name="otp">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
                    <button type="button" class="btn theme_bgclr pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn theme_bgclr" ng-click="enterotp(otp)" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Enter otp end here -->

</div>

<!-- Total footer start here-->
<div class="ttl_footer1">
    <!-- footer1 start here -->
    <!-- <footer ng-controller="homeController" class="footerbar footer">
		<div class="container1">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
						<div class="row row1" id="ftr_ss">
							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>POWERTEX TOOLS</b>
									</h5>
									<li id="footer_links_valuess">
										<a href="aboutus.html" class="footerText"> ABOUT US</a>
									</li>
								</ul>
							</div>

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>CONTACT US</b>
									</h5>
									<li id="footer_links_valuess">
										<span style="margin-left: 5px;">
											<i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
										</span>
										<span class="footerText1 footer_links_addere">
											<span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
											<span style="margin-left: 25px;"> Bahadurpura,</span>
											<br/>
											<span style="margin-left: 25px;">500064,</span>
											<br/>
											<span style="margin-left: 25px;">Hyderabad,</span>
											<br/>
											<span style="margin-left: 25px;">Telangana.</span>
											<br/>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">EMAIL: </b>
											<a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
												info@powertextools.com </a>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-phone" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">PHONE: </b>
											<a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer> -->
    <!-- footer1 end here -->

    <!-- footer2 start here -->
    <footer class="footerbar1 footer" id="new_ftr">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp;
                                Golden Sun Technology.</span>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer2 end here -->
</div>
<!-- Total footer end here-->