<div>
    <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
        <button type="button" class="close" ng-click="close();" aria-label="Close">
            <span class="clr_black" aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title theme_color f_weight_700" id="myModalLabel">{{header_title}}</h4>
    </div>

    <div class="quan-disc-table" ng-if="!add_address">
        <form class="" novalidate>
            <!-- Edit start here -->
            <div class="row">
                <div class="col-md-12">
                    <div class="row marg_btm_5">
                        <div class="col-md-6" ng-show="cust_profile">
                            <label for="name">Fullname</label>
                            <input type="text" class="form-control" name="name" ng-model="edit_shipping_addr.fullname">
                        </div>
                        <div class="col-md-6" ng-show="cust_profile">
                            <label for="address">Mobile no</label>
                            <input type="text" class="form-control" name="address" ng-model="edit_shipping_addr.mobile">
                        </div>
                    </div>
                    <div class="row marg_btm_5">
                        <div class="col-md-6">
                            <label for="name">D/No</label>
                            <input type="text" class="form-control" name="name" ng-model="edit_shipping_addr.d_no">
                        </div>
                        <div class="col-md-6">
                            <label for="address">Street</label>
                            <input type="text" class="form-control" name="address" ng-model="edit_shipping_addr.street">
                        </div>
                    </div>
                    <div class="row marg_btm_5">
                        <div class="col-md-6">
                            <label for="c_person">City</label>
                            <input type="text" class="form-control" name="c_person" ng-model="edit_shipping_addr.city">
                        </div>
                        <div class="col-md-6">
                            <label for="c_Number">State</label>
                            <input type="text" class="form-control" name="c_Number" ng-model="edit_shipping_addr.state">
                        </div>
                    </div>
                    <div class="row marg_btm_10">
                        <div class="col-md-6">
                            <label for="pincode">Pincode</label>
                            <input type="text" class="form-control" name="pincode" ng-model="edit_shipping_addr.zipcode">
                        </div>
                        <div class="col-md-6">
                            <label for="pincode">Country</label>
                            <input type="text" class="form-control" name="country" ng-model="edit_shipping_addr.country">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    
    </div>
        <!-- Edit end here -->

        <!--Add Address Start here -->
        <div ng-if="add_address">
                <div class="quan-disc-table">
                        <form name="editform" class="" novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row marg_btm_5">
                                        <div class="col-md-6" ng-show="cust_profile">
                                            <label for="name">Fullname</label>
                                            <input type="text" class="form-control" placeholder="Enter your Fullname" name="name" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,50}$/" required
                                                ng-model="shipping_addr.fullname">
                                                <div ng-messages="editform.name.$error " class="validation_msgs">
                                                        <span class="validationError errorMsg" ng-show="submitted && editform.name.$error.required">Please Enter Name.</span>
                                                        <p class="validationError errorMsg" ng-message="pattern">Please Enter Valid Name. </p>
                                                        <p class="validationError errorMsg" ng-message="minlength">Name should be min 3 digits</p>
                                                        <p class="validationError errorMsg" ng-message="maxlength">Name should be max 50 digits</p>
                                                      </div>  
                                        </div>
                                        <div class="col-md-6" ng-show="cust_profile">
                                            <label for="address">Mobile no</label>
                                            <input type="text" class="form-control" placeholder="Enter your Mobile number" required
                                                name="address" ng-model="shipping_addr.mobile">

                                        </div>
                                    </div>
                                    <div class="row marg_btm_5">
                                        <div class="col-md-6">
                                            <label for="name">D/No</label>
                                            <input type="text" class="form-control" placeholder="Enter your House number" required
                                                name="name" ng-model="shipping_addr.d_no">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="address">Street</label>
                                            <input type="text" class="form-control" placeholder="Enter your Street name"
                                                name="address" ng-model="shipping_addr.street">
                                        </div>
                                    </div>
                                    <div class="row marg_btm_5">
                                        <div class="col-md-6">
                                            <label for="c_person">City</label>
                                            <input type="text" class="form-control" name="c_person" placeholder="Enter your City name"
                                                ng-model="shipping_addr.city">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="c_Number">State</label>
                                            <input type="text" class="form-control" name="c_Number" placeholder="Enter your State name"
                                                ng-model="shipping_addr.state">
                                        </div>
                                    </div>
                                    <div class="row marg_btm_5">
                                        <div class="col-md-6">
                                            <label for="pincode">Pincode</label>
                                            <input type="text" class="form-control" name="pincode" placeholder="Enter your Pincode"
                                                ng-model="shipping_addr.zipcode">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="country">Country</label>
                                            <input type="text" class="form-control" name="country" placeholder="Enter your country name"
                                                ng-model="shipping_addr.country">
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </form>
                    </div>
    
                    <div ng-show="cust_profile">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" ng-model="shippingIsSameAsBilling.addr"
                                            id="invalidCheck_deli" required>
                                        <label class="form-check-label1" for="invalidCheck_deli">Use as my Default billing
                                            address</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="boder">
                            <span>
                                <h4 class="modal-title theme_color f_weight_700 mar_l_15" id="myModalLabel">Add Billing
                                    Address</h4>
                            </span>
                            <div class="quan-disc-table">
                                <form class="" novalidate>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row marg_btm_5">
                                                <div class="col-md-6" ng-show="cust_profile">
                                                    <label for="name">Fullname</label>
                                                    <input type="text" class="form-control" name="name" placeholder="Enter your Fullname"
                                                        ng-model="billing_addr.fullname" ng-disabled="shippingIsSameAsBilling">
                                                </div>
                                                <div class="col-md-6" ng-show="cust_profile">
                                                    <label for="address">Mobile no</label>
                                                    <input type="text" class="form-control" name="address" ng-model="billing_addr.mobile"
                                                        placeholder="Enter your Mobile number" ng-disabled="shippingIsSameAsBilling">
                                                </div>
                                            </div>
                                            <div class="row marg_btm_5">
                                                <div class="col-md-6">
                                                    <label for="name">D/No</label>
                                                    <input type="text" class="form-control" name="name" placeholder="Enter your House number"
                                                        ng-model="billing_addr.d_no" ng-disabled="shippingIsSameAsBilling">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="address">Street</label>
                                                    <input type="text" class="form-control" name="address" placeholder="Enter your Street name"
                                                        ng-model="billing_addr.street" ng-disabled="shippingIsSameAsBilling">
                                                </div>
                                            </div>
                                            <div class="row marg_btm_5">
                                                <div class="col-md-6">
                                                    <label for="c_person">City</label>
                                                    <input type="text" class="form-control" name="c_person" placeholder="Enter your City name"
                                                        ng-model="billing_addr.city" ng-disabled="shippingIsSameAsBilling">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="c_Number">State</label>
                                                    <input type="text" class="form-control" name="c_Number" placeholder="Enter your State name"
                                                        ng-model="billing_addr.state" ng-disabled="shippingIsSameAsBilling">
                                                </div>
                                            </div>
                                            <div class="row marg_btm_5">
                                                <div class="col-md-6">
                                                    <label for="pincode">Pincode</label>
                                                    <input type="text" class="form-control" name="pincode" placeholder="Enter your Pincode"
                                                        ng-model="billing_addr.zipcode" ng-disabled="shippingIsSameAsBilling">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="pincode">country</label>
                                                    <input type="text" class="form-control" name="country" placeholder="Enter your country name"
                                                        ng-model="billing_addr.country" ng-disabled="shippingIsSameAsBilling">
                                                </div>
                                            </div>
    
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr>
                    </div>
    
        </div>

        <!--Add Address end here -->
        <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
            <button type="button" class="btn theme_bgclr pull-left" ng-click="close();">Close</button>
            <button type="button" class="btn theme_bgclr" ng-click="editAddress(edit_shipping_addr)" ng-if="edit_addr && !add_address">Save</button>
            <!-- customerProfile-->
            <button type="button" class="btn theme_bgclr"   ng-click="addcustomeraddr(shipping_addr,billing_addr)" ng-if="add_address && cust_profile">Save</button>
            <!-- DealerProfile -->
            <button type="button" class="btn theme_bgclr"   ng-click="addAddressProfile(shipping_addr)" ng-if="!cust_profile && add_address">Save</button>
        </div>
