<div class="modal-header align_center">
    <img src="images/powertex_logo.png" />
</div>
<div class="modal-body" align="middle">
    <div>
        <img src="images/completed_icon.png" class="pop_image" />
        <br/>
        <span class="completed_styles clr_orange">{{displayNumber}}</span>
        <br/>
        <span class="completed_styles theme_color">{{displayMsg}}</span>
        <br/>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn theme_bgclr" ng-click="close();">OK
    </button>
</div>