<div class="container1" ng-controller="">
    <div class="row">
        <div class="box-head11">
            <h2>Offer Products Data</h2>
        </div>
        <div class="prod-category" style="background: linear-gradient(#56687a,#ffffff);margin-top:4px;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="button-group">
                            <label class="ofr_products_lbl">From Date</label>
                            <input type="date" nae="date" id="date" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="button-group">
                            <label class="ofr_products_lbl">From Date</label>
                            <input type="date" nae="date" id="date" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="button-group">
                            <button type="button" class="btn theme_bgclr" ng-click="">Get</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mar-top-10 theme-bg">
        <div class="box-head11" style="margin-bottom:5px;">
            <h2>Uploaded Data</h2>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">Products Data</div>
            <div class="panel-body">

                <div class="col-md-9">
                    <div class="product_based_list">
                        <table class="table table-bordered pending_order table-striped">
                            <thead class="">
                                <tr>
                                    <th class="txt_centr">S.No</th>
                                    <th class="txt_left">Product ID</th>
                                    <th class="txt_left">Product Name</th>
                                    <th class="txt_left">Model No</th>
                                    <th class="txt_right">MRP</th>
                                    <th class="txt_right">Discount</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="">
                                <tr>
                                    <td class="txt_centr">1</td>
                                    <td class="txt_left">34324234</td>
                                    <td class="txt_left">gfdgdgf</td>
                                    <td class="txt_left">52nvhgv</td>
                                    <td class="txt_right">52326</td>
                                    <td class="txt_right">52%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="dist-table-data" style="border: 3px solid #efefef;">
                        <form>
                            <!-- <div class="row mar-btm-10">
                                <label for="userType" class="col-sm-4 col-form-label">User Type</label>
                                <div class="col-sm-8">
                                    <select ng-model="adminRegData.usertype">
                                        <option value="salesManager">sales-Manager</option>
                                        <option value="purchasemanager">Purchase-Manager</option>
                                        <option value="accountant">Accountant</option>
                                        <option value="whManager">WH-Manager</option>
                                    </select>
                                </div>
                            </div> -->
                            <div class="row mar-btm-10">
                                <label for="proId" class="col-sm-4 col-form-label">Product ID</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control-plaintext" id="proId" ng-model="" placeholder="Enter Product ID">
                                </div>
                            </div>
                            <div class="row mar-btm-10">
                                <label for="proName" class="col-sm-4 col-form-label">Product Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control-plaintext" id="proName" ng-model="" placeholder="Enter Product Name">
                                </div>
                            </div>
                            <div class="row mar-btm-10">
                                <label for="proModel" class="col-sm-4 col-form-label">Model No</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control-plaintext" id="proModel" ng-model="" placeholder="Enter Model no">
                                </div>
                            </div>
                            <div class="row mar-btm-10">
                                <label for="promrp" class="col-sm-4 col-form-label">MRP</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control-plaintext" id="promrp" ng-model="" placeholder="Enter MRP">
                                </div>
                            </div>
                            <div class="row mar-btm-10">
                                <label for="proDis" class="col-sm-4 col-form-label">Discount (%)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control-plaintext" id="proDis" ng-model="" placeholder="Enter Discount">
                                </div>
                            </div>
                        </form>
                        <div>
                            <button type="button" class="btn theme_bgclr" ng-click="">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- Total footer start here-->
 <div class="ttl_footer1">
	<!-- footer1 start here -->
	<!-- <footer ng-controller="homeController" class="footerbar footer">
		<div class="container1">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
						<div class="row row1" id="ftr_ss">
							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>POWERTEX TOOLS</b>
									</h5>
									<li id="footer_links_valuess">
										<a href="aboutus.html" class="footerText"> ABOUT US</a>
									</li>
								</ul>
							</div>

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>CONTACT US</b>
									</h5>
									<li id="footer_links_valuess">
										<span style="margin-left: 5px;">
											<i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
										</span>
										<span class="footerText1 footer_links_addere">
											<span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
											<span style="margin-left: 25px;"> Bahadurpura,</span>
											<br/>
											<span style="margin-left: 25px;">500064,</span>
											<br/>
											<span style="margin-left: 25px;">Hyderabad,</span>
											<br/>
											<span style="margin-left: 25px;">Telangana.</span>
											<br/>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">EMAIL: </b>
											<a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
												info@powertextools.com </a>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-phone" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">PHONE: </b>
											<a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer> -->
	<!-- footer1 end here -->

	<!-- footer2 start here -->
	<footer  class="footerbar1 footer" id="new_ftr">
		<div class="container1">
			<div class="row row1" style="padding:10px 0;color:white;">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
							<span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
						</div>
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
							<i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer2 end here -->
</div>
<!-- Total footer end here-->