<style>
    .product-image a {
        cursor: pointer;
    }
    .mg-image a {
        cursor: pointer;
    }
</style>

<div class="container1 mbl_side_mar" id="categoryPage" ng-controller="homeController" style="padding-top:0px;">
    <!-- breadcrumbs start here -->
    <div class="row">
        <ul class="bredcrumb_ul" style="margin-top: 10px;">
            <li class="bredcrumb_li">
                <a ng-click="goToHome()"> Home</a>
            </li>
            <li class="bredcrumb_li">
                <a ng-click="pageNavigate(breadCrumb)">Offer Products</a>
            </li>
            <li ng-if="breadCrumb1" class="bredcrumb_li">
                <a>{{breadCrumb1}}</a>
            </li>
        </ul>
    </div>
    <!-- breadcrumbs end here -->

    <div class="row">
        <div ng-switch="x">
            <div style="margin-top:10px;">
                <div class="row">

                    <!--start of side filter-->
                    <!-- <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 subcatdiv" style="background: #fff;box-shadow: 3px 3px 8px #ddd;">
                            <div class="bg_clr_black" style="border: 1px solid #eee;padding: 5px;margin-top: 15px;color: #fff;background: #37475a;">
                                <b>SUB-CATEGORY</b>
                            </div>
                            <div style="margin-top: 8px;border-bottom: 1px solid #eee;" class="subcatcheck">
                                <div ng-repeat="subCat in subcatArray">
                                    <label>
                                        <input type="checkbox" class="branCheck checkbox" name="category">{{subCat}}</label>
                                </div>
                            </div>
                            <div class="bg_clr_black" style="border: 1px solid #eee;padding: 5px;margin-top: 15px;color: #fff;background: #37475a;margin-bottom:10px;">
                                <b>PRICE</b>
                            </div>
                            <div class="cat_radio_checks" style="line-height: 1.8;">
                                <input type="radio" ng-model="price" ng-value="'0-1000'" ng-change="getCategorywiseProductcheck('price','0-1000')">
                                <span>₹0 - ₹1,000</span>
                                <br>
                                <input type="radio" ng-model="price" ng-value="'1000-10000'" ng-change="getCategorywiseProductcheck('price','1000-10000')">
                                <span>₹1,000 - ₹10,000</span>
                                <br>
                                <input type="radio" ng-model="price" ng-value="'10000-30000'" ng-change="getCategorywiseProductcheck('price','10000-30000')">
                                <span>₹10,000 - ₹30,000</span>
                                <br>
                                <input type="radio" ng-model="price" ng-value="'30000-50000'" ng-change="getCategorywiseProductcheck('price','30000-50000')">
                                <span>₹30,000 - ₹50,000</span>
                                <br>
                                <input type="radio" ng-model="price" ng-value="'50000'" ng-change="getCategorywiseProductcheck('price','50000-100000000')">
                                <span>₹50,000 and above</span>
                            </div>

                            <div class="bg_clr_black" style="border: 1px solid #eee;padding: 5px;margin-top: 15px;color: #fff;background: #37475a;">
                                <b>BRAND</b>
                            </div>
                            <div style="margin-top: 8px;border-bottom: 1px solid #eee;">
                                <div>
                                    <label>
                                        <input type="checkbox" class="branCheck checkbox">Powertex
                                    </label>
                                </div>
                            </div>
                        </div> -->
                    <!--end of side filter -->

                    <!--start of body grid-->
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <!-- <div class="row" id="pageshowsort" style="background: #37475a;box-shadow: 3px 3px 8px #ddd;margin-left: 0px;">
                                <div class="pull-right pagination_arrows">
                                    <div class="form-group">
                                        <div class="buttons-countrows">
                                            <button type="button" class="btn-prev btn btnpageprevnext" style="border-radius:0px;background: #be393d;color: #fff;">
                                                Prev </button>
                                            <span class="countpages"> 1</span>
                                            <button type="button" class="btn-next btn btnpageprevnext" style="border-radius:0px;background: #be393d;color: #fff;">
                                                Next </button>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                        <!-- grid row start here-->
                        <div loading></div>
                        <div>
                            <div class="row" style="background: #fff;box-shadow: 3px 3px 8px #ddd;margin-left: 0px;padding: 0px 0 25px 0;">
                                <div ng-if="offersdata.length == 0">
                                    <div align="middle">
                                        <h2 style="font-size: 20px;font-weight: 700;color: #be393d;">No Products Available</h2>
                                        <i class="fa fa-file-text" aria-hidden="true" style="font-size: 100px;color: #e4e4e4;"></i>
                                        <h4 style="color:#232f3e;">Your Products List is Empty</h4>
                                        <p>Products are not available now.</p>
                                        <button type="submit" class="btn btn-default" href="#createRFQ" id="back_edit_info" ng-click="goToHomeFromCart()">
                                            <i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:10px;"></i>Back</button>
                                    </div>
                                </div>
                                <div>
                                    <div class="carousel-inner padd_t_15" style="overflow:initial;">
                                        <div id="" ng-repeat="product in offersdata" class="col-md-2 col-lg-2 col-sm-4 col-xs-12">
                                            <div class="sub-item respl-item" style="opacity: 1;">
                                                <div class="item-inner">
                                                    <div class="product-image">
                                                        <a style="padding:10px 0;" class="product-img" title="{{product.productname}}">
                                                            <i class="fa fa-heart wishlist_styles" aria-hidden="true"></i>
                                                            <img class="small-image pdt-img-small" ng-click="getnewProductDetails(product)" ng-src="{{product.image}}"
                                                                alt="{{product.productname}}" title="{{product.productname}}"
                                                                err-src="images/noproducts.png" style="padding: 0px 30px 0 30px !important;height:100%;width:80%;">
                                                        </a>
                                                    </div>
                                                    <div class="product-info">
                                                        <div class="product-name" ng-init="limit = 25">
                                                            <a href="" title="{{product.productname}}" ng-click="getnewProductDetails(product)">
                                                                {{product.productname | limitTo: limit}}{{product.productname .length > limit ? '. . .' : ''}}
                                                            </a>
                                                        </div>
                                                        <div class="product-price">
                                                            <div class="price-box">
                                                                <div class="offer">
                                                                    <span class="old-price">
                                                                        <span class="price" id="old-price-507_b">{{product.mrp | currency:'&#8377;'}}</span>
                                                                        <span class="price-percentage">{{product.discount}}% Off</span>
                                                                    </span>
                                                                    <br/>
                                                                    <span class="price_latest">{{product.disc_price | currency:'&#8377;'}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clear-left_detailed homecrt" id="homecarts">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                        </div>
                        <!-- /grid row end here-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Total footer start here-->
<div class="ttl_footer1">
    <footer class="footerbar1 footer" id="new_ftr">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- Total footer end here-->

<script>
    function myFunction(x) {
        x.classList.toggle("fa-chevron-down");
    }
</script>