<!-- Packing List start here -->
<div class="container1" ng-controller="printPackingListController">

    <!-- bradcrumbs start here -->
    <div class="row">
        <ul class="bredcrumb_ul margin_left">
            <li class="bredcrumb_li" ng-click="B2BDashboard()">
                <a>Dashboard</a>
                <!-- <span class="slash_bc">/</span> -->
            </li>
            <li class="bredcrumb_li" ng-click="gotoPackList()()">
                <a>Packing-List</a>
                <!-- <span class="slash_bc">/</span> -->
            </li>
            <li class="bredcrumb_li">
                <a>Packing-List-Print</a>
            </li>
        </ul>
    </div>
    <!-- bradcrumbs end here -->

    <div class="box-head11" style="margin-bottom:5px;">
        <div>Packing List</div>
    </div>

    <div class="packing_list">

        <div class="" id="printSectionId">
            <div class="p_list_info border_line" style="border-bottom:0px solid red;">
                <!-- <div class="hr_line_botm">
                    <h3>Packing list</h3>
                </div> -->

                <div class="invoice-title">
                    <div class="row">
                        <div class="col-xs-12" ng-repeat="item in delaerData">
                            <h2 class="txt_centr theme_color f_weight_700 font_20">
                                {{item.company_details.shopee_name}}
                            </h2>
                        </div>
                    </div>
                    <div class="row" ng-repeat="item in delaerData">
                        <div class="col-xs-12" style="text-align:center;">
                            <span class="company_address" ng-repeat="data in item.company_details.company_address" style="font-size: 11px;">
                                {{data}},
                            </span>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-6 company_address" style="text-align: right;font-size: 11px;">
                                <span>Mobile : </span>
                                <span>{{item.dealer_mobile}}</span>
                            </div>
                            <div class="col-xs-6 company_address" style="text-align: left;font-size: 11px;">
                                <span>Email : </span>
                                <span>{{item.dealer_mail}}</span>
                            </div>
                        </div>
                        <div class="col-xs-12 company_address" style="font-size: 11px;">
                            <span>GSTIN : </span>
                            <span>{{item.company_details.gst_num}}</span>,
                            <span>State : </span>
                            <span>{{item.company_details.state}}</span>,
                            <span>PAN : </span>
                            <span>{{item.company_details.pan}}</span>
                            <!-- <span>CIN : </span>
                            <span>{{item.company_details.cin}}</span> -->
                        </div>
                    </div>
                </div>

                <div class="hr_line marg_t_b_15">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="company_address" style="font-size: 14px;">
                                <span>PACKING LIST</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hr_line_botm ovrfle_hidn">
                    <div class="" style="padding: 0 20px;">
                        <div class="list_det">

                            <div class="" style="width:50%;float:left;">
                                <div class="name_det">
                                    <p style="font-size:12px;">
                                        <span>
                                            <strong class="theme_color">Name : </strong>
                                        </span>
                                        <span class="name_p" ng-repeat="item in delaerData">
                                            <span>{{item.dealer_name}}</span>
                                        </span>
                                    </p>
                                    <p style="font-size:12px;">
                                        <span>
                                            <strong class="theme_color">Shipping To : </strong>
                                        </span>
                                        <span>
                                            <div class="" ng-repeat="item in delaerData">
                                                <div ng-repeat="addr in item.shipping_address">{{addr}}</div>
                                            </div>
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="">
                                <div class="pull-right">
                                    <p style="font-size:12px;">
                                        <span>
                                            <strong class="theme_color">Date : </strong>
                                        </span>
                                        <span>--------------------</span>
                                    </p>
                                    <p style="font-size:12px;">
                                        <span>
                                            <strong class="theme_color">D/C No : </strong>
                                        </span>
                                        <span>--------------------</span>
                                    </p>
                                    <p style="font-size:12px;">
                                        <span>
                                            <strong class="theme_color">O/No :C/ </strong>
                                        </span>
                                        <span>-------------------</span>
                                    </p>
                                    <p style="font-size:12px;">
                                        <span>
                                            <strong class="theme_color">PO No : </strong>
                                        </span>
                                        <span>{{rfqData.po_num}}</span>
                                    </p>
                                    <p style="font-size:12px;">
                                        <span>
                                            <strong class="theme_color">P-INV No : </strong>
                                        </span>
                                        <span>{{rfqData.p_inv_num}}</span>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="border_line" style="border-top:0px solid red;">
                <div class="product_based_list" style="padding: 0 20px 20px 20px;">
                    <div class="table-responsive">
                        <table class="table table-bordered pending_order table-striped" style="margin-bottom:0px;">
                            <thead>
                                <tr>
                                    <th class="txt_centr" style="font-size:10px;">S.No</th>
                                    <!-- <th class="txt_centr">Estimated Cartons / Avalilable Cartons</th> -->
                                    <th class="txt_right" style="font-size:10px;">Cartons</th>
                                    <th class="txt_right" style="font-size:10px;">Qty</th>
                                    <!-- <th class="txt_centr">Model No</th> -->
                                    <th class="txt_left" style="font-size:10px;">Product Name</th>
                                    <th class="txt_left" style="font-size:10px;">Remarks</th>
                                    <!-- <th class="txt_centr">Internal Remarks</th> -->
                                </tr>
                            </thead>
                            <tbody ng-repeat="data in printData | filter:po_num track by $index">
                                <tr ng-repeat="item in data.moreinv_info">
                                    <td class="txt_centr" style="font-size:10px;">{{$index+1}}</td>
                                    <!-- <td class="txt_centr">{{item.est_qty}}/{{item.acpt_carton}}</td> -->
                                    <td class="txt_right" style="font-size:10px;">{{item.acpt_carton}}</td>
                                    <td class="txt_right" style="font-size:10px;">{{item.p_inv_qty}}</td>
                                    <td class="txt_left" style="font-size:10px;">{{item.productname}}</td>
                                    <td class="txt_left" style="font-size:10px;">{{item.restrictions}}</td>
                                    <!-- <td class="txt_right"></td> -->
                                </tr>
                                <!-- <tr>
                            <td colspan="3" class="cart_head tft_head">TOTAL</td>
                            <td class="cart_des tft_head">{{total_qty}}</td>
                        </tr> -->
                                <tr>
                                    <td colspan="4" class="cart_head txt_left" style="font-size:10px;">
                                        <strong>Packed by :</strong>
                                        <span>--------------</span>
                                    </td>
                                    <!-- <td class="cart_des txt_left">ftrtyrty</td> -->
                                    <td colspan="4" class="cart_head txt_left" style="font-size:10px;">
                                        <strong>Checked by :</strong>
                                        <span>--------------</span>
                                    </td>
                                    <!-- <td class="cart_des txt_left">ftrtyrty</td> -->
                                </tr>
                                <tr>
                                    <td colspan="4" class="cart_head txt_left" style="font-size:10px;">
                                        <strong>Send Through :</strong>
                                        <span>--------------</span>
                                    </td>
                                    <!-- <td class="cart_des txt_left">ftrtyrty</td> -->
                                    <td colspan="4" class="cart_head txt_left" style="font-size:10px;">
                                        <strong>L.R No :</strong>
                                        <span>--------------</span>
                                    </td>
                                    <!-- <td class="cart_des txt_left">ftrtyrty</td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="print_packing_list_btn">
            <button type="submit" class="btn theme_bgclr" ng-click="printInvoiceList(printSectionId)">Print Invoice</button>
        </div>

    </div>
</div>
<!-- Packing List end here -->

<!-- Total footer start here-->
<div class="ttl_footer1">
    <!-- footer1 start here -->
    <!-- <footer ng-controller="homeController" class="footerbar footer">
		<div class="container1">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
						<div class="row row1" id="ftr_ss">
							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>POWERTEX TOOLS</b>
									</h5>
									<li id="footer_links_valuess">
										<a href="aboutus.html" class="footerText"> ABOUT US</a>
									</li>
								</ul>
							</div>

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>CONTACT US</b>
									</h5>
									<li id="footer_links_valuess">
										<span style="margin-left: 5px;">
											<i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
										</span>
										<span class="footerText1 footer_links_addere">
											<span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
											<span style="margin-left: 25px;"> Bahadurpura,</span>
											<br/>
											<span style="margin-left: 25px;">500064,</span>
											<br/>
											<span style="margin-left: 25px;">Hyderabad,</span>
											<br/>
											<span style="margin-left: 25px;">Telangana.</span>
											<br/>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">EMAIL: </b>
											<a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
												info@powertextools.com </a>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-phone" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">PHONE: </b>
											<a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer> -->
    <!-- footer1 end here -->

    <!-- footer2 start here -->
    <footer class="footerbar1 footer" id="new_ftr">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer2 end here -->
</div>
<!-- Total footer end here-->