<div class="details_container packerdivtopheight" ng-controller="checkoutCntrl">

	<div class="submit_right">
		<div class="submit_right">
			<div class="addporperty_from" align="middle">
				<form id="msform" ng-submit="payuMoneyFunc()" action="https://secure.payu.in/_payment" method="post" name="payuForm">
					<fieldset>
						<input type="hidden" name="key" ng-model="merchant_key" value="{{merchant_key}}" />
						<input type="hidden" name="hash" value="{{hash}}" ng-model="hash" />
						<input type="hidden" name="txnid" ng-model="txnId" value="{{txnId}}" />
						<input type="hidden" id="amount" name="amount" ng-model="amount" value="{{grandTotal}}" placeholder="Amount" />
						<input type="hidden" id="firstname" name="firstname" value="{{firstname}}" ng-model="firstname" placeholder="Your Name" required/>
						<input type="hidden" name="email" ng-model="email" value="{{email}}" placeholder="Email id" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
						/>
						<input type="hidden" id="phone" value="{{phone}}" ng-minlength="10" ng-maxlength="10" name="phone" ng-model="phone" placeholder="Phone Number"
						 required pattern="[789][0-9]{9}" />
						<p style="color:red" ng-show="onSubmit && (payuForm.phone.$error.required)">Please Enter your number.</p>
						<p style="color:red" ng-show="onSubmit && (payuForm.phone.$error.pattern || payuForm.phone.$error.minlength || payuForm.phone.$error.maxlength)">Invalid mobile number.</p>
						<input type="hidden" id="productinfo" name="productinfo" ng-model="productinfo" ng-init="productinfo = 'propertyPost'" value="propertyPost"
						/>
						<input type="hidden" style="visibility:hidden;" id="surl" name="surl" ng-model="surl" value="http://toolsomg.com/success.html"
						 placeholder="Address" />
						<input type="hidden" style="visibility:hidden;" id="furl" name="furl" ng-model="furl" value="http://toolsomg.com/error.html"
						 placeholder="Address" />
						<p style="color:red" ng-show="onSubmit && (payuForm.address.$error.required)">Please enter Address</p>
						<center>
							<input type="hidden" style="width:158px !important;display: -webkit-box;" class="next action-button" value="Confirm">
							<span ng-show="searchButtonText == 'Please Wait...'">
								<img style="width: 21px !important;" src="view/images/loading.gif">
							</span>{{ searchButtonText }}</center>

						 <!-- <input type="submit" id="payment_conti" class="next action-button theme_bgclr" value="Go To Payu" />  -->
						 <button type="submit" class="btn next action-button theme_bgclr">Go To Payu</button>
						
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>