<div class="container1" ng-controller="poHistoryController">
    <div ng-if="welcome_msg != 'undefined' && welcome_msg!= ''" class="del_branch">
        <span class="text-center welcome_msg1">{{welcome_msg}}</span>
    </div>
    <!-- bradcrumbs start here -->
    <div class="row">
        <ul class="bredcrumb_ul margin_left" style="margin-left:30px;">
            <li class="bredcrumb_li" ng-click="B2BDashboard()">
                <a>Dashboard</a>
                <!-- <span class="slash_bc">/</span> -->
            </li>
            <li class="bredcrumb_li">
                <a>My Orders</a>
            </li>
        </ul>
    </div>
    <!-- bradcrumbs end here -->
    <!-- <marquee behavior="alternate" class="marq">{{welcome_msg}}</marquee> -->
    <div class="myaccount_section12_goToCart">

        <div class="">
            <div class="box-head11" ng-if="dealerGrnList.length>0" style="margin-bottom:5px;">
                <div>GRN Prepartion</div>
            </div>

            <div ng-if="dealerGrnList.length == 0" align="middle" style="background: #fff;box-shadow: 3px 3px 8px #ddd;margin:20px 0;">
                <div class="" style="padding: 30px 0;">
                    <div style="font-size: 20px;font-weight: 700;color: #be393d;">No Records Found</div>
                    <i class="fa fa-file-text" aria-hidden="true" style="font-size: 120px;color: #e4e4e4;"></i>
                    <div style="color:#232f3e;font-size: 18px;font-weight: 600;">Your GRN Records are Empty</div>
                    <!-- <p>You have no records in your PO.</p>
                        <button type="submit" class="btn btn-default" href="#createRFQ" id="back_edit_info">
                            <i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:10px;"></i>Continue Shopping</button> -->
                </div>
            </div>

            <loading></loading>

            <div class="dist-table-data" ng-if="dealerGrnList.length > 0">
                <div class="myvieworders-tbl-new1 table-responsive">
                    <table class="table table-bordered table-striped pending_order" id="myViewOrders1">
                        <thead>
                            <tr>
                                <th class="txt_centr">S.No</th>

                                <th class="txt_left">PO No</th>
                                <th class="txt_right">PO Date</th>
                                <th class="txt_left">RFQ No</th>
                                <th class="txt_left">Sales Manager Name</th>
                                <th class="txt_left">Sales Manager Mobile</th>
                                <th class="txt_centr">Product Info</th>
                            </tr>
                        </thead>
                        <tbody id="myViewOrdersData" ng-repeat="invdata in dealerGrnList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))  track by $index">
                            <!-- inwardList-->
                            <tr>
                                <td class="txt_centr">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                <td class="txt_left">{{invdata.po_num}}</td>
                                <td class="txt_right">{{invdata.po_gen_date}}</td>
                                <td class="txt_left">{{invdata.rfq_num}}</td>
                                <td class="txt_left">{{invdata.sales_manager}}</td>
                                <td class="txt_left">{{invdata.sales_manager_mobile}}</td>
                                <td class="txt_centr">
                                    <a href="" class="rfq_mrInfo" ng-click="showInwardData(invdata)">More Info
                                    </a>
                                    <!-- <a href="" ng-click="showInwardData(invdata)">

                                        <i class="fa fa-pencil" aria-hidden="true" style="color:#be393d;"></i>
                                    </a> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pen_req_pagi" ng-show="dealerGrnList.length>0">
                    <pagination total-items="totalItems" page="currentPage" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
                </div>
            </div>
        </div>

        <div class="dist-table-data pen-rfq-dependent-tbl" ng-show="showMoreInvInfo">
            <div class="table-responsive">
                <div class="box-head11" style="margin-bottom: 5px;">
                    <div>PO No : {{po_num}}</div>
                </div>
                <div class="myvieworders-tbl-new1 table-responsive" ng-if="inwardList.length > 0">
                    <form name="myForm" novalidate>
                        <table class="table table-bordered table-striped pending_order" id="myViewOrders1">
                            <thead>
                                <tr>

                                    <th class="txt_centr">S.No</th>
                                    <th class="txt_left">Product Name</th>
                                    <th class="txt_left">Brand</th>
                                    <th class="txt_right">MRP (₹)</th>
                                    <th class="txt_right">Qty</th>
                                    <th class="txt_right">Disc (%)</th>
                                    <th class="txt_right">Vol. Disc (%)</th>
                                    <th class="txt_right">Spcl. Disc (%)</th>
                                    <th class="txt_right">Amount (₹)</th>

                                </tr>
                            </thead>
                            <tbody id="myViewOrdersData" ng-repeat="item in inwardList  | filter:inv_no track by $index">
                                <tr>
                                    <td class="txt_centr">{{$index+1}}</td>
                                    <td class="txt_left">{{item.productname}}</td>
                                    <td class="txt_left">{{item.brand}}</td>
                                    <td class="txt_right">{{item.mrp}}</td>
                                    <td class="txt_right">{{item.qty}}</td>
                                    <td class="txt_right">{{item.discount}}</td>
                                    <td class="txt_right">{{item.volume_disc}}</td>
                                    <td class="txt_right">{{item.spcl_disc}}</td>
                                    <td class="txt_right">{{item.total}}</td>

                                </tr>
                            </tbody>
                        </table>


                    </form>
                </div>

            </div>
        </div>
    </div>



</div>

<!-- Total footer start here-->
<div class="ttl_footer1">

    <!-- footer2 start here -->
    <footer class="footerbar1 footer" id="new_ftr">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp;
                                Golden Sun Technology.</span>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer2 end here -->
</div>
<!-- Total footer end here-->