<div class="container1" ng-controller="printPOController">

    <!-- bradcrumbs start here -->
    <div class="row">
        <ul class="bredcrumb_ul margin_left">
            <li class="bredcrumb_li" ng-click="B2BDashboard()">
                <a>Dashboard</a>
                <!-- <span class="slash_bc">/</span> -->
            </li>
            <li class="bredcrumb_li" ng-click="gotoPoOrder()">
                <a>Pending-PO</a>
                <!-- <span class="slash_bc">/</span> -->
            </li>
            <li class="bredcrumb_li">
                <a>PO-Print</a>
            </li>
        </ul>
    </div>
    <!-- bradcrumbs end here -->

    <div class="box-head11" style="margin-bottom:5px;">
        <div>Purchase Order</div>
    </div>

    <div class="total_invoice_page" id="printSectionId">
        <div class="invoce_address">
            <div class="">

                <div class="invoice-title">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="txt_centr theme_color f_weight_700 font_20">
                                {{company_details.display_name}}
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" style="text-align:center;">
                            <span class="company_address" ng-repeat="data in company_details.company_address" style="font-size: 11px;">
                                {{data}},
                            </span>
                        </div>
                        <!-- <div class="col-xs-12">
                            <div class="col-xs-6 company_address" style="text-align: right;font-size: 11px;">
                                <span>Mobile : </span>
                                <span>{{company_details.mobile}}</span>
                            </div>
                            <div class="col-xs-6 company_address" style="text-align: left;font-size: 11px;">
                                <span>Email : </span>
                                <span>{{company_details.email}}</span>
                            </div>
                        </div> -->
                        <div class="col-xs-12 company_address" style="font-size: 11px;">
                            <span>CITY : </span>
                            <span>{{company_details.city}}</span>,
                            <span>STATE : </span>
                            <span>{{company_details.state}}</span>,
                            <span>GSTIN : </span>
                            <span>{{company_details.gst_num}}</span>,
                            <span>PAN : </span>
                            <span>{{company_details.pan}}</span>,
                            <!-- <span>CIN : </span>
                            <span>{{company_details.cin}}</span> -->
                        </div>
                    </div>
                </div>

                <div class="hr_line marg_t_b_15">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="company_address" style="font-size: 14px;">
                                <span>PURCAHSE ORDER</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hr_line_botm">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="company_address">
                                <span class="f_left fnt_size_12">
                                    <span>RFQ No</span>
                                    <span class="pad_r_15 pad_l_15">:</span>
                                    <span>{{print_po_data.rfq_num}}</span>
                                </span>
                                <span class="f_right fnt_size_12">
                                    <span>Date : </span>
                                    <!-- <span class="pad_r_15 pad_l_15">:</span> -->
                                    <span>{{print_po_data.rfq_generate_date}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hr_line_botm">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="company_address">
                                <span class="f_left fnt_size_12">
                                    <span>PO No &nbsp;</span>
                                    <span class="pad_r_15 pad_l_15">:</span>
                                    <span>{{print_po_data.po_num}}</span>
                                </span>
                                <span class="f_right fnt_size_12">
                                    <span>Date : </span>
                                    <!-- <span class="pad_r_15 pad_l_15">:</span> -->
                                    <span>{{print_po_data.po_gen_date}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hr_line_botm marg_t_b_15">
                    <div class="row">
                        <div class="col-md-12" style="width:100%;" class="company_address">

                            <div>
                                <span class="f_left fnt_size_12">
                                    <span>Dealer Name &nbsp;</span>
                                    <span class="pad_r_15 pad_l_15">:</span>
                                    <span>{{print_po_data.dealer_name}}</span>
                                </span>
                            </div>
                            </br>
                            <div>
                                <span class="f_left fnt_size_12">
                                    <span>Dealer Email &nbsp;&nbsp;</span>
                                    <span class="pad_r_15 pad_l_15">:</span>
                                    <span>{{print_po_data.dealer_mail}}</span>
                                </span>
                            </div>
                            </br>
                            <div>
                                <span class="f_left fnt_size_12">
                                    <span>Dealer Mobile &nbsp;</span>
                                    <span class="pad_r_15 pad_l_15">:</span>
                                    <span>{{print_po_data.dealer_mobile}}</span>
                                </span>
                            </div>
                            </br>
                            <div>
                                <span class="f_left fnt_size_12">
                                    <span>Dealer City &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="pad_r_15 pad_l_15">:</span>
                                    <span>{{print_po_data.dealer_city}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="myvieworders-tbl-new1">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped pending_order">
                                <thead>
                                    <tr>
                                        <th class="txt_centr">S.No</th>
                                        <th class="txt_left">Product Name</th>
                                        <th class="txt_left">Model Number</th>
                                        <th class="txt_left">Brand</th>
                                        <th class="txt_right">MRP</th>
                                        <th class="txt_right">Qty</th>
                                        <th class="txt_right">Discount (%)</th>
                                        <th class="txt_right">Spcl. Disc (%)</th>
                                        <th class="txt_right">Vol. Disc (%)</th>
                                        <th class="txt_right">Total</th>
                                        <th class="txt_right">Savings (%)</th>
                                        <!-- <th class="txt_centr">Status</th> -->
                                        <th class="txt_right">Delivery Date</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="item in rfqList">
                                    <tr>
                                        <td class="txt_centr">{{$index+1}}</td>
                                        <td class="txt_left">{{item.productname}}</td>
                                        <td class="txt_left" style="cursor:pointer;">{{item.modelno}}</td>
                                        <td class="txt_left">{{item.brand}}</td>
                                        <td class="txt_right">{{item.mrp}}</td>
                                        <td class="txt_right">{{item.qty}}</td>
                                        <td class="txt_right">{{item.discount}}</td>
                                        <td class="txt_right">{{item.spcl_disc}}</td>
                                        <td class="txt_right">{{item.volume_disc}}</td>
                                        <td class="txt_right">{{item.total}}</td>
                                        <td class="txt_right">{{item.savings}}</td>

                                        <!-- <td class="txt_right" ng-if="item.product_status == 'Split'" title="Split" class="extra-options" href="" data-toggle="modal"
                                            ng-click="getSplitData(item)">
                                            <a href="" class="split_click">Delivery Schedule</a>
                                        </td> -->

                                        <td class="txt_right">{{item.split_delvry_date}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <h5>
                            <strong class="theme_color fnt_size_12">Terms & Conditions :</strong>
                        </h5>
                        <p style="font-size:10px;">1. This is Computer generated Invoice and doesn't require signature.</p>
                        <p style="font-size:10px;">2. We are not responsible for any Breakages/Damages/Shortages and
                            Leakage in transit.</p>
                        <p style="font-size:10px;">3. Our responsibility ceases after the goods are delivered to the
                            carrier.</p>
                        <p style="font-size:10px;">4. Goods once sold will not be taken back.</p>
                        <p style="font-size:10px;">5. Interest @12% p.a. will be charged, if invoice is not paid on or
                            before due date.</p>
                        <p style="font-size:10px;">6. All Disputes are Subject to Hyderabad Jurisdiction.</p>
                        <p style="font-size:10px;">7. Please read all Terms and Policies on www.powertex.com for
                            Invoices and other related issues.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mar_b_30 txt_centr marg_t_15">
            <button type="submit" class="btn theme_bgclr" ng-click="printInvoiceList(printSectionId)">Print Invoice</button>
        </div>
    </div>

</div>

<!-- Total footer start here-->
<div class="ttl_footer1">
    <!-- footer1 start here -->
    <!-- <footer ng-controller="homeController" class="footerbar footer">
		<div class="container1">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
						<div class="row row1" id="ftr_ss">
							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>POWERTEX TOOLS</b>
									</h5>
									<li id="footer_links_valuess">
										<a href="aboutus.html" class="footerText"> ABOUT US</a>
									</li>
								</ul>
							</div>

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>CONTACT US</b>
									</h5>
									<li id="footer_links_valuess">
										<span style="margin-left: 5px;">
											<i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
										</span>
										<span class="footerText1 footer_links_addere">
											<span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
											<span style="margin-left: 25px;"> Bahadurpura,</span>
											<br/>
											<span style="margin-left: 25px;">500064,</span>
											<br/>
											<span style="margin-left: 25px;">Hyderabad,</span>
											<br/>
											<span style="margin-left: 25px;">Telangana.</span>
											<br/>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">EMAIL: </b>
											<a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
												info@powertextools.com </a>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-phone" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">PHONE: </b>
											<a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer> -->
    <!-- footer1 end here -->

    <!-- footer2 start here -->
    <footer class="footerbar1 footer" id="new_ftr">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp;
                                Golden Sun Technology.</span>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer2 end here -->
</div>
<!-- Total footer end here-->