<div class="container1" ng-controller="posFinvController">

    <!-- bradcrumbs start here -->
    <div class="row">
        <ul class="bredcrumb_ul margin_left">
            <li class="bredcrumb_li" ng-click="B2BDashboard()">
                <a>Dashboard</a>
                <!-- <span class="slash_bc">/</span> -->
            </li>
            <li class="bredcrumb_li" ng-click="pos()">
                <a>POS</a>
              
            </li>
            <li class="bredcrumb_li">
                <a>Pos-Invoice-Print</a>
            </li>
        </ul>
    </div>
    <!-- bradcrumbs end here -->

    <div class="box-head11" style="margin-bottom:5px;">
        <div>TAX invoice</div>
    </div>

    <div class="total_invoice_page" id="printSectionId">
        <div class="invoce_address">
            <div class="">

                <div class="invoice-title">
                    <div class="row">
                        <div class="col-xs-12" ng-repeat="item in  companyinfo">
                            <h2 class="txt_centr theme_color f_weight_700 font_20">
                                {{item.display_name}}
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" style="text-align:center;">
                            <span class="company_address" ng-repeat="data in companyinfo.company_address" style="font-size: 11px;">
                                {{data}},
                            </span>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-6 company_address" style="text-align: right;font-size: 11px;">
                                <span>Mobile : </span>
                                <span>{{dealerinfo.dealer_mobile}}</span>
                            </div>
                            <div class="col-xs-6 company_address" style="text-align: left;font-size: 11px;">
                                <span>Email : </span>
                                <span>{{dealerinfo.dealer_mail}}</span>
                            </div>
                        </div>
                        <div class="col-xs-12 company_address" style="font-size: 11px;" ng-repeat="item in companyinfo">
                            <span>City : </span>
                            <span>{{item.city}}</span>,
                            <span>State : </span>
                            <span>{{item.state}}</span>,
                            <span>PAN : </span>
                            <span>{{item.pan}}</span>,
                            <span>GST-IN : </span>
                            <span>{{item.gst_num}}</span>
                        </div>
                    </div>
                </div>

                <div class="hr_line marg_t_b_15">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="company_address" style="font-size: 14px;">
                                <span>TAX INVOICE</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hr_line_botm">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="company_address" ng-repeat="item in invinfo">
                                <span class="f_left fnt_size_12" >
                                    <span>Invoice No : </span>
                                    <span>{{item.f_inv_num}}</span>
                                </span>
                                <span class="f_right fnt_size_12">
                                    <span>Date : </span>
                                    <span>{{item.invoice_date | date : "dd-MM-yyyy"}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hr_line_botm">
                    <div class="row">
                        <div class="col-xs-12" ng-repeat="item in invinfo">
                            <div class="company_address">
                                <span class="f_left fnt_size_12">
                                    <span>Ref No
                                        <span class="pad_l_32">:</span>
                                    </span>
                                    <span>{{item.p_inv_num}}</span>
                                </span>
                                <span class="f_right fnt_size_12">
                                    <span>Date : </span>
                                    <span>{{item.invoice_date | date : "dd-MM-yyyy"}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hr_line_botm marg_t_b_15">
                    <div class="row">
                        <div class="col-md-12" style="width:100%;">

                            <div class="" style="width:40%;float:left;">
                                <address>
                                    <h4 style="font-size: 12px;">
                                        <strong>Billed To:</strong>
                                    </h4>
                                    <div class="" ng-repeat="billed in billedTo">
                                        <div>
                                            <p>{{billed.full_name}}</p>
                                            <p>{{billed.mobile}}</p>
                                            <p>{{billed.street}}</p>
                                            <p>{{billed.city}}</p>
                                            <p>{{billed.zipcode}}</p>
                                        </div>
                                    </div>
                                </address>
                            </div>

                            <div class="" style="float: right;padding-right: 80px;">
                                <address class="pull-right111">
                                    <h4 style="font-size: 12px;">
                                        <strong>Shipped To:</strong>
                                    </h4>
                                    <div class="" ng-repeat="shipped in shippedTo">
                                        <div>
                                            <p>{{shipped.full_name}}</p>
                                            <p>{{shipped.mobile}}</p>
                                            <p>{{shipped.street}}</p>
                                            <p>{{shipped.city}}</p>
                                            <p>{{shipped.zipcode}}</p>
                                        </div>
                                    </div>
                                </address>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="myvieworders-tbl-new1">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped pending_order">
                                <thead>
                                    <tr>
                                        <th class="txt_centr" style="width: 1px;font-size:10px;">S.No</th>
                                        <th class="txt_left" style="font-size:10px;">Product Name</th>
                                        <th class="txt_left" style="font-size:10px;">HSN</th>
                                        <th class="txt_left" style="font-size:10px;">Brand</th>
                                        <th class="txt_right" style="font-size:10px;">MRP</th>
                                        <th class="txt_right" style="font-size:10px;">Inv. Qty</th>
                                        <th class="txt_right" style="font-size:10px;">Amount</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="data in invinfo track by $index">
                                    <tr ng-repeat="item in data.info track by $index">
                                        
                                        <td class="txt_centr" style="font-size:10px;">{{$index+1}}</td>
                                        <td class="txt_left" style="font-size:10px;">{{item.productname}}</td>
                                        <td class="txt_left" style="font-size:10px;">{{item.hsn}}</td>
                                        <td class="txt_left" style="font-size:10px;">{{item.brand}}</td>
                                        <td class="txt_right" style="font-size:10px;">{{item.mrp}}</td>
                                        <td class="txt_right" style="font-size:10px;">{{item.req_product_qty}}</td>
                                       <td class="txt_right" style="font-size:10px;">{{item.total_amt}}</td>
                                      </tr>
                                    <tr>
                                        <td colspan="6" class="cart_head tft_head" style="font-size:10px;">
                                            <strong>Amount</strong>
                                        </td>
                                        <td class="cart_des tft_head" style="font-size:10px;">₹{{totalamount.totalprice}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class="cart_head tft_head" style="font-size:10px;">
                                            <strong>GST(18%)</strong>
                                        </td>
                                        <td class="cart_des tft_head" style="font-size:10px;">₹{{totalamount.taxamount}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class="cart_head tft_head" style="font-size:10px;">
                                            <strong>Grand Total</strong>
                                        </td>
                                        <td class="cart_des tft_head" style="font-size:10px;">₹{{totalamount.grandtotal}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="cart_head tft_head" style="font-size:10px;">
                                            <strong>Grand Total in Words (Rupees)</strong>
                                        </td>
                                        <td colspan="8" class="cart_des tft_head" style="font-size:10px;text-align:left;text-transform: capitalize;">{{totalamount.grandtotal_words}} Rupees only/-</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <h5>
                            <strong class="theme_color fnt_size_12">Terms & Conditions :</strong>
                        </h5>
                        <p style="font-size:10px;">1. This is Computer generated Invoice and doesn't require signature.</p>
                        <p style="font-size:10px;">2. We are not responsible for any Breakages/Damages/Shortages and Leakage in transit.</p>
                        <p style="font-size:10px;">3. Our responsibility ceases after the goods are delivered to the carrier.</p>
                        <p style="font-size:10px;">4. Goods once sold will not be taken back.</p>
                        <p style="font-size:10px;">5. Interest @12% p.a. will be charged, if invoice is not paid on or before due date.</p>
                        <p style="font-size:10px;">6. All Disputes are Subject to Hyderabad Jurisdiction.</p>
                        <p style="font-size:10px;">7. Please read all Terms and Policies on www.powertex.com for Invoices and other related issues.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mar_b_30 txt_centr marg_t_15">
            <button type="submit" class="btn theme_bgclr" ng-click="printInvoiceList(printSectionId)">Print Invoice</button>
        </div>
    </div>

</div>

<!-- Total footer start here-->
<div class="ttl_footer1">


    <!-- footer2 start here -->
    <footer class="footerbar1 footer" id="new_ftr">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer2 end here -->
</div>
<!-- Total footer end here-->