<div class="container1" ng-controller="printPerformaInvController">

    <!-- bradcrumbs start here -->
    <div class="row">
        <ul class="bredcrumb_ul margin_left">
            <li class="bredcrumb_li" ng-click="B2BDashboard()">
                <a>Dashboard</a>
                <!-- <span class="slash_bc">/</span> -->
            </li>
            <li class="bredcrumb_li" ng-click="gotoProforma()">
                <a>Proforma-Invoice</a>
                <!-- <span class="slash_bc">/</span> -->
            </li>
            <li class="bredcrumb_li">
                <a>Proforma-Invoice-Print</a>
            </li>
        </ul>
    </div>
    <!-- bradcrumbs end here -->

    <div class="box-head11" style="margin-bottom:5px;">
        <div>Proforma invoice</div>
    </div>

    <div class="total_invoice_page" id="printSectionId">
        <div class="invoce_address">
            <div class="">

                <div class="invoice-title">
                    <div class="row">
                        <div class="col-xs-12" ng-repeat="item in delaerData">
                            <h2 class="txt_centr theme_color f_weight_700 font_20">
                                {{item.company_details.shopee_name}}
                            </h2>
                        </div>
                    </div>
                    <div class="row" ng-repeat="item in delaerData">
                        <div class="col-xs-12" style="text-align:center;">
                            <span class="company_address" ng-repeat="data in item.company_details.company_address" style="font-size: 11px;">
                                {{data}},
                            </span>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-6 company_address" style="text-align: right;font-size: 11px;">
                                <span>Mobile : </span>
                                <span>{{item.dealer_mobile}}</span>
                            </div>
                            <div class="col-xs-6 company_address" style="text-align: left;font-size: 11px;">
                                <span>Email : </span>
                                <span>{{item.dealer_mail}}</span>
                            </div>
                        </div>
                        <div class="col-xs-12 company_address" style="font-size: 11px;">
                            <span>City : </span>
                            <span>{{item.company_details.city}}</span>,
                            <span>State : </span>
                            <span>{{item.company_details.state}}</span>,
                            <span>PAN : </span>
                            <span>{{item.company_details.pan}}</span>,
                            <span>GSTIN : </span>
                            <span>{{item.company_details.gst_num}}</span>.
                            
                        </div>
                    </div>
                </div>

                <div class="hr_line marg_t_b_15">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="company_address" style="font-size: 14px;">
                                <span>PROFORMA INVOICE</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hr_line_botm">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="company_address">
                                <span class="f_left fnt_size_12">
                                    <span>Invoice No : </span>
                                    <span>{{rfqData.p_inv_num}}</span>
                                </span>
                                <span class="f_right fnt_size_12">
                                    <span>Date : </span>
                                    <span>{{rfqData.invoice_date}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hr_line_botm">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="company_address">
                                <span class="f_left fnt_size_12">
                                    <span>PO No
                                        <span class="pad_l_25">:</span>
                                    </span>
                                    <span>{{rfqData.po_num}}</span>
                                </span>
                                <span class="f_right fnt_size_12">
                                    <span>Date : </span>
                                    <span>{{rfqData.order_date}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hr_line_botm marg_t_b_15">
                    <div class="row">
                        <div class="col-md-12" style="width:100%;">

                            <div class="" style="width:40%;float:left;">
                                <address>
                                    <h4 style="font-size: 12px;">
                                        <strong>Billed To:</strong>
                                    </h4>
                                    <div class="" ng-repeat="item in delaerData">
                                        <div ng-repeat="addr in item.billing_address">{{addr}}</div>
                                    </div>
                                </address>
                            </div>

                            <div class="" style="width:30%;float:left;">
                                <address>
                                    <h4 style="font-size: 12px;">
                                        <strong></strong>
                                    </h4>
                                    <div class="" ng-repeat="item in delaerData">
                                        <div ng-repeat="addr in item.billing_address">&nbsp;&nbsp;</div>
                                    </div>
                                </address>
                            </div>

                            <div class="">
                                <address class="pull-right111">
                                    <h4 style="font-size: 12px;">
                                        <strong>Shipped To:</strong>
                                    </h4>
                                    <div class="" ng-repeat="item in delaerData">
                                        <div ng-repeat="addr in item.shipping_address">{{addr}}</div>
                                    </div>
                                </address>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="myvieworders-tbl-new1">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped pending_order">
                                <thead>
                                    <tr>
                                        <th class="txt_centr" style="width: 1px;font-size:10px;">S.No</th>
                                        <th class="txt_left" style="font-size:10px;">Product Name</th>
                                        <th class="txt_left" style="font-size:10px;">HSN</th>
                                        <th class="txt_left" style="font-size:10px;">Brand</th>
                                        <th class="txt_right" style="font-size:10px;">MRP</th>
                                        <!-- <th class="txt_right">Qty</th> -->
                                        <th class="txt_right" style="font-size:10px;">Inv. Qty</th>
                                        <th class="txt_right" style="font-size:10px;">Disc (%)</th>
                                        <th class="txt_right" style="font-size:10px;">Vol. Disc (%)</th>
                                        <th class="txt_right" style="font-size:10px;">Spcl. Disc (%)</th>
                                        <th class="txt_right" style="font-size:10px;">Amount</th>
                                        <!-- <th class="txt_right">TAX(%)</th>
                                        <th class="txt_right">Total</th> -->
                                        <!-- <th class="txt_right">Savings(%)</th> -->
                                    </tr>
                                </thead>
                                <tbody ng-repeat="data in printData | filter:po_num track by $index">
                                    <!-- <tr>
                                    <td colspan="12" class="txt_centr theme_color fnt_size_18 f_weight_700">
                                        <span>INV :</span>
                                        <span>{{data.p_inv_num}}</span>
                                    </td>
                                    </tr> -->
                                    <tr ng-repeat="item in data.moreinv_info">
                                        <td class="txt_centr" style="font-size:10px;">{{$index+1}}</td>
                                        <td class="txt_left" style="font-size:10px;">{{item.productname}}</td>
                                        <td class="txt_left" style="font-size:10px;">{{item.hsn_code}}</td>
                                        <!-- <td class="txt_left">{{item.modelno}}</td> -->
                                        <td class="txt_left" style="font-size:10px;">{{item.brand}}</td>
                                        <td class="txt_right" style="font-size:10px;">{{item.mrp}}</td>
                                        <!-- <td class="txt_right">{{item.req_product_qty}}</td> -->
                                        <td class="txt_right" style="font-size:10px;">{{item.p_inv_qty}}</td>
                                        <td class="txt_right" style="font-size:10px;">{{item.discount}}</td>
                                        <td class="txt_right" style="font-size:10px;">{{item.volume_disc}}</td>
                                        <td class="txt_right" style="font-size:10px;">{{item.spcl_disc}}</td>
                                        <td class="txt_right" style="font-size:10px;">{{item.product_amt}}</td>
                                        <!-- <td class="txt_right">{{item.tax}}</td>
                                        <td class="txt_right">{{item.total_amt}}</td> -->
                                        <!-- <td class="txt_right">{{item.savings}}</td> -->
                                    </tr>
                                    <tr>
                                        <td colspan="9" class="cart_head tft_head" style="font-size:10px;">
                                            <strong>Amount</strong>
                                        </td>
                                        <td class="cart_des tft_head" style="font-size:10px;">₹{{data.total_sum}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="9" class="cart_head tft_head" style="font-size:10px;">
                                            <strong>GST(18%)</strong>
                                        </td>
                                        <td class="cart_des tft_head" style="font-size:10px;">₹{{data.tax_amt}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="9" class="cart_head tft_head" style="font-size:10px;">
                                            <strong>Grand Total</strong>
                                        </td>
                                        <td class="cart_des tft_head" style="font-size:10px;">₹{{data.tax_amt_grand}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="cart_head tft_head" style="font-size:10px;">
                                            <strong>Grand Total in Words (Rupees)</strong>
                                        </td>
                                        <td colspan="8" class="cart_des tft_head" style="font-size:10px;text-align:left;text-transform: capitalize;">{{data.tax_amt_words}} Rupees only/-</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <h5>
                            <strong class="theme_color fnt_size_12">Terms & Conditions :</strong>
                        </h5>
                        <p style="font-size:10px;">1. This is Computer generated Invoice and doesn't require signature.</p>
                        <p style="font-size:10px;">2. We are not responsible for any Breakages/Damages/Shortages and Leakage in transit.</p>
                        <p style="font-size:10px;">3. Our responsibility ceases after the goods are delivered to the carrier.</p>
                        <p style="font-size:10px;">4. Goods once sold will not be taken back.</p>
                        <p style="font-size:10px;">5. Interest @12% p.a. will be charged, if invoice is not paid on or before due date.</p>
                        <p style="font-size:10px;">6. All Disputes are Subject to Hyderabad Jurisdiction.</p>
                        <p style="font-size:10px;">7. Please read all Terms and Policies on www.powertex.com for Invoices and other related issues.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mar_b_30 txt_centr marg_t_15">
            <button type="submit" class="btn theme_bgclr" ng-click="printInvoiceList(printSectionId)">Print Invoice</button>
        </div>
    </div>

</div>

<!-- Total footer start here-->
<div class="ttl_footer1">
    <!-- footer1 start here -->
    <!-- <footer ng-controller="homeController" class="footerbar footer">
		<div class="container1">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
						<div class="row row1" id="ftr_ss">
							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>POWERTEX TOOLS</b>
									</h5>
									<li id="footer_links_valuess">
										<a href="aboutus.html" class="footerText"> ABOUT US</a>
									</li>
								</ul>
							</div>

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>CONTACT US</b>
									</h5>
									<li id="footer_links_valuess">
										<span style="margin-left: 5px;">
											<i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
										</span>
										<span class="footerText1 footer_links_addere">
											<span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
											<span style="margin-left: 25px;"> Bahadurpura,</span>
											<br/>
											<span style="margin-left: 25px;">500064,</span>
											<br/>
											<span style="margin-left: 25px;">Hyderabad,</span>
											<br/>
											<span style="margin-left: 25px;">Telangana.</span>
											<br/>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">EMAIL: </b>
											<a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
												info@powertextools.com </a>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-phone" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">PHONE: </b>
											<a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer> -->
    <!-- footer1 end here -->

	<!-- footer2 start here -->
	<footer  class="footerbar1 footer" id="new_ftr">
		<div class="container1">
			<div class="row row1" style="padding:10px 0;color:white;">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
							<span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
						</div>
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
							<i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer2 end here -->
</div>
<!-- Total footer end here-->