<!-- <div class="modal-header align_center">
    <img src="images/powertex_logo.png" />
</div> -->
<div class="modal-body" align="middle">
    <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="clr_black1" aria-hidden="true" ng-click="close();">×</span>
        </button>
        <h4 class="modal-title theme_color uppercase" id="myModalLabel">Product Specifications</h4>
    </div>

    <div class="quan-disc-table">
        <div>
            <p>Buy in bulk quantities & save more!!</p>
        </div>

        <div class="row mar_btm_10">
            <div class="col-md-6">
                <div class="rfq_pop-up_img">
                    <img ng-src="{{ModalInfo.image}}">
                </div>
            </div>
            <div class="col-md-6">
                <table class="table-striped" id="table_data_specifications" style="border: none;">
                    <tr class="spectbl">
                        <td class="spec_smt">
                            <span class="spec">Name</span>{{ModalInfo.length}}
                        </td>
                        <td class="spec_smt">{{ModalInfo.upload_name}}</td>
                    </tr>
                    <tr class="spectbl">
                        <td class="spec_smt">
                            <span class="spec">Brand</span>
                        </td>
                        <td class="spec_smt">{{ModalInfo.brand}}</td>
                    </tr>
                    <!-- <tr class="spectbl"  ng-repeat="price in ModalInfo.priceinfo">
                    <td class="spec_smt">
                        <span class="spec">Price</span>
                    </td>
                    <td class="spec_smt">{{price.enduser_price}}</td>
                </tr>
                <tr class="spectbl" ng-repeat="price in ModalInfo.priceinfo">
                    <td class="spec_smt">
                        <span class="spec">Special Price</span>
                    </td>
                    <td class="spec_smt">{{price.offer_price}}</td>
                </tr> -->
                    <tr class="spectbl">
                        <td class="spec_smt">
                            <span class="spec">Model No</span>
                        </td>
                        <td class="spec_smt">{{ModalInfo.upload_modelno}}</td>
                    </tr>
                    <tr class="spectbl" ng-repeat="attr in ModalInfo.attributes">
                        <td class="spec_smt">
                            <span class="spec">{{attr.atrname}}</span>
                        </td>
                        <td class="spec_smt">
                            <span class="spectd">{{attr.atrvalue}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn theme_bgclr" ng-click="close();">Close
    </button>
</div>