<div ng-controller="pendingInvoiceController">
    <div ng-if="welcome_msg != 'undefined' && welcome_msg!= ''" class="del_branch">
        <span class="text-center welcome_msg1">{{welcome_msg}}</span>
    </div>
    <div class="container1">
        <!-- bradcrumbs start here -->
        <div class="row">
            <ul class="bredcrumb_ul margin_left" style="margin-left: 30px;">
                <li class="bredcrumb_li" ng-click="B2BDashboard()">
                    <a>Dashboard</a>
                    <!-- <span class="slash_bc">/</span> -->
                </li>
                <!-- <li class="bredcrumb_li" ng-if="wishlistBreadCrumbFlag == 'true'" ng-click="pageNavigate()">
                <a>Dashboard</a>
                <span class="slash_bc">/</span>
            </li> -->
                <li class="bredcrumb_li">
                    <a>Proforma Invoice</a>
                </li>
            </ul>
        </div>
        <!-- bradcrumbs end here -->
        <!-- <marquee behavior="alternate" class="marq">{{welcome_msg}}</marquee> -->

        <div class="box-head11 mar_l_r_15" style="margin-bottom:5px;">
            <div>Proforma Invoice</div>
        </div>

        <div style="color:#232f3e;font-size: 12px;font-weight: 200;" class="mar_l_r_15">
            <span style="color: red">Note *</span> : Please select the Delivery date range to continue with Proforma Invoice process.
        </div>

        <div class="prod-category mar_l_r_15" style="background:#fff;margin-bottom:10px;">
            <div class="row">
                <div class="serch_title">Search for Dates</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 serch_blocks">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                        <div class="button-groupg hide_btn_default">
                            <label>From date : (MM/DD/YYYY)</label>
                            <input type="text" class="form-control" ng-change="getFromDate(from_date)" placeholder="From Date" datepicker-popup="dd-MM-yyyy"
                                ng-model="from_date" close-text="Close" clear-text="Clear" current-text="Today" show-weeks="false"
                            />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                        <div class="button-groupg hide_btn_default">
                            <label>To date : (MM/DD/YYYY)</label>
                            <input type="text" class="form-control" placeholder="To Date" ng-change="getToDate(to_date)" min="fromDate" datepicker-popup="MM-dd-yyyy"
                                ng-model="to_date" close-text="Close" clear-text="Clear" current-text="Today" show-weeks="false"
                            />
                        </div>
                    </div>

                    <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <div class="button-groupg">
                        <label>To dateDDDD :</label>
                        <input type="text" class="form-control" placeholder="To Date" ng-change="getToDate(to_date)" datepicker-popup='dd-MM-yyyy'
                            ng-model="to_date" min="fromDate" close-text="Close">
                    </div>
                </div> -->


                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                        <div class="button-groupg">
                            <label>&nbsp;</label>
                            <br/>
                            <button type="button" title="Get" class="btn theme_bgclr del_cat_dropdowns" ng-click="getproformaRecords()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="invoicelistData.length == 0" align="middle" style="background: #fff;box-shadow: 3px 3px 8px #ddd;">
            <div class="" style="padding: 30px 0;">
                <div style="font-size: 20px;font-weight: 700;color: #be393d;">No Records Found</div>
                <i class="fa fa-file-text" aria-hidden="true" style="font-size: 120px;color: #e4e4e4;"></i>
                <div style="color:#232f3e;font-size: 18px;font-weight: 600;">Your Invoice Records are Empty</div>
                <!-- <p>You have no records in your Invoice.</p>
            <button type="submit" class="btn btn-default" href="#createRFQ" id="back_edit_info">
                <i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:10px;"></i>Continue Shopping</button> -->
            </div>
        </div>


        <!-- <div>
        <input type="text" class="form-control" placeholder="From Date" datepicker-popup="yyyy-MM-dd" ng-model="dt" min="minDate" />
    </div> -->
        <div class="myaccount_section12_goToCart ovrfle_hidn">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

                <!-- <div class="box-head11" ng-if="invoicelistData.length>0" style="margin-bottom:5px;">
                <div>Proforma Invoice</div>
            </div> -->
                <loading></loading>





                <div class="myvieworders-tbl-new1">

                    <!-- <div ng-if="invoicelistData.length == 0" align="middle" style="background: #fff;box-shadow: 3px 3px 8px #ddd;">
                    <div class="" style="padding: 30px 0;">
                        <div style="font-size: 20px;font-weight: 700;color: #be393d;">No Records Found</div>
                        <i class="fa fa-file-text" aria-hidden="true" style="font-size: 120px;color: #e4e4e4;"></i>
                        <div style="color:#232f3e;font-size: 18px;font-weight: 600;">Your Invoice Records are Empty</div>
                        <p>You have no records in your Invoice.</p>
                        <button type="submit" class="btn btn-default" href="#createRFQ" id="back_edit_info">
                            <i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:10px;"></i>Continue Shopping</button>
                    </div>
                </div> -->


                    <div class="dist-table-data" ng-if="proformaData.length > 0">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped pending_order" id="myViewOrders1">
                                <thead>
                                    <tr>
                                        <th class="txt_centr">S.No</th>
                                        <th class="txt_left">RFQ number</th>
                                        <th class="txt_left">PO Number</th>
                                        <th class="txt_left" ng-if="sales">Dealer Name</th>
                                        <th class="txt_left" ng-if="sales">Dealer City</th>
                                        <th class="txt_left" ng-if="dealer">Sales Manager Name</th>
                                        <th class="txt_left" ng-if="dealer">Sales Manager Mobile</th>
                                        <th class="txt_left" ng-if="accountant || whmanger">Dealer Name</th>
                                        <th class="txt_left" ng-if="accountant || whmanger">Dealer City</th>
                                        <th class="txt_left" ng-if="accountant || whmanger">Sales Manager Name</th>
                                        <th class="txt_left" ng-if="accountant || whmanger">Sales Manager Mobile</th>
                                        <th class="txt_right">PO Generated Date</th>
                                        <th class="txt_centr" ng-if="dealer || whmanger">Status</th>
                                        <th class="txt_centr" ng-if="!accountant && !salesHead">More Info</th>
                                        <th class="txt_centr" ng-if="accountant || salesHead">Invoice Preparation</th>
                                    </tr>
                                </thead>
                                <tbody id="myViewOrdersData">
                                    <!-- invoicelistData -->
                                    <tr ng-repeat="item in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) track by $index">
                                        <td class="txt_centr ver_center">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                        <td class="txt_left">{{item.rfq_num}}</td>
                                        <td class="txt_left">{{item.po_num}}</td>
                                        <td class="txt_left" ng-if="sales">{{item.dealer_name}}</td>
                                        <td class="txt_left" ng-if="sales">{{item.dealer_city}}</td>
                                        <td class="txt_left" ng-if="dealer">{{item.sales_manager}}</td>
                                        <td class="txt_left" ng-if="dealer">{{item.sales_manager_mobile}}</td>
                                        <td class="txt_left" ng-if="accountant || whmanger">{{item.dealer_name}}</td>
                                        <td class="txt_left" ng-if="accountant || whmanger">{{item.dealer_city}}</td>
                                        <td class="txt_left" ng-if="accountant || whmanger">{{item.sales_manager}}</td>
                                        <td class="txt_left" ng-if="accountant || whmanger">{{item.sales_manager_mobile}}</td>
                                        <td class="txt_right">{{item.po_gen_date}}</td>
                                        <td class="txt_centr" ng-if="dealer || whmanger">{{item.status}}</td>
                                        <td class="txt_centr" ng-if="!accountant && !salesHead">
                                            <a href="" class="rfq_mrInfo" ng-click="moreDetails(item)">More Info</a>
                                        </td>
                                        <td class="txt_centr" ng-click="getForInvoicePreparation(item)" ng-if="accountant || salesHead">
                                            <a href="">
                                                <i class="fa fa-pencil" aria-hidden="true" style="color:#be393d;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div ng-show="invoicelistData.length>0" class="ovrfle_hidn">
                            <pagination total-items="totalItems" page="currentPage" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
                        </div>
                    </div>


                    <div class="dist-table-data margin_tb_20" ng-show="productDetailshow">
                        <div class="text-center" ng-show="productDetailshow">
                            <div class="theme_color title_proforma">Proforma Invoice Preparation</div>
                        </div>

                        <div class="pen-rfq-dependent-tbl" ng-show="productDetailshow">
                            <div class="box-head11" style="margin-bottom:5px;">
                                <div>PO NUMBER :
                                    <span>{{po_num}}</span>
                                </div>
                            </div>
                            <form name="myForm" novalidate>
                                <div class="table-responsive" ng-if="moreRfqDataList.length>0">
                                    <table class="table table-bordered table-striped pending_order" id="myViewOrders1" style="margin-top: -5px;">
                                        <thead>
                                            <tr>
                                                <th class="txt_centr">S.No</th>
                                                <th class="txt_left">Product Name</th>
                                                <!-- <th class="txt_left">Model No</th> -->
                                                <th class="txt_left">Brand</th>
                                                <th class="txt_right">MRP (₹)</th>
                                                <th class="txt_right">Qty</th>
                                                <th class="txt_right">Discount (%)</th>
                                                <th class="txt_right">Vol. Disc (%)</th>
                                                <th class="txt_right">Spcl. Disc (%)</th>
                                                <th class="txt_right">Total (₹)</th>
                                                <th class="txt_right">Savings (%)</th>
                                                <!-- <th class="txt_centr">Status</th> -->
                                                <th class="txt_right">Delivery Schedule</th>
                                                <th class="txt_centr" ng-if="dealershow">Status</th>
                                                <th class="txt_centr" ng-if="accountant || salesHead">Inv. Qty</th>
                                                <!-- <th class="txt_right">Delivery Date</th> -->
                                            </tr>
                                        </thead>
                                        <tbody id="myViewOrdersData" ng-repeat="item in moreRfqDataList | filter:rfqNum track by $index">
                                            <tr>
                                                <td class="txt_centr">{{$index+1}}</td>
                                                <td class="txt_left">{{item.productname}}</td>
                                                <!-- <td class="txt_left">{{item.modelno}}</td> -->
                                                <td class="txt_left">{{item.brand}}</td>
                                                <td class="txt_right">{{item.mrp}}</td>
                                                <!-- <td class="txt_right">{{item.qty}}</td>  -->
                                                <td class="txt_right">{{item.remain_qty}}</td>
                                                <td class="txt_right">{{item.discount}}</td>
                                                <td class="txt_right">{{item.volume_disc}}</td>
                                                <td class="txt_right">{{item.spcl_disc}}</td>
                                                <td class="txt_right" ng-if="item.count == '' || item.count == undefined">{{item.remain_total}}</td>
                                                <td class="txt_right" ng-if="item.count != ''&& item.count != undefined">{{item.remain_total*(item.count/item.remain_qty) | number : 2}}</td>
                                                <td class="txt_right">{{item.savings}}</td>
                                                <td class="txt_right" ng-if="item.product_status == 'Split'" class="extra-options" ng-click="getSplitData(item,$index+1)"
                                                    href="" data-toggle="modal">
                                                    <a href="" class="split_click">Delivery Schedule</a>
                                                </td>
                                                <td class="txt_right" ng-if="item.product_status == 'Accept'" title="Accept">
                                                    <!-- <i class="fa fa-check" aria-hidden="true" style="color:#32bb22;font-size:15px; cursor: text;"></i> -->
                                                    {{item.delivry_date}}
                                                </td>
                                                <!-- <td class="txt_centr" ng-if="item.product_status == 'Reject'" title="Reject">
                                            <i class="fa fa-times" aria-hidden="true" style="color:#be393d;font-size:15px; cursor: text;"></i>
                                            <!--{{item.product_status}}
                                        </td> -->

                                                <td ng-if="accountant && item.product_status == 'Split'" class="txt_centr">
                                                    <input type="text" readonly readonly ng-model="item.count" class="txt_centr">
                                                </td>
                                                <td ng-if="accountant && item.product_status != 'Split'" class="txt_centr">
                                                    <input type="text" ng-if="item.flag == 'yes'" readonly ng-model="item.remain_qty" readonly class="txt_centr">
                                                    <input type="text" ng-if="item.flag == 'no'" ng-model="emptyValue" readonly readonly class="txt_centr">
                                                </td>
                                                <td ng-if="salesHead && item.product_status != 'Split'" class="txt_centr">
                                                    <input type="number" class="txt_centr" ng-pattern="/^-?[0-9][^\.]*$/" name="invQty" name="count" min="0" max="{{item.remain_qty}}" required
                                                        ng-model="item.count" ng-blur="getInvQty(item,item.count)">
                                                </td>
                                                <td ng-if="salesHead && item.product_status == 'Split'" class="txt_centr">
                                                    <input type="number" class="txt_centr" ng-pattern="/^-?[0-9][^\.]*$/" step="1" name="count" required min="0" max="{{item.remain_qty}}" ng-model="item.count" readonly>
                                                </td>
                                                <!-- <td class="txt_right" ng-if="item.product_status != 'Split'">{{item.delivry_date}}</td>
                                        <td class="txt_right" ng-if="item.product_status == 'Split'"> -------- </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- {{myForm.$invalid}} -->
                                    <div ng-if="accountant || salesHead">
                                        <button type="submit" ng-disabled="myForm.$invalid" class="btn btn-default theme_bgclr fl-right" ng-click="generateInvoice(moreRfqDataList)">
                                            Generate Invoice</button>
                                        <span style="color:red" ng-show="myForm.$invalid">Accepted Inv Qty. should not exceed Req Qty.</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            <!-- model-1 start here -->

            <!-- model-1 end here -->

            <!-- model-2 start here -->
            <!-- <div class="modal fade11" id="pinvoiceSuccessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header align_center">
                        <img src="images/powertex_logo.png" />
                    </div>
                    <div class="modal-body" align="middle">
                        <div>
                            <img src="images/completed_icon.png" class="pop_image" />
                            <br/>
                            <span class="completed_styles clr_orange">{{p_inv_num}}</span>
                            <br/>
                            <span class="completed_styles theme_color">Invoice Generated Successfully!</span>
                            <br/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn theme_bgclr" ng-click="closePinvoiceModal()">OK</button>
                    </div>
                </div>
            </div>
        </div> -->
            <!-- model-2 end here -->

        </div>

    </div>
</div>

<!-- Total footer start here-->
<div class="ttl_footer1">
    <!-- footer1 start here -->
    <!-- <footer ng-controller="homeController" class="footerbar footer">
		<div class="container1">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
						<div class="row row1" id="ftr_ss">
							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>POWERTEX TOOLS</b>
									</h5>
									<li id="footer_links_valuess">
										<a href="aboutus.html" class="footerText"> ABOUT US</a>
									</li>
								</ul>
							</div>

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>CONTACT US</b>
									</h5>
									<li id="footer_links_valuess">
										<span style="margin-left: 5px;">
											<i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
										</span>
										<span class="footerText1 footer_links_addere">
											<span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
											<span style="margin-left: 25px;"> Bahadurpura,</span>
											<br/>
											<span style="margin-left: 25px;">500064,</span>
											<br/>
											<span style="margin-left: 25px;">Hyderabad,</span>
											<br/>
											<span style="margin-left: 25px;">Telangana.</span>
											<br/>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">EMAIL: </b>
											<a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
												info@powertextools.com </a>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-phone" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">PHONE: </b>
											<a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer> -->
    <!-- footer1 end here -->

    <!-- footer2 start here -->
    <footer class="footerbar1 footer" id="new_ftr">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer2 end here -->
</div>
<!-- Total footer end here-->