<!-- <div class="modal-header align_center">
    <img src="images/powertex_logo.png" />
</div> -->
<div class="modal-body" align="middle">

    <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
        <button type="button" class="close" ng-click="close();" aria-label="Close">
            <span class="clr_black1" aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title theme_color uppercase" id="myModalLabel">Product Split Details</h4>
    </div>

    <form name="myForm1" novalidate>
        <div class="quan-disc-table">
            <div>
                <table class="table table-bordered table-striped pending_order" id="myViewOrders1" style="margin-top: -5px;">
                    <thead>
                        <tr>
                            <th class="txt_centr">S.No</th>
                            <th class="txt_left" ng-if="accountant || salesHead">Inv Qunatity</th>
                            <th class="txt_left">Qty</th>
                            <th class="txt_left">Delivery Date</th>
                            <th class="txt_left">Remarks (Internal)</th>
                            <th class="txt_left">Remarks (Dealer)</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="itemData in moreRfqDataList | filter:rfqNum track by $index">
                        <!-- ng-repeat="item in splitData | filter:productname  track by $index" -->
                        <tr ng-repeat="item in itemData.split_info | filter:product_id">
                            <td class="txt_centr">{{$index+1}}</td>
                            <td ng-if="accountant">
                                <input type="text" ng-if="item.flag=='yes'" name="invAccQty" ng-model="item.remain_accept_qty" readonly/>
                                <input type="text" ng-if="item.flag=='no'" name="invAccQty" readonly/>
                            </td>
                            <td ng-if="salesHead">
                                <input type="number" ng-pattern="/^-?[0-9][^\.]*$/" name="invAccQty" min="0" max={{item.accept_prod_qty}} required ng-model="item.invAccQty"
                                    ng-blur="splitProducts(item,itemData,$index+1)">
                            </td>
                            <!-- <td class="txt_left">{{item.accept_prod_qty}}</td> -->
                            <td class="txt_left">{{item.remain_accept_qty}}</td>
                            <td class="txt_left" style="text-align: left;">{{item.split_delvry_date}}</td>
                            <td class="txt_left" style="text-align: left;">{{item.remarks_internal}}</td>
                            <td class="txt_left" style="text-align: left;">{{item.remarks_dealer}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
            <span ng-if="accountant" style="color:red" ng-show="myForm1.$invalid">Accepted Inv Qty. should not exceed Req
                Qty.</span>
            <button ng-if="accountant || salesHead" type="button" class="btn theme_bgclr" ng-disabled="myForm1.$invalid"
                ng-click="splitCount(product_name)">Accept</button>
            <button type="button" class="btn theme_bgclr" ng-click="closeModal();">Close</button>
        </div>
    </form>
</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn theme_bgclr" ng-click="close();">OK
    </button>
</div> -->