<style>
	div.bhoechie-tab-container {
		z-index: 10;
		background-color: #ffffff;
		padding: 0 !important;
		border-radius: 4px;
		-moz-border-radius: 4px;
		border: 1px solid #ddd;
		margin-top: 5px;
		-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
		box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
		-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
		background-clip: padding-box;
		opacity: 0.97;
		filter: alpha(opacity=97);
	}

	div.bhoechie-tab-menu {
		padding-right: 0;
		padding-left: 0;
		padding-bottom: 0;
	}

	div.bhoechie-tab-menu div.list-group {
		margin-bottom: 0;
	}

	div.bhoechie-tab-menu div.list-group>a {
		margin-bottom: 0;
	}

	div.bhoechie-tab-menu div.list-group>a .glyphicon,
	div.bhoechie-tab-menu div.list-group>a .fa {
		color: #293071;
	}

	div.bhoechie-tab-menu div.list-group>a:first-child {
		border-top-right-radius: 0;
		-moz-border-top-right-radius: 0;
	}

	div.bhoechie-tab-menu div.list-group>a:last-child {
		border-bottom-right-radius: 0;
		-moz-border-bottom-right-radius: 0;
	}

	div.bhoechie-tab-menu div.list-group>a.active,
	div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
	div.bhoechie-tab-menu div.list-group>a.active .fa {
		background-color: #293071;
		background-image: #293071;
		color: #ffffff;
	}

	div.bhoechie-tab-menu div.list-group>a.active:after {
		content: '';
		position: absolute;
		left: 100%;
		top: 50%;
		margin-top: -13px;
		border-left: 0;
		border-bottom: 13px solid transparent;
		border-top: 13px solid transparent;
		border-left: 10px solid #293071;
	}

	div.bhoechie-tab-content {
		background-color: #ffffff;
		padding: 20px 0;
	}

	.bhoechie-tab-menu p {
		font-size: 14px;
		font-weight: bold;
	}

	div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
		display: none;
	}
</style>

<script>
	$(document).ready(function () {
		$("div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
			e.preventDefault();
			$(this).siblings('a.active').removeClass("active");
			$(this).addClass("active");
			var index = $(this).index();
			$("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
			$("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
		});
	});
</script>

<!--  body start here    -->
<div class="container1">
	<!-- bradcrumbs start here -->
	<div class="" ng-controller="loginController">
		<ul class="bredcrumb_ul margin_left">
			<li class="bredcrumb_li" ng-click="home()">
				<a>Home</a>
				<!-- <span class="slash_bc">/</span> -->
			</li>
			<!-- <li class="bredcrumb_li" ng-if="wishlistBreadCrumbFlag == 'true'" ng-click="pageNavigate()">
				<a>Dashboard</a>
				<span class="slash_bc">/</span>
			</li> -->
			<li class="bredcrumb_li">
				<a>Registration</a>
			</li>
		</ul>
	</div>
	<!-- bradcrumbs end here -->
	<div class="row" id="edit_row">
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<div class="block_account_dashboard">
				<div class="">
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
						<div class="basic_dashboard">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu" ng-controller="dealerRegCntrl">
									<div class="list-group">
										<a href="#" class="list-group-item active text-center" ng-click="dealer('customer')">
											<div class="glyphicon glyphicon-user font_20"></div>
											<p>Customer Registration</p>
										</a>
										<a href="#" class="list-group-item text-center" ng-click="dealer('Dealer')">
											<div class="glyphicon glyphicon-user font_20"></div>
											<p>Dealer Registration</p>
										</a>
									</div>
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
									<!-- Customer Registration -->
									<div class="bhoechie-tab-content active" ng-controller="loginController">
										<div class="col-md-12">
											<div class="edit_information_page_block">
												<form name="registerForm">

													<div class="acunt_info_haeding">
														<div>PERSONAL INFORMATION</div>
													</div>

													<div class="row">
														<div class="form-group col-md-3 col-xs-12 col-lg-3 col-sm-12">
															<label class="clr_black" for="firstname">First Name
																<span style="color:#be393d;">*</span>
															</label>
															<input type="text" name="firstname" required id="eai_firstNmae" class="form-control" id="firstname"
															 ng-model="registrationData.firstname" placeholder="Enter First Name" ng-minlength="3" ng-maxlength="50"
															 maxlength="50" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,50}$/" autofocus="true">
															<!-- <p class="validationError errorMsg" ng-show="submitted && registerForm.firstname.$error.required">Enter First Name</p> -->
															<div ng-messages="registerForm.firstname.$error ">
																<p class="validationError errorMsg" ng-message="pattern">Enter Valid First Name</p>
																<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
																<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50 Characters</p>
															</div>
															<br>
														</div>
														<div class="form-group col-md-3 col-xs-12 col-lg-3 col-sm-12">
															<label class="clr_black" for="lastname">Last Name
																<span style="color:#be393d;">*</span>
															</label>
															<input type="text" name="lastname" required="" id="eai_lastNmae" class="form-control" id="lastname"
															 ng-model="registrationData.lastname" placeholder="Enter Last Name" ng-minlength="3" ng-maxlength="50"
															 maxlength="50" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,50}$/">
															<!-- <p class="validationError errorMsg" ng-show="submitted && registerForm.lastname.$error.required">Enter Last Name</p> -->
															<div ng-messages="registerForm.lastname.$error ">
																<p class="validationError errorMsg" ng-message="pattern">Enter Valid Last Name</p>
																<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
																<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50 Characters</p>
															</div>
															<br>
														</div>
														<div class="form-group col-md-3 col-xs-12 col-lg-3 col-sm-12">
															<label class="clr_black" for="user_mobile">Mobile Number
																<span style="color:#be393d;">*</span>
															</label>
															<input type="text" name="user_mobile" class="form-control" id="user_mobile" id="eai_Mobileno" ng-model="registrationData.user_mobile"
															 placeholder="Enter Mobile Number" ng-minlength="10" ng-maxlength="10" maxlength="10" required
															 ng-pattern="/^[6-9][0-9]{9}$/">
															<!-- <p class="validationError errorMsg" ng-show="submitted && registerForm.user_mobile.$error.required">Enter Mobile Number</p> -->
															<div ng-messages="registerForm.user_mobile.$error ">
																<p class="validationError errorMsg" ng-message="pattern">Enter Valid Mobile Number</p>
																<p class="validationError errorMsg" ng-message="minlength">Mobile Number should be 10 digits</p>
																<p class="validationError errorMsg" ng-message="maxlength">Mobile Number should be 10 digits</p>
															</div>
														</div>
														<div class="form-group col-md-3 col-xs-12 col-lg-3 col-sm-12">
															<label class="clr_black" for="gstnumber">GST Number</label>
															<input type="text" name="gstnumber" class="form-control" id="gstnumber" id="eai_gst" ng-model="registrationData.gstnumber"
															 placeholder="Enter GST Number">
															<div ng-messages="registerForm.gstnumber.$error ">
																<p class="validationError errorMsg" ng-message="minlength"> </p>
																<p class="validationError errorMsg" ng-message="maxlength"></p>

															</div>
														</div>
													</div>

													<div class="acunt_info_haeding">
														<div>LOGIN INFORMATION</div>
													</div>

													<div class="row">
														<div class="form-group col-md-4 col-xs-12 col-lg-4 col-sm-12">
															<label class="clr_black" for="email">Email Address
																<span style="color:#be393d;">*</span>
															</label>
															<input type="email" name="email" class="form-control" id="eai_email" id="email" ng-model="registrationData.email"
															 placeholder="Enter Email ID" required ng-pattern="/^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/">
															<div ng-messages="registerForm.email.$error ">
																<p class="validationError errorMsg" ng-show="submitted" ng-message="required">Enter Email Id</p>
																<p class="validationError errorMsg" ng-message="pattern">Enter Valid Email</p>
															</div>
															<br>
														</div>
														<div class="form-group col-md-4 col-xs-12 col-lg-4 col-sm-12">
															<label class="clr_black" for="password">Password
																<span style="color:#be393d;">*</span>
															</label>
															<input type="{{inputType1}}" name="password" class="form-control" id="eai_password" id="password"
															 ng-model="registrationData.password" placeholder="Enter Password" required>
															<p ng-click="toggleShowPassword()" ng-class="{'fa fa-eye': showPassword1,'fa fa-eye-slash': !showPassword1}"
															 style="cursor: pointer;margin-left: 85%;margin-top:-25px;position:absolute;"></p>
															<div ng-messages="registerForm.password.$error ">
																<p class="validationError errorMsg" ng-show="submitted" ng-message="required">Enter Password</p>
															</div>
															<br>
															<!--<input type="password" class="form-control" id="eai_new_pwd" placeholder="Enter New Password" name="eai_new_pwd">-->
														</div>
														<div class="form-group col-md-4 col-xs-12 col-lg-4 col-sm-12">
															<label class="clr_black" for="password">Confirm New Password
																<span style="color:#be393d;">*</span>
															</label>
															<input type="{{inputType}}" name="confirm_password" class="form-control" id="eai_confirmpasswd" id="confirm_password"
															 data-ng-match="registrationData.password" ng-model="registrationData.confirm_password" placeholder="Enter Password"
															 required>
															<p ng-click="confirmToggleShowPassword()" ng-class="{'fa fa-eye': showPassword,'fa fa-eye-slash': !showPassword}"
															 style="cursor: pointer;margin-left:85%;margin-top:-25px;position:absolute;"></p>
															<div ng-messages="registerForm.confirm_password.$error ">
																<p class="validationError errorMsg" ng-show="submitted" ng-message="required">Enter Confirm Password</p>
																<p class="validationError errorMsg" ng-message="match">Password should match</p>
															</div>
														</div>
													</div>

													<div class="">
														<input type="checkbox" ng-model="registrationData.newsletter">
														<span>Sign Up for Newsletter</span>
													</div>

													<button type="submit" class="btn btn-default register_submit" id="back_edit_info" ng-click="goToHome()">&lt;&lt;
														Back</button>
													<button type="submit" class="btn btn-default register_submit" id="save_edit_info" ng-click="submitted=true;registerForm.$valid && register(registrationData)">Save</button>
												</form>
											</div>
										</div>
									</div>
									<!-- Dealer Registration -->
									<div class="bhoechie-tab-content" ng-controller="dealerRegCntrl">
										<div class="col-md-12">
											<div class="edit_information_page_block">
												<form name="myformdata">
													<div class="col-md-3">
														<div class="form-group">
															<label class="clr_black" for="dname">Register Type
																<span style="color:#be393d;">*</span>
															</label>
															<select class="form-control" id="sel1" required ng-model="delregdata.registerType" ng-options="dealertype.id as dealertype.name for dealertype in dealerTypes"></select>
															<span id="error_name" class="text-danger"></span>
														</div>

														<div class="form-group">
															<label class="clr_black" for="dpwd">Password
																<span style="color:#be393d;">*</span>
															</label>
															<input id="dpwd" name="delpwd" class="form-control" placeholder="Enter Password" type="password"
															 required ng-model="delregdata.delpwd">
															<div ng-messages="myformdata.delpwd.$error ">
																<p class="validationError errorMsg" ng-show="submitted" ng-message="required">Enter Password</p>
															</div>
														</div>
														<div class="form-group">
															<label class="clr_black" for="address1">Address 1
																<span style="color:#be393d;">*</span>
															</label>
															<input id="address1" name="address1" class="form-control" type="text" required ng-model="delregdata.address1"
															 placeholder="Enter Address" ng-minlength="3" ng-maxlength="50" maxlength="50" ng-pattern="/^[a-zA-Z0-9 ]+$/">
															<div ng-messages="myformdata.address1.$error ">
																<p class="validationError errorMsg" ng-message="pattern">Enter Valid Address</p>
																<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
																<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50 Characters</p>
															</div>
														</div>
														<div class="form-group">
															<label class="clr_black" for="dcity">City
																<span style="color:#be393d;">*</span>
															</label>
															<input id="dcity" name="delcity" class="form-control" type="text" required ng-model="delregdata.delcity"
															 placeholder="Enter City" ng-minlength="3" ng-maxlength="20" maxlength="20" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,20}$/">
															<div ng-messages="myformdata.delcity.$error ">
																<p class="validationError errorMsg" ng-message="pattern">Enter Valid City</p>
																<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
																<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 20 Characters</p>
															</div>
														</div>
														<div class="form-group">
															<label class="clr_black" for="dcountry">Country
																<span style="color:#be393d;">*</span>
															</label>
															<input id="dcountry" name="delcountry" class="form-control" type="text" required ng-model="delregdata.delcountry"
															 placeholder="Enter Country" ng-minlength="3" ng-maxlength="20" maxlength="20" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,20}$/">
															<div ng-messages="myformdata.delcountry.$error ">
																<p class="validationError errorMsg" ng-message="pattern">Enter Valid Country</p>
																<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
																<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 20 Characters</p>
															</div>
														</div>
													</div>
													<div class="col-md-3">
														<div class="form-group">
															<label class="clr_black" for="dname">Name
																<span style="color:#be393d;">*</span>
															</label>

															<input type="text" id="dealername" name="dealername" required class="form-control" ng-model="delregdata.dealername"
															 placeholder="Enter Name" ng-minlength="3" ng-maxlength="50" maxlength="50" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,50}$/"
															 autofocus="true">
															<!-- <p class="validationError errorMsg" ng-show="submitted && registerForm.firstname.$error.required">Enter First Name</p> -->
															<div ng-messages="myformdata.dealername.$error ">
																<p class="validationError errorMsg" ng-message="pattern">Enter Valid Name</p>
																<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
																<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50 Characters</p>
															</div>
														</div>
														<div class="form-group">
															<label class="clr_black" for="dregshopname">Registered Shop Name
																<span style="color:#be393d;">*</span>
															</label>
															<input id="dregshopname" name="dregshopname" class="form-control" type="text" required ng-model="delregdata.dregshopname"
															 placeholder="Enter Registered Shop Name" ng-minlength="3" ng-maxlength="50" maxlength="50" ng-pattern="/^[a-zA-Z0-9 ]+$/">
															<div ng-messages="myformdata.dregshopname.$error ">
																<p class="validationError errorMsg" ng-message="pattern">Enter Valid Registered Shop Name</p>
																<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
																<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50 Characters</p>
															</div>
														</div>
														<div class="form-group">
															<label class="clr_black" for="dname">Address 2
																<span style="color:#be393d;">*</span>
															</label>
															<input id="address2" name="address2" class="form-control" type="text" required ng-model="delregdata.address2"
															 placeholder="Enter Address" ng-minlength="3" ng-maxlength="50" maxlength="50" ng-pattern="/^[a-zA-Z0-9 ]+$/">
															<div ng-messages="myformdata.address2.$error ">
																<p class="validationError errorMsg" ng-message="pattern">Enter Valid Address</p>
																<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
																<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50 Characters</p>
															</div>
														</div>
														<div class="form-group">
															<label class="clr_black" for="dstate">State
																<span style="color:#be393d;">*</span>
															</label>
															<input id="dstate" name="delstate" class="form-control" type="text" required ng-model="delregdata.delstate"
															 placeholder="Enter State Name" ng-minlength="3" ng-maxlength="20" maxlength="20" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,20}$/">
															<div ng-messages="myformdata.delstate.$error ">
																<p class="validationError errorMsg" ng-message="pattern">Enter Valid State Name</p>
																<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
																<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 20 Characters</p>
															</div>
														</div>
														<div class="form-group">
															<label class="clr_black" for="dcin">CIN
																<span style="color:#be393d;">*</span>
															</label>
															<input id="dcin" name="delcin" placeholder="Enter CIN" class="form-control" type="text" required
															 ng-model="delregdata.delcin" ng-pattern="/^[a-zA-Z]{1}[0-9]{5}[a-zA-Z]{2}[0-9]{4}[a-zA-Z]{3}[0-9]{6}$/">
															<div ng-messages="myformdata.delcin.$error ">
																<p class="validationError errorMsg" ng-message="pattern">Enter Valid CIN</p>
															</div>
														</div>


													</div>
													<div class="col-md-3">
														<div class="form-group">
															<label class="clr_black" for="dphoneland">Mobile Number
																<span style="color:#be393d;">*</span>
															</label>
															<input type="text" id="dphoneland" name="delphone" class="form-control" ng-model="delregdata.delphone"
															 placeholder="Enter Mobile Number" ng-minlength="10" ng-maxlength="10" maxlength="10" required
															 ng-pattern="/^[6-9][0-9]{9}$/">
															<div ng-messages="myformdata.delphone.$error ">
																<p class="validationError errorMsg" ng-message="pattern">Enter Valid Mobile Number</p>
																<p class="validationError errorMsg" ng-message="minlength">Mobile Number should be 10 digits</p>
																<p class="validationError errorMsg" ng-message="maxlength">Mobile Number should be 10 digits</p>
															</div>
														</div>
														<div class="form-group">
															<label class="clr_black" for="dshopname">Disaplay Shop Name
																<span style="color:#be393d;">*</span>
															</label>
															<input id="dshopname" name="delshopname" class="form-control" type="text" required ng-model="delregdata.delshopname"
															 placeholder="Enter Disaplay Shop Name" ng-minlength="3" ng-maxlength="30" maxlength="30" ng-pattern="/^[a-zA-Z0-9 ]+$/">
															<div ng-messages="myformdata.delshopname.$error ">
																<p class="validationError errorMsg" ng-message="pattern">Enter Valid Disaplay Shop Name</p>
																<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
																<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 30 Characters</p>
															</div>
														</div>
														<div class="form-group">
															<label class="clr_black" for="dname">Address 3
																<span style="color:#be393d;">*</span>
															</label>
															<input id="address3" name="address3" class="form-control" type="text" required ng-model="delregdata.address3"
															 placeholder="Enter Address" ng-minlength="3" ng-maxlength="30" maxlength="50" ng-pattern="/^[a-zA-Z0-9 ]+$/">
															<div ng-messages="myformdata.address3.$error ">
																<p class="validationError errorMsg" ng-message="pattern">Enter Valid Address</p>
																<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
																<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50 Characters</p>
															</div>
														</div>
														<div class="form-group">
															<label class="clr_black" for="dpin">Pincode
																<span style="color:#be393d;">*</span>
															</label>
															<input id="dpin" name="delpincode" class="form-control" type="text" required ng-model="delregdata.delpincode"
															 placeholder="Enter Pincode" ng-minlength="6" ng-maxlength="6" maxlength="6" required ng-pattern="/^[0-9]{6}$/">
															<div ng-messages="myformdata.delpincode.$error ">
																<p class="validationError errorMsg" ng-message="pattern">Enter Valid Pincode</p>
																<p class="validationError errorMsg" ng-message="minlength">Pincode should be 6 digits</p>
																<p class="validationError errorMsg" ng-message="maxlength">Pincode should be 6 digits</p>
															</div>
														</div>
														<div class="form-group">
															<label class="clr_black" for="dgst">GST-IN
																<span style="color:#be393d;">*</span>
															</label>
															<input type="text" id="dgst" name="delgst" class="form-control" required ng-model="delregdata.delgst"
															 placeholder="Enter GST-IN" required ng-pattern="/^[0-9]{2}[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}[0-9]{1}[a-zA-Z]{1}[0-9]{1}$/">
															<div ng-messages="myformdata.delgst.$error ">
																<p class="validationError errorMsg" ng-message="pattern">Enter Valid GST-IN</p>
																<!-- <p class="validationError errorMsg" ng-message="minlength">Enter Valid GST-IN</p>
																<p class="validationError errorMsg" ng-message="maxlength">Enter Valid GST-IN</p> -->
															</div>
														</div>
													</div>
													<div class="col-md-3">
														<div class="form-group">
															<label class="clr_black" for="demail">Email
																<span style="color:#be393d;">*</span>
															</label>
															<input id="demail" name="delemail" class="form-control" type="email" data-validation="required" ng-model="delregdata.delemail"
															 placeholder="Enter Email ID" required ng-pattern="/^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/">
															<div ng-messages="myformdata.delemail.$error ">
																<p class="validationError errorMsg" ng-show="submitted" ng-message="required">Enter Email Id</p>
																<p class="validationError errorMsg" ng-message="pattern">Enter Valid Email</p>
															</div>
														</div>
														<div class="form-group">
															<label class="clr_black" for="dmobile">Alternate Mobile Number
																<span style="color:#be393d;">*</span>
															</label>
															<input type="text" id="dmobile" name="delmobile" class="form-control" ng-model="delregdata.delmobile"
															 placeholder="Enter Mobile Number" ng-minlength="10" ng-maxlength="10" maxlength="10" required
															 ng-pattern="/^[6-9][0-9]{9}$/">
															<div ng-messages="myformdata.delmobile.$error ">
																<p class="validationError errorMsg" ng-message="pattern">Enter Valid Mobile Number</p>
																<p class="validationError errorMsg" ng-message="minlength">Mobile Number should be 10 digits</p>
																<p class="validationError errorMsg" ng-message="maxlength">Mobile Number should be 10 digits</p>
															</div>
														</div>
														<div class="form-group">
															<label class="clr_black" for="dtown">Town
																<span style="color:#be393d;">*</span>
															</label>
															<input id="dtown" name="deltown" class="form-control" type="text" data-validation="required" ng-model="delregdata.deltown"
															 placeholder="Enter Town Name" ng-minlength="3" ng-maxlength="30" maxlength="50" ng-pattern="/^[a-zA-Z0-9 ]+$/">
															<div ng-messages="myformdata.deltown.$error ">
																<p class="validationError errorMsg" ng-message="pattern">Enter Valid Town</p>
																<p class="validationError errorMsg" ng-message="minlength">Enter Minimum 3 Characters</p>
																<p class="validationError errorMsg" ng-message="maxlength">Enter Maximum 50 Characters</p>
															</div>
														</div>
														<div class="form-group">
															<label class="clr_black" for="disd">Country Code
																<span style="color:#be393d;">*</span>
															</label>
															<input id="disd" name="delisd" class="form-control" type="text" data-validation="required" ng-model="delregdata.delisd"
															 placeholder="Enter Country Code" ng-minlength="2" ng-maxlength="5" maxlength="5" required ng-pattern="/^[0-9][0-9]$/">
															<div ng-messages="myformdata.delisd.$error ">
																<p class="validationError errorMsg" ng-message="pattern">Enter Valid Country Code</p>
																<p class="validationError errorMsg" ng-message="minlength">Country Code should be 2 digits</p>
																<p class="validationError errorMsg" ng-message="maxlength">Country Code should be 5 digits</p>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-12">
															<button type="submit" ng-disabled="myformdata.$invalid" id="back_edit_info1" value="submit" class="btn btn-default register_submit pull-right"
															 ng-click="registration(delregdata)" style="margin-bottom: 20px;">Save</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Total footer start here-->
<div class="ttl_footer1">
	<footer class="footerbar1 footer" id="new_ftr">
		<div class="container1">
			<div class="row row1" style="padding:10px 0;color:white;">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
							<span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
						</div>
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
							<i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
<!-- Total footer end here-->



<div id="otpmodal" class="modal fade" ng-controller="loginController">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header"></div>
			<div class="modal-body" align="middle">
				Enter OTP
				<input type="number" name="otp" class="form-control" id="otp" ng-model="otp" placeholder="Enter OTP">
				<span style="color:#be393d" ng-show="error">Please enter OTP</span>
				<!-- <input type="number" value="otp" ng-model="otp"> -->
			</div>
			<div class="modal-footer">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="text-left">
						<a href="#" tabindex="5" class="forgot-password" ng-click="resendOTP()">Resend OTP</a>
					</div>
				</div>
				<button class="btn btn-primary modalBtn" ng-click="completeRegistrtion(otp)">OK</button>
			</div>
		</div>
	</div>
</div>