<!-- body part start here -->
    <div ng-controller="forgetPassword" id="categoryPage">
        <div class="container1">
            <div class="row" id="edit_row" style="margin-top: -3%;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <!--  account dashboard page start here -->
                    <div class="block_account_dashboard">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                <div class="">
                                    <div class="basic_dashboard">
                                        <div class="box-head11">
                                            <h2>Reset Password</h2>
                                        </div>
                                        <div class="edit_information_page_block">
                                            <form name="resetForm">
                                                <div class="acunt_info_haeding">
                                                    <h2>RESET YOUR PASSWORD HERE</h2>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-12 col-xs-12 col-lg-12 col-sm-12">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top: 23px;">
                                                            <label for="newPassword" class="pswlabel clr_black">
                                                                <sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>New Password</label>
                                                            <div class="user-login">
                                                                <i class="inside fa fa-unlock-alt" style="padding-left: 9px;padding-top: 5px;"></i>
                                                                <input type="password" placeholder='Password' style="width:100%" name="newPassword" required class="inp" 
                                                                    ng-model="confirm.newPassword" />
                                                                <span style="color:red" ng-show="resetForm.newPassword.$dirty && resetForm.newPassword.$error.required" class="ng-hide">
                                                                    Please Enter New Password.
                                                                </span>
                                                            </div>
                                                        </div>
                                                        </br>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <label for="confirmPassword" class="pswlabel clr_black">
                                                                <sub style="color:red;font-weight:bolder;font-size: 21px;">*</sub>Confirm Password</label>

                                                            <div class="user-login">
                                                                <i class="inside fa fa-unlock-alt" style="padding-left: 9px;padding-top: 5px;"></i>
                                                                <input type="password" placeholder='Password' style="width:100%" name="confirmPassword" required class="inp" 
                                                                    ng-model="confirm.confirmPassword" />
                                                                <span style="color:red" ng-show="resetForm.confirmPassword.$dirty && resetForm.confirmPassword.$error.required" class="ng-hide">
                                                                    Please Enter Confirm Password.
                                                                </span>
                                                                <span style="color:red" ng-show="confirm.newPassword != confirm.confirmPassword" class="ng-hide">
                                                                    Password must Match.
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="submit" style="margin-right: 31px;" class="btn btn-default register_submit" id="save_edit_info" ng-click="resetPassword(confirm)">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- edit account information start here -->
                    </div>
                    <!--  account dashboard page end here -->
                </div>
            </div>
        </div>

         <!-- Total footer start here-->
 <div class="ttl_footer1">
	<!-- footer1 start here -->
	<!-- <footer ng-controller="homeController" class="footerbar footer">
		<div class="container1">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
						<div class="row row1" id="ftr_ss">
							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>POWERTEX TOOLS</b>
									</h5>
									<li id="footer_links_valuess">
										<a href="aboutus.html" class="footerText"> ABOUT US</a>
									</li>
								</ul>
							</div>

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>CONTACT US</b>
									</h5>
									<li id="footer_links_valuess">
										<span style="margin-left: 5px;">
											<i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
										</span>
										<span class="footerText1 footer_links_addere">
											<span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
											<span style="margin-left: 25px;"> Bahadurpura,</span>
											<br/>
											<span style="margin-left: 25px;">500064,</span>
											<br/>
											<span style="margin-left: 25px;">Hyderabad,</span>
											<br/>
											<span style="margin-left: 25px;">Telangana.</span>
											<br/>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">EMAIL: </b>
											<a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
												info@powertextools.com </a>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-phone" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">PHONE: </b>
											<a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer> -->
	<!-- footer1 end here -->

	<!-- footer2 start here -->
	<footer  class="footerbar1 footer" id="new_ftr">
		<div class="container1">
			<div class="row row1" style="padding:10px 0;color:white;">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
							<span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
						</div>
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
							<i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer2 end here -->
</div>
<!-- Total footer end here-->


    </div>
    <!-- body part end here -->

