<div ng-controller="pogenerationController">
    <div ng-if="welcome_msg != 'undefined' && welcome_msg!= ''" class="del_branch">
        <span class="text-center welcome_msg1">{{welcome_msg}}</span>
    </div>
    <!-- main body part start here -->
    <div class="container1">
        <!-- bradcrumbs start here -->
        <div class="row">
            <ul class="bredcrumb_ul margin_left">
                <li class="bredcrumb_li" ng-click="B2BDashboard()">
                    <a>Dashboard</a>
                    <!-- <span class="slash_bc">/</span> -->
                </li>
                <li class="bredcrumb_li" ng-click="gotoPendingRfq()">
                    <a>Pending RFQ</a>
                    <!-- <span class="slash_bc">/</span> -->
                </li>
                <li class="bredcrumb_li">
                    <a>Request For Quotation</a>
                </li>
            </ul>
        </div>
        <!-- bradcrumbs end here -->
        <!-- <marquee behavior="alternate" class="marq">{{welcome_msg}}</marquee> -->
        <div class="">

            <div class="box-head11" ng-if="RFQgeneratedList.length>0" style="margin-bottom:5px; width: 30%;">
                <div>Request For Quotation : {{rfqNo}}</div>
            </div>

            <div ng-if="RFQgeneratedList.length == 0" align="middle" style="background: #fff;box-shadow: 3px 3px 8px #ddd;">
                <div class="" style="padding: 30px 0;">
                    <div style="font-size: 20px;font-weight: 700;color: #be393d;">No Records Found</div>
                    <i class="fa fa-file-text" aria-hidden="true" style="font-size: 120px;color: #e4e4e4;"></i>
                    <div style="color:#232f3e;font-size: 18px;font-weight: 600;">Your Order Records are Empty</div>
                    <!-- <p>You have no Orders in your Account.</p>
                <button type="submit" class="btn btn-default" href="#createRFQ" id="back_edit_info">
                    <i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:10px;"></i>Continue Shopping</button> -->
                </div>
            </div>

            <div class="dist-table-data">
                <div class="product_based_list" ng-if="data.length>0">
                    <loading></loading>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped pending_order" id="myViewOrders1">
                            <thead class="">
                                <tr>
                                    <th class="txt_centr">S.No</th>
                                    <th class="txt_left">Product Code</th>
                                    <th class="txt_left">Description</th>
                                    <th class="txt_right">Req Qty</th>
                                    <th class="txt_right">Stock Qty(WH)</th>
                                    <th class="txt_right">Balance Qty for Schedule</th>
                                    <th class="txt_centr">Deliver Schedule</th>
                                    <th class="txt_centr">View Schedule</th>
                                    <!-- <th class="txt_centr">Status</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="rfq in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) track by $index">
                                    <!-- RFQgeneratedList -->
                                    <td class="txt_centr">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                    <td class="txt_left">{{rfq.modelno}}</td>
                                    <td class="txt_left">{{rfq.productname}}</td>
                                    <td class="txt_right">{{rfq.dealer_qty}}</td>
                                    <td class="txt_right">{{rfq.wh_quantity}}</td>
                                    <td class="txt_right">{{rfq.balance_qty}}</td>
                                    <td class="txt_centr" style="width: 13%;">
                                        <div class="del_status">

                                            <!-- <a class="extra-options" title="Split" ng-click="productConfirmation(rfq,'Split',$index+1)"
                                                style="text-decoration: none;">
                                                <i class="fa fa-sitemap" style="color:#3695e9"></i>
                                            </a> -->
                                            <a class="extra-options" title="Accept" ng-click="productConfirmation(rfq,'Accept',$index+1)"
                                                style="text-decoration: none;">
                                                <i class="fa fa-check" style="color:#388e3c"></i>
                                            </a>
                                            <a class="extra-options" title="Reject" ng-click="productConfirmation(rfq,'Reject',$index+1)"
                                                style="text-decoration: none;">
                                                <i class="fa fa-times" style="color:#be393d"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="txt_centr" ng-if="rfq.product_status == 'Pending for SM'">------</td>
                                    <td class="txt_centr" ng-if="rfq.product_status == 'Split' && rfq.balance_qty == 0"
                                        ng-click="showSplitData(rfq.productid,rfq.productname)">
                                        <a href="" class="split_click">Done(Mixed)</a>
                                    </td>
                                    <td class="txt_centr" ng-if="rfq.product_status == 'Split' && rfq.balance_qty > 0"
                                        ng-click="showSplitData(rfq.productid,rfq.productname)">
                                        <a href="" class="split_click">Pending(Partial)</a>
                                    </td>
                                    <td class="txt_centr" ng-if="rfq.product_status == 'Reject'" ng-click="showSplitData(rfq.productid,rfq.productname)">
                                        <a href="" class="split_click">Done(Reject)</a>
                                    </td>
                                    <td class="txt_centr" ng-if="rfq.product_status == 'Accept'" ng-click="showSplitData(rfq.productid,rfq.productname)">
                                        <a href="" class="split_click">Done(Accept)</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-show="RFQgeneratedList.length>0">
                        <pagination total-items="totalItems" page="currentPage" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
                    </div>
                </div>

            </div>

            <div class="m_top_2perc" id="bottom" ng-if="showSplitInfoData" style="margin-bottom: 10%">
                <div class="box-head11" style="margin-bottom:-5px;width:40%;">
                    <div> {{sno}} :
                        <b>{{productName}}</b>
                    </div>
                </div>

                <div class="dist-table-data"  style="margin-top:10px;">
                    <form name="myForm" novalidate>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                                    <div class="cart largenav mar-btm-10">
                                        <a class="cart-button">
                                            <span class="qtylist">
                                                <b>Requested Qty</b>
                                            </span>
                                            <span class="number ng-binding">{{reqQty}}</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                                    <div class="cart largenav">
                                        <a class="cart-button">
                                            <span class="qtylist">
                                                <b>Remaining Qty</b>
                                            </span>
                                            <span class="number ng-binding">{{remainingqty}}</span>
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" class="btn theme_bgclr" ng-if="productStatus != 'Pending for SM'"
                                        ng-click="showSplitData(productid,productName)">View Schedule</button>
                                </div>
                            </div>
                            <!-- <div>
                                <button type="button" class="btn theme_bgclr" ng-if="productStatus != 'Pending for SM'"
                                    ng-click="showSplitData(productid,productName)">View Schedule</button>
                            </div> -->
                        </div>

                        <br />
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="acceptedQty1">Accepted Quantity</label>
                                    <span ng-if="status == 'Split'">
                                        <input type="number" ng-pattern="/^-?[0-9][^\.]*$/" name="accept_prod_qty"
                                            ng-min=0 ng-max="{{remainingqty}}" required class="form-control" id="acceptedQty1"
                                            ng-model="rfqdata.accept_prod_qty" placeholder="Enter Accepted Qty">
                                    </span>
                                    <span ng-if="status != 'Split'">
                                        <input type="text" name="accept_prod_qty" required class="form-control"
                                            readonly id="rejectacceptedQty1" ng-model="rfqdata.accept_prod_qty">
                                    </span>
                                    <span style="color:red" ng-if="dealer_qty == rfqdata.accept_prod_qty && status == 'Split'">Accepted
                                        Qty. should be less than Req Qty.</span>
                                    <div style="color:red" ng-show="myForm.accept_prod_qty.$dirty && myForm.accept_prod_qty.$invalid">
                                        <span ng-show="myForm.accept_prod_qty.$error.required">Enter Accepted Quantity</span>
                                        <span ng-show="myForm.accept_prod_qty.$error.pattern">Quantity should be an
                                            Integer</span>
                                        <span ng-show="myForm.accept_prod_qty.$error.max">Accepted Qty. should not
                                            exceed
                                            Remaing Qty.</span>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2" ng-if="status != 'Reject'">
                                <div class="form-group hide_btn_default">
                                    <label for="balanceQty">Delivery Date : (MM/DD/YYYY)</label>
                                    <input type="text" name="split_delvry_date" id="balanceQty" ng-model="rfqdata.split_delvry_date"
                                        required class="form-control" placeholder="Delivery Date" min="min_split_date"
                                        datepicker-popup="dd-MM-yyyy" close-text="Close" clear-text="Clear"
                                        current-text="Today" show-weeks="false" />
                                    <!-- <input type="date" required value="2017-06-01" name="split_delvry_date" class="form-control" id="balanceQty" ng-model="rfqdata.split_delvry_date"
                                placeholder=""> -->
                                    <span style="color:red" ng-show="myForm.split_delvry_date.$dirty && myForm.split_delvry_date.$invalid">
                                        <span ng-show="myForm.split_delvry_date.$error.required">Enter Delivery Date.</span>
                                    </span>


                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="internalremarks">Remarks(Internal)</label>
                                    <input type="text" required class="form-control" name="remarks_internal" id="internalremarks"
                                        ng-model="rfqdata.remarks_internal" placeholder="Enter Remarks">
                                    <span style="color:red" ng-show="myForm.remarks_internal.$dirty && myForm.remarks_internal.$invalid">
                                        <span ng-show="myForm.remarks_internal.$error.required">Enter Remarks.</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="internaldealer">Remarks(Dealer)</label>
                                    <input type="text" required class="form-control" name="remarks_dealer" id="internaldealer"
                                        ng-model="rfqdata.remarks_dealer" placeholder="Enter Remarks">
                                    <span style="color:red" ng-show="myForm.remarks_dealer.$dirty && myForm.remarks_dealer.$invalid">
                                        <span ng-show="myForm.remarks_dealer.$error.required">Enter Remarks.</span>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-2" ng-if="status == 'Split'">
                                <div class="form-group">
                                    <label for="internaldealer">Status</label>
                                    <select class="form-control" id="sel1" ng-model="rfqdata.split_status" ng-options="splitAction.id as splitAction.name for splitAction in splitActions"></select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group" ng-if="status != 'Split'">
                                    <label for="rejectinternaldealer">Status</label>
                                    <input type="text" class="form-control" id="rejectinternaldealer" readonly ng-model="status"
                                        placeholder="Enter Remarks">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" style="margin-top: 25px;">
                                    <label for="btn"></label>
                                    <button type="button" class="btn theme_bgclr" ng-disabled="myForm.$invalid"
                                        ng-click=rfqsplitConfirm(rfqdata,splitForm)>Confirm</button>
                                </div>
                            </div>
                            <!-- <div class="col-md-2" ng-if="status == 'Split'">
                        <div class="form-group" style="margin-top: 25px;">
                            <label for="btn"></label>
                            <button type="button" class="btn theme_bgclr" ng-disabled="myForm.$invalid && rfqdata.accept_prod_qty==dealer_qty" ng-click=rfqsplitConfirm(rfqdata,splitForm)>Confirmss</button>
                        </div>
                    </div> -->

                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>

    <!-- modal-1 start here -->

    <!-- modal-1 end here -->

    <!-- modal-1 end here -->

    <!-- modal-2 start here -->
    <!-- <div class="modal fade" id="splitItemSuccessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header align_center">
                    <img src="images/powertex_logo.png" />
                </div>
                <div class="modal-body" align="middle">
                    <div>
                        <img src="images/completed_icon.png" class="pop_image" />
                        <br/>
                        <span class="completed_styles theme_color">Product Scheduled Successfully!</span>
                        <br/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn theme_bgclr" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div> -->
    <!-- modal-2 end here -->

</div>
<!-- main body part end here -->
</div>

<!-- Total footer start here-->
<div class="ttl_footer1">
    <!-- footer1 start here -->
    <!-- <footer ng-controller="homeController" class="footerbar footer">
		<div class="container1">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
						<div class="row row1" id="ftr_ss">
							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>POWERTEX TOOLS</b>
									</h5>
									<li id="footer_links_valuess">
										<a href="aboutus.html" class="footerText"> ABOUT US</a>
									</li>
								</ul>
							</div>

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>CONTACT US</b>
									</h5>
									<li id="footer_links_valuess">
										<span style="margin-left: 5px;">
											<i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
										</span>
										<span class="footerText1 footer_links_addere">
											<span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
											<span style="margin-left: 25px;"> Bahadurpura,</span>
											<br/>
											<span style="margin-left: 25px;">500064,</span>
											<br/>
											<span style="margin-left: 25px;">Hyderabad,</span>
											<br/>
											<span style="margin-left: 25px;">Telangana.</span>
											<br/>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">EMAIL: </b>
											<a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
												info@powertextools.com </a>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-phone" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">PHONE: </b>
											<a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer> -->
    <!-- footer1 end here -->

    <!-- footer2 start here -->
    <footer class="footerbar1 footer" id="new_ftr">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp;
                                Golden Sun Technology.</span>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer2 end here -->
</div>
<!-- Total footer end here-->