<style>
    #exTab2 h3 {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }
</style>

<div class="container1" ng-controller="adminPanelDealerShopeeCntrl">

    <div class="">
        <div id="exTab2" class="">
            <ul class="nav nav-tabs">
                <li ng-click="gotoPage('1')">
                    <a> Dealers Segregation</a>
                </li>
                <li ng-click="gotoPage('2')">
                    <a>Dealers Shop Info</a>
                </li>
                <!-- <li class="active" ng-click="gotoPage('3')">
                    <a>Shopee Creation</a>
                </li> -->
            </ul>
        </div>

        <!-- bradcrumbs end here -->
        <div class="">
            <div class="row">
                <ul class="bredcrumb_ul margin_left">
                    <li class="bredcrumb_li" ng-click="B2BDashboard()">
                        <a>Dashboard</a>
                        <span class="slash_bc">/</span>
                    </li>
                    <li class="bredcrumb_li">
                        <a>Shopee Creation</a>
                    </li>
                </ul>
            </div>
            <!-- bradcrumbs end here -->

            <div class="box-head11" style="margin-bottom:5px;">
                <div>Shopee Creation</div>
            </div>

            <div ng-if="dealer_data.length == 0" align="middle" style="background: #fff;box-shadow: 3px 3px 8px #ddd;">
                <div class="" style="padding: 30px 0;">
                    <div style="font-size: 20px;font-weight: 700;color: #be393d;">No Records Found</div>
                    <i class="fa fa-file-text" aria-hidden="true" style="font-size: 120px;color: #e4e4e4;"></i>
                    <div style="color:#232f3e;font-size: 18px;font-weight: 600;">Your Dealer Verifiy Details are Empty
                    </div>
                    <p>You have no records in your Dealer Verification.</p>
                </div>
            </div>

            <div class="row theme-bg" ng-if="dealer_data.length>0">
                <div class="col-md-12">
                    <div class="dist-table-data">
                        <div class="table-responsive">
                            <div class="product_based_list">
                                <table class="table table-bordered pending_order table-striped">
                                    <thead class="">
                                        <tr>
                                            <th class="txt_centr">S.No</th>
                                            <th class="txt_centr">Name</th>
                                            <th class="txt_left">Email-Mobile</th>
                                            <th class="txt_left">Aadhar No.</th>
                                            <th class="txt_left">PAN No.</th>
                                            <th class="txt_left">Address</th>
                                            <th class="txt_left">User Type</th>
                                            <th class="txt_centr">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="dealerUser in dealer_data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                        <tr>
                                            <td class="txt_centr">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                            <td class="txt_centr">{{dealerUser.dealer_name}}</td>
                                            <td class="txt_left">
                                                {{dealerUser.dealer_mail}}
                                                <br /> {{dealerUser.dealer_mobile}}
                                            </td>
                                            <td class="txt_left">{{dealerUser.adhar_num}}</td>
                                            <td class="txt_left">{{dealerUser.pan}}</td>
                                            <td class="txt_left">
                                                {{dealerUser.dealer_city}},
                                                <br /> {{dealerUser.dealer_state}},
                                                <br /> {{dealerUser.dealer_pin}}.
                                            </td>
                                            <td class="txt_left">{{dealerUser.user_type}}</td>

                                            <td class="txt_centr split_click cursor" data-toggle="modal" ng-click="createShopee(dealerUser)">Create
                                                a Shopee
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <pagination total-items="totalItems" page="currentPage" class="pagination-sm"
                                items-per-page="itemsPerPage" ng-show="dealer_data.length>0"></pagination>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="modal fade" id="create_shopee" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="clr_black" aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title theme_color f_weight_700" id="myModalLabel">Dealer More Information
                            </h4>
                        </div>

                        <div class="modal-body">
                            <div class="ovrfle_hidn">
                                <div class="panel panel-info">
                                    <div class="panel-body">
                                        <form name="myform">
                                            <div class="extra_details">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="extraDetails">Shopee Details
                                                            <span style="color:#be393d;">*</span>
                                                        </label>
                                                        <div class="dis_address box_block" style="height: 250px;">
                                                            <p>
                                                                <span>
                                                                    <b>Shopee Type: </b>
                                                                </span>
                                                                <select ng-model="companyProfile.shopee_type" ng-change="shopee_type(companyProfile.shopee_type)">
                                                                    <option value="">--Select--</option>
                                                                    <option value="branch">Branch Code</option>
                                                                    <option value="Dealer">Dealer Code</option>
                                                                    <option value="SubDealer">Sub Dealer Code</option>
                                                                </select>
                                                            </p>

                                                            <p ng-show="companyProfile.shopee_type=='Dealer' || companyProfile.shopee_type=='SubDealer'">
                                                                <span>
                                                                    <b>Branch Code: </b>
                                                                </span>
                                                                <select ng-model="companyProfile.branch_code1" ng-options="branch as branch.branch_code for branch in branches" ng-change="getBranch(companyProfile.branch_code1)">
                                                                    <option value="">--Select--</option>
                                                                </select>

                                                            </p>
                                                            <p ng-show="companyProfile.shopee_type=='branch'">
                                                                <span>
                                                                    <b>Branch Code: </b>
                                                                </span>
                                                                <input type="text" name="shopeename" ng-model="companyProfile.branch_code">
                                                            </p>
                                                            <p ng-show="companyProfile.shopee_type=='Dealer'">
                                                                <span>
                                                                    <b>Dealer Code: </b>
                                                                </span>
                                                                <input type="text" name="shopeename" ng-model="companyProfile.dealer_code">
                                                            </p>
                                                            <p ng-show="companyProfile.shopee_type=='SubDealer'">
                                                                <span>
                                                                    <b>Dealer Code: </b>`
                                                                </span>
                                                                <select ng-model="companyProfile.dealer_code1" ng-options="dealer as dealer.dealer_code for dealer in branch_dealers" ng-click="getDealerCode(companyProfile.dealer_code1)">
                                                                    <option value="">--Select--</option>
                                                                </select>
                                                            </p>
                                                            <p ng-show="companyProfile.shopee_type=='SubDealer'">
                                                                <span>
                                                                    <b>Sub Dealer Code: </b>
                                                                </span>
                                                                <input type="text" name="disname" ng-model="companyProfile.subdealer_code">
                                                            </p>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="extraDetails">Shop Details
                                                            <span style="color:#be393d;">*</span>
                                                        </label>
                                                        <div class="dis_address box_block" style="height: 250px;">
                                                            <p>
                                                                <span>
                                                                    <b>Shopee Code: </b>
                                                                </span>
                                                                <input type="text" name="shopeecode" required ng-model="companyProfile.shopee_code">
                                                            </p>
                                                            <p>
                                                                <span>
                                                                    <b>Shopee Name: </b>
                                                                </span>
                                                                <input type="text" name="shopeename" required ng-model="companyProfile.shopee_name">
                                                            </p>
                                                            <p>
                                                                <span>
                                                                    <b>Display Name: </b>
                                                                </span>
                                                                <input type="text" name="disname" required ng-model="companyProfile.display_name">
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="extraDetails">TAX Details
                                                            <span style="color:#be393d;">*</span>
                                                        </label>
                                                        <div class="dis_address box_block">
                                                            <p>
                                                                <span>
                                                                    <b>PAN No: </b>
                                                                </span>
                                                                <input type="text" name="panno" required ng-model="companyProfile.pan">
                                                            </p>
                                                            <p>
                                                                <span>
                                                                    <b>GST No: </b>
                                                                </span>
                                                                <input type="text" name="gstno" required ng-model="companyProfile.gst_num">
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="extraDetails">Address Details
                                                            <span style="color:#be393d;">*</span>
                                                        </label>
                                                        <div class="dis_address box_block" style="height: 305px;">
                                                            <p>
                                                                <span>
                                                                    <b>Address: </b>
                                                                </span>
                                                                <textarea name="address" required ng-model="companyProfile.company_address"></textarea>
                                                            </p>
                                                            <p>
                                                                <span>
                                                                    <b>City: </b>
                                                                </span>
                                                                <input type="text" required name="city" ng-model="companyProfile.shope_city">
                                                            </p>
                                                            <p>
                                                                <span>
                                                                    <b>State: </b>
                                                                </span>
                                                                <input type="text" name="state" required ng-model="companyProfile.shope_state">
                                                            </p>
                                                            <p>
                                                                <span>
                                                                    <b>Pincode: </b>
                                                                </span>
                                                                <input type="text" name="pincode" required ng-model="companyProfile.shope_pincode">
                                                            </p>
                                                            <p>
                                                                <span>
                                                                    <b>Country: </b>
                                                                </span>
                                                                <input type="text" name="country" required ng-model="companyProfile.shope_country">
                                                            </p>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
                            <button type="submit" value="submit" ng-disabled="myform.$invalid" class="btn btn-primary pull-right theme_btn" ng-click="createShopeeSubmit(companyProfile)">Submit</button>
                        </div>
                    </div>
                </div>

            </div> -->

        </div>

    </div>

    <!-- Total footer start here-->
    <div class="ttl_footer1">
        <!-- footer1 start here -->
        <!-- <footer ng-controller="homeController" class="footerbar footer">
        <div class="container1">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
                        <div class="row row1" id="ftr_ss">
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                <ul>
                                    <h5 id="footer_linksss">
                                        <b>POWERTEX TOOLS</b>
                                    </h5>
                                    <li id="footer_links_valuess">
                                        <a href="aboutus.html" class="footerText"> ABOUT US</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                <ul>
                                    <h5 id="footer_linksss">
                                        <b>CONTACT US</b>
                                    </h5>
                                    <li id="footer_links_valuess">
                                        <span style="margin-left: 5px;">
                                            <i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span class="footerText1 footer_links_addere">
                                            <span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
                                            <span style="margin-left: 25px;"> Bahadurpura,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">500064,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">Hyderabad,</span>
                                            <br/>
                                            <span style="margin-left: 25px;">Telangana.</span>
                                            <br/>
                                        </span>
                                    </li>
                                    <li id="footer_links_valuess">
                                        <span style="padding-right:5px;">
                                            <i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span>
                                            <b class="font_size">EMAIL: </b>
                                            <a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
                                                info@powertextools.com </a>
                                        </span>
                                    </li>
                                    <li id="footer_links_valuess">
                                        <span style="padding-right:5px;">
                                            <i class="fa fa-phone" aria-hidden="true" id="enve"></i>
                                        </span>
                                        <span>
                                            <b class="font_size">PHONE: </b>
                                            <a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer> -->
        <!-- footer1 end here -->

        <!-- footer2 start here -->
        <footer class="footerbar1 footer" id="new_ftr">
            <div class="container1">
                <div class="row row1" style="padding:10px 0;color:white;">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by
                                    &nbsp; Golden Sun Technology.</span>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                                <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                                <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                                <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                                <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                                <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer2 end here -->
    </div>
    <!-- Total footer end here-->