<div ng-controller="smdashboardController">
    <div ng-if="welcome_msg != 'undefined' && welcome_msg!= ''" class="del_branch">
        <span class="text-center welcome_msg1">{{welcome_msg}}</span>
    </div>
    <div class="container1">
        <!-- bradcrumbs start here -->
        <div class="row">
            <ul class="bredcrumb_ul margin_left" style="margin-left:30px;">
                <li class="bredcrumb_li" ng-click="B2BDashboard()">
                    <a>Dashboard</a>
                    <!-- <span class="slash_bc">/</span> -->
                </li>
                <!-- <li class="bredcrumb_li" ng-if="wishlistBreadCrumbFlag == 'true'" ng-click="pageNavigate()">
                <a>Dashboard</a>
                <span class="slash_bc">/</span>
            </li> -->
                <li class="bredcrumb_li">
                    <a>Pending PO</a>
                </li>
            </ul>
        </div>
        <!-- bradcrumbs end here -->
        <!-- <marquee behavior="alternate" class="marq">{{welcome_msg}}</marquee> -->
        <div class="myaccount_section12_goToCart ovrfle_hidn">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

                <div class="box-head11" ng-if="Po_moreinfo.length>0" style="margin-bottom:5px;">
                    <div>Pending PO</div>
                </div>

                <div class="myvieworders-tbl-new1">

                    <div ng-if="Po_moreinfo.length == 0" align="middle" style="background: #fff;box-shadow: 3px 3px 8px #ddd;">
                        <div class="" style="padding: 30px 0;">
                            <div style="font-size: 20px;font-weight: 700;color: #be393d;">No Records Found</div>
                            <i class="fa fa-file-text" aria-hidden="true" style="font-size: 120px;color: #e4e4e4;"></i>
                            <div style="color:#232f3e;font-size: 18px;font-weight: 600;">Your PO Records are Empty</div>
                            <!-- <p>You have no records in your PO.</p>
                        <button type="submit" class="btn btn-default" href="#createRFQ" id="back_edit_info">
                            <i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:10px;"></i>Continue Shopping</button> -->
                        </div>
                    </div>

                    <div class="dist-table-data">
                        <div class="table-responsive" ng-if="Po_moreinfo.length>0">
                            <loading></loading>
                            <table class="table table-bordered table-striped pending_order" id="myViewOrders1">
                                <thead>
                                    <tr>
                                        <th class="txt_centr">S.No</th>
                                        <th class="txt_left">RFQ Number</th>
                                        <th class="txt_left">PO Number</th>
                                        <th class="txt_left" ng-if="sales">Dealer Name</th>
                                        <th class="txt_left" ng-if="sales">Dealer City</th>
                                        <th class="txt_left" ng-if="dealer">Sales Manager Name</th>
                                        <th class="txt_left" ng-if="dealer">Sales Manager Mobile</th>
                                        <th class="txt_left" ng-if="accountant || whmanger">Dealer Name</th>
                                        <th class="txt_left" ng-if="accountant || whmanger">Dealer City</th>
                                        <th class="txt_left" ng-if="accountant || whmanger">Sales Manager Name</th>
                                        <th class="txt_left" ng-if="accountant || whmanger">Sales Manager Mobile</th>
                                        <th class="txt_right">PO Generated Date</th>
                                        <th class="txt_centr">Status</th>
                                        <th class="txt_centr">More Info</th>
                                        <th class="txt_centr" ng-if="sales">Print</th>
                                    </tr>
                                </thead>
                                <tbody id="myViewOrdersData" ng-repeat="item in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))  track by $index">
                                    <!--  Po_moreinfo -->
                                    <tr>
                                        <td class="txt_centr ver_center">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                        <td class="txt_left">{{item.rfq_num}}</td>
                                        <td class="txt_left">{{item.po_num}}</td>
                                        <td class="txt_left" ng-if="sales">{{item.dealer_name}}</td>
                                        <td class="txt_left" ng-if="sales">{{item.dealer_city}}</td>
                                        <td class="txt_left" ng-if="dealer">{{item.sales_manager}}</td>
                                        <td class="txt_left" ng-if="dealer">{{item.sales_manager_mobile}}</td>
                                        <td class="txt_left" ng-if="accountant || whmanger">{{item.dealer_name}}</td>
                                        <td class="txt_left" ng-if="accountant || whmanger">{{item.dealer_city}}</td>
                                        <td class="txt_left" ng-if="accountant || whmanger">{{item.sales_manager}}</td>
                                        <td class="txt_left" ng-if="accountant || whmanger">{{item.sales_manager_mobile}}</td>
                                        <td class="txt_right">{{item.po_gen_date}}</td>
                                        <td class="txt_centr">{{item.status}}</td>
                                        <td class="txt_centr">
                                            <a href="" ng-click="Podetails(item)" ng-if="sales">
                                                <i class="fa fa-pencil" aria-hidden="true" style="color:#be393d;"></i>
                                            </a>
                                            <a href="" ng-if="!sales" class="rfq_mrInfo" ng-click="Podetails(item)">More Info</a>
                                        </td>
                                        <td class="txt_centr" ng-if="sales">
                                            <a href="" class="rfq_mrInfo" ng-click="printPurchaseOrder(item)">Print</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div ng-show="Po_moreinfo.length>0" class="ovrfle_hidn">
                            <pagination total-items="totalItems" page="currentPage" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
                        </div>
                    </div>

                    <div class="pen-rfq-dependent-tbl" ng-show="podetailshow">
                        <div class="box-head11" style="margin-bottom:5px;">
                            <div>PO-NUMBER :
                                <span>{{po_num}}</span>
                            </div>
                        </div>

                        <div class="dist-table-data">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped pending_order" id="myViewOrders1" style="margin-top:-5px;">
                                    <thead>
                                        <tr>
                                            <th class="txt_centr">S.No</th>
                                            <th class="txt_left">Product Name</th>
                                            <th class="txt_left">Model Number</th>
                                            <th class="txt_left">Brand</th>
                                            <th class="txt_right">MRP (₹)</th>
                                            <th class="txt_right">Qty</th>
                                            <th class="txt_right">Discount (%)</th>
                                            <th class="txt_right">Total (₹)</th>
                                            <th class="txt_right">Savings (%)</th>
                                            <!-- <th class="txt_centr">Status</th> -->
                                            <th class="txt_right" ng-if="!purchase">Delivery Date</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myViewOrdersData" ng-repeat="item in moreRfqDataList | filter:rfqNum track by $index">
                                        <tr ng-if="item.product_status != 'Reject'">
                                            <td class="txt_centr">{{$index+1}}</td>
                                            <td class="txt_left">{{item.productname}}</td>
                                            <td class="txt_left" style="cursor:pointer;">{{item.modelno}}</td>
                                            <td class="txt_left">{{item.brand}}</td>
                                            <td class="txt_right">{{item.mrp}}</td>
                                            <td class="txt_right">{{item.qty}}</td>
                                            <td class="txt_right">{{item.discount}}</td>
                                            <td class="txt_right">{{item.total}}</td>
                                            <td class="txt_right">{{item.savings}}</td>

                                            <td class="txt_right" ng-if="item.product_status == 'Split'" title="Split" class="extra-options" href="" data-toggle="modal"
                                                ng-click="getSplitData(item)">
                                                <a href="" class="split_click">Delivery Schedule</a>
                                            </td>

                                            <!-- <td class="txt_centr" ng-if="item.product_status == 'Accept'" title="Accept">
                                        <i class="fa fa-check" aria-hidden="true" style="color:#32bb22;font-size:15px;"></i>
                                    </td> -->

                                            <!-- <td class="txt_centr" ng-if="item.product_status == 'Reject'" title="Reject">
                                        <i class="fa fa-times" aria-hidden="true" style="color:#be393d;font-size:15px;"></i>
                                    </td> -->
                                            <!-- <td class="txt_centr" ng-if="item.product_status == 'Pending for SM'">
                                        {{item.product_status}}
                                    </td> -->
                                            <td class="txt_centr" ng-if="item.product_status != 'Split' && item.product_status != 'Pending for SM' && dealershow">
                                                <span>Confirm</span>
                                                <input type="radio" ng-model="status" value="Confirm" ng-change="getStatus(status,item)" />
                                                <br/>
                                                <span>Cancel</span>
                                                <input type="radio" ng-model="status" value="Cancel" ng-change="getStatus(status,item)" />
                                            </td>
                                            <!-- <td class="txt_centr" ng-if="item.product_status == 'Split' && dealershow"> -------- </td>
                                    <td class="txt_centr" ng-if="item.product_status == 'Pending for SM' && dealershow"> -------- </td> -->
                                            <td class="txt_right" ng-if="item.product_status != 'Split'">{{item.split_delvry_date}}</td>
                                            <!-- <td class="txt_right" ng-if="item.product_status == 'Split'">--------</td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="txt_right">
                                <button ng-if="sales && status == 'PO Generated'" type="submit" class="btn btn-default" id="back_edit_info" ng-click="poApproval('Approved')">PO Approval & Convert to Sales Order</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- model-1 start here -->
        <!-- <div class="modal fade" id="splitInfoTable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="clr_black1" aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title theme_color uppercase" id="myModalLabel">Product Split Details</h4>
                </div>

                <div class="quan-disc-table">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped pending_order" id="myViewOrders1" style="margin-top: -5px;">
                            <thead>
                                <tr>
                                    <th class="txt_centr">S.No</th>
                                    <th class="txt_right">Acc Qty</th>
                                    <th class="txt_right">Delivery Date</th>
                                    <th class="txt_centr">Remarks</th>
                                </tr>
                            </thead>
                            <tbody id="myViewOrdersData">

                                <tr ng-repeat="item in splitData | filter:productname track by $index">
                                    <td class="txt_centr">{{$index+1}}</td>
                                    <td class="txt_right" style="text-align: right;">{{item.accept_prod_qty}}</td>
                                    <td class="txt_right" style="text-align: right;">{{item.split_delvry_date}}</td>
                                    <td class="txt_centr">{{item.remarks_dealer}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer" style="border-top:1px solid #f5f1f1 !important;">
                    <button type="button" class="btn theme_bgclr" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> -->
        <!-- model-1 end here -->



        <!-- model-2 start here -->
        <!-- <div class="modal fade" id="POApproveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header align_center">
                    <img src="images/powertex_logo.png" />
                </div>
                <div class="modal-body" align="middle">
                    <div>
                        <img src="images/completed_icon.png" class="pop_image" />
                        <br/>
                        <span class="completed_styles clr_orange">{{po_num}}</span>
                        <br/>
                        <span class="completed_styles theme_color">PO Request Approved Successfully!</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn theme_bgclr" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div> -->
        <!-- model-2 end here -->


    </div>
</div>
<!-- Total footer start here-->
<div class="ttl_footer1">
    <!-- footer1 start here -->
    <!-- <footer ng-controller="homeController" class="footerbar footer">
		<div class="container1">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
						<div class="row row1" id="ftr_ss">
							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>POWERTEX TOOLS</b>
									</h5>
									<li id="footer_links_valuess">
										<a href="aboutus.html" class="footerText"> ABOUT US</a>
									</li>
								</ul>
							</div>

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>CONTACT US</b>
									</h5>
									<li id="footer_links_valuess">
										<span style="margin-left: 5px;">
											<i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
										</span>
										<span class="footerText1 footer_links_addere">
											<span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
											<span style="margin-left: 25px;"> Bahadurpura,</span>
											<br/>
											<span style="margin-left: 25px;">500064,</span>
											<br/>
											<span style="margin-left: 25px;">Hyderabad,</span>
											<br/>
											<span style="margin-left: 25px;">Telangana.</span>
											<br/>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">EMAIL: </b>
											<a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
												info@powertextools.com </a>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-phone" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">PHONE: </b>
											<a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer> -->
    <!-- footer1 end here -->

    <!-- footer2 start here -->
    <footer class="footerbar1 footer" id="new_ftr">
        <div class="container1">
            <div class="row row1" style="padding:10px 0;color:white;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                            <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer2 end here -->
</div>
<!-- Total footer end here-->