<!-- <div class="modal-header align_center">
    <img src="images/powertex_logo.png" />
</div> -->
<div class="modal-body" align="middle">

    <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
        <button type="button" class="close" ng-click="close();" aria-label="Close">
            <span class="clr_black1" aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title theme_color uppercase" id="myModalLabel">Product Split Details</h4>
    </div>

    

    <div class="quan-disc-table">
        <div class="table-responsive">
            <table class="table table-bordered table-striped pending_order" id="myViewOrders1">
                <thead class="">
                    <tr>
                        <th class="txt_centr">S.No</th>
                        <th class="txt_left" style="display:none;">Product ID</th>
                        <th class="txt_left">Description</th>
                        <th class="txt_centr">Acc Prod Qty</th>
                        <th class="txt_centr">Delivery Date</th>
                        <th class="txt_centr">Status</th>
                    </tr>
                </thead>
                <tbody ng-repeat="rfq in splitedList| filter:productName">
                    <tr ng-if="productName == rfq.accept_productname">
                        <td class="txt_centr">{{$index+1}}</td>
                        <td class="txt_left" style="display:none;">{{rfq.productid}}</td>
                        <td class="txt_left">{{rfq.accept_productname}}</td>
                        <td class="txt_right">{{rfq.accept_prod_qty}}</td>
                        <td class="txt_right" ng-if="rfq.product_status != 'Reject'">{{rfq.split_delvry_date}}</td>
                        <td class="txt_right" ng-if="rfq.product_status == 'Reject'">------</td>
                        <td class="txt_left">{{rfq.product_status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn theme_bgclr" ng-click="close();">OK
    </button>
</div>