<div class="container1" ng-controller="pogenerationController">

    <!-- split data start here -->
    <div class="dist-table-data" style="margin-top: 10px;" ng-show="SplitShow">
        <form>
            <div class="row">
                <div class="col-md-4">
                    <div class="box-head11" style="margin-top:10px;width: 100%;">
                        <h2>Product Name :
                            <b>{{rfqproductname}}</b>
                        </h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cart largenav">
                        <a class="cart-button" style="background: rgb(37, 155, 120); border: 1px solid rgb(37, 155, 120);width: 160px;float: right;">
                            <span class="cart_btn">
                                <b>Requested Qty</b>
                            </span>
                            <span class="item-number badge ng-binding">{{dealerqty}}</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cart largenav">
                        <a class="cart-button" style="background: rgb(37, 155, 120); border: 1px solid rgb(37, 155, 120);width: 160px;">
                            <span class="cart_btn">
                                <b>Remaining Qty</b>
                            </span>
                            <span class="item-number badge ng-binding">{{remainingqty}}</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 35px;margin-left: 20px;">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="acceptedQty">Accepted Quantity</label>
                        <input type="text" class="form-control" id="acceptedQty" ng-model="rfqdata.acceptedQty" placeholder="Enter Accepted Qty">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="balanceQty">Delivery Date</label>
                        <input type="date" value="2017-06-01" class="form-control" id="balanceQty" ng-model="rfqdata.deliverydate" placeholder="Enter Balance Qty">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="internalremarks">Remarks(Internal)</label>
                        <input type="text" class="form-control" id="internalremarks" ng-model="rfqdata.remarksinternal" placeholder="Enter Remarks">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="internaldealer">Remarks(Dealer)</label>
                        <input type="text" class="form-control" id="internaldealer" ng-model="rfqdata.remarksdealer" placeholder="Enter Remarks">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="internaldealer">Status</label>
                        <select class="form-control" ng-model="rfqdata.splitstatus" id="sel1">
                            <option>Partially rejected</option>
                            <option>Accepted</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group" style="margin-top: 25px;">
                        <label for="btn"></label>
                        <button type="button" class="btn theme_bgclr" ng-click=rfqsplitConfirm(rfqdata)>Confirm</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- split data end here -->

    <!-- accept data start here -->
    <div class="dist-table-data" style="margin-top: 10px;" ng-show="AcceptShow">
        <form>
            <div class="row">
                <div class="col-md-4">
                    <div class="box-head111" style="margin-top:10px;">
                        <h2>Product Name :
                            <b>{{rfqproductname}}</b>
                        </h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cart largenav">
                        <a class="cart-button" style="background: rgb(37, 155, 120); border: 1px solid rgb(37, 155, 120);width: 160px;float: right;">
                            <span class="cart_btn">
                                <b>Requested Qty</b>
                            </span>
                            <span class="item-number badge ng-binding">{{dealerqty}}</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cart largenav">
                        <a class="cart-button" style="background: rgb(37, 155, 120); border: 1px solid rgb(37, 155, 120);width: 160px;">
                            <span class="cart_btn">
                                <b>Remaining Qty</b>
                            </span>
                            <span class="item-number badge ng-binding">{{remainingqty}}</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 35px;margin-left: 20px;">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="acceptacceptedQty">Accepted Quantity</label>
                        <input type="text" class="form-control" id="acceptacceptedQty" ng-readonly="true" ng-model="acceptrfq.acceptedQty" placeholder="Enter Accepted Qty">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="acceptbalanceQty">Delivery Date</label>
                        <input type="date" value="2017-06-01" class="form-control" id="acceptbalanceQty" ng-model="acceptrfq.deliverydate" placeholder="Enter Balance Qty">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="acceptinternalremarks">Remarks(Internal)</label>
                        <input type="text" class="form-control" id="acceptinternalremarks" ng-model="acceptrfq.remarksinternal" placeholder="Enter Remarks">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="acceptinternaldealer">Remarks(Dealer)</label>
                        <input type="text" class="form-control" id="acceptinternaldealer" ng-model="acceptrfq.remarksdealer" placeholder="Enter Remarks">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="acceptinternaldealer">Status</label>
                        <input type="text" class="form-control" id="acceptinternaldealer" ng-readonly="true" ng-model="acceptrfq.splitstatus" placeholder="Enter Remarks">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group" style="margin-top: 25px;">
                        <label for="btn"></label>
                        <button type="button" class="btn theme_bgclr" ng-click=rfqsplitConfirm(acceptrfq)>Confirm</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- accept data end here -->

    <!-- reject data start here -->
    <div class="dist-table-data" style="margin-top: 10px;" ng-show="RejectShow">
        <form>
            <div class="row">
                <div class="col-md-4">
                    <div class="box-head111" style="margin-top:10px;">
                        <h2>Product Name :
                            <b>{{rfqproductname}}</b>
                        </h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cart largenav">
                        <a class="cart-button" style="background: rgb(37, 155, 120); border: 1px solid rgb(37, 155, 120);width: 160px;float: right;">
                            <span class="cart_btn">
                                <b>Requested Qty</b>
                            </span>
                            <span class="item-number badge ng-binding">{{dealerqty}}</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cart largenav">
                        <a class="cart-button" style="background: rgb(37, 155, 120); border: 1px solid rgb(37, 155, 120);width: 160px;">
                            <span class="cart_btn">
                                <b>Remaining Qty</b>
                            </span>
                            <span class="item-number badge ng-binding">{{remainingqty}}</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 35px;margin-left: 20px;">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="rejectacceptedQty">Accepted Quantity</label>
                        <input type="text" class="form-control" ng-readonly="true" id="rejectacceptedQty" ng-model="rejectrfq.acceptedQty"
                        placeholder="Enter Accepted Qty" disabled>
                    </div>
                </div>
                <!-- <div class="col-md-2">
                    <div class="form-group">
                        <label for="acceptbalanceQty">Delivery Date</label>
                        <input type="date" value="2017-06-01" class="form-control" id="acceptbalanceQty" ng-model="acceptrfq.deliverydate" placeholder="Enter Balance Qty">
                    </div>
                </div> -->
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="rejectinternalremarks">Remarks(Internal)</label>
                        <input type="text" class="form-control" id="rejectinternalremarks" ng-model="rejectrfq.remarksinternal" placeholder="Enter Remarks">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="rejectinternaldealer">Remarks(Dealer)</label>
                        <input type="text" class="form-control" id="rejectinternaldealer" ng-model="rejectrfq.remarksdealer" placeholder="Enter Remarks">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="rejectinternaldealer">Status</label>
                        <input type="text" class="form-control" id="rejectinternaldealer" ng-readonly="true" ng-model="rejectrfq.splitstatus"
                        placeholder="Enter Remarks">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group" style="margin-top: 25px;">
                        <label for="btn"></label>
                        <button type="button" class="btn theme_bgclr" ng-click=rfqsplitConfirm(rejectrfq)>Confirm</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- reject data end here -->

    <div class="dist-table-data1" style="margin-top: 10px;">
        <!-- <div class="sub-cat-label">
            <label>Splited RFQ</label>
        </div> -->
        <div class="box-head11" style="margin-top: 10px;">
            <h2>Splited RFQ</h2>
        </div>
        <div class="product_based_list">
            <table class="table table-bordered table-striped pending_order" id="myViewOrders1">
                <thead class="">
                    <tr>
                        <th class="txt_centr">S.No</th>

                        <th class="txt_left">Description</th>
                        <th class="txt_right">Accepted Product Qty</th>
                        <th class="txt_right">Delivery Date</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="rfq in splitedList |filter:rfqproductname">
                        <td class="txt_centr">{{$index+1}}</td>

                        <td class="txt_left">{{rfq.accept_productname}}</td>
                        <td class="txt_right">{{rfq.accept_prod_qty}}</td>
                        <td class="txt_right">{{rfq.split_delvry_date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

 <!-- Total footer start here-->
 <div class="ttl_footer1">
	<!-- footer1 start here -->
	<!-- <footer ng-controller="homeController" class="footerbar footer">
		<div class="container1">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
						<div class="row row1" id="ftr_ss">
							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>POWERTEX TOOLS</b>
									</h5>
									<li id="footer_links_valuess">
										<a href="aboutus.html" class="footerText"> ABOUT US</a>
									</li>
								</ul>
							</div>

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>CONTACT US</b>
									</h5>
									<li id="footer_links_valuess">
										<span style="margin-left: 5px;">
											<i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
										</span>
										<span class="footerText1 footer_links_addere">
											<span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
											<span style="margin-left: 25px;"> Bahadurpura,</span>
											<br/>
											<span style="margin-left: 25px;">500064,</span>
											<br/>
											<span style="margin-left: 25px;">Hyderabad,</span>
											<br/>
											<span style="margin-left: 25px;">Telangana.</span>
											<br/>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">EMAIL: </b>
											<a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
												info@powertextools.com </a>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-phone" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">PHONE: </b>
											<a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer> -->
	<!-- footer1 end here -->

	<!-- footer2 start here -->
	<footer class="footerbar1 footer" id="new_ftr">
		<div class="container1">
			<div class="row row1" style="padding:10px 0;color:white;">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
							<span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
						</div>
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
							<i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer2 end here -->
</div>
<!-- Total footer end here-->