<!-- <div class="modal-header align_center">
    <img src="images/powertex_logo.png" />
</div> -->
<div class="modal-body" align="middle">

    <div class="modal-header" style="border-bottom:1px solid #f5f1f1 !important;">
        <button type="button" class="close" ng-click="close();" aria-label="Close">
            <span class="clr_black1" aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title theme_color uppercase" id="myModalLabel">Product Split Details</h4>
    </div>

    <div class="quan-disc-table">
        <div class="table-responsive">
            <table class="table table-bordered table-striped pending_order" id="myViewOrders1" style="margin-top: -5px;">
                <thead>
                    <tr>
                        <th class="txt_centr">S.No</th>
                        <th class="txt_left">SM Acc. Qunatity</th>
                        <th class="txt_left">Delivery Date</th>
                        <th class="txt_left">Remarks (Internal)</th>
                        <th class="txt_left">Remarks (Dealer)</th>
                        <th class="txt_left" ng-if="dealershow">Confirmation/Cancelation</th>

                    </tr>
                </thead>
                <tbody id="myViewOrdersData">

                    <tr ng-repeat="item in split_info | filter:productId track by $index">
                        <td class="txt_centr">{{$index+1}}</td>
                        <td class="txt_left">{{item.accept_prod_qty}}</td>
                        <td class="txt_left" style="cursor:pointer;">{{item.split_delvry_date}}</td>
                        <td class="txt_left">{{item.remarks_internal}}</td>
                        <td class="txt_left">{{item.remarks_dealer}}</td>
                        <td style="text-align:center;" ng-if="dealershow">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-cyan btn-rounded active form-check-label" ng-click="getSplitStatus('Confirm',item)">
                                    <input class="form-check-input" type="radio" checked autocomplete="off" ng-model="splitStatus" value="Confirm">Confirm
                                </label>
                                <label class="btn btn-cyan btn-rounded form-check-label" ng-click="getSplitStatus('Cancel',item)">
                                    <input class="form-check-input" type="radio" autocomplete="off" ng-model="splitStatus" value="Cancel">Cancel
                                </label>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn theme_bgclr" ng-click="close();">OK
    </button>
</div>