<div ng-controller="checkoutCntrl">
    <div class="container1" style="padding:10px;">
        <p> Your Order ID is {{finalOrderId}}</p>
        <div>
            <button type="submit" class="btn btn-default ad_cart" ng-click="goToHomeFromCart()">Continue Shopping</button>
            <button type="submit" class="btn btn-default" ng-click="printSection(printSectionId)">Print</button>
        </div>
    </div>


    <!-- Total footer start here-->
    <div class="ttl_footer1">
        <!-- footer1 start here -->
        <!-- <footer ng-controller="homeController" class="footerbar footer">
		<div class="container1">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
						<div class="row row1" id="ftr_ss">
							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>POWERTEX TOOLS</b>
									</h5>
									<li id="footer_links_valuess">
										<a href="aboutus.html" class="footerText"> ABOUT US</a>
									</li>
								</ul>
							</div>

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>CONTACT US</b>
									</h5>
									<li id="footer_links_valuess">
										<span style="margin-left: 5px;">
											<i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
										</span>
										<span class="footerText1 footer_links_addere">
											<span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
											<span style="margin-left: 25px;"> Bahadurpura,</span>
											<br/>
											<span style="margin-left: 25px;">500064,</span>
											<br/>
											<span style="margin-left: 25px;">Hyderabad,</span>
											<br/>
											<span style="margin-left: 25px;">Telangana.</span>
											<br/>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">EMAIL: </b>
											<a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
												info@powertextools.com </a>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-phone" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">PHONE: </b>
											<a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer> -->
        <!-- footer1 end here -->

        <!-- footer2 start here -->
        <footer  class="footerbar1 footer" id="new_ftr">
            <div class="container1">
                <div class="row row1" style="padding:10px 0;color:white;">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                <span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
                                <i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
                                <i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
                                <i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
                                <i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
                                <i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer2 end here -->
    </div>
    <!-- Total footer end here-->


    <div id="printSectionId" ng-hide="showPrintSection == 'false'">
        <style>
            @media print {
                #printBtn {
                    display: none;
                }
            }

            @media print {
                .hide-print {
                    display: none;
                }
            }

            table {
                font-size: 12px !important;
            }
        </style>

        <div class="col-md-12">
            <h4> Your Order ID is {{finalOrderId}}</h4>
        </div>
        <table class="table table-bordered" id="myViewOrders" border=1 width="100%">
            <thead>
                <tr>
                    <th style="text-align:left;">Product Name</th>
                    <!-- <th style="text-align:left;">SKU</th> -->
                    <th style="text-align:right;">Unit Price</th>
                    <th style="text-align:right;">Qty</th>
                    <th style="text-align:right;">Total Price</th>
                    <th style="text-align:right;">Tax (%)</th>
                    <th style="text-align:right;">Tax Amount</th>
                    <th style="text-align:right;">Subtotal</th>
                </tr>
            </thead>

            <tbody id="myViewOrdersData">
                <tr ng-repeat="orderData in orderDetails">
                    <td style="text-align:left;">{{orderData.productdescription}}</td>
                    <td style="text-align:right;">
                        <span>{{orderData.unitprice| currency:'&#8377;'}}</span>
                    </td>
                    <td style="text-align:right;">
                        <strong>{{orderData.qty}}</strong>
                    </td>
                    <td style="text-align:right;">{{orderData.unitprice*orderData.qty| currency:'&#8377;'}}</td>
                    <td style="text-align:right;">{{orderData.tax}}</td>
                    <td style="text-align:right;">
                        <span>{{orderData.tax_amount| currency:'&#8377;'}}</span>
                    </td>
                    <td style="text-align:right;">
                        <span style="text-align:right;">{{orderData.sub_total | currency:'&#8377;'}}</span>
                    </td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="6" class="tft_head" style="text-align:right;">
                        <b>Shipping Charges</b>
                    </td>
                    <td class="tft_data" style="text-align:right;">₹0.00</td>
                </tr>
                <tr>
                    <td colspan="6" class="tft_head" style="text-align:right;">
                        <b>Grand Total (Incl.Tax)</b>
                    </td>
                    <td class="tft_data" style="text-align:right;">
                        <b>{{grandTotal+discountAmt | currency:'&#8377;'}}</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="tft_head" style="text-align:right;">
                        <b>Coupon Amount</b>
                    </td>
                    <td class="tft_data" style="text-align:right;">{{discountAmt | currency:'&#8377;'}}</td>
                </tr>
                <tr>
                    <td colspan="6" class="tft_head" style="text-align:right;">
                        <b>Amount Payable</b>
                    </td>
                    <td class="tft_data" style="text-align:right;">
                        <b>{{grandTotal | currency:'&#8377;'}}</b>
                    </td>
                </tr>
            </tfoot>
        </table>

        <div class="col-md-12" style="margin-top:10px;">
            <div class="col-md-6" style="float:left; width:48%;border:1px solid #cfcfcf;padding:2px 2px;">
                <div class="" style="border-bottom:1px solid #cfcfcf;">
                    <span>
                        <b>Shipping Type</b>
                    </span>
                </div>
                <div>
                    {{shippingtype}}
                </div>
            </div>
            <div class="col-md-6" style="float:right; width:48%;border:1px solid #cfcfcf;padding:2px 2px;">
                <div class="" style="border-bottom:1px solid #cfcfcf;">
                    <span>
                        <b>Payment Method</b>
                    </span>
                </div>
                <div>
                    {{paymenttype}}
                </div>
            </div>
        </div>

        <div class="col-md-12" style="margin-top:10px;" ng-if="shippingtype == 'Pickup'">
            <div class="col-md-6" style="float:left; width:48%;border:1px solid #cfcfcf;padding:2px 2px;">
                <div class="" style="border-bottom:1px solid #cfcfcf;">
                    <span>
                        <b>Shop Name</b>
                    </span>
                </div>
                <div>
                    {{shopname}}
                </div>
            </div>
            <div class="col-md-6" style="float:right; width:48%;border:1px solid #cfcfcf;padding:2px 2px;">
                <div class="" style="border-bottom:1px solid #cfcfcf;">
                    <span>
                        <b>Shop Address</b>
                    </span>
                </div>
                <div>
                    {{shopAddress}}
                </div>
            </div>
        </div>

        <div class="col-md-12" style="margin-top:10px;">
            <div class="col-md-6" style="float:left; width:48%;border:1px solid #cfcfcf;padding:2px 2px;">
                <div class="" style="border-bottom:1px solid #cfcfcf;">
                    <span>
                        <b>Company GST Number</b>
                    </span>
                </div>
                <div>
                    36AAGCG4402R1ZA
                </div>
            </div>
            <div class="col-md-6" style="float:right; width:48%;border:1px solid #cfcfcf;padding:2px 2px;">
                <div class="" style="border-bottom:1px solid #cfcfcf;">
                    <span>
                        <b>Customer GST Number</b>
                    </span>
                </div>
                <div>
                    {{gstnumber}}
                </div>
            </div>
        </div>

        <div class="col-md-12" style="margin-top:10px;" ng-if="shippingtype == 'Delivery'">
            <div class="col-md-6" style="float:left; width:48%;border:1px solid #cfcfcf;padding:2px 2px;">
                <div class="" style="border-bottom:1px solid #cfcfcf;">
                    <span>
                        <b>Shipping Address</b>
                    </span>
                </div>
                <div class="shipping_address_viewmore" style="padding:5px;">
                    <span>{{shippingaddress.firstname}}&nbsp;&nbsp;{{shippingaddress.lastname}}</span>
                    <br>
                    <span>{{shippingaddress.mobile}}/{{shippingaddress.alt_mobile}}</span>
                    <br>
                    <span>{{shippingaddress.alt_mobile}}</span>
                    <br>
                    <span>{{shippingaddress.house_no}},&nbsp;&nbsp;{{shippingaddress.street_address}}</span>
                    <br>
                    <span>{{shippingaddress.city}},&nbsp;&nbsp;{{shippingaddress.postal_code}}</span>
                    <br>
                    <span>{{shippingaddress.state}}</span>
                    <br>
                    <span>{{shippingaddress.country}}</span>
                </div>
            </div>
            <div class="col-md-6" style="float:right; width:48%;border:1px solid #cfcfcf;padding:2px 2px;">
                <div class="" style="border-bottom:1px solid #cfcfcf;">
                    <span>
                        <b>Billing Address</b>
                    </span>
                </div>
                <div class="shipping_address_viewmore" style="padding:5px;">
                    <span>{{billingaddress.firstname}}&nbsp;&nbsp;{{billingaddress.lastname}}</span>
                    <br>
                    <span>{{billingaddress.mobile}}/{{billingaddress.alt_mobile}}</span>
                    <br>
                    <span>{{billingaddress.alt_mobile}}</span>
                    <br>
                    <span>{{billingaddress.house_no}},&nbsp;&nbsp;{{billingaddress.street_address}}</span>
                    <br>
                    <span>{{billingaddress.city}},&nbsp;&nbsp;{{billingaddress.postal_code}}</span>
                    <br>
                    <span>{{billingaddress.state}}</span>
                    <br>
                    <span>{{billingaddress.country}}</span>
                </div>
            </div>
        </div>

        <div style="margin-left: 45%;margin-right: 45%">
            <button type="submit" onclick="window.print();" style="width:60px;height:34px;margin-top:10px;cursor:pointer;" id="printBtn">Print</button>
        </div>
    </div>
</div>