<div class="container1" ng-controller="customercartController">

	<!-- bradcrumbs start here -->
	<div class="row" style="margin-left: 0px;" ng-if="cartArray.length>0">
		<ul class="bredcrumb_ul margin_left">
			<li class="bredcrumb_li" ng-click="B2BDashboard()">
				<a>Home</a>
				<!-- <span class="slash_bc">/</span> -->
			</li>
			<!-- <li class="bredcrumb_li" ng-if="wishlistBreadCrumbFlag == 'true'" ng-click="pageNavigate()">
				<a>Dashboard</a>
				<span class="slash_bc">/</span>
			</li> -->
			<li class="bredcrumb_li">
				<a>Shopping-Cart</a>
			</li>
		</ul>
	</div>
	<!-- bradcrumbs end here -->

	<div class="ovrfle_hidn">
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<div class="block_account_dashboard">

				<div class="box-head11" style="margin-bottom:5px;" ng-if="cartArray.length>0">
					<div>Shopping Cart</div>
				</div>

				<div ng-if="cartArray.length == 0" align="middle" style="background: #fff;box-shadow: 3px 3px 8px #ddd;margin:20px 0;">
					<div class="" style="padding: 30px 0;">
						<div style="font-size: 20px;font-weight: 700;color: #be393d;">SHOPPING CART</div>
						<i class="fa fa-shopping-basket" aria-hidden="true" style="font-size: 120px;color: #293071;"></i>
						<div style="color:#232f3e;font-size: 18px;font-weight: 600;">Your Shopping Cart is Empty</div>
						<p>You have no items in your shopping cart.</p>
						<button type="submit" ng-click="goToHomeFromCart()" class="btn btn-default" href="#createRFQ" id="back_edit_info">
							<i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:10px;"></i>Continue Shopping</button>
					</div>
				</div>


				<div class="" ng-if="cartArray.length>0">
					<div class="basic_dashboard">
						<div class="myaccount_section12_goToCart">
							<div class="dist-table-data ovrfle_hidn mar-btm-20">
								<div class="myvieworders-tbl-new1">
									<div class="table-responsive">
										<table class="table table-bordered table-striped pending_order">
											<thead>
												<tr>
													<th class="txt_centr">S.No</th>
													<th class="txt_centr">Product Image</th>
													<th class="txt_left">Product Name</th>
													<th class="txt_right">Unit Price</th>
													<th class="txt_centr">Qty</th>
													<th class="txt_right">Total Price</th>
													<th class="txt_right">Tax (%)</th>
													<th class="txt_right">Tax-Amount</th>
													<th class="txt_right">Subtotal</th>
													<th class="txt_centr">Remove</th>
												</tr>
											</thead>
											<tbody id="myViewOrdersData">
												<tr ng-repeat="cartItem in cartArray track by $index">
													<td class="txt_centr ver_center">{{$index+1}}</td>
													<td class="txt_centr ver_center">
														<img ng-src="{{cartItem.imageid}}" title="{{cartItem.upload_name}}" style="width: 25%;">
													</td>
													<td class="txt_left ver_center">{{cartItem.upload_name}}</td>
													<td class="txt_right ver_center">{{cartItem.mrp | currency:'&#8377;'}}</td>
													<!-- <td class="txt_right"><input type="text" min="1" name="qty" value="{{cartItem.qty}}" ng-model="cartItem.qty" title="Quantity" class=""
															 maxlength="12" onkeypress="funup(this.value,this.id);"></td> -->
													<td class="txt_centr ver_center">
														<div class="quantity">
															<button class="plus-btn quan-btn" type="button" name="button" ng-click="decreaseValue(cartItem,$index,currentPage)">
																<span class="glyphicon glyphicon-minus qty_plus_minus"></span>
															</button>
															<input type="text" name="qty" max="4" class="quan-text" value="{{qty}}" ng-model="cartItem.qty" ng-change="getQuantity(cartItem.qty,cartItem,$index,currentPage)">
															<button class="minus-btn quan-btn" type="button" name="button" ng-click="increaseValue(cartItem,$index,currentPage)">
																<span class="glyphicon glyphicon-plus qty_plus_minus"></span>
															</button>
														</div>
													</td>
													<td class="txt_right ver_center">{{((cartItem.mrp*cartItem.tax)/100*cartItem.qty)+(cartItem.mrp*cartItem.qty)| currency:'&#8377;'}}</td>
													<td class="txt_right ver_center">{{cartItem.tax}}</td>
													<td class="txt_right ver_center">{{(cartItem.mrp*cartItem.tax)/100*cartItem.qty | currency:'&#8377;'}}</td>
													<td class="txt_right ver_center">{{cartItem.mrp*cartItem.qty |currency:'&#8377;'}}</td>
													<td class="txt_centr ver_center">
														<span class="glyphicon glyphicon-remove" ng-click="deletecartItem(cartItem)"></span>
													</td>
												</tr>
												<tr>
													<td colspan="8" class="cart_head tft_head">Shipping Charges</td>
													<td class="cart_des tft_head">₹ 0.00</td>
													<td class="cart_des tft_head"></td>
												</tr>
												<tr>
													<td colspan="8" class="cart_head tft_head">Grand Total</td>
													<td class="cart_des tft_head">{{grandtotal|currency:'&#8377;'}}</td>
													<td class="cart_des tft_head"></td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="cart_btns">
										<button type="submit" class="btn btn-default theme_bgclr fl-right" ng-click="goToHomeFromCart()">Continue Shopping</button>
										<button type="submit" class="btn btn-default theme_bgclr fl-right" ng-click="checkout_page(cartArray,grandtotal)">Proceed to Payment</button>
										<button type="submit" class="btn btn-default theme_bgclr fl-right" ng-click="deletecartItem('all')">Clear Shopping Cart</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!--  account dashboard page end here -->
		</div>
	</div>
</div>


 <!-- Total footer start here-->
 <div class="ttl_footer1">
	<!-- footer1 start here -->
	<!-- <footer ng-controller="homeController" class="footerbar footer">
		<div class="container1">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
						<div class="row row1" id="ftr_ss">
							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>POWERTEX TOOLS</b>
									</h5>
									<li id="footer_links_valuess">
										<a href="aboutus.html" class="footerText"> ABOUT US</a>
									</li>
								</ul>
							</div>

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>CONTACT US</b>
									</h5>
									<li id="footer_links_valuess">
										<span style="margin-left: 5px;">
											<i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
										</span>
										<span class="footerText1 footer_links_addere">
											<span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
											<span style="margin-left: 25px;"> Bahadurpura,</span>
											<br/>
											<span style="margin-left: 25px;">500064,</span>
											<br/>
											<span style="margin-left: 25px;">Hyderabad,</span>
											<br/>
											<span style="margin-left: 25px;">Telangana.</span>
											<br/>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">EMAIL: </b>
											<a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
												info@powertextools.com </a>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-phone" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">PHONE: </b>
											<a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer> -->
	<!-- footer1 end here -->

	<!-- footer2 start here -->
	<footer  class="footerbar1 footer" id="new_ftr">
		<div class="container1">
			<div class="row row1" style="padding:10px 0;color:white;">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
							<span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
						</div>
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
							<i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer2 end here -->
</div>
<!-- Total footer end here-->


<div id="outOfQty" class="modal fade" ng-controller="cartController">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header"></div>
			<div class="modal-body" align="middle">
				Only {{avlQty}} are left!
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary modalBtn" ng-click="closeModal()">OK</button>
			</div>
		</div>
	</div>
</div>


<!--login new-->
<div>
	<div class="modal fade" id="loginModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<button type="button" class="login_close close right_0" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<div class="modal-content" style="border: 0px solid #37475a;border-radius: 8px;overflow: hidden;height: 500px;">

				<div class="modal-body" style="padding:0;">
					<div class="" ng-controller="loginController" id="">
						<div class="row">

							<div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 width_40">
								<span class="login_text">
									<span>Login</span>
								</span>
								<p class="login_texttt">
									<span>Get access to your Orders, Wishlist and Recommendations</span>
								</p>
							</div>

							<div class="col-md-9 col-lg-9 col-sm-12 col-xs-12 width_60">
								<div class="signup">

									<h4 class="login_type">
										<!-- <span>{{usertype}}</span> Login Form...</h4> -->

										<form name="loginForm">

											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mar-t-30">
												<div class="username">
													<!-- <i class="inside fa fa-user" style="padding-left: 9px;"></i> -->
													<input type='text' placeholder='Email/Phone' class="inp" required name="username" id="tools-login-user1" ng-model="userdata.username"
													/>
													<!-- <span class="validationError errorMsg" style="color:red" ng-show="loginForm.username.$dirty && loginForm.username.$error.required"
																	class="ng-hide">
																	Please Enter Valid Email/Phone.
																</span> -->
												</div>
											</div>

											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mar-t-20">
												<div class="user-login1111">
													<!-- <i class="inside fa fa-unlock-alt" style="padding-left: 9px;"></i> -->
													<input type="password" placeholder='Password' required class="inp" name="password" id="tools-login-pwd1" ng-model="userdata.password"
													/>
													<!-- <span class="validationError errorMsg" style="color:red" ng-show="loginForm.password.$dirty && loginForm.password.$error.required"
																	class="ng-hide">
																	Please Enter Valid Password.
																</span> -->
												</div>
												<a href="forgotPassword.html" tabindex="5" class="forgot-password">Forgot Your Password?</a>
											</div>

											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mar-t-20111">
												<div class="user-login1111" ng-repeat="user in usertypes">
													<span>
														<input type="radio" name="optradio" id="radio6" value="{{user}}" ng-model="userdata.usertype">{{user}}</span>
												</div>
											</div>


											<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														<div class="text-center">
															<a href="forgotPassword.html" tabindex="5" class="forgot-password">Forgot Your Password?</a>
														</div>
													</div> -->

											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mar-t-30">
												<div class="text-center">
													<button type="submit" class="login_acunt" ng-if="!single_usertpe" value="Login" ng-click="loginppt(userdata)">LOGIN</button>
													<button type="submit" class="login_acunt" ng-if="single_usertpe" value="Login" ng-click="login(userdata)">LOGIN</button>
												</div>
											</div>


											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mar-t-30">
												<div class="text-center">
													<p>If You do not have an account with us, please create.</p>
												</div>
											</div>

											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="text-center">
													<button type="submit" id="create-account-login" value="Create a new account" ng-click="createAccount()">CREATE AN ACCOUNT</button>
												</div>
											</div>

										</form>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- login new end-->