<!-- <style>
	.my_wishlist {
		border-bottom: 1px solid #e0e0e0;
		background: #fff;
	}
	.my_wishlist_data {
		padding: 24px;
		line-height: 1;
		padding-right: 0;
		padding-bottom: 30px;
		display: block;
		overflow: hidden;
	}
	.my_wishlist_data .m_w_img_blk {
		position: relative;
		width: 120px;
		float: left;
		margin-right: 30px;
	}
	.my_wishlist_data .m_w_img_blk1 {
		position: relative;
		display: block;
	}
	.m_w_img_blk2 {
		position: relative;
		margin: 0 auto;
	}
	.m_w_img_blk2 .m_w_img {
		opacity: 1;
	}
	.m_w_img_blk2 .m_w_img {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		margin: auto;
		max-width: 100%;
		max-height: 100%;
	}
	.my_wishlist_data .m_w_data_blk {
		float: none;
		width: auto;
		padding-left: 25px;
	}
	.col-10-12 {
		margin-top: 10px;
	}
	.m_w_icons_list_blk {
		margin-top: 20px;
	}
	.my_wishlist_data .m_w_p_name {
		font-weight: 600;
		font-size: 15px;
		display: block;
		cursor: pointer;
		margin-bottom: 10px;
		color: #232f3e;
	}
	.my_wishlist_data .m_w_p_name:hover {
		color: #be393d;
	}
	.m_w_rating_blk {
		margin-top: 0;
		display: inline-block;
		padding-right: 10px;
	}
	.m_w_ratng {
		position: relative;
	}
	.m_w_ratng_star {
		background-color: #388e3c;
	}
	.m_w_ratng_star {
		line-height: normal;
		display: inline-block;
		color: #fff;
		padding: 2px 4px 2px 4px;
		border-radius: 3px;
		font-weight: 500;
		font-size: 12px;
		vertical-align: middle;
	}
	.m_w_rating_blk .m_w_ratng_users {
		padding-left: 8px;
		font-weight: 500;
		color: #878787;
	}
	.my_wishlist_data .m_w_price_blk {
		display: block;
		margin-top: 8px;
		padding-right: 10px;
	}
	.my_wishlist_data .m_w_price_blk .m_w_ofr_price {
		font-size: 22px;
		display: inline-block;
		vertical-align: middle;
	}
	.m_w_price_list .m_w_ofr_price {
		display: inline-block;
		font-size: 16px;
		font-weight: 500;
		color: #293071;
	}
	.my_wishlist_data .m_w_price_blk .m_w_mrp_price {
		padding-top: 10px;
		margin-left: 10px;
	}
	.m_w_price_list .m_w_mrp_price {
		text-decoration: line-through;
		display: inline-block;
		font-size: 16px;
		color: #878787;
	}
	.m_w_price_list .m_w_percentage_price {
		display: inline-block;
		margin-left: 8px;
		color: #388e3c;
		font-size: 14px;
		letter-spacing: -0.2px;
		font-weight: 600;
	}
	.m_w_icons_list {
		display: inline-block;
		position: relative;
	}
	.m_w_icons {
		cursor: pointer;
		font-size: 18px;
		color: #b1aeae;
	}
	.m_w_icons:hover {
		color: #be393d;
	}




	/*pop-over start here*/

	._20yN1P ._2iz2Ct .M-og0Q {
		padding: 16px;
		overflow: auto;
	}

	._20yN1P ._2iz2Ct ._3SOooe {
		max-height: 340px;
	}

	._3FfcKU ._3Zqph8 ._1uJQ0D {
		line-height: 20px;
	}

	._3FfcKU ._3Zqph8 ._3mTmRq {
		box-shadow: none;
		border: none;
		padding: 15px 0 0 0;
		color: #c2c2c2;
	}

	._3FfcKU ._3Zqph8 ._1WPB7I {
		box-shadow: none;
		border: none;
		color: #ff6161;
		padding: 15px 0 0 30px;
	}

	._20yN1P ._2iz2Ct._1WTi3x {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	._20yN1P ._2iz2Ct.U_Sam7,
	._20yN1P ._2iz2Ct.S8RRjl,
	._20yN1P ._2iz2Ct._1g7aGC {
		box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .2);
		top: 32px;
	}

	._20yN1P ._2iz2Ct.U_Sam7 {
		right: -32px;
	}

	._3FfcKU ._3Zqph8 {
		width: 320px;
		text-align: center;
	}

	._20yN1P ._2iz2Ct {
		position: absolute;
		width: 568px;
		background: #fff;
		color: #212121;
		font-size: 14px;
		font-weight: normal;
		font-weight: initial;
		border-color: #f0f0f0;
		text-align: left;
		z-index: 5;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: opacity 0.3s ease-in-out;
	}

	/*pop-over end here*/


</style> -->

<div class="container1" ng-controller="product_detailed_controller">

	<!-- bradcrumbs start here -->
	<!-- <ul class="bredcrumb_ul margin_left" style="margin-top: 10px;">
		<li class="bredcrumb_li">
			<a ng-click="goToHome()"> Home</a>
		</li>
		<li class="bredcrumb_li" ng-if="wishlistBreadCrumbFlag == 'true'" ng-click="pageNavigate()">
			<a>Dashboard</a>
		</li>
		<li class="bredcrumb_li">
			<a>Wishlist</a>
		</li>
	</ul> -->
	<!-- bradcrumbs end here -->

	<div class="row mar-top-10" id="edit_row">
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<div class="block_account_dashboard">
				<div class="basic_dashboard" ng-if="yourWishlist!=''">
					<div class="box-head11">
						<div>MY WISHLIST</div>
					</div>

					<!-- new code for wishlist start here -->
					<!-- <div class="my_wishlist" ng-repeat="list in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
						<div class="my_wishlist_data">
							<div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
								<div class="m_w_img_blk">
									<div class="m_w_img_blk1">
										<div class="m_w_img_blk2" style="height: 100px; width: 100px;">
											<img class="m_w_img" alt="{{list.upload_name}}" src="images/ProductImages/{{list.image}}">
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
								<div class="m_w_data_blk">
									<div class="col col-10-12">

										<div class="m_w_p_name" ng-click="productDetails(list)" title="{{list.upload_name}}">
											{{list.upload_name}}
										</div>

										<div class="m_w_rating_blk">
											<span class="m_w_ratng">
												<div class="m_w_ratng_star">4.4 ★</div>
											</span>
											<span class="m_w_ratng_users">(17)</span>
										</div>

										<div class="m_w_price_blk">
											<div class="m_w_price_list">
												<div class="m_w_ofr_price">{{list.enduser_price | noFractionCurrency:'&#8377;'}}</div>
												<div class="m_w_mrp_price">{{list.upload_mrp | noFractionCurrency:'&#8377;'}}</div>
												<div class="m_w_percentage_price">
													<span>{{list.percentage}}% Off</span>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>

							<div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
								<div class="m_w_icons_list_blk">
									<div class="m_w_icons_list">
										<div class="">
											<span class="" ng-click="removeWishListItem(list)">
												<i class="fa fa-trash m_w_icons" title="delete"></i>
											</span>
										</div>
										<div class="" ng-controller="customercartController">
											<span ng-click="addTocart(list)">
												<i class="fa fa-shopping-cart m_w_icons" title="Add to cart" style="margin-top: 10px;"></i>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> -->
					<!-- new code for wishlist end here -->

					<!-- my whishlist page table start here -->
					<div class="table-responsive">
						<table class="table table-bordered pending_order" id="myWhishlist">
							<thead class="p_head">
								<tr>
									<th> Product Image </th>
									<th style="text-align:left;"> Product Name </th>
									<th> Price </th>
									<th> Add To Cart </th>
									<th> Remove </th>
								</tr>
							</thead>
							<tbody align="middle" id="myWhishlistData" ng-repeat="list in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
								<tr>
									<td>
										<img ng-src="{{list.image}}" style="height:50%;" />
									</td>
									<td style="text-align:left;">
										<h3 class="product-name">
											<a ng-click="productDetails(list)" title=""> {{list.upload_name}} </a>
										</h3>
									</td>
									<td>
										<div class="price-box">
											<div class="offer">
												<span class="old-price">
													<span class="price" id="old-price-507_b">
														{{list.upload_mrp | noFractionCurrency:'&#8377;'}}
													</span>
													<span class="price-percentage">{{list.percentage}}% Off</span>
												</span>
												<br/>
												<span class="price_latest">{{list.enduser_price | noFractionCurrency:'&#8377;'}}</span>
											</div>
										</div>
									</td>
									<td>
										<div class="cart_items" ng-controller="customercartController">
											<a ng-click="addTocart(list)" class="ad_cart_whishlist" title="Add To Cart">
												<span class="glyphicon glyphicon-shopping-cart" style="padding-right:5px;font-size:10px;"></span> ADD TO CART</a>
										</div>
									</td>
									<td id="wishlistRemoveIcon">
										<span class="glyphicon glyphicon-remove" ng-click="removeWishListItem(list)"></span>
									</td>
								</tr>
							</tbody>
						</table>
					</div> 
					<pagination total-items="totalItems" page="currentPage" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
					<!-- my whishlist page table end here -->

				</div>

				<div class="box-head" ng-if="yourWishlist==''" style="margin-top:10px;margin-bottom: 23%;margin-left:-15px;margin-right: 0px;">
					<h2>No Records Found!!!</h2>
				</div>

			</div>
		</div>
	</div>



<!-- Added to Cart Successfully modal start here-->
<div class="modal fade" id="addedToCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="homeController">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Add Customer</h4>
			</div>
			<form action="#" method="post" accept-charset="utf-8" enctype="multipart/form-data">
				<div class="modal-body">
					<span>Added to Cart Successfully!</span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-add">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Added to Cart Successfully modal end here-->

<!-- delete modal start here-->
<!-- <div class="_2iz2Ct _3Zqph8 U_Sam7 _1WTi3x">
	<div class="_1g1qL6"></div>
	<div class="M-og0Q">
		<div class="_3SOooe">
			<div>
				<span class="_1uJQ0D">Are you sure you want to remove this product?</span>
				<div>
					<button class="_2AkmmA _3mTmRq">CANCEL</button>
					<button class="_2AkmmA _1WPB7I">YES, REMOVE</button>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!-- delete modal end here-->
</div>

 <!-- Total footer start here-->
 <div class="ttl_footer1">
	<!-- footer1 start here -->
	<!-- <footer ng-controller="homeController" class="footerbar footer">
		<div class="container1">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<a id="yttotop" href="#" title="Go to Top" style="display: block;"></a>
						<div class="row row1" id="ftr_ss">
							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>POWERTEX TOOLS</b>
									</h5>
									<li id="footer_links_valuess">
										<a href="aboutus.html" class="footerText"> ABOUT US</a>
									</li>
								</ul>
							</div>

							<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
								<ul>
									<h5 id="footer_linksss">
										<b>CONTACT US</b>
									</h5>
									<li id="footer_links_valuess">
										<span style="margin-left: 5px;">
											<i class="fa fa-map-marker" aria-hidden="true" id="enve"></i>
										</span>
										<span class="footerText1 footer_links_addere">
											<span style="margin-left: 7px;">Chandulal Baradari, Industrial Estate, </span>
											<span style="margin-left: 25px;"> Bahadurpura,</span>
											<br/>
											<span style="margin-left: 25px;">500064,</span>
											<br/>
											<span style="margin-left: 25px;">Hyderabad,</span>
											<br/>
											<span style="margin-left: 25px;">Telangana.</span>
											<br/>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-envelope" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">EMAIL: </b>
											<a href="http://toolsomg.com/contact.html#!/" class="footerText" style="text-transform:lowercase;">
												info@powertextools.com </a>
										</span>
									</li>
									<li id="footer_links_valuess">
										<span style="padding-right:5px;">
											<i class="fa fa-phone" aria-hidden="true" id="enve"></i>
										</span>
										<span>
											<b class="font_size">PHONE: </b>
											<a href="" class="footerText" style="text-transform:lowercase;"> +91-8885080111 </a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer> -->
	<!-- footer1 end here -->

	<!-- footer2 start here -->
	<footer  class="footerbar1 footer" id="new_ftr">
		<div class="container1">
			<div class="row row1" style="padding:10px 0;color:white;">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
							<span class="footer_text"> © 2018 Powertex Tools. All Rights Reserved. Designed by &nbsp; Golden Sun Technology.</span>
						</div>
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" id="cards">
							<i class="fa fa-cc-visa" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-mastercard" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-amex" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-paypal" id="cards_styleee" aria-hidden="true"></i>
							<i class="fa fa-cc-discover" id="cards_styleee" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer2 end here -->
</div>
<!-- Total footer end here-->