   
  
   .mainContent{	   
   margin-bottom: -43px;
   }
	.topImage {
      width: 100%;
      background: #259b78;
    }
    
    .foundedCnt {
     padding:15px 15px;
	 background: #f5f5f5;
    }
    
    .foundedCnt h3 {
      font-size: 20px;
    color: #259b78;
    font-weight: bold;
    margin-bottom: 10px;
    }
    
    .foundedCnt p {
      font-size: 15px;
    }
    
    .secondImageCnt p {
      font-size: 15px;
	  padding:15px;
    }
    
    .secondImageCnt h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #259b78;
    padding: 15px 0 0 15px;
    }
	
    
	