/*.container{
	width:auto;
	max-width:1170px;
	}*/
.main-collections-wrap{
	clear: both;
    padding-top: 15px;
    margin-bottom: 10px;
}
/*gallery starts here*/
.coll-gallery{
	background: #fff;
	overflow: hidden;
	box-shadow: 3px 3px 3px #ccc;
	/*padding-bottom: 3px;
	min-height: 180px;
	margin-bottom: 10px;*/
	border: 1px solid #ddd;
	
	width:96%;
	text-align:center;	
}
.coll-gallery_img img { 
	/*width: 100%;
	height:100%;*/
	padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.coll-gallery_text {
	padding-top: 0px;
    padding-left: 3px;
    padding-right: 3px;
	padding-bottom: 3px;
    text-align: center;
}
.coll-gallery_text .coll-view-collection-moreinfo{
	text-align:center;
	}
a.coll-view_collection {
	width:100%;
	display: inline-block;
	font-size: 12px;
	color: #666666;
	border: 1px solid #ddd;
	position: relative;
	border-radius: 0px;
	margin: 0 auto;
	line-height: 25px;
	padding: 0 10px;
	text-shadow: none !important;
	text-decoration:none;
	background:#ddd;
}
a.coll-view_collection:hover {
	text-decoration:none;
	background:#259b78;
	border:1px solid #259b78;
	color:#fff;
	text-decoration:none;	
}
a.coll-view_collection:focus {
	text-decoration:none;
	background:#259b78;
	border:1px solid #259b78;
	color:#fff;
	text-decoration:none;	
}

/*gallery ends here*/
.mg-image img {
	-webkit-transition: all 1s ease; /* Safari and Chrome */
	-moz-transition: all 1s ease; /* Firefox */
	-o-transition: all 1s ease; /* IE 9 */
	-ms-transition: all 1s ease; /* Opera */
	transition: all 1s ease;
	max-width: 100%;
}
.mg-image:hover img {
	-webkit-transform: scale(0.8); /* Safari and Chrome */
	-moz-transform: scale(0.8); /* Firefox */
	-ms-transform: scale(0.8); /* IE 9 */
	-o-transform: scale(0.8); /* Opera */
	transform: scale(0.8);
}

.visible-xs {
    display: none !important;
}/*.collections-image-box{	width:173px; 	height:163px; }*/



