.signup {
    float: left;
    min-width: 100%;
    padding: 21px 20px;
    border-radius: 5px 0 0 5px;
  }
  
  .signup [type=text] {
    display: block;
    margin: 0 auto;
    width: 80%;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    height: 35px;
    line-height: 30px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #444;
    font-weight: bold;
    background: none;
  }
  
  .signup [type=password] {
    display: block;
    margin: 0 auto;
    width: 80%;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    height: 35px;
    line-height: 30px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #444;
    font-weight: bold;
    background: none;
  }
  
  .signup [type=submit] {
    border: 0;
    background-color: #777;
    border-radius: 3px;
    height: 30px;
    min-width: 80px;
    color: white;
  }
  
  .signup [type=Create a new account] {
    border: 0;
    background-color: #259b78;
    border-radius: 3px;
    height: 30px;
    min-width: 80px;
    color: white;
  }
  
  .signup [type='text']:hover {
    outline: none;
    border-bottom-color: #259b78;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
  
  .signup [type='password']:hover {
    outline: none;
    border-bottom-color: #259b78;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
  
  .signup [type='text']:focus {
    outline: none;
    border-bottom-color: #259b78;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
  
  .signup [type='password']:focus {
    outline: none;
    border-bottom-color: #259b78;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
  
  .signup h4.pull-left {
    float: left !important;
    font-size: 17px;
    margin-left: 20px;
    padding-bottom: 15px;
    color: #666666;
    font-weight: 700;
  }
  
  .signup p {
    color: rgba(0, 0, 0, .6);
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0 0px 0;
  }
  
  .signup p:nth-of-type(2) {
    font-size: 1em;
  }
  
  .forgot-password {
    color: #000;
    font-size: 13px;
  }
  
  .forgot-password:hover {
    color: #259b78;
    font-size: 13px;
  }
  
  .text-left {
    float: left;
  }
  
  .text-right {
    padding-bottom: 10px !important;
    padding-right: 45px;
  }
  
  .inside {
    position: absolute;
    margin-top: 7px;
    color: #ccc;
  }
  
  .inside:hover {
    color: #259b78;
  }
  
  .inp {
    text-indent: 20px;
  }
  
  #create-account-login {
    min-width: 40%;
    background: #777;
    margin-top: 15px;
    padding: 10px;
    line-height: 10px;
  }
  
  #or-btn {
    min-width: 0%;
    cursor: none;
    background: #259b78;
    margin-top: 15px;
    padding: 10px;
    line-height: 10px;
    border-radius: 50%;
  }
  
  .social-icons-login-page {
    text-align: center;
    margin-top: 20px;
  }
  
  .social-icons-login-page img {
    cursor: pointer;
    padding-left: 10px;
  }
  
  .suplierlogin-logo-img img {
    width: 60%;
  }
  
  .suplierlogin-logo-img {
    text-align: center;
    margin: 30px 0px 0px 0px;
    float: left;
    width: 100%;
  }
  
  .sup-login-form {}
  
  .reg-accunt {
    margin-bottom: 20px;
  }
  
  .login-headings {
    font-size: 18px;
    color: #222;
    padding-left: 20px;
    padding: 5px 0px 5px 20px;
  }
  
  .total-reg-page {
    padding-top: 20px;
  }
  
  .forgot_pwd a {
    padding-left: 45px;
  }
  
  ul.messages li.success-msg a {
    color: #777;
    text-decoration: none;
    font-weight: bold;
  }
  
  ul.messages li.success-msg a:hover {
    color: #068693;
    text-decoration: none;
  }
  
  ul.messages li.error-msg a {
    color: #777;
    text-decoration: none;
    font-weight: bold;
  }
  
  ul.messages li.error-msg a:hover {
    color: #068693;
    text-decoration: none;
  }