/*view.html page styles strat*/
body
        {
            font-family: Arial;
            font-size: 10pt;
        }
        .modal
        {
            position: fixed;
            z-index: 999;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: Black;
            filter: alpha(opacity=60);
            opacity: 0.6;
            -moz-opacity: 0.8;
        }
        .center
        {
            z-index: 1000;
            margin: 10px auto;
            padding: 10px;
            width: 130px;
            background-color: White;
            border-radius: 10px;
            filter: alpha(opacity=100);
            opacity: 1;
            -moz-opacity: 1;
        }
        .center img
        {
            height: 128px;
            width: 128px;
        }
		
	.check_pincode h5{
		float: left;
		text-align: center;
		font-size: 18px;
		font-weight: bolder;
		margin-top: 10px;
		padding-right: 10px;	
}
	#btnPin:hover{
	
		background:#068693;
		color:#fff;
}
#lblPincode{
	
}
.pro_detail_error_status {
	font-size:14px;
	color:#fff;
	float:left;
	font-weight:bold;
	margin-top:10px;
	padding:10px;
	border:2px solid #ccc;
	border-radius:3px;
	background:red;
	text-align:center;
}

.pro_detail_error_status1 {
	font-size:14px;
	color:#fff;
	float:left;
	font-weight:bold;
	margin-top:10px;
	padding:10px;
	border:2px solid #ccc;
	border-radius:3px;
	background:#068693;
	text-align:center;
}

/*view.html page styles end*/
/*distributors.html page styles strat*/
.distributor_addr{
	float:left;	
	margin-left:20px;
	margin-bottom:10px;
	border:1px solid #ccc;	
}
.distributor_addr:hover{
	box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
}
.distributor_addr h1{
	color: #fff;
    background: #259b78;
    text-align: center;
    font-weight: bolder;
    width: 100%;
    font-size: 16px;
    padding: 10px;
}
.distributor_shop_address{
	
    text-align: center;
    background: #fff;
    padding: 10px 0;
}
.distributor_shop_address h3{
	
	padding-bottom: 10px;
    padding-left: 20px;
    font-size: 14px;
	line-height:20px;
    text-align: justify;
    color: #222;
}
/*distributors.html page styles strat*/