@charset "utf-8";
@media(min-width:1601px){

}

@media(max-width:1440px){
.showroom_brand h6 {
    font-size: 1.05em;
	
}
}
@media(max-width:1366px){
.col-p h5 {
    font-size: 2em;
}
.col-md2 {
    padding: 2.6em 1em;
}
.col-p {
    padding: 1.85em 2em;
}
.banner-left {  
    min-height: 520px;
}
.banner-right {  
    min-height: 520px;
}
.banner{
	min-height:525px;
}
}
@media(max-width:1280px){
.col-p h5 {
    font-size: 1.7em;
}
.col-p {
    padding: 1.5em 1em;
}
.showroom_brand h6 {
    font-size: 0.95em;
}
.banner-left {  
    min-height: 520px;
}
.banner-right {  
    min-height: 520px;
}
.banner{
    min-height: 520px;
    width:100%;
	background-size:cover;
}
.banner-right img{
	margin-top:15px;
}
}
@media(width:1280px){
	.wrapper{
	width:1280px;
	height:auto;
	margin:0 auto;
}

}

@media(max-width:1100px){
.banner-right {
	width:50%;
	height:500px;
	
}
.banner-left {
	width:50%;
	height:500px;
	
}
}
@media(max-width:1080px){

.col-p h5 {
    font-size: 1.5em;
}
.col-p p {
    font-size: 0.82em;
	    margin: 0.4em 0 0.5em;
}

.col-p {
    padding: 1em 1em;
}
.showroom_brand h6 {
    font-size: 0.78em;
}
.grid-pro {
    padding: 0.5em;
}
.col-pic {
    padding-top: 8.5em;
}
.col-md2 {
    padding: 1.3em 1em;
}
.banner-grid{
	width:70%;
	margin:4.5em auto;
}
.banner-left {
    width: 50%;
}
.banner-right {
    width: 50%;
}
h1.grid2 {
  font-size: 2.3em;
}
}
@media(width:1024px){

.wrapper{
	max-width:1024px;
	height:auto;
	margin:0 auto;
}

.morebutton{
	width:20%;
}
.banner{
	height:55px;
}
.banner-right{
	height:100%;
}
}
@media (max-width: 1000px){


.col-md1 img{
   width:100%;
}
.col-pic {
    padding-top: 15.5em;
}
.showroom_brand h6 {
    font-size: 1em;
}

.banner-grid{
	width:70%;
	
}
.banner-left {
    width: 50%;
	 max-height:450px;  
		
}
.banner-right {
    width: 50%;
	  max-height:450px; 
		
}
.banner {
	height:450px !important;
	max-height:450px;
		}
.product {
    padding: 4em 0 0;
}
.col-md-9 {
    padding: 0;
}

.col-pic h5{
	color: #CCC;
	font-weight:bolder;
	padding-top:5%;
    font-size: 3em;
    font-family: 'Lato', sans-serif;
}
.morebutton{
	width:25%;
	margin-top:10px;
}
}
@media (max-width: 991px){
	.banner{
		height:520px;
}
.left-grid{
	float:left;
}
.right-grid{
	float:right;
}
}
@media (max-width: 801px){
.col-p {
    width: 63%;
    margin: 0 auto;
}

.morebutton{
	width:30%;
}

.banner-left{
	height:525px;
}
.banner-right{
	height:525px;
}
}
@media (max-width: 768px){
.col-p {
    width: 65%;
    margin: 0 auto;
}
.grid-text{
	width:100%;
	margin:0 auto;
	
}
.grid-img{
	width:100%;
	margin:0 auto;
}
.grid-text{
	border-bottom:1px solid #ccc;
}
.left-grid{
	width:60%;
	margin:0 auto;
	clear:both;
}
}
@media(max-width:767px){
	.col-md2{
		height:auto;
	}
	.left-grid{
		width:80%;
		margin:0 auto;
		float:none;
	}

}
@media(max-width:760px){


.row1 {
    width: 50%;
    float: left;
}
.row2 {
    float: left;
    width: 50%;
}

.col-pic {
    padding-top: 13.5em;
}
	


.product {
    padding: 3em 0 0;
}
.span_2_of_a1 h3 {
    font-size: 1.5em;
}
.row1 a, .row2 a {
    margin:0 !important;
}
.banner-grid h2{
	font-size:1.3em;
}
.wome{
	padding:1em ;
}
.banner-grid{
	width:85%;
	margin:2em auto;
}
.banner-left {
    width: 50%;
	    min-height: 452px;
}
.banner-right {
    width: 50%;
	    min-height: 452px;
}
.banner {
	min-height: 452px;
}


.nbs-flexisel-nav-right {
    right: -8px;
}
/*--typo--*/
button.btn.btn-lg {
  font-size: 1.1em;
}
h1.grid2 {
  font-size: 2em;
}
h2.grid2 {
  font-size: 1.9em;
}
}
@media(max-width:680px){
	.banner {
	min-height: 452px;
	    
		background-size:1350px;
}
}

@media(max-width:600px){

.col-p {
    width: 100%;
}

.item-grid {
    width: 65%;
    float: none;
    padding: 0 5px;
    margin: 0 auto 1em;
}
.col-pic {
    padding-top: 9em;
}

.banner-grid h2{
	font-size:1.3em;
}
.wome{
	padding:1em ;
}
.banner-grid{
	width:50%;
	margin:2em auto;
}
.banner-left {
    width: 100%;
	    min-height: 300px;
		max-height:400px;
		margin:0 auto;
		float:left;
		border:none;
}
.banner-right {
	display:none;
	background-color:#fff;
}
.banner {
    min-height:300px;
	max-height:400px;
	background-color:#fff;
}
.nbs-flexisel-nav-right {
    right: -8px;
}

.banner-top {
    height: 130px;
}

.product {
    padding: 2em 0 0;
}

.grid-im {
    width: 90%;
}

.col-md-si {
    padding-top: 1.5em;
}
/*--typo--*/

button.btn.btn-lg {
  font-size: 1em;
  padding: 7px;
}
button.btn.btn-1 {
  font-size: 0.9em;
  padding: 8px;
}
button.btn.btn-sm {
  font-size: 0.8em;
  padding: 9px;
}
h1#h1-bootstrap-heading {
  font-size: 2.2em;
}
h2#h2-bootstrap-heading {
  font-size: 2em;
}
h1.grid2 {
  font-size: 1.45em;
}
h2.grid2 {
  font-size: 1.35em;
}
h3.grid2 {
  font-size: 1.3em;
}
h4.grid2 {
  font-size: 1.2em;
}

.morebutton{
	width:60%;
	margin:10px auto;
}

}
@media(max-width:480px){
	.banner-grid{
	width:70%;
	margin:1em auto;
}
.banner-left {
    width: 80%;
	    min-height: 350px;
		max-height: 400px;
		margin:0 10%;
}
.banner-right {
	display:none;
}	
}
@media(max-width:414px){



.item-grid {
    width: 90%;
    padding: 0 ;
}

.col-pic h5 {
    font-size: 2em;
}
.col-pic {
    padding-top: 5.8em;
}


.banner-grid h2{
	font-size:1.1em;
}
.wome{
	padding:0.5em ;
}
.banner-grid{
	width:85%;
	margin:1em auto;
}
.banner-left {
    width: 80%;
	    min-height: 367px;
		max-height: 367px;
		margin:0 10%;
}
.banner-right {
	display:none;
}
.banner {
    min-height:367px;
	   
}
.nbs-flexisel-nav-right {
    right: -12px;
}
.nbs-flexisel-nav-left {
    left: 3px;
}

.button, [class*="button-"] {
    height: 36px;
    line-height: 2em;

}
.button-hover:hover {
    line-height: 7.5em;
}
/*--typo--*/
h1#h1-bootstrap-heading {
  font-size: 1.6em;
}
h2#h2-bootstrap-heading {
  font-size: 1.5em;
}
h3#h3-bootstrap-heading {
  font-size: 1.4em;
}
button.btn.btn-lg {
  font-size: 0.9em;
  margin: 0 0 0.5em 0px;
  padding: 9px;
}
.grid1 {
  margin: 0.7em 0 0;
}
button.btn.btn-1 {
  font-size: 0.8em;
  margin: 0 0 0.5em;
}
button.btn.btn-sm {
  font-size: 0.7em;
  padding: 5px;
  margin: 0 0 0.5em;
}
button.btn.btn-xs {
  font-size: 0.7em;
}
ul.nav.nav-pills a{
	padding: 0.5em;
  font-size: 0.9em;
}
span.label {
  margin: 0 0 0.5em;
  display: inline-block;
}

.grid2 {
  margin: 0.4em 0 0;
}
.bs-example {
  padding: 1em 0 0;
}
.page-header h3 {
    font-size: 1.6em;
}
td.add-check a {
    width: 86px;
}
.morebutton{
	width:70%;
}
}
@media (max-width: 384px){

.value-minus, .value-plus {
    margin-right: 11px;
}
.banner-left {
    width: 80%;
	    min-height: 367px;
		margin:0 10%;
}
.banner-right {
	display:none;
}
.banner {
    min-height:367px;
	   
}
}
@media(max-width:320px){

.value-minus, .value-plus {
    margin-right: 3px;
}
.banner-left {
    width: 80%;
	    min-height: 367px;
		margin:0 10%;
}
.banner-right {
	display:none;
}
.banner {
    min-height:367px;
	   
}
}
/* Emerging brands CSS added here for resonsive lakshmi added */

@media (min-width: 992px ) {
	.carousel-inner .active.left {
		left: -25%;
	}
	.carousel-inner .next {
		left:  25%;
	}
	.carousel-inner .prev {
		left: -25%;
	}
}

@media (min-width: 768px) and (max-width: 991px ) {
	.carousel-inner .active.left {
		left: -25%;
	}
	.carousel-inner .next {
		left:  25%;
	}
	.carousel-inner .prev {
		left: -25%;
	}
	.active > div:first-child {
		display:block;
	}
	.active > div:first-child + div {
		display:block;
	}
	.active > div:last-child {
		display:none;
	}
}

@media (max-width: 767px) {
	.carousel-inner .active.left {
		left: -25%;
	}
	.carousel-inner .next {
		left:  25%;
	}
	.carousel-inner .prev {
		left: -25%;
	}
	.active > div {
		display:none;
	}
	.active > div:first-child {
		display:block;
	}
	.top-brands img{
		padding-top:20px;
		}
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 4s;
  transition-timing-function:linear;
}