
/*css strat here*/
/*.container{
	width:auto;
	max-width:1170px;
	}*/

/*gallery starts here*/

.patren_box {
	/*background: #e9e4d2;*/
	padding: 10px 0 0px 0;
	clear: both;
}
.gallery{
	background: #fff;
	overflow: hidden;
	/*box-shadow: 3px 3px 3px #ccc;*/
	padding-bottom: 12px;
	/*min-height: 280px;*//*10-10-2017 modified for width and height*/
	margin-bottom: 10px;
	border: 1px solid #ddd;
}
.gallery:hover{
	box-shadow: 3px 3px 3px #ccc;
}
.patren_box .col-md-3, .patren_box .col-sm-3, .patren_box .col-xs-6 {
	padding-left: 5px;
	padding-right: 5px;
	}
/*.patren_box .row {
	margin-left: -10px;
	margin-right: -10px;
}*/
.gallery_img img { 
	width: 100%; 
	/*padding:3px;*/
	border: 1px solid #ccc;
}
.gallery_img{
	padding: 5px;
}
.gallery_text {
	padding: 0px 10px;
	/*padding: 10px 20px;*/
	text-align: center;
}
.gallery_text .brand-name{
	float:left;
	/*padding-top:15px;*/
	}
.gallery_text .establish-year{
	float:right;
	/*padding-top:15px;*/
	}
.gallery_text p {
	line-height: 20px;
	font-size: 11px;
	/*padding:0;
	float:left;
	text-align:justify;*/
	text-align:left;
}
a.viewlink {
	 color: #d1a22b;
	  }
.gallery_text .view_collection {
	font-size: 12px;
	/*padding: 0 23px;*/
	/*padding: 0 15px;*/
}
.gallery_text .view-collection-brand{
	float:left;
	}
.gallery_text .view-collection-moreinfo{
	float:right;
	}
.top-brands-gallery-text-content{
	float:left;
	width:100%;
	padding-top:5px;
}
a.view_collection {
	float: left;
    width: 190px;
    font-size: 12px;
    color: #5d5d5d;
    padding: 5px 0;
    background: #d1d2d1;
    margin-left: -10px;
    margin-bottom: -4px;
	/*margin-top:-3px;*/
}
a.view_collection-emerging{
	margin-top:3px;
}
a.view_collection-top{
	margin-top:-3px;
}
/*a.view_collection {		
	float:right;
	display: inline-block;
	font-size: 12px;
	color: #5d5d5d;
	border: 1px solid #ddd;
	position: relative;
	border-radius: 0px;
	margin: 0 auto;
	line-height: 25px;
	padding: 0 5px;
	text-shadow: none !important;
	text-decoration:none;
	background: #fff;
	box-shadow:3px 3px 3px #b5b2af;
	margin-right:-7px;
}*/
a.view_collection:hover {
	text-decoration:none;
	background:#259b78;
	/*border:1px solid #259b78;*/
	color:#fff;
	text-decoration:none;	
}
a.view_collection:focus {
	text-decoration:none;
	background:#259b78;
	/*border:1px solid #259b78;*/
	color:#fff;
	text-decoration:none;	
}
.gallery_text h5{
	font-weight:bold;
	color:#259b78;
	font-size:15px;
	}
/*gallery ends here*/
.gallery .mg-image img {
	-webkit-transition: all 1s ease; /* Safari and Chrome */
	-moz-transition: all 1s ease; /* Firefox */
	-o-transition: all 1s ease; /* IE 9 */
	-ms-transition: all 1s ease; /* Opera */
	transition: all 1s ease;
	/*max-width: 100%;*//*10-10-2017 modified for width and height*/
	width:195px;/*10-10-2017 modified for width and height*/
	height:95px;/*10-10-2017 modified for width and height*/
	background: #f7f7f7;
}
.gallery .mg-image:hover img {
	-webkit-transform: scale(0.8); /* Safari and Chrome */
	-moz-transform: scale(0.8); /* Firefox */
	-ms-transform: scale(0.8); /* IE 9 */
	-o-transform: scale(0.8); /* Opera */
	transform: scale(0.8);
}

.visible-xs {
    display: none !important;
}
.top-brands-gallery-text-content p a{
	color: #0a0a0a;
    font-weight: bold;
}
/*.topbrands-image-box{
	width:173px; 
	height:163px;
}*/
.cont1{
	height: 20px;
	}
.cont2{
	height: 70px;
	}
.cont3{
	height: 39px;
	}
	
	
	
@media screen and (max-width: 1200px) and (min-width: 992px){
.cont1{
	height: 20px !important;
	}
.cont2{
	height: 110px !important;
	}
.cont3{
	height: 39px !important;
	}
}